%header
  %h2
    = t('.contacts')

.dashboard-contacts.row-fluid
  .span6
    %h3= t('.my_follower')
    %ul.unstyled
      = render(:partial => '/follows/follower', :collection => @follower, :as => :follower_relation)
  .span6
    %h3= t('.followed_by_me')
    %ul.unstyled
      = render(:partial => '/follows/followed', :collection => @followed, :as => :followed_relation)
