<% content_for :title do %>
	<%= t('.bookmarks', :default => 'bookmarks')%> &middot; <%= @user.name %>
<% end %>
<div class="tab-content dashboard-bookmarks">
	<p><%= t('.no_bookmarks_available') if @bookmarks.empty? %></p>
  <% @bookmarks.each do |bookmark| %>
    <%= partial_for_bookmark(bookmark) %>
  <% end %>
</div>

<%= render( :partial => "inline_help/dashboard_bookmarks_info", :locals => {:user => @user} ) unless @user.account(true).prefs.no_initial_help == '1' %>	