<% content_for :title do %>
	<%= t('.friends', :default => 'friends')%> &middot; <%= @user.name %>
<% end %>
<div class="tab-content">
	<%= t('.no_contacts_available') if @followed.empty? && @follower.empty? %>
	<%= render(:partial => 'dashboard/contacts_page') %>
</div>

<%= render( :partial => "inline_help/dashboard_contacts_interesting_people", :locals => {:user => @user} ) unless @user.account(true).prefs.no_initial_help == '1' %>	
<%#= render( :partial => "inline_help/dashboard_contacts_customer_service", :locals => {:user => @user} ) unless @user.account(true).prefs.no_initial_help == '1' %>	