<% content_for :title do %>
	<%= t('.settings', :default => 'settings')%> &middot; <%= @user.name %>
<% end %>

<div class="tab-content row-fluid">
  <div class="span6">
	<div class="user user-edit well well-large">
		<h3><%= t('.email') %></h3>
  		<%= render :partial => 'users/basic_form', :locals => { :user => @user, :url_arg => 'from_settings' } %>
	</div>

  <div class="well well-large edit-password">
    <h3><%= t('.new_password') %></h3>
    <%= render :partial => 'users/password_form', :locals => { :user => @user , :url_arg => 'from_settings'} %>
  </div>
  </div>
	<div class="span6">
    <div class="user user-edit well well-large">
      <h3><%=t(".notifications_and_emails") %></h3>
      <%= render :partial => 'accounts/form_preferences', :locals => { :user => @user, :account => @account, :url_arg => 'from_settings' } %>
     </div>
  </div>
</div>