
<div class="tab-content row-fluid">
  <div class="span6">
	<div class="user user-edit well well-large">
		<h3><%=t(".edit_email") %></h3>
  		<%= render :partial => 'users/basic_form', :locals => { :user => @user } %>
	</div>

  <div class="well well-large">
    <h3><%= t('.edit_password') %></h3>
    <%= render :partial => 'users/password_form', :locals => { :user => @user } %>
  </div>
  </div>
	<div class="span6">
    <div class="user user-edit well well-large">
      <h3><%=t(".edit_preferences") %></h3>
      <%= render :partial => 'accounts/form_preferences', :locals => { :user => @user, :account => @account } %>
     </div>
  </div>
</div>