<div class="help-text-overlay help-text-top-right">
<strong>Deine Matches</strong>.<br>
Hier findest Du KluuUs, die zu Dir passen.<br>
Klicke auf das KluuU, um mehr über den <br>
Inhalt und den Gesprächspartner zu erfahren.<br>
<a href="#" class="close-icon">&times;</a>
</div>

<div class="help-text-overlay help-text-bottom-right">
	Unser Ziel ist es, Dich ins Gespräch zu bringen.<br>
	<strong>Video-Chat</strong> ist dafür die ideale Technik.<br>

	Übrigens: Du kannst auf KluuU <strong>Geld verdienen</strong> <br>
	<%= link_to "-> Finanzen", "/users/martin-meyer/balance/account/new" %><br>
	<a href="#" class="close-icon">&times;</a>
</div>

<div class="help-text-overlay help-text-bottom-left">
	Dein erstes <strong>KluuU</strong>. <br>
	Übrigens: KluuUs sind Gesprächsthemen.<br>

	Veröffentliche jetzt Dein eigenes Thema<br>
	und finde Deinen Gesprächspartner.<br>
	<%= link_to "-> Frage-KluuU ? erstellen", "/users/martin-meyer/klus/new" %><br>
	<a href="#" class="close-icon">&times;</a>
</div>

<div class="tab-content dashboard-matches">
	<div class="tabbable tabs-left">
			<ul class="nav nav-tabs dashboard-matches-own-klus">
			<% @klus.each do |k| %>
				<% if current_page?(dashboard_matches_path(:id => @matched_klu)) && k == @matched_klu  %>
					<li class="active">
				<% else %>
					<li>
				<% end %>
				<%= link_to(dashboard_matches_path(:id => k.id), :title => k.title) do %>
					<span class="klu-title klu-layout <%= css_class_for_klu(k) %>"><span class="text"><%= k.title %></span></span>
				<% end %>	
					<aside>
						<%= link_to( klu_path(:id => k), :class => "matches-view-link", :title => t('.view', :default => "view")) do %>
							<i class="icon-eye-open"></i><%= t('.view') %>
						<% end %>
					</aside>
				</li>
			<% end %>
			</ul>
		<div class="tab-content">
			<h3><%= t('.matches_to_your_') %><%= klu_type_string(@matched_klu) %></h3>
			<div class="clearfix">
				<% @matching_klus.each do |k| %>
					<%= partial_for_klu(k,:medium) %>
				<% end unless @matching_klus.nil? %>
			</div>
		</div>
	</div>
</div>