<div class="page-header">
	<h2>Dashboard</h2>
</div>

<ul class="nav nav-tabs">
	<li class="active">
		<%= link_to(t('.matches'), dashboard_matches_path )%>
	</li>
	<li>
		<%= link_to(t('.news'), dashboard_news_path) %>
	</li>
	<li>
		<%= link_to(t('.bookmarks'), dashboard_bookmarks_path) %>
	</li>
	<li>
		<%= link_to(t('.contacts'), dashboard_contacts_path ) %>
	</li>
	<li>
		<%= link_to(t('.settings'), dashboard_settings_path ) %>
	</li>
</ul>

<div class="tab-content">
	<div class="row-fluid">
		<div class="span6">
			<span class="label label-info"><%= t('.your_klus')%></span>
			<br />
			<ul>
			<% @klus.each do |k| %>
				<% if current_page?(dashboard_matches_path(:id => @matched_klu))  %>
					<li><%= k.title %></li>
				<% else %>
					<li><%= link_to k.title, dashboard_matches_path(:id => k.id ) %></li>
				<% end %>
			<% end %>
			</ul>
		</div>
		<div class="span6">
			<span class="label label-info"><%= t('.matches')%></span> <%= t('.to_your_kluuu') %>: <strong> <%= @matched_klu.title if @matched_klu %></strong>
			<br />
			<% @matching_klus.each do |k| %>
				<%= medium_partial_for_klu(k) %>
			<% end unless @matching_klus.nil? %>
		</div>
	</div>
</div>