<% content_for :title do %>
	<%= t('.matches', :default => 'Matches')%> &middot; <%= @user.name %>
<% end %>


<div class="dashboard-matches">

	<div class="tabbable tabs-left pull-left">

		<%# NAVIGATION LEFT %>
		<nav class="dashboard-matches-nav">
			<div class="btn-group">
				<div class="btn btn-kluuu" style="cursor:default">
					<h4><%= t('.my_kluuus', :default => 'Meine KluuUs') %></h4>	
				</div>		
<!-- 				<div class="btn btn-question active">
					<h4><%#= t('.my_questions', :default => 'Meine Fragen') %></h4>
				</div> -->
			</div>
			<span class="clearfix"></span>
		</nav>
		<ul class="nav nav-tabs dashboard-matches-own-klus">
	  	<!-- jetzt zwei arrays: @klus und @no_klus -->

 

		<%# KLUUUS %>
		<% @klus.each do |k| %>
			<% if current_page?(dashboard_matches_path(:id => @matched_klu)) && k == @matched_klu  %>
				<li class="active">
			<% else %>
				<li>
			<% end %>
			<%= link_to(dashboard_matches_path(:id => k.id), :title => k.title) do %>
				<%= render(:partial => "klus/tiny_kluuu", :locals => { :klu => k }) %>
			<% end %>	
				<aside>
					<%= link_to( klu_path(:id => k), :class => "matches-view-link", :title => t('.view', :default => "view")) do %>
						<i class="icon-eye-open"></i><%= t('.view') %>
					<% end %>
				</aside>
			</li>
		<% end %>

	  <%# NO KLUUUS %>
		<% @no_klus.each do |k| %>
			<% if current_page?(dashboard_matches_path(:id => @matched_klu)) && k == @matched_klu  %>
				<li class="active">
			<% else %>
				<li>
			<% end %>
			<%= link_to(dashboard_matches_path(:id => k.id), :title => k.title) do %>
				<%= render(:partial => "klus/tiny_no_kluuu", :locals => { :klu => k }) %>
			<% end %>	
				<aside>
					<%= link_to( klu_path(:id => k), :class => "matches-view-link", :title => t('.view', :default => "view")) do %>
						<i class="icon-eye-open"></i><%= t('.view') %>
					<% end %>
				</aside>
			</li>
		<% end %>	 

		</ul>
	</div>

	<%# MATCHES %>

	<%# NAVIGATION RIGHT, ZURZEIT NUR EIN BUTTON %>
	<nav class="dashboard-matches-nav matches-right">
		<div class="btn-group">		
			<div class="btn btn-kluuu" style="cursor:default">
				<h4>KluuU / Fragen <%# TODO %><%= t('.matching_something') %></h4>
			</div>
		</div>
		<span class="clearfix"></span>
	</nav>
	<div class="tab-content matches-results clearfix">
			<% @matching_klus.each do |k| %>
				<%= partial_for_klu(k,:medium) %>
			<% end unless @matching_klus.nil? %>
			<% if @matching_klus.nil? || @matching_klus.empty? %>
			<p>
			<%= t('.we_could_not_find_matches_for_you', :default => "Leider konnten wir keine passenden Kluuus für dich finden")%>
			</p>
			<% end %>
	</div>

</div>
<%= render(:partial => "inline_help/dashboard_matches_matches") unless @user.account(true).prefs.no_initial_help == '1' %>
<%= render(:partial => "inline_help/dashboard_matches_first_kluuu", :locals => {:user => @user} ) unless @user.account(true).prefs.no_initial_help == '1' %>	
<%#= render( :partial =>  "inline_help/dashboard_matches_finances", :locals => {:user => @user})  unless @user.account(true).prefs.no_initial_help == '1' %>	
