- content_for :title do
  = t('.news')
  \&middot; #{@user.name}

%section.news.center-box
  %header
    %h2
      = t('.news')
    = t('.no_news_yet', :default => "There is no news for you ...") if @news.empty?
    %ul.unstyled
      - @news.each do |n|
        %li
          = partial_for_notification(n)
    = will_paginate @news, :renderer => BootstrapPagination::Rails, :class => "pagination pagination-centered"
