
<%= form_for @message,  :url => create_message_path(:receiver_id => @message.receiver_id), :method => :post, :html => { :class => 'form-horizontal' }  do |f| %>  
  <div class="control-group">
    <%= f.label :to, :class => 'control-label' %>
    <div class="controls">
      <%= @message.receiver.name %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area', :rows => 4 %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_path(:id => @message.receiver_id), :class => 'btn', "data-function" => "closeOverlay" %>
  </div>
<% end %>
