<%= form_for @message,  :url => create_message_path(:receiver_id => @message.receiver_id), :method => :post, :remote => "true",  :html => { :class => 'form-horizontal' }  do |f| %>  
  <div class="control-group">
    <%= f.label :to, :class => 'control-label' do %>
      <%= t('.to') %>
    <% end %>
    <div class="controls">
      <%= @message.receiver.name %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' do %>
      <%= t('.message') %>
    <% end %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area', :rows => 4 %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button t('.send'), :class => 'btn btn-primary' %>
    <%= link_to t('.cancel'), user_path(:id => @message.receiver_id), :class => 'btn', "data-function" => "closeOverlay" %>
  </div>
<% end %>
