<article class="message contribution">
	<header>
		<div class="contribution-user-name">
			<%= link_to message.sender.name, user_path(:id => message.sender) %>
		</div>
		
		<div class="user-image contribution-user-image" data-user-id="<%= message.sender.id %>"><%= link_to(image_tag(message.sender.account.portrait(:thumb)), user_path(:id => message.sender),:class => "img-polaroid")%></div>
		<time datetime="<%= message.created_at.strftime("%Y-%m-%d") %>">
			<%= time_ago_in_words(message.created_at) %>
		</time>
	</header>
	<%= simple_format(message.content) %>
	<aside>
	<%= link_to(user_message_path(:user_id => message.sender, :id => message), :method => :delete, :class => "contribution-delete") do %>
	<i class="icon-trash"> </i> <%#= t('.delete')%>
	<% end %>

	</aside>
</article>	