<%- model_class = Message -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human %></h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:receiver_id) %>:</strong></dt>
  <dd><%= @message.receiver_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sender_id) %>:</strong></dt>
  <dd><%= @message.sender_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <dd><%= @message.content %></dd>
  <dt><strong><%= model_class.human_attribute_name(:read) %>:</strong></dt>
  <dd><%= @message.read %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              messages_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_message_path(@message), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              message_path(@message),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
