= image_tag 'background/main-bg.jpg', class: 'bg-img'
.top-margin-action-bar.row#input-block
  .large-12.columns
    .title-block
      = image_tag 'logos/vr_red.svg', class: 'join-logo'
      %h2(style='color: black') Resend confirmation instructions

    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!

      %div
        = f.label :email
        %br
        = f.email_field :email

      %div= f.submit "Resend confirmation instructions", class: 'button-vr button large'

    %br
    %br
    = render "devise/shared/links"
    
