= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = image_tag 'background/main-bg.jpg', class: 'bg-img'
  #input-block
    .form-content-block.row
      .title-block
        = image_tag 'logos/vr_red.svg', class: 'join-logo'
        %h2= t('.change_your_password')
        
        %hr
        %div
          = f.label :old_password
          -#%i (we need your current password to confirm your changes)
          = f.password_field :current_password
  
        -#%div
        -#  = f.label :email
        -#  %br/
        -#  = f.email_field :email
        %div
          = f.label :new_password
          = f.password_field :password, :autocomplete => "off"
        %div
          = f.label :confirm_new_password
          = f.password_field :password_confirmation
        = link_to "Cancel", :back, class: 'button hollow muted'
        = f.submit "Update", class: 'button'
      -#%h3 Cancel my account
      -#%p
        Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
      
