<div class="row-fluid">

		<%# signup form %>
<div class="span6 well well-large pull-right">

	<div class='page-header'>
		<h2>Sign up</h2>
	</div>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>

	<div class="control-group">
		<%= f.label :firstname, :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :firstname, :class => 'text_field' %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :lastname, :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :lastname, :class => 'text_field' %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :email, :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :email, :class => 'text_field' %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :password, :class => 'control-label' %>
		<div class="controls">
			<%= f.password_field :password, :class => 'password_field' %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :password_confirmation, :class => 'control-label' %>
		<div class="controls">
			<%= f.password_field :password_confirmation, :class => 'password_field' %>
		</div>
	</div>

	<div class="form-actions">
		<%= f.submit 'Sign up!', :class => 'btn btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")), new_user_registration_path, :class => 'btn' %>
	</div>

	<% end %>

	<%= render "devise/shared/links" %>
	</div>

<%# Text about signup %>
	<div class="span6 pull-left">

		<div class="row">
			<div class="span4">
				<%= image_tag "signup/signup_world.png" %>
			</div>
			<div class="span7">
				<p class="lead">KluuU is the first platform for conversation.</>
				<p>
					Thanks to a flexible infrastructure, KluuU has a wide range of applications: Search for, find, or create content and projects, each represented by a conversational offer; give consultations live via video chat with an integrated payment feature; exchange experiences or listen to a storyteller .
					Everyone is multifaceted
				</p>
			</div>
		</div>

	</div>

</div>