= simple_form_for( resource,
                   as: resource_name,
                   url: registration_path(resource_name) ) do |f|
  = f.input :referrer, as: :hidden
  %img.bg-img{:alt => "", :src => "/images/background/matterhorn.jpg"}/
  #join-box
    %header
    %img{:alt => "Voice Republic", :src => "/images/logos/logo_with_name_red.svg", :title => "Voice Republic", :width => "112"}/
    .form-content-block.row
      .medium-10.medium-centered.columns
        .title-block
          %h2= t('.sign_up')
        .row
          .medium-6.columns
            = f.input :firstname
          .medium-6.columns
            = f.input :lastname
        = f.input :email
        .row
          .medium-6.columns
            = f.input :password
          .medium-6.columns
            = f.input :password_confirmation
        .row
          .medium-12.columns
            = f.input :timezone, as: :time_zone, priority: User::PRIOTZ
        = f.input :accept_terms_of_use, as: :boolean, boolean_style: :inline,
                  label: t('simple_form.labels.user.accept_terms_of_use').html_safe
        = f.button :submit, t('.continue').html_safe, class: 'button-vr button-signup'
        %br/
        %br/
        %hr/
        = render partial: 'devise/shared/social_network_connects',
                 locals: { action: 'register' }
        .clearfix
        %hr/
        .links-box
          = render(:partial => "/devise/shared/links")
        %br/
        %br/
        -# ---------------------

%img.bg-img{:alt => "", :src => "/images/background/matterhorn.jpg"}/
#join-box
  %header
    %img{:alt => "Voice Republic", :src => "/images/logos/logo_with_name_red.svg", :title => "Voice Republic", :width => "112"}/
  %form{:action => "profile.html", :method => "", :novalidate => ""}
    %h2
      Join for
      %span FREE
    %p.lead No credit card needed
    .input-layout
      %input#name.validate-empty{:name => "name", :required => "", :type => "text", :value => ""}/
      %span.highlight
      %span.bar
      %label Your Name
      .alert.alert-error.alert-name
        Oops! Name is required.
    .input-layout
      %input#email.cleanup.validate-empty{:name => "email", :required => "", :type => "text", :value => ""}/
      %span.highlight
      %span.bar
      %label Your Email
      .alert.alert-error.alert-email
        Oops! Email is required.
    .input-layout
      %input#password.validate-empty{:name => "password", :required => "", :type => "password"}/
      %span.highlight
      %span.bar
      %label Create Password
      .alert.alert-error.alert-password
        Oops! Password is required.
    %footer.clearfix
      %button.primary.button{:tabindex => "4", :type => "submit"}
        Join For Free
      %p.legalNotice
        By clicking "Join For Free" I agree to Voice Republic's
        = succeed "." do
          %a{:href => "http://blog.voicerepublic.com/terms", :target => "_blank"} Terms of Service
