<div class="signup row-fluid">

	<div class="span6 well well-large pull-right">
		<div class='row-fluid page-header'>
			<h2>Sign Up</h2>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<%= render "devise/shared/links" %>
			</div>

			<div class="span6">

				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				<%= devise_error_messages! %>

				<div class="control-group">
					<%= f.label :firstname, :class => 'control-label' %>
					<div class="controls">
						<%= f.text_field :firstname, :class => 'text_field' %>
					</div>
				</div>
				<div class="control-group">
					<%= f.label :lastname, :class => 'control-label' %>
					<div class="controls">
						<%= f.text_field :lastname, :class => 'text_field' %>
					</div>
				</div>
				<div class="control-group">
					<%= f.label :email, :class => 'control-label' %>
					<div class="controls">
						<%= f.text_field :email, :class => 'text_field' %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :password, :class => 'control-label' %>
					<div class="controls">
						<%= f.password_field :password, :class => 'password_field' %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :password_confirmation, :class => 'control-label' %>
					<div class="controls">
						<%= f.password_field :password_confirmation, :class => 'password_field' %>
					</div>
				</div>

				<div>
					<%= button_tag 'Sign Up', :name => "signup_button", :class => 'btn btn-primary pull-right' %>
					<%= link_to t('.cancel', :default => t("helpers.links.cancel")), new_user_registration_path, :class => 'btn pull-right' %>
				</div>

				<% end %>
			</div>
		</div>
	</div>




	<%# Text about signup %>
	<div class="span6 pull-left">

		<div class="row">
			<div class="span4">
				<%= image_tag "signup/Nature_Mountains.jpg" %>
			</div>
			<div class="span6 offset">
				<p class="lead">Duis aute irure dolor in reprehenderit in.</>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco 
				</p>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<%= image_tag "signup/signup_world.png" %>
			</div>
			<div class="span7">
				<p class="lead">Excepteur sint occaecat cupidatat non</>
				<p>
					Laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>		

	</div>

</div>