= simple_form_for( resource,
                   as: resource_name,
                   url: registration_path(resource_name) ) do |f|
  = f.input :referrer, as: :hidden
  = image_tag 'background/main-bg.jpg', class: 'bg-img'
  #input-block
    .form-content-block.row
      .title-block
        = image_tag 'logos/vr_red.svg', class: 'join-logo'
        %h2= t('.sign_up').html_safe

        %hr
        %p.text-center.divider-title
          = t('.via_email')

        = flash[:recaptcha_error]
        .row
          .medium-6.columns
            = f.input :firstname
          .medium-6.columns
            = f.input :lastname
        .row
          .medium-12.columns
            = f.input :email
        .row
          .medium-6.columns
            = f.input :password
          .medium-6.columns
            = f.input :password_confirmation
        .row
          .medium-12.columns
            = f.input :timezone, as: :time_zone, priority: User::PRIOTZ
        .row
          .medium-12.columns.medium-text-left
            = f.input :accept_terms_of_use, as: :boolean, boolean_style: :inline,
                      label: t('simple_form.labels.user.accept_terms_of_use').html_safe
        .row
          .medium-12.columns
            / = recaptcha_tags
            .g-recaptcha{"data-sitekey" => "#{Settings.recaptcha.site_key}"}
            / .g-recaptcha{"data-callback" => "recaptchaCallback", "data-sitekey" => "6Lctit4ZAAAAAErhRLHN95FO7WoyOjTrhJd8_0sc"}
        .row
          .medium-12.columns.medium-text-left
            = f.button :submit, t('.continue').html_safe, id: "check_recaptch", class: 'button large secondary small-expanded medium-float-right qa-signup'
        / %hr/
        / %p.text-center.divider-title
        /   = t('.registration_or')
        / = render partial: 'devise/shared/social_network_connects',
        /          locals: { action: 'register' }
        .clearfix
        %hr/
        %p.login-ask
          = t('.already_have_account')
          = link_to new_session_path(resource_name) do
            = t('.login')
/ :javascript
/   $(window).load(function(){
/     $('#check_recaptch').attr("disabled", true);
/     $('#user_email').val("")
/     $('#user_password').val("")
/   });

/   function recaptchaCallback() {
/     $('#check_recaptch').attr("disabled", false);  }
:javascript
  var onloadCallback = function() {
    alert("grecaptcha is ready!");
  };