<div class="signup row-fluid">

	<div class="span5 well well-large pull-right">
		<div class='row-fluid page-header'>
			<h2>Sign Up</h2>
		</div>
		
		<div class="row-fluid">
			<div class="span12">
				
				<%= render(:partial => "/devise/shared/social_network_connects") %>
				<hr>

				<h4>Sign Up mit KluuU!</h4>	

				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				<%= devise_error_messages! %>

				<div class="control-group">
					<%= f.label :firstname, :class => 'control-label' %>
					<div class="controls">
						<%= f.text_field :firstname, :class => 'text_field' %>
					</div>
				</div>
				<div class="control-group">
					<%= f.label :lastname, :class => 'control-label' %>
					<div class="controls">
						<%= f.text_field :lastname, :class => 'text_field' %>
					</div>
				</div>
				<div class="control-group">
					<%= f.label :email, :class => 'control-label' %>
					<div class="controls">
						<%= f.text_field :email, :type => "email", :class => 'text_field' %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :password, :class => 'control-label' %>
					<div class="controls">
						<%= f.password_field :password, :class => 'password_field' %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :password_confirmation, :class => 'control-label' %>
					<div class="controls">
						<%= f.password_field :password_confirmation, :class => 'password_field' %>
					</div>
				</div>

				<div class="control-group">
					<div class="controls">
					<%= button_tag 'Sign Up', :name => "signup_button", :class => 'btn btn-primary pull-right' %>
					<%= link_to t('.cancel', :default => t("helpers.links.cancel")), new_user_registration_path, :class => 'btn pull-right' %>
					</div>
				</div>

				<div class="clearfix"></div>
				<hr>
					<%= render(:partial => "/devise/shared/links") %>							
				<% end %>
			</div>
		</div>
	</div>




	<%# Text about signup %>
	<div class="span7 pull-left">

		<div class="row">
			<div class="span4">
				<%= image_tag "signup/laptop_call.png" %>
			</div>
			<div class="span7 offset">
				<p class="lead">
					Auf KluuU kannst Du per VideoChat mit smarten Menschen
					über relevante Themen sprechen.
				</p>
					Probiere es aus. KluuU ist gratis. 
				</p>
			</div>
		</div>	

	</div>

</div>