<%= form_for(@paypal_payment) do |f| %>
  <% if @paypal_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paypal_payment.errors.count, "error") %> prohibited this paypal_payment from being saved:</h2>

      <ul>
      <% @paypal_payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :params %><br />
    <%= f.text_area :params %>
  </div>
  <div class="field">
    <%= f.label :check_in_order_id %><br />
    <%= f.number_field :check_in_order_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :amount_cents %><br />
    <%= f.number_field :amount_cents %>
  </div>
  <div class="field">
    <%= f.label :tact_id %><br />
    <%= f.text_field :tact_id %>
  </div>
  <div class="field">
    <%= f.label :currency %><br />
    <%= f.text_field :currency %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
