<h1>Listing paypal_payments</h1>

<table>
  <tr>
    <th>Params</th>
    <th>Check in order</th>
    <th>Status</th>
    <th>Amount cents</th>
    <th>Tact</th>
    <th>Currency</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @paypal_payments.each do |paypal_payment| %>
  <tr>
    <td><%= paypal_payment.params %></td>
    <td><%= paypal_payment.check_in_order_id %></td>
    <td><%= paypal_payment.status %></td>
    <td><%= paypal_payment.amount_cents %></td>
    <td><%= paypal_payment.tact_id %></td>
    <td><%= paypal_payment.currency %></td>
    <td><%= link_to 'Show', paypal_payment %></td>
    <td><%= link_to 'Edit', edit_paypal_payment_path(paypal_payment) %></td>
    <td><%= link_to 'Destroy', paypal_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Paypal payment', new_paypal_payment_path %>
