.contribution.contribution-comments.clearfix
  .contribution-left
    = link_to user_path(:id => comment.user) do
      = image_tag comment.user.account.portrait.url(:thumb), :class => "img-polaroid pull-left"
    
  .contribution-right
    = link_to user_path(:id => comment.user), :class => 'contribution-username' do
      = comment.user.name
    %time.muted
      = time_ago_in_words(comment.created_at)
    = simple_format comment.content