
<%= form_tag user_status_update_comments_url(:user_id => @user, :status_update_id => @status_update ) do %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="control-group">
	<%= label_tag t('.comment', :default => "comment"),nil,  :class => 'control-label'  %>
    <div class="controls">
      <%= text_area_tag 'comment[comment]',nil, :class => 'text_area', :rows => 3 %>
    </div>
  </div>
	
  <div class="form-actions">
    <%= submit_tag nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_status_update_path(:user_id => @user.id, :id => @status_update), :class => 'btn' %>
  </div>
<% end %>
