<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @credit_account.user_id %>
</p>

<p>
  <b>Prepaid amount:</b>
  <%= @credit_account.prepaid_amount %>
</p>

<p>
  <b>Revenue amount:</b>
  <%= @credit_account.revenue_amount %>
</p>

<p>
  <b>Currency:</b>
  <%= @credit_account.currency %>
</p>


<%= link_to 'Edit', edit_credit_account_path(@credit_account) %> |
<%= link_to 'Back', credit_accounts_path %>
