<div class="search">
	<h2><%= t('.search_results', :default => "Suche") %></h2>
	<div class="well well-large">
	<%= render(:partial => 'search/form', :locals => {:query => @query}) %>
	<% if current_user %>
		<%= link_to( t('.publish_search_as_?KluuU?', :default => "Als Frage-KluuU speichern?"), new_user_klu_path( :user_id => current_user, :query => @query), :class => "btn btn-primary search-new-no-kluuu")  %>
	<% else %>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-warning"><%= t('.persist_search', :default => "Tipp:") %></span>&nbsp;&nbsp;Erstelle ein Frage-KluuU und nutze unser Matching System!
		&nbsp;<%#= link_to(t('.log_in', :default => "Log In"), new_user_session_path, :class => "btn") %> <%#= t('.or')%> 
		&nbsp;<%= link_to(t('.sign_up', :default => "Sign Up"), new_user_registration_path , :class => "btn") %>
	<% end %>
	</div>
	<div class="row-fluid search-results">
		<% hash = hash_by_kluuu_type( @klus) %>
		<% hash.keys.each do |k| %>
			<div class="span5 row-fluid">
				<% if ("#{k}" == 'kluuu') %>
					<h3 class="lead">KluuUs</h3>
				<% else %>
					<h3 class="lead">Frage-KluuUs</h3>
				<% end %>
				<% hash[k].each do |klu| %>
					<% if klu.instance_of?(Kluuu) %>
						<%= link_to( klu_path(:id => klu)) do %>
							<%= render(:partial => 'klus/tiny_kluuu', :locals => {:klu => klu}) %>
						<% end %>
					<% else %>
						<%= link_to( klu_path(:id => klu)) do %>
							<%= render(:partial => 'klus/tiny_no_kluuu', :locals => {:klu => klu}) %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		<% end %>
		<div class="span2">
			<h3 class="lead"><%= t('.user', :default => "Nutzer") %></h3>
		</div>
	</div>
</div>