- content_for :title do
  = t('.searchresults', :default => 'Search Results')
  \&middot; #{@query}

%br
%br
.search
  .well.well-large
    = render(:partial => 'search/form', :locals => {:query => @query})
  .search-results
    - if @venues.each.count > 0
      - @venues.each do |v|
        = render(:partial => 'venues/venue_big', :locals => {:venue => v})
    - else

      %h3= t('.no_results_sentence')
      %br/
      = render "no_results"
