<% content_for :title do %>
	<%= t('.searchresults', :default => 'Search Results')%> &middot; <%= @query %>
<% end %>

<div class="search">
	<h2><%= t('.search_results', :default => "Suche") %></h2>
	<div class="well well-large">
		<%= render(:partial => 'search/form', :locals => {:query => @query}) %>
	</div>

	<div class="row-fluid search-results">
		<% if (@klus.count > 0) %>

			<% hash = hash_by_kluuu_type( @klus) %>
			<% hash.keys.each do |k| %>
				<div class="span5 row-fluid">
					<% if ("#{k}" == 'kluuu') %>
						<h3>KluuUs</h3>
					<% else %>
						<h3>Fragen</h3>
					<% end %>
					<% hash[k].each do |klu| %>
						<% if klu.instance_of?(Venue) %>
							<%= link_to( venue_path(:id => klu)) do %>
								<%= render(:partial => 'klus/tiny_kluuu', :locals => {:klu => klu}) %>
							<% end %>
						<% else %>
							<%= link_to( venue_path(:id => klu)) do %>
								<%= render(:partial => 'klus/tiny_no_kluuu', :locals => {:klu => klu}) %>
							<% end %>
						<% end %>
					<% end %>
				</div>
			<% end %>

			<div class="span2">
				<h3><%= t('.user', :default => "Nutzer") %></h3>
			</div>

		<% else %>

			<%# NO RESULTS %>
			
			<h3>Wir konnten zur Zeit leider keine Ergebnisse finden. Aktuell:</h3>
			<br>

			<div class="row-fluid lp-trends-people">
				<div class="span6">
					<div class="well well-large">
						<h2>Trends</h2>
						<%= render(:partial => 'shared/tag_cloud') %>
					</div>
				</div>
				<div class="span6">
					<div class="well well-large clearfix">
						<h2>People</h2>
						<ul class="unstyled">
						<% User.potentially_available.limit(5).order("created_at DESC").each do |user| %>
							<li class="user-small" style="display:inline">
								<%= render(:partial => "users/user_small", :locals => {:user => user}) %>
							</li>
						<% end %>
						</ul>
					</div>
				</div>	
			</div>

		<% end %>

	</div>
</div>