<div class="search">
	<h2><%= t('.search_results') %></h2>
	<%= render(:partial => 'search/form', :locals => {:query => @query}) %>
	<%= link_to( t('.publish_search_as_?KluuU?'), new_user_klu_path( :user_id => current_user, :query => @query), :class => "btn search-new-no-kluuu") %>
	<div class="row-fluid search-results">
		<% hash = hash_by_kluuu_type( @klus) %>
		<% hash.keys.each do |k| %>
			<div class="span6 row-fluid">
				<h3><%= k.upcase %></h3>
				<% hash[k].each do |klu| %>
					<% if klu.instance_of?(Kluuu) %>
						<%= render(:partial => 'klus/small_kluuu', :locals => {:klu => klu}) %>
					<% else %>
						<%= render(:partial => 'klus/small_no_kluuu', :locals => {:klu => klu}) %>
					<% end %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>