<div class="text-center" style="text-align:center">
<%= link_to 'TODO', :class => "signup-facebook" do %>
  <%= image_tag "connects/lp-fb-icon.png" %> 
  <%= t('.with', :default =>'with') %> facebook
<% end %>

<%= link_to 'TODO', :class => "signup-google" do %>
  <%= image_tag "connects/lp-gplus-icon.png" %>
  <%= t('.with', :default =>'with') %> Google+
<% end %>
</div>