= link_to reminder, method: 'delete', :data => { :msg => 'unpinned' }, class: "button unpin-btn", title: t('.unpin'), remote: true, 'data-ga-event' => "click #{gacategory} unpin talk:#{reminder.rememberable.id}" do
  = naked_icon('pin')
  %span.pin-msg= t('.unpin')
