:javascript
  var names = #{@names.to_json};
  var suggestions = #{@suggestions.to_json};
  var organization_id = #{@organization_id.to_json};

%section.light
  #names
  .row.clearfix
    .medium-10.medium-offset-1.large-8.large-offset-2.columns
      %h1= t('.claim_client')
      %h2= t('.type', type: @device.type)

      = simple_form_for @device do |f|
        = f.input :name
        -# TODO if user has multiple organizations show a select box
        - if current_user.organizations.count > 1
          = f.input :organization, collection: current_user.organizations
        = f.button :submit
