-# if exaclty one device was detected, the user is redirected to claim
-# that device. hence this page has to handle the two remaining cases:
-#
-# * no device found
-# * multiple devices found

%section#claim.dark
  .row
    %header
      %h2= t('.headline')

%section.light
  .row.clearfix
    .container.medium-10.medium-offset-1.large-8.large-offset-2.columns.text-left

      %p= t('.devices_found', count: @devices.count, ip: request.remote_ip)

  .row.clearfix
    .medium-2.medium-offset-5
      = link_to t('.reload'), url_for(params), class: 'button hollow'

  .row.clearfix
    .container.medium-10.medium-offset-1.large-8.large-offset-2.columns.text-left
      %hr

  .row.clearfix
    .container.medium-10.medium-offset-1.large-8.large-offset-2.columns.text-left

      %p= t('.alternatively')

  .row.clearfix
    .medium-1.medium-offset-5
      = simple_form_for :device, method: 'GET' do |f|
        = f.input :pairing_code
        = f.button :submit
