.page-header
  %h2 Admin-Dashboard
.hero-unit
  %h2 Welcome
  %p
    = current_or_guest_user.name
  %p
    Manage KluuU from here!
.row-fluid
  .span3.well
    = link_to "Manage User-Base", admin_users_path, :class => "btn btn-primary btn-large"
  .span3.well
    = link_to "Manage Categories", admin_categories_path, :class => "btn btn-large"
  .span3.well
    = link_to "Manage Venues", admin_venues_path, :class => "btn btn-large"
  .span3.well
    = link_to "Manage VideoServer", admin_video_servers_path, :class => "btn btn-large"
