<% content_for :title do %>
	<%= t('.conversations', :default => 'conversations')%> &middot; <%= @user.name %>
<% end %>

<section class="row-fluid conversations">
	<ul class="conversations-list unstyled">
		<%= t('.no_conversations_yet', :default => "you have no conversations yet") if @conversations.empty? %>
		<% @conversations.each do |conv| %>
			<li>
				<article class="conversation contribution">
					<% partner = conv.partner_of(@user) %> 
					<header>
						<div class="user-image contribution-user-image" data-user-id="<%= partner.id %>">
							<%= link_to(user_path(partner)) do %>
								<%= image_tag(partner.account.portrait(:thumb), :class => "img-polaroid")%>
							<% end %>
						</div>
						<%= link_to(partner.name, user_path(partner), :class => "contribution-user-name") %>
					</header>
					<% msg = conv.undeleted_messages_for(@user).limit(1).first %>
					<% if msg %>
					<%= link_to(user_conversation_path(:user_id => @user, :id => conv)) do %>
						
						<p><%= truncate( msg.content, :length => 72) %></p>
						<aside>
							<span class="conversations-more-messages">
								<% msg_c = conv.undeleted_messages_for(@user).count - 1 %>
								<%= t(".and_more_messages", :count => msg_c) %>
							</span>								
							<time><%= l(msg.created_at, :format => :short) %></time>
						</aside>
					<% end %>
					<% end %>
					<%= link_to(new_message_path(:receiver_id => partner), :remote => true, :class => "conversations-actions-new") do %>
						<i class="icon-envelope"> </i> <%= t('.new_message') %>
					<% end %>
				</article>
			</li>
		<% end %>	
	</ul>
</section>

<%= render( :partial => "inline_help/dashboard_messages", :locals => {:user => @user} ) unless @user.account(true).prefs.no_initial_help == '1' %>	