<section class="row-fluid conversations">
	<ul class="conversations-list unstyled">
		<% @conversations.each do |conv| %>
			<li>
				<article class="conversation contribution">
					<% partner = conv.partner_of(@user) %> 
					<header>
						<div class="user-image contribution-user-image" data-user-id="<%= partner.id %>">
							<%= link_to(user_path(partner)) do %>
								<%= image_tag(partner.account.portrait(:thumb), :class => "img-polaroid")%>
							<% end %>
						</div>
						<%= link_to(partner.name, user_path(partner), :class => "contribution-user-name") %>
					</header>
					<%= link_to(user_conversation_path(:user_id => @user, :id => conv)) do %>
						<% msg = conv.messages.limit(1).first %>
						<p><%= truncate( msg.content, :length => 72) %></p>
						<aside>
							<span class="conversations-more-messages">
								<% msg_c = conv.messages.count - 1 %>
								<%= t(".and_#{msg_c}_more_messages") %>
							</span>								
							<time><%= l(msg.created_at, :format => :short) %></time>
						</aside>
					<% end %>
					<%= link_to(new_message_path(:receiver_id => partner), :remote => true, :class => "conversations-actions-new") do %>
						<i class="icon-envelope"> </i> <%= t('.new_message') %>
					<% end %>
				</article>
			</li>
		<% end %>	
	</ul>
</section>