- content_for :title do
  = t('.conversations', :default => 'conversations')
  \&middot; #{@user.name}
- partner = @conversation.partner_of(@user)

%section.center-box
  %header
    %h2
      = t('.conversations')
  = link_to (user_conversations_path(:user_id => @user)) do
    %i.icon-circle-arrow-left
    &nbsp;
    = t('.back_to_all_conversations')      
  .conversation
    .tabbable.tabs-left
      %ul.nav.nav-tabs
        - @user.conversations.each do |conv|
          - partner = conv.partner_of(@user)
          - if current_page?(user_conversation_path(:user_id => @user, :id => conv ))
            %li.active
              = link_to(user_conversation_path(:user_id => @user, :id => conv)) do
                .user-image{"data-user-id" => partner.id}= image_tag(partner.account.portrait(:thumb), :class => "img-polaroid")
                = partner.name
          - else
            %li
              = link_to(user_conversation_path(:user_id => @user, :id => conv)) do
                .user-image{"data-user-id" => partner.id}= image_tag(partner.account.portrait(:thumb), :class => "img-polaroid")
                = partner.name
      %section.tab-content
        - partner = @conversation.partner_of(@user)
        = content_tag :ul, :class => "unstyled messages-list" do
          - @messages.each do |msg|
            %li= partial_for_message(msg, @user)
        - end unless @messages.empty?
        = will_paginate @messages, :renderer => BootstrapPagination::Rails, :class => "pagination pagination-centered"
