<%- model_class = Conversation -%>
<% partner = @conversation.partner_of(@user) %>
<div class="conversation">
	<h4>
		<%= t('.your_messages_with_') %>
		<%= link_to( user_path(:id => partner)) do %>
			<%= partner.name %>
		<% end %>
		</h4>
	<div class="tabbable tabs-left">
	
		<ul class="nav nav-tabs">
			<% @user.conversations.each do |conv| %>
				<% partner = conv.partner_of(@user) %>
				
					<% if current_page?(user_conversation_path(:user_id => @user, :id => conv )) %>
						<li class="active">
							<%= link_to(user_conversation_path(:user_id => @user, :id => conv)) do %>
								<div class="user-image" data-user-id="<%= partner.id %>"><%= image_tag(partner.account.portrait(:thumb), :class => "img-polaroid") %></div>
								<%= partner.name %>
							<% end %>
						</li>
					<% else %>
						<li>
							<%= link_to(user_conversation_path(:user_id => @user, :id => conv)) do %>
								<div class="user-image" data-user-id="<%= partner.id %>"><%= image_tag(partner.account.portrait(:thumb), :class => "img-polaroid") %></div>
								<%= partner.name %>
							<% end %>
						</li>
					<% end %>
			<% end %>
		</ul>
		
		<section class="tab-content">
			<nav class="conversation-actions">
			<% partner = @conversation.partner_of(@user) %>
			<ul class="unstyled">
				<li class="conversation-action-back">
					<%= link_to (user_conversations_path(:user_id => @user)) do  %>
						<i class="icon-circle-arrow-left"></i>
						<%= t('.back_to_all_conversations', :default => t("helpers.links.back")) %>
					<% end %>
				</li>
				<li class="conversation-action-new">
					<%= link_to(new_message_path(:receiver_id => partner), :remote => true) do %>
						<i class="icon-envelope"> </i> <%= t('.new_message') %>
					<% end %>
				</li>
				<li class="conversation-action-delete-all">
					<%= link_to(user_conversation_path(:user_id => @user, :id => @conversation),
						:method => 'delete',
						:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }) do %>
						<i class="icon-trash"></i>
						<%= t('.delete_conversation', :default => t(".delete_conversation")) %>
					<% end %>
				</li>
			</ul>
		</nav>
		
			<%= content_tag :ul, :class => "unstyled messages-list" do %>
				<% @messages.each do |msg| %>
					<li><%= partial_for_message(msg, @user) %></li>
				<% end %>
			<% end unless @messages.empty? %>
			
			<%= will_paginate @messages, :renderer => BootstrapPagination::Rails, :class => "pagination pagination-centered" %>
		</section>
	</div>
</div>

