<article class="status contribution">
	<header>
		<div class="contribution-user-name">
			<%= link_to(status_update.user.name, user_path(:id => status_update.user)) %>
		</div>
		
		<div class="user-image contribution-user-image" data-user-id="<%= status_update.user.id %>"><%= link_to(image_tag( status_update.user.account.portrait.url(:thumb)), user_path(:id => status_update.user), :class => 'img-polaroid' ) %></div>
		<time datetime="<%= status_update.created_at.strftime("%Y-%m-%d") %>">
			<%= time_ago_in_words(status_update.created_at) %>
		</time>
	</header>
	<%= link_to(user_status_update_path(:user_id => status_update.user, :id => status_update), :class => "contribution-content") do %>
	<%= simple_format(status_update.content) %>
	<% end %>
	<aside>

		<div class="contribution-comment-links">
			<%= link_to(user_status_update_path(:user_id => status_update.user, :id => status_update, :anchor => "newcomment")) do %>
				&nbsp; <%= t('.add_comment') %> &middot;
			<% end if current_user %> 
			<%= link_to(user_status_update_path(:user_id => status_update.user, :id => status_update, :anchor => "comments")) do %>
				<i class="icon-comment"> </i>	<%= status_update.comments.count %> <%= t('.comments') %>
			<% end %>
		</div>
		<%= link_to user_status_update_path(:user_id => status_update.user, :id => status_update), :method => :delete, :class => "contribution-delete" do %>
		<i class="icon-trash"> </i>
		<% end %>

	</aside>
</article>