<%- model_class = StatusUpdate -%>
<section class="status-site span9">
	<ul class="unstyled">
		<% @status_updates.each do |status_update| %>
			<li class="status-single">
				<article>
					<header>
						<div class="status-user-name"><%= link_to(status_update.user.name, user_path(:id => status_update.user)) %></div>
						<%= link_to(image_tag( status_update.user.account.portrait.url(:thumb), :class => "img-polaroid"), user_path(:id => status_update.user), :class => 'status-user-image img-polaroid' ) %>
					</header>
					<%= link_to user_status_update_path(:user_id => status_update.user, :id => status_update) do %>
						<%= simple_format(status_update.content) %>
					<% end %>
					<aside>
						<time datetime="<%= l(status_update.created_at) %>"><%= time_ago_in_words(status_update.created_at) %></time>
						<%= link_to t('.edit', :default => t("helpers.links.edit")),
						edit_user_status_update_path(:user_id => status_update.user, :id =>status_update), :class => 'status-edit btn btn-mini' %>
						<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
						user_status_update_path(:user_id => status_update.user, :id => status_update),
						:method => :delete,
						:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
						:class => 'btn btn-mini btn-danger status-delete' %> </td>
					</aside>
				</article>
			</li>
		<% end %>
		</ul>
	<aside>
		<%= link_to t('.new', :default => t("helpers.links.new")), new_user_status_update_path, :class => 'btn btn-primary' %>		
	</aside>
</section>



