
<div class="row-fluid">
	<div class="span12">
		<h3>
			<%= t('.video_call_title', :default => "VIDEO CALL") %>
		</h3>
		 
		 <div class="thumbnail user-thumbnail">
			<%= content_tag :span, :class => "user-thumbnail-link clearfix" do %>	
				<%= image_tag(user.account.portrait.url(:thumb)) %>
				<div class="user-thumbnail-name"><%= user.name %></div>
			<% end %>
		</div>
		<p>
		<%= t('.rejected_text', :default => 'hat deinen Video Call abgelehnt.') %>
	</div>
</div>
<br>
<div class="row-fluid">
	<div class="span12">
		<%= link_to t('.close', :default => "Schliessen"), '#', :class => "btn pull-right", 'data-function' => 'closeOverlay' %>
	</div>	
</div>