<%= render(:partial => '/notifications/ringtone') %>
<div class="row-fluid">
	<div class="span12">
		<h3>
			VIDEO CALL!
		</h3>
		 
		 <div class="thumbnail user-thumbnail">
			<%= content_tag :span, :class => "user-thumbnail-link clearfix" do %>	
				<%= image_tag(video_session.guest_participant.user.account.portrait.url(:thumb)) %>
				<div class="user-thumbnail-name"><%= video_session.guest_participant.user.name %></div>
			<% end %>
		</div>

	</div>
</div>
<br>
<div class="row-fluid">
	<div class="span6">
		<%= button_to t('.accept_call', :default => 'Accept'), video_session_path(video_session.id), :method => :put, :remote => :true, :class => 'btn pull-right', :style => "width:150px", :disable_with => "t('.connecting_call')" %>
	</div>
	<div class="span6">
		<%= button_to t('.reject_call', :default => 'Reject'), video_session_path(:id => video_session.id, :canceling_participant_id => video_session.host_participant.id), :method => :delete, :remote => :true, :class => 'btn pull-left', :style => "width:150px; margin-right:10px" %>
	</div>	
</div>