= f.error_messages

= f.text_field :title
= f.text_field :teaser
= f.label :tag_list, :class => 'control-label' do
  = t('.tag_list')
.controls
  = f.text_field :tag_list, :class => 'tagList input-block-level'
.help-block.help-tags
  = t('.help_tags')

%p TODO make this a datepicker:
= f.text_field :starts_at

= f.select :duration, Settings.durations
= f.file_field :image

%p TODO guest selection
= render 'shared/wysihtml5_toolbar'
= f.text_area :description, 'data-wysiwyg' => true
= f.label :record do
  = f.check_box :record
