.header-block(style="background-image: url(#{f.object.image.url})"
  data-show-upload="#talk_image,#venue_talks_attributes_0_image")

  .form-top-box.row
    .medium-10.medium-offset-1.columns
      %h2.form-title= form_title

      -#= f.error_messages

      - opts = {}
      - # TODO some fields are protected after state prelive, add this to cancan
      - opts[:disabled] = true unless f.object.prelive?

      = f.input :title, placeholder: t('.title')
      = f.input :teaser, placeholder: t('.teaser')
      = f.input :tag_list, input_html: { class: 'tagList' }
      = f.input :venue, collection: current_user.venues, prompt: t('.my_talks')
      = f.input :language, as: :grouped_select, collection: Talk::LANGUAGES,
      input_html: { class: 'languageSelect' },
      group_method: :last, label_method: :last, value_method: :first

      %br
      %br
      -#testdatepicker
      .date-time-picker-row.row.collapse
        .medium-5.columns
          = f.input :starts_at_date, opts.merge(input_html: {'data-picker' => 'date'})
        .medium-4.columns
          = f.input :starts_at_time, opts.merge(input_html: {'data-picker' => 'time'})
        .medium-3.columns
          = f.input :duration, opts.merge(collection: Settings.durations)
      .row.collapse
        .medium-12.columns
          %button.button-standard(type="button" data-trigger-file-input="talk_image")
            = t('.select_image')
          = f.file_field :image, as: :file, class: 'display-none'

.row
  .medium-12.columns
    %br
    = f.input :guest_list, opts.merge(input_html: { class: 'guestList' })
    %br
    %br
    %label(for="venue_description")
      = t('.talks_description')
    = f.text_area :description, class: 'ckeditor', input_html: { ckeditor: { toolbar: 'Full' } }
    - messages = f.object.errors.get(:description)
    - unless messages.empty?
      %small.error= messages * ', '
    %br
    = f.input :collect, label: t('.record')
