.header-block(style="background-image: url(#{@venue.image.url})"
  data-show-upload="#talk_image,#venue_talks_attributes_0_image")
  
  .row
    .medium-10.medium-centered.columns
      %h2= form_title

      = f.error_messages

      = f.input :title, placeholder: t('.title')
      = f.input :teaser, placeholder: t('.teaser')
      = f.input :tag_list, input_html: { class: 'tagList' }

  %br
  %br
  -#testdatepicker  
  .row
    .medium-4.medium-offset-1.columns
      = f.input :starts_at_date, input_html: {'data-date' => ''}
    .medium-2.columns
      = f.input :starts_at_time, input_html: {'data-time' => ''}
    .medium-4.columns
      = f.input :duration, collection: Settings.durations
    .medium-1.columns

.row
  .medium-10.medium-centered.columns
    = f.input :image, as: :file
    = f.input :guest_list, input_html: { class: 'guestList' }
    = render 'shared/wysihtml5_toolbar'
    = f.input :description, 'data-wysiwyg' => true
    = f.input :record
