= simple_form_for([@venue, @talk]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :starts_at
    = f.input :duration, collection: Settings.durations
    = f.input :record

  .form-actions
    = f.button :submit
