= javascript_include_tag 'sencha'

- content_for :title do
  = t('.title', title: @talk.title)

= simple_form_for([@venue, @talk], url: nil,
  html: { 'ng-controller' => 'UploadCtrl',
          name: 'talkForm',
          novalidate: false},
    input_html: { class: 'vr-form'}) do |f|
  = render partial: "fields", locals: { f: f, form_title: t('.edit_talk') }

  .form-save-row.row.collapsed
    .medium-12.columns
      = link_to t('.delete_talk'), [@venue, @talk], delete_params
      = f.button :submit, class: 'button-vr', 'ng-disabled' => '!talkForm.$valid'
      = link_to t('.cancel'), [@venue, @talk]
