= javascript_include_tag 'sencha'

- content_for :title do
  = t('.title')

= simple_form_for([@venue, @talk], url: nil,
  html: { 'ng-controller' => 'UploadCtrl',
    name: "talkForm",
    novalidate: false}) do |f|
  = render partial: "fields", locals: { f: f, form_title: t('.new_talk') }

  .form-save-row.row
    .medium-12.columns
      = link_to t('helpers.links.cancel'), @venue, class: 'button-cancel right'    
      = f.button :submit, class: 'button-save right', 'ng-disabled' => '!talkForm.$valid', 'ng-click' => 'deactivateSafetynet()'

