%h2= t(.publish_a_talk)
= link_to new_talk_path do
  %button.talk-selector
    = t(.test_a_talk)
= link_to new_talk_path do
  %button.talk-selector
    = t(.upload_a_talk)
= link_to new_talk_path do
  %button.talk-selector
    = t(.go_live)