-# find states under angular/controllers/livepage.js.coffee

- content_for :head do
  = social_meta_tags_talk

- content_for :javascript do
  = javascript_include_tag '/pdf_viewer/pdf-viewer-0.1.2'
  :javascript
    window.insider = #{!!current_user.try(:insider?)};
    window.console.off = #{!!(Settings.disable_js_debugging && !current_user.try(:insider?))};
  = render 'config'

- content_for :title do
  = t('.title', title: @talk.title)

-# Begin Left
#main-column.clearfix
  .left-side.medium-9.large-10.columns
    -# Talk stuff
    -#publisher info
    .top-container
      .row.collapse.pub-block
        .meta-left.large-8.columns
          .pub-avatar.float-left.img-circle
            = link_to user_path(@talk.series.user) do
              = render partial: "shared/avatar_image_velvet", locals: { user: @talk.series.user, size: 40 }
          .pub-meta.left
            %p.meta-publisher
              = link_to @talk.series.user.name, user_path(@talk.series.user)
              -# TODO: add an icon per "publisher type" when we have them
                \/
                %span.icon-uniE731
            %p.meta-series
              From the Series:
              = link_to @talk.series do
                = @talk.series.title
        -# TODO: When we have speaker names sorted out: 
          .meta-right.large-4.columns
            .pub-meta
              %p.meta-speaker
                SprecherIn:
              
      -# title
      .row.collapse.talk-title
        %h3= @talk.title
        -# TODO: if there's no teaser content, don't render this p.lead
          %p.lead
            = @talk.teaser

      -# Player
      .player-container
        = render partial: 'shared/player', locals: { talk: @talk }
        -##talk-playbar.row.collapse
        -#  %button.button.button-playbar.button-play-pause.state-play
        -#    %span.icon-uniE6BB
        -#    %span.icon-uniE6B8.hide
        -#  #meter
        -#    #indicator{:style => "max-height: 11.4477px;"}
        -#  %span.timecode 00:00
        -#  .timeline
        -#    .track-playing
        -#  %span.timecode.right 45:20
        -#  %button.button.button-playbar.button-volume.right.hide-for-small-only
        -#    %span.icon-uniE6BE
        -#    %span.icon-uniE6C1.hide
        -#  .playbar-divider
        -#  %button#view-slides2.has-tip.tip-top.tip-center.button.button-playbar.button-volume.right.hide-for-small-only{"aria-describedby" => "tooltip-imm27bsv0", "aria-haspopup" => "true", "data-options" => "disable_for_touch:true", "data-selector" => "tooltip-imm27bsv0", "data-tooltip" => "", :title => ""}
            -#%span.icon-uniE8A2


      -# date and play count
      .row.collapse
        #date-playcount.clearfix
          %span.float-left
            = time_ago_in_words(@talk.starts_at)
          %span.float-right
            = human_count(@talk.play_count) + t('.plays')
      -# Picture
      .row.collapse
        .talk-picture
          = image_tag @talk.image.thumb("1024x640#").url, class: 'image'
          %button#view-slides.button.button-playbar.button-volume.right.show-for-small-only{:title => "View Slides"}
            %span.icon-uniE8A2
      .row.collapse
        #talk-actions.float-right.medium-3.columns
          %ul.button-group.float-right
            %li
              %a.button.small{"data-animation" => "fade", "data-animationspeed" => "200", "data-reveal-id" => "pin-modal", :href => "#"}
                = naked_icon 'pin'
                %span.action-name
                  Pin
                  %span.hide-for-medium-only to My Feed
            %li
              %a.button.small{"data-animation" => "fade", "data-animationspeed" => "200", "data-reveal-id" => "share-modal", :href => "#"}
                = naked_icon 'share'
                %span.action-name Share
            %li
              %a.button.small{:href => "#comments"}
                = naked_icon 'chat'
                %span.comment-count.show-for-small-only 3
                %span.action-name Comments
            %li.hide-for-small-only
              %a.button.small{"data-animation" => "fade", "data-animationspeed" => "200", "data-reveal-id" => "embed-modal", :href => "#"}
                = naked_icon 'embed'
                %span.action-name Embed
            %li.hide-for-small-only
              %a.button.small{"data-animation" => "fade", "data-animationspeed" => "200", "data-reveal-id" => "card-modal", :href => "#"}
                = naked_icon 'podcast'
                %span.action-name Podcast
        #talk-description.left.medium-9.columns

          = @talk.description_as_html.html_safe
          .format-box.speaker.float-left
            Categories:
            %a{:href => "#"} Conference
          .format-box
            Tags:
            = succeed "," do
              %a{:href => "#"} Theater
            = succeed "," do
              %a{:href => "#"} Bücher
              %a{:href => "#"} Krimi
          .format-box
            Format:
            %a{:href => "#"} Roundtable
          .format-box
            License:
            %a{:href => "#"} Creative Commons
      

    -#Comment Stuff
    .bottom-container.row.collapse
      .comment-container
        .comment.small-12.columns.float-center
          %h3 Comments
          .panel
            %p{:contenteditable => "true"} Share your thoughts here.
          %button.right.small Post
          %button.right.cancel.small Cancel
        .small-12.columns.previous-comments
          .row.collapse.comment-block
            .comment-meta.small-3.columns
              %p
                %img{:alt => "", :height => "42", :src => "img/avatars/dude.png", :width => "42"}/
              %p.post-author The Dude
              %p.post-time 2 min ago
            .comment-content.small-8.small-offset-1.medium-9.medium-offset-0.columns
              %p.meta-info Look, let me explain something. I'm not Mr. Lebowski;  you're Mr. Lebowski.  I'm the Dude.  So that's  what  you  call me.  That, or Duder. His Dudeness.Or El Duderino, if, you know, you 're not into the whole brevity thing--
          .row.collapse.comment-block
            .comment-meta.small-3.columns
              %p
                %img{:alt => "", :height => "42", :src => "img/avatars/walter.png", :width => "42"}/
              %p.post-author Walter Sobchak
              %p.post-time 3 min ago
            .comment-content.small-8.small-offset-1.medium-9.medium-offset-0.columns
              %p.meta-info HAS THE WHOLE WORLD GONE CRAZY?  AM I THE ONLY ONE HERE WHO GIVES A SHIT ABOUT THE RULES?  MARK IT ZERO!
          .row.collapse.comment-block
            .comment-meta.small-3.columns
              %p
                %img{:alt => "", :height => "42", :src => "img/avatars/lebowski.png", :width => "42"}/
              %p.post-author Big Lebowski
              %p.post-time 5 min ago
            .comment-content.small-8.small-offset-1.medium-9.medium-offset-0.columns
              %p.meta-info It's funny.  I can look back on a life of achievement, on challenges met, competitors bested, obstacles overcome.  I've accomplished more than most men, and without the use of my legs.  What. . . What makes a man, Mr. Lebowski?
  -# Right side
  #right-sidebar.medium-3.large-2.columns
    .row.collapse
      %h3
        Recommended Talks
      .reco-tile
        %p.reco-publisher nGbK
        %img{:alt => "", :src => "img/thumbs/thumb0.jpg"}/
        %h5.reco-title Sozialer Wandel und Politische Kunst in der Südosttürkei
      .reco-tile
        %p.reco-publisher nGbK
        %img{:alt => "", :src => "img/thumbs/thumb1.jpg"}/
        %h5.reco-title Independent Cultural Spaces in Turkey and Germany
      .reco-tile
        %p.reco-publisher re:publica15
        %img{:alt => "", :src => "img/thumbs/thumb2.jpg"}/
        %h5.reco-title Watching the Watchers: Building a Sousveillance State
      .reco-tile
        %p.reco-publisher AMAZE Berlin
        %img{:alt => "", :src => "img/thumbs/thumb3.jpg"}/
        %h5.reco-title A MAZE Masterclass: Rami Ismail in conversation with Leigh Alexander
      .reco-tile
        %p.reco-publisher Publixsphere Channel
        %img{:alt => "", :src => "img/thumbs/thumb4.jpg"}/
        %h5.reco-title Religion in Europa
      .reco-tile
        %p.reco-publisher HPI School of Design Thinking
        %img{:alt => "", :src => "img/thumbs/thumb5.jpg"}/
        %h5.reco-title Visual Diagnostics for Design Thinking Teams
      .reco-tile
        %p.reco-publisher Rosa Luxemburg Stiftung
        %img{:alt => "", :src => "img/thumbs/thumb6.jpg"}/
        %h5.reco-title Platform Cooperativism vs. the Sharing Economy
    %h1.text-center.show-for-small-only
      %a{:href => "#"} What is Voice Republic?
  -# Slides
  #slides-holder.hide.animated
    %button.slide-close
      %span.icon-uniE7D7
    %button#left-slide.slick-arrow{:style => "display: block;"}
      %span.icon-uniE7CF
    %button#right-slide.slick-arrow{:style => "display: block;"}
      %span.icon-uniE7CD
    .my-slides.slick-initialized.slick-slider{:role => "toolbar"}
      .slick-list.draggable{"aria-live" => "polite", :style => "padding: 0px;"}
        .slick-track{:role => "listbox", :style => "opacity: 1; width: 0px; transform: translate3d(0px, 0px, 0px);"}
          .slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "-2", :style => "width: 0px;", :tabindex => "-1"}
            %img{:alt => "", :src => "img/slides/slide4.jpg"}/
          .slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "-1", :style => "width: 0px;", :tabindex => "-1"}
            %img{:alt => "", :src => "img/slides/slide5.jpg"}/
          .slick-slide.slick-current.slick-active.slick-center{"aria-describedby" => "slick-slide00", "aria-hidden" => "false", "data-slick-index" => "0", :role => "option", :style => "width: 0px;", :tabindex => "0"}
            %img{:alt => "", :src => "img/slides/slide0.jpg"}/
          .slick-slide{"aria-describedby" => "slick-slide01", "aria-hidden" => "true", "data-slick-index" => "1", :role => "option", :style => "width: 0px;", :tabindex => "-1"}
            %img{:alt => "", :src => "img/slides/slide1.jpg"}/
          .slick-slide{"aria-describedby" => "slick-slide02", "aria-hidden" => "true", "data-slick-index" => "2", :role => "option", :style => "width: 0px;", :tabindex => "-1"}
            %img{:alt => "", :src => "img/slides/slide2.jpg"}/
          .slick-slide{"aria-describedby" => "slick-slide03", "aria-hidden" => "true", "data-slick-index" => "3", :role => "option", :style => "width: 0px;", :tabindex => "-1"}
            %img{:alt => "", :src => "img/slides/slide3.jpg"}/
          .slick-slide{"aria-describedby" => "slick-slide04", "aria-hidden" => "true", "data-slick-index" => "4", :role => "option", :style => "width: 0px;", :tabindex => "-1"}
            %img{:alt => "", :src => "img/slides/slide4.jpg"}/
          .slick-slide{"aria-describedby" => "slick-slide05", "aria-hidden" => "true", "data-slick-index" => "5", :role => "option", :style => "width: 0px;", :tabindex => "-1"}
            %img{:alt => "", :src => "img/slides/slide5.jpg"}/
          .slick-slide.slick-cloned.slick-center{"aria-hidden" => "true", "data-slick-index" => "6", :style => "width: 0px;", :tabindex => "-1"}
            %img{:alt => "", :src => "img/slides/slide0.jpg"}/
          .slick-slide.slick-cloned{"aria-hidden" => "true", "data-slick-index" => "7", :style => "width: 0px;", :tabindex => "-1"}
            %img{:alt => "", :src => "img/slides/slide1.jpg"}/
      %ul.slick-dots{:role => "tablist", :style => "display: block;"}
        %li#slick-slide00.slick-active{"aria-controls" => "navigation00", "aria-hidden" => "false", "aria-selected" => "true", :role => "presentation"}
          %button{"aria-required" => "false", "data-role" => "none", :role => "button", :tabindex => "0", :type => "button"} 1
        %li#slick-slide01{"aria-controls" => "navigation01", "aria-hidden" => "true", "aria-selected" => "false", :role => "presentation"}
          %button{"aria-required" => "false", "data-role" => "none", :role => "button", :tabindex => "0", :type => "button"} 2
        %li#slick-slide02{"aria-controls" => "navigation02", "aria-hidden" => "true", "aria-selected" => "false", :role => "presentation"}
          %button{"aria-required" => "false", "data-role" => "none", :role => "button", :tabindex => "0", :type => "button"} 3
        %li#slick-slide03{"aria-controls" => "navigation03", "aria-hidden" => "true", "aria-selected" => "false", :role => "presentation"}
          %button{"aria-required" => "false", "data-role" => "none", :role => "button", :tabindex => "0", :type => "button"} 4
        %li#slick-slide04{"aria-controls" => "navigation04", "aria-hidden" => "true", "aria-selected" => "false", :role => "presentation"}
          %button{"aria-required" => "false", "data-role" => "none", :role => "button", :tabindex => "0", :type => "button"} 5
        %li#slick-slide05{"aria-controls" => "navigation05", "aria-hidden" => "true", "aria-selected" => "false", :role => "presentation"}
          %button{"aria-required" => "false", "data-role" => "none", :role => "button", :tabindex => "0", :type => "button"} 6
  -# modal
  #embed-modal.reveal.medium{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
    %h2#modalTitle Embed This Talk
    %p.lead Copy and paste the following code into your web site:
    %p.code
      %code http://voicerepublic.com/238yas98fh2k
    %a.close-reveal{"aria-label" => "Close"} ×
  -# modal
  #pin-modal.reveal.medium{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
    %h2#modalTitle This Talk has been pinned to your Feed!
    %button.button.small Go to my Feed
    %a.close-reveal{"aria-label" => "Close"} ×
  -# modal
  #card-modal.reveal.small{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
    %h2#modalTitle Launch Your Podcatcher?
    %p.lead
      %button Launch
    %a.close-reveal{"aria-label" => "Close"} ×
  -# modal
  #share-modal.reveal.medium{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
    .row.collapse
      %h2#modalTitle Share This Talk
    .row.collapse
      %p
        %img{:alt => "", :src => "img/true.png"}/
    .row.collapse
      %p.lead
        %button.button.small
          %span.icon-uniE949
          Facebook
        %button.button.small
          %span.icon-uniE94A
          Twitter
        %button.button.small
          %span.icon-uniE90A
          Mail
        %button.button.small
          %span.icon-uniE909
          Send Card
    %a.close-reveal{"aria-label" => "Close"} ×