-# find states under angular/controllers/livepage.js.coffee

- content_for :head do
  = social_meta_tags_talk

- content_for :javascript do
  = javascript_include_tag '/pdf_viewer/pdf-viewer-0.1.2'
  :javascript
    window.insider = #{!!current_user.try(:insider?)};
    window.console.off = #{!!(Settings.disable_js_debugging && !current_user.try(:insider?))};
  = render 'config'

- content_for :title do
  = t('.title', title: @talk.title)


-# Debug: breakpoint
  .breakpoint-viewer
    .show-for-small-only small
    .show-for-medium-only medium
    .show-for-large large


-# Begin Left
#main-column.clearfix
  .left-side.medium-9.columns
    -# Talk stuff
    -#publisher info
    .top-container
      .row.collapse.pub-block
        .meta-left.large-8.columns
          .pub-avatar.float-left.img-circle
            = link_to user_path(@talk.series.user) do
              = render partial: "shared/avatar_image_velvet", locals: { user: @talk.series.user, size: 40 }
          .pub-meta.left
            %p.meta-publisher
              = link_to @talk.series.user.name, user_path(@talk.series.user)
              -# TODO: add an icon per "publisher type" when we have them
                \/
                %span.icon-uniE731
            %p.meta-series
              From the Series:
              = link_to @talk.series do
                = @talk.series.title
        -# TODO: Eventually link each individual speaker to his/her page? 
        - unless @talk.speakers.blank?
          .meta-right.large-4.columns
            .pub-meta
              %p.meta-speaker
                = t('.sprecherin')
                %span.speaker-names= @talk.speakers
        %hr
              
      -# title
      .row.collapse.talk-title
        %h3= @talk.title
        - unless @talk.teaser.blank?
          %p.lead
            = @talk.teaser

      -# Player
      .player-container
        -#= render partial: 'shared/player', locals: { talk: @talk }
        #talk-playbar.row.collapse
          %button.button.button-playbar.button-play-pause.state-play
            %span= naked_icon "play"
            %span.icon-uniE6B8.hide
          #meter
            #indicator{:style => "max-height: 11.4477px;"}
          %span.timecode 00:00
          .timeline
            .track-playing
          %span.timecode.right 45:20
          %button.button.button-playbar.button-volume.right.hide-for-small-only
            %span.icon-uniE6BE
            %span.icon-uniE6C1.hide
          .playbar-divider
          %button#view-slides2.has-tip.tip-top.tip-center.button.button-playbar.button-volume.right.hide-for-small-only{"aria-describedby" => "tooltip-imm27bsv0", "aria-haspopup" => "true", "data-options" => "disable_for_touch:true", "data-selector" => "tooltip-imm27bsv0", "data-tooltip" => "", :title => ""}
            -#%span.icon-uniE8A2


      -# date and play count
      .row.collapse
        #date-playcount.clearfix
          %span.float-left
            = time_ago_in_words(@talk.starts_at)
          %span.float-right
            = human_count(@talk.play_count) + t('.plays')
      -# Picture
      .row.collapse
        .talk-picture
          = image_tag @talk.image.thumb("1024x640#").url, class: 'image'
          %button#view-slides.button.button-playbar.button-volume.right.show-for-small-only{:title => "View Slides"}
            = naked_icon 'slides'
      .row.collapse
        #talk-actions.float-right.medium-4.large-3.columns
          %ul.button-group.float-right
            %li
              - if current_user
                .pinboard{ class: "pin-Talk-#{@talk.id}" }
                  - if reminder = current_user.remembers?(@talk)
                    = render partial: 'reminders/unpin', locals: { reminder: reminder, msg: 'pin' }
                    %p= t('.pinny')
                  - else
                    = render partial: 'reminders/pin', locals: { rememberable: @talk, msg: 'unpin' }
                    %p= t('.pin')
              - else
                -# display a fake pin button
                .pinboard
                  = link_to talk do
                    .pin-placeholder
              
                  
            %li
              %a.button.small{"data-open" => "share-modal"}
                = naked_icon 'share'
                %span.action-name= t('.share')
            %li
              %a.button.small{:href => "#comment-container"}
                = naked_icon 'chat'
                %span.comment-count.show-for-small-only 3
                %span.action-name= t('.comments')
            %li.hide-for-small-only
              %a.button.small{"data-animation" => "fade", "data-animationspeed" => "200", "data-open" => "embed-modal"}
                = naked_icon 'embed'
                %span.action-name= t('.embed')
            %li.hide-for-small-only
              %a.button.small{"data-animation" => "fade", "data-animationspeed" => "200", "data-open" => "card-modal"}
                = naked_icon 'podcast'
                %span.action-name= t('.podcast')
        #talk-description.left.medium-8.large-9.columns

          = @talk.description_as_html.html_safe
         
          -#TODO: Meta data like Category, Tags, Format, License, etc.
          -#.format-box.speaker.float-left
          -#  Categories:
          -#  %a{:href => "#"} Conference
          -#.format-box
          -#  Tags:
          -#  = succeed "," do
          -#    %a{:href => "#"} Theater
          -#  = succeed "," do
          -#    %a{:href => "#"} Bücher
          -#    %a{:href => "#"} Krimi
          -#.format-box
          -#  Format:
          -#  %a{:href => "#"} Roundtable
          -#.format-box
          -#  License:
          -#  %a{:href => "#"} Creative Commons
      

    -#Comment Stuff
    .bottom-container.row.collapse.clearfix
      #comment-container.clearfix
        -# TODO: integrate the Discussion logic. These are here for visual reference...
        .comment.small-12.columns.float-center
          %h3 
            = naked_icon 'chat'
            = t('.comments')
          .panel
            %p{:contenteditable => "true"} Share your thoughts here.
          %button.button.float-right.small.secondary.btn-hover-blue Post
          %button.button.float-right.cancel.small.hollow.btn-hover-red.btn-gray Cancel
        .small-12.columns.previous-comments
          .row.collapse.comment-block
            .comment-meta.small-3.columns
              %p
                = image_tag 'dude.png', class: 'comment-avatar'
              %p.post-author The Dude
              %p.post-time 2 min ago
            .comment-content.small-8.small-offset-1.medium-9.medium-offset-0.columns
              %p.meta-info Look, let me explain something. I'm not Mr. Lebowski;  you're Mr. Lebowski.  I'm the Dude.  So that's  what  you  call me.  That, or Duder. His Dudeness.Or El Duderino, if, you know, you 're not into the whole brevity thing--
          .row.collapse.comment-block
            .comment-meta.small-3.columns
              %p
                = image_tag 'walter.png', class: 'comment-avatar'
              %p.post-author Walter Sobchak
              %p.post-time 3 min ago
            .comment-content.small-8.small-offset-1.medium-9.medium-offset-0.columns
              %p.meta-info HAS THE WHOLE WORLD GONE CRAZY?  AM I THE ONLY ONE HERE WHO GIVES A SHIT ABOUT THE RULES?  MARK IT ZERO!
          .row.collapse.comment-block
            .comment-meta.small-3.columns
              %p
                = image_tag 'lebowski.png', class: 'comment-avatar'
              %p.post-author Big Lebowski
              %p.post-time 5 min ago
            .comment-content.small-8.small-offset-1.medium-9.medium-offset-0.columns
              %p.meta-info It's funny.  I can look back on a life of achievement, on challenges met, competitors bested, obstacles overcome.  I've accomplished more than most men, and without the use of my legs.  What. . . What makes a man, Mr. Lebowski?
  -# Right side
  #right-sidebar.medium-3.columns.clearfix
    .row.collapse
      %h3
        Recommended Talks
      = render partial: 'shared/talk_card', collection: @related_talks
      
    %h1.text-center.show-for-small-only
      %a{:href => "#"} What is Voice Republic?

-# modal


#embed-modal.reveal.small{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
  %h2#modalTitle= t('.embed_this_talk')
  %p.lead Copy and paste the following code into your web site:
  %textarea{:rows => "3"}= render partial: 'embedded', locals: { embedded: @talk, width: 445, height: 140 }
  %button.close-button{"aria-label" => "Close modal", "data-close" => "", :type => "button"}
    %span{"aria-hidden" => "true"} ×
-# modal
#pin-modal.reveal.medium{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
  %h2#modalTitle This Talk has been pinned to your Feed!
  %button.button.small Go to my Feed
  %button.close-button{"aria-label" => "Close modal", "data-close" => "", :type => "button"}
    %span{"aria-hidden" => "true"} ×
-# modal
#card-modal.reveal.small{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
  %h2#modalTitle Launch Your Podcatcher?
  %p.lead
    %button.button.hollow.btn-hover-yellow= t('.launch')
  %button.close-button{"aria-label" => "Close modal", "data-close" => "", :type => "button"}
    %span{"aria-hidden" => "true"} ×
-# modal
#share-modal.reveal.medium{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
  .row.collapse
    %h2#modalTitle Share This Talk
  .small-6.columns
    %ul.menu.vertical
      %li
        %a.button.small.btn-hover-yellow
          = naked_icon 'facebook'
          = t('.facebook')
      %li
        %a.button.small.btn-hover-yellow
          = naked_icon 'twitter'
          = t('.twitter')
      %li
        %a.button.small.btn-hover-yellow
          = naked_icon 'email'
          = t('.mail')
        
  .small-6.columns
    = image_tag @talk.flyer.path, class: 'flyer'
    %a.button.small.btn-hover-yellow.send-card
      %span.icon-uniE909
        = naked_icon 'airplane'
        = t('.send_card')
  %button.close-button{"aria-label" => "Close modal", "data-close" => "", :type => "button"}
    %span{"aria-hidden" => "true"} ×