-# find states under angular/controllers/livepage.js.coffee

- content_for :head do
  = render 'shared/social_meta_tags'
- content_for :title do
  = t('.title', title: @talk.title)


%p#notice(style='display: none;')= notice

.row(style='padding: 200px' ng-hide='true')
  .large-12.text-center= t('.initializing')

.layout-talk(ng-controller='Livepage' ng-cloak ng-class="{'state-talk-live': talkIsLive()}")
  .header-block(style="background-image: url(#{@talk.image.url})")

    %section.talk-title-box.row.collapse.text-center
      .large-12.columns

        .breadcrumbs-box.text-left
          = link_to user_path(@talk.user) do
            %span.icon-person
            %span.link-text= @talk.user.name
          .bc-delimiter >
          = link_to @talk.venue do
            %span.icon-ellipsis
            %span.link-text= @talk.venue.title
          .bc-delimiter >

          .links-box
            - unless current_user.remembers?(@talk)
              - if (!current_user || current_user.guest)
                %a(class="link-remember" data-reveal-id="modal-login-signup" ng-show='userIsAListener()')
                  %span.icon-plus
                  %span.link-text= t('.remember')
              - else
                - url = [ @talk, :reminders ]
                = link_to url, method: 'post', class: "link-remember" do
                  %span.icon-plus
                  %span.link-text= t('.remember')

            = link_to '#', 'data-reveal-id' => "modal-flyer", class: "link-flyer", 'data-ga-event' => "click talk flyer talk:#{@talk.id}" do
              %span.icon-flyer
              %span.link-text= t('.send_card')
          #modal-flyer.reveal-modal.text-center(data-reveal)
            = image_tag @talk.flyer.path
            %p
              = link_to @talk.flyer.path, 'download' => 'true' do
                %span.icon-download-2
                = t('.download_flyer')


        = render partial: 'shared/social_share', locals: { shareable_id: @talk.id, shareable_type: 'talk' }
        %h2.talk-title
          = @talk.title
        .talk-teaser(ng-show='showTalkTeaser()')
          = @talk.teaser
        .talk-date-time
          = t('.date_start_end', date: l(@talk.starts_at, format: :date_only),
          start_time: l(@talk.starts_at, format: :time_only),
          end_time: l(@talk.ends_at, format: :time_only))


        -#PLAYER TODO: better integrate player with angularjs
        - if @talk.archived?
          -# PLAYER
          = render partial: 'shared/player', locals: { talk: @talk }
          .talk-archived-actions-box.row.collapse
            .small-12.columns
              .right
                = render partial: 'shared/hide_for_anon', locals: { link: link_to_podcast(@talk.venue) }
                = link_to '#',
                  class: 'button-embed',
                  title: t('.embed_player'),
                  'data-reveal-id' => "modal-embed",
                  'data-ga-event' => "click talk embed talk:#{@talk.id}" do
                  = succeed t('.embed') do
                    %span.icon-code
                #modal-embed.reveal-modal.text-center(data-reveal)
                  %h3.color-black= t('.embed_this_talk')
                  %textarea
                    <iframe width="445" height="220" src="#{embed_url(@talk)}" frameborder="0" scrolling="no" allowfullscreen></iframe>
                  %span.embed-help-text= t('.copy_this_code_and_paste_into_your_website')
                  %a.close-reveal-modal= raw '&#215;'

              .play-count.left
                = t('.plays', count: @talk.play_count)

      %a.info-link(ng-show="showInfoLink()" href="#" title="#{t('.show_all_information')}" data-reveal-id="modal-info")
        %span.icon-info

      #modal-info.reveal-modal(data-reveal="true")
        %h2.talk-title
          = @talk.title
        .talk-teaser
          = @talk.teaser
        .talk-date-time
          = t('.date_start_end', date: l(@talk.starts_at, format: :date_only),
          start_time: l(@talk.starts_at, format: :time_only),
          end_time: l(@talk.ends_at, format: :time_only))
        .talk-info-text
          = @talk.try(:description).try(:html_safe)
        %a.close-reveal-modal= raw '&#215;'

      .sidebar-right.hide-for-small
        - if can? :manage, @talk
          = link_to t('.edit_talk'),[:edit, @venue, @talk], 'ng-hide' => 'talkIsHalflive() || talkIsLive()', class: 'button-vr button-live button-edit-talk text-center'

        - if @talk.related_talk
          %section.row.collapse.text-center.related-talk
            .large-12.columns
              .related-title-box.text-left
                = link_to t('.related_talk'), @talk.related_talk
              %ul.list-style-type-none
                = render partial: "shared/talk_small_box", locals: { talk_small_box: @talk.related_talk, color: 'box-transparent' }
        - elsif @talk.next_talk
          %section.row.collapse.text-center.related-talk
            .large-12.columns
              .related-title-box.text-left
                = link_to t('.next_talk'), @talk.next_talk
              %ul.list-style-type-none
                = render partial: "shared/talk_small_box", locals: { talk_small_box: @talk.next_talk, color: 'box-transparent' }

        - if current_user.guest?
          .vr-banner
            = link_to '#', 'data-reveal-id' => "vr-banner-modal" do
              %h3
                = t('.banner_title')
              %p
                = raw t('.banner_text')
            %a.close-x(data-toggle-stuff=".vr-banner")
              = raw '&times;'

          #vr-banner-modal.reveal-modal(data-reveal)
            = image_tag 'vr_infografic.png'
            = link_to '#', class: "close-reveal-modal" do
              &#215;

    .talk-timeline-box.row.collapse
      .medium-12.columns.text-center

        .trouble-message(ng-show='trouble()') {{trouble()}}
        - unless @talk.archived?
          .reload-message(ng-show='talkIsArchived()')
            = link_to t('.please_reload_this_page'), @talk
          .processing-message(ng-show='talkIsProcessing()')
            %a= t('.talk_is_processing')
            .progress
              %span.meter(style='{{progress()}}')

        .talk-countdown.text-center(ng-show='showCountdown()')
          = raw t('.countdown_text')
          {{ countdown }}

        .talk-live-timeline(ng-show='talkIsHalflive() || talkIsLive()')
          .talk-timeline
            .talk-timeline-progress(style='width: {{talkProgress}}%')
          .talk-state-info
            .talk-state-bullet
            = t('.state_text')
            - if @talk.collect?
              %span.record-text= t('.record_text')
            .talk-timecounter
              %span.right-text-space= t('.ends_in')
              {{ countdown }} MIN

        .mute-stream-box(ng-show='talkIsHalflive() || talkIsLive()')
          %a(href="#" title="#{t('.mute_streams')}" ng-click='setVolume(0)')
            %span.icon-volume-mute
          %a(href="#" title="#{t('.unmute_streams')}" ng-click='setVolume(1)')
            %span.icon-volume-mute2.hide

        %a(href="#" ng-show='showEndTalk()' ng-click='endTalk()' class="button-vr button-live button-end-talk text-center")= t('.end_talk')

    .talk-talkers-box.row(ng-show="talkIsPrelive() || talkIsHalflive() || talkIsLive() || talkIsPostlive() || talkIsProcessing()")
      .large-12.columns.text-center
        .stage-title
          =t('.stage')
        - unless @talk.speakers.blank?
          .speakers-box
            %h3= t('.speakers', count: @talk.speakers.split(',').size)
            %p= @talk.speakers
        - else
          .avatar.avatar-host
            .avatar-box
              = render partial: "shared/avatar", locals: { user: @talk.venue.user, size: 62 }
              .avatar-name.text-center
                = link_to @talk.venue.user.name, user_path(@talk.venue.user)
          .avatar(ng-repeat="user in guests()")
            .avatar-box
              = render partial: "shared/avatar", locals: { size: 62 }
              .avatar-name.text-center
                %a(href="{{user.link}}")
                  {{ user.name }}
            .host-actions(ng-show='showHostActions()')
              %a.guest-demote-link(href="#" title="#{t('.dismiss')}" ng-click="demote(user.id)")
                = raw t('.demote')

      -# START BUTTON FOR HOST
      .start-overlay(ng-show='showStartButton()')
        .row.text-center
          .left-text.small-4.columns= t('.start_text_top')
          .button-column.small-4.columns
            %a.button-start(href="#" ng-click='startTalk()')= t('.start')
          .right-text.small-4.columns= t('.start_text_bottom').html_safe

      -# MESSAGE FOR LISTENER
      .start-overlay(ng-show='showUnstartedMessage()')
        .row.text-center
          .unstarted-message
            = t('.unstarted_message')

    .talk-more-talks-box.row.collapse-large-only(ng-show="talkIsArchived()")
      .large-12.columns
        .more-talks-title-box.text-left
          = link_to t('.more_talks'), @talk.venue
        %ul.user-talks-slider.list-style-type-none
          = render partial: 'shared/talk_small_box', collection: @related_talks, locals: { color: 'box-transparent'}

    .talk-participant-actions-box.row(ng-show='showParticipantActionsBox()')
      .large-12.columns.text-center

        %a.bandwidth-box.clearfix(href="#" data-reveal-id="modal-bandwidth" ng-show='showBandwidth()')
          .info.left
            %span.icon-info
          #modal-bandwidth.reveal-modal.text-left(data-reveal)
            = t('.bandwidth_tooltip').html_safe
          .upstream-box.left(ng-class="feedback.data.class")
            %h3= t('.you_are_streaming_with')
            %span.icon-upload(ng-init="feedback.data.kb = 0")
            {{feedback.data.kb}} KB/s

        .background-box(ng-class="{'state-onair' : showOnAir(),'state-acc_dec' : showAcceptOrDecline(),'state-awaiting_mic' : showAwaitingMic(), 'state-muted-mic': muteState, 'state-prelive' : showPrelive()}")
          .avatar
            .avatar-box
              = render partial: "shared/avatar_image", locals: { user: current_user, size: 50 }
          .mic-sign-box
            %span.icon-octa-full
            %span.icon-octagon
            %span.icon-unmute
            %span.icon-mute

          .request-mic-box(ng-show='flags.reqmic')
            .arrow
              .arrow-head
            .button-action(ng-click='requestMic()')
              = t('.request_mic')
          -# FAKE LINK
          .request-mic-box(ng-show='userIsAListener()')
            .arrow
              .arrow-head
            %a(class="button-action" data-reveal-id="modal-login-signup")
              = t('.request_mic')
            #modal-login-signup.reveal-modal.text-left(data-reveal)
              %p.redirect-text
                = t('.redirect_text')
              = link_to t('.login'), new_user_session_path, class: 'overlay-button left'
              = link_to t('.signup'), new_user_registration_path, class: 'overlay-button right'
              %a.close-reveal-modal= raw '&#215;'


          .awaiting-mic-box(ng-show='showAwaitingMic()')
            .arrow
              .arrow-head
            .button-action
              = t('.awaiting_mic_request')
              .cancel-link(ng-click='cancelMicRequest()')
                = t('.cancel')

          .acc-dec-box(ng-show='showAcceptOrDecline()')
            .invitation-text
              = t('.talk_invitation')
            .button-action(ng-click='acceptPromotion()')
              = t('.accept_promotion')
            .decline-link(ng-click='declinePromotion()')
              = t('.decline_promotion')

          .prelive-box(ng-show='showPrelive()')
            .prelive-text
              = t('.prelive_text')
              %a.tooltip-simple(href="#")
                %span.icon-info
                %span.tooltip-overlay
                  = t('.prelive_tooltip')

          .onair-box(ng-show='showOnAir()')
            .onair-text
              = t('.you_are_on_air')
            .mute-box(ng-click='toggleMicMute()')
              %span.button-mute(ng-hide='muteState')= t('.mute_mic')
              %span.button-unmute(ng-show='muteState')= t('.unmute_mic')

        .button-audio-settings(ng-click='toggleShowSettings()')
          %span.icon-equalizer
          %br
          %span.audio-settings-text= t(".audio_settings")

    .flash-content.text-center(ng-class="{'state-on': showSettings()}")
      .flash-box
        .flash-border
          %h3.flash-title= t('.audio_settings_title')
          .alert-box.alert(ng-show='!hasFlash()')
            #flash_error
              = raw t('require_flash')
              %br/
              %a(href='javascript:closePopup()')= t('.noflash_close_popup')
          .loading-audio-setup(ng-hide='!hasFlash() || flags.blackboxReady')
            %span.icon-mic
            = t('.setting_up_audio')
        #flashContent
        %a(ng-show='flags.blackboxReady' href="http://blog.voicerepublic.com/audio-faq/" class="need-help" target="blank")
          =t('.need_help')

      -# TODO: Rewrite audio-faq and publish the link again
      -#= link_to 'http://blog.voicerepublic.com/audio-faq/', class: 'link-tutorial', target: 'blank' do
      -#  %p
      -#    = raw t('.audio_settings_help_text')

  .row.collapse-large-only
    .large-12.columns

      -# DESCRIPTION
      #description.description-block
        .description-content(ng-class="{'collapse': descriptionCollapsed()}")
          -#%h3= t('.description')
          .description-innerheight
            = @talk.try(:description).try(:html_safe)
          %span.more-link(ng-show="descriptionCollapsable()" ng-click="toggleDescription()")
            %span(ng-show="descriptionCollapsed()")= t('.more')
            %span(ng-hide="descriptionCollapsed()")= t('.less')

      .participants-and-discussion

        -# DISCUSSION
        - unless @talk.venue.opts.suppress_chat
          #discussion.discussion-block
            %h3.title-discussion
              =t('.discussion')

            .chat-input-box(ng-hide='userIsAListener()')
              .avatar
                .avatar-box
                  = render partial: "shared/avatar", locals: { user: current_user, size: 40 }
              %input(ng-model='message.content' ng-keyup='messageKeyup($event)'){:placeholder => t('.chat_placeholder')}

            .chat-input-box(ng-show='userIsAListener()')
              .avatar
                .avatar-box
                  = render partial: "shared/avatar_image", locals: { user: current_user, size: 40 }
              %a(class="chat-fake-link" ng-show="userIsAListener()" data-reveal-id="modal-login-signup")
                = t('.chat_placeholder')

            .message-box
              .chat-message(ng-repeat='message in discussion')
                .avatar
                  .avatar-box
                    = render partial: "shared/avatar", locals: { size: 38 }
                .message-content
                  %span.message-name
                    {{ message.name }}
                  %span.message-time
                    {{ message.created_at }}
                  .message-text
                    {{ message.content }}

        -# PARTICIPANTS: LISTENERS, MIC REQUESTS, INVITES
        - unless @talk.venue.opts.suppress_chat
          #participants.participants-box

            .promotion-counter-box
              .exp-counter(ng-show='expectingPromotion().length' title="#{t('.mic_requests')}")
                .icon-octa-full
                .icon-octagon
                .number.text-center
                  {{ expectingPromotion().length }}
              .acc-counter(ng-show='acceptingPromotion().length' title="#{t('.stage_invitations')}")
                .icon-octa-full
                .icon-octagon
                .number.text-center
                  {{ acceptingPromotion().length }}

            .participants-content
              .empty-box(ng-class="{'state-hidden': expectingPromotion().length || acceptingPromotion().length || participants().length}")
                %h3= t('.listeners')
                %p= t('.empty_text')

              .expecting-promotion(ng-show='expectingPromotion().length')
                %h3= t('.mic_requests')
                %ul.list-style-type-none
                  %li.avatar(ng-repeat="user in expectingPromotion()")
                    .avatar-box
                      = render partial: "shared/avatar", locals: { size: 38 }
                      .avatar-name
                        %table
                          %tr
                            %td
                              %a(href="{{ user.link }}")
                                {{ user.name }}
                    .host-actions(ng-show='showHostActions()')
                      .give-mic-link.text-center(ng-click="promote(user.id)")
                        = t('.give_the_mic')

              .accepting-promotion(ng-show='acceptingPromotion().length')
                %h3= t('.stage_invitations')
                %ul.list-style-type-none
                  %li.avatar(ng-repeat="user in acceptingPromotion()")
                    .avatar-box
                      = render partial: "shared/avatar", locals: { size: 38}
                      .avatar-name
                        %table
                          %tr
                            %td
                              %a(href="{{ user.link }}")
                                {{ user.name }}

              .participating(ng-show='participants().length')
                %h3= t('.listeners')
                %ul.list-style-type-none
                  %li.avatar(ng-repeat="user in participants()")
                    .avatar-box
                      = render partial: "shared/avatar", locals: { size: 38}
                      .avatar-name
                        %table
                          %tr
                            %td
                              %a(href="{{ user.link }}")
                                {{ user.name }}
                    .host-actions(ng-show='showHostActions()')
                      .guest-promote-link.text-center(ng-click="promote(user.id)")
                        = t('.invite_to_stage')

              .listening(ng-show="listeners().length")
                %h3
                  {{ listeners().length }}
                  = t('.anonymous_listener')

.scripts
  :javascript
    window.insider = #{current_user.insider?};
    window.console.off = #{!!(Settings.disable_js_debugging && !current_user.insider?)};
  = javascript_include_tag 'sencha'
  = render 'config'
