%p#notice(style='display: none;')= notice

.row(style='padding: 200px' ng-hide='true')
  .large-12.text-center= t('.initializing')

.layout-talk(ng-controller='Livepage' ng-cloak)
  .header-block(style="background-image: url(#{@talk.image.url})")

    .talk-state.text-center
      .span(ng-show='talkIsPrelive()')
        talk is prelive
        .onHold(ng-show="countdownInSeconds < 0") talk is on hold, waiting to start
      .span(ng-show='talkIsLive()') talk is live
      .span(ng-show='talkIsPostlive()') talk is postlive 

    = render partial: '/shared/social_share', locals: { shareable_id: @talk.id, shareable_type: 'talk' }

    .generic-action-bar.row.collapse
      .large-12.columns
        %ul.button-group.right
          - if can? :manage, @talk
            %li= link_to t('.download_messages'),
              "/venues/#{@talk.venue.id}/talks/#{@talk.id}.text", class: 'button tiny'
            - if !@talk.live?
              %li= link_to t('.edit_talk'), [:edit, @venue, @talk], class: 'button tiny'

            / %li= link_to t('.delete_talk'), [@venue, @talk], class: 'button tiny',
            /   method: :delete, data: { confirm: t('.confirm_delete',
            /   default: 'Are you sure?' ) }

            %li(ng-show='showEndTalk()')
              %button.button.tiny(ng-click='endTalk()')
                = t('.end_talk')

    %section.talk-title-box.row.collapse.text-center
      .large-12.columns
        .talk-venue-title
          = link_to @talk.venue.title, @talk.venue
        -#.talk-host-name
        -#  = @talk.user.name
        %h2.talk-title
          = @talk.title
        .talk-teaser
          = @talk.teaser
        -#%h3.talk-tags
        -#  = @talk.tag_list
        .talk-date-time
          = t('.date_start_end', date: l(@talk.starts_at, format: :date_only),
          start_time: l(@talk.starts_at, format: :time_only),
          end_time: l(@talk.ends_at, format: :time_only))

    .talk-timeline-box.row.collapse
      .medium-12.columns.text-center
        -# TODO: better integrate player with angularjs
        - if @talk.archived?
          = render partial: 'shared/player', locals: { talk: @talk }
        - else
          %div(ng-show='talkIsArchived()')= t('.please_reload_this_page')
        .talk-live-timeline(ng-show='talkIsLive()')
          .talk-timeline
            .talk-timeline-progress(style='width: {{talkProgress}}%')
          .talk-state-info
            .talk-state-bullet
            = t('.state_text')
            - if @talk.record?
              %span.record-text= t('.record_text')
            .talk-timecounter
              %span.right-text-space= t('.ends_in')
              {{ countdown }} MIN

    .talk-talkers-box.row
      .large-12.columns.text-center
        .avatar.avatar-host
          .avatar-box
            = render partial: "shared/avatar_image", locals: {user: @talk.venue.user, img_size: 100}
            .avatar-name.text-center
              {{ config.host }}
            .host-banner
              %span= t('.host')
        .avatar(ng-repeat="guest in guests()")
          .avatar-box
            %img.avatar-img(ng-src="{{guest.image}}")
            -#= render partial: "shared/avatar_image", locals: {user: 'a_js', img_size: 100}
            -# http://stackoverflow.com/questions/15895483/angular-ng-href-and-svg-xlink
            .avatar-name.text-center
              {{ guest.name }}
          .host-actions(ng-show='showHostActions()')
            .guest-demote-link(ng-click="demote(guest.id)")
              = t('.demote')
      .mute-stream-box(ng-show='talkIsLive()')
        .mute-title= 'Talk:'
        .mute-stream
          %span(ng-click='setVolume(0)')= t('.mute_streams')
        .unmute-stream
          %span(ng-click='setVolume(1)')= t('.unmute_streams')

    .talk-live-mic-states-row.row.collapse-large-only
      .large-12.columns.text-center
        %span.participate-button(ng-show="userIsAListener()")
          - url = [ @talk.venue, :participations ]
          = link_to t('.participate'), url, method: 'post', class: 'button-vr button-header'
        #onair(ng-show='flags.onair')= t('.you_are_on_air')

        %button.button(ng-show='flags.reqmic'
                       ng-click='requestMic()')= t('.request_mic')
        %button.button(ng-show='flags.onair'
                       ng-click='mute()')= t('.mute_mic')
        %button.button(ng-show='flags.onair'
                       ng-click='unmute()')= t('.unmute_mic')
        %button.button(ng-show='flags.acceptOrDecline'
                       ng-click='acceptPromotion()')= t('.accept_promotion')
        %button.button(ng-show='flags.acceptOrDecline'
                       ng-click='declinePromotion()')= t('.decline_promotion')
        
        .flash-box.flash-box-open
          -#TODO Audio Settings Story
          .audio-settings-left-box.text-left
            .flash-manual-title
              = t('.flash_manual_title')
            %p= raw t('.audio_settings_flash_manual', delimiter: '<br />')
          #flashContent
          .audio-settings-right-box.text-left
            = link_to 'http://blog.voicerepublic.com', target: 'blank' do
              %p
                %i.fi-lightbulb
                =t('.audio_settings_help_text')

        .button-audio-settings(data-show-audio-settings=".flash-box")
          %i.fi-microphone
          = t(".audio_settings")

    .download.row(ng-show='talkIsArchived()')
      .large-12.columns.text-center
        %ul.button-group
          %li(ng-repeat='(ext, link) in mediaLinks')
            %a.button(href='{{link}}') {{ext}}

    .row.collapse-large-only
      .large-12.columns
        %dl.tabs.vr-tabs(data-tab="true")
          %dd.text-center
            %a(href="#talk-tab-description")
              %i.fi-page-csv
              = t('.description')
          - unless @talk.venue.opts.suppress_chat
            %dd.text-center
              %a(href="#talk-tab-discussion")
                %i.fi-list-thumbnails
                = t('.discussion')
          %dd.active.text-center
            %a(href="#talk-tab-participants")
              %i.fi-torsos-male-female
              = t('.participants')
              %span(ng-show='expectingPromotion().length')
                ({{ expectingPromotion().length }} #{t('.miqrec')})
              %span(ng-show='acceptingPromotion().length')
                ({{ acceptingPromotion().length }} #{t('.awaiting')})

  .talk-tabs-content-block
    .row
      .tabs-content.large-12.columns
        #talk-tab-description.content
          = @talk.try(:description).try(:html_safe)

        - unless @talk.venue.opts.suppress_chat
          #talk-tab-discussion.content
            .panel.callout.row(ng-hide="userIsAListener()")
              .large-3.columns= t('.you')
              %input.large-9.columns(ng-model='message.content' ng-keyup='messageKeyup($event)'){:placeholder => t('.chat_placeholder')}
            .panel(ng-repeat='message in discussion')
              {{ message.name }}: {{ message.content }}

        #talk-tab-participants.content.active
          .expecting_promotion(ng-show='expectingPromotion().length')
            %h3= t('.microphone_requests')
            .avatar(ng-repeat="parti in expectingPromotion()")
              .avatar-box
                %img.avatar-img(ng-src="{{parti.image}}")
                .avatar-name.text-center {{ parti.name }}               
              .host-actions(ng-show='showHostActions()')
                .guest-promote-link.text-center(ng-click="promote(parti.id)")
                  = t('.promote')
          .accepting_promotion(ng-show='acceptingPromotion().length')
            %h3= t('.awaiting_to_speak')
            .avatar(ng-repeat="parti in acceptingPromotion()")
              .avatar-box
                %img.avatar-img(ng-src="{{parti.image}}")
                .avatar-name.text-center {{ parti.name }}
          .participating(ng-show='participants().length')
            %h3= t('.participating')
            .avatar(ng-repeat="parti in participants()")
              .avatar-box
                %img.avatar-img(ng-src="{{parti.image}}")
                .avatar-name.text-center {{ parti.name }}
              .host-actions(ng-show='showHostActions()')
                .guest-promote-link.text-center(ng-click="promote(parti.id)")
                  = t('.promote')
          .listening(ng-show="listeners().length")
            %h3
              {{ session.listeners().length }}
              = t('.just_listening_in')

.scripts
  = javascript_include_tag 'livepage'
  = render 'config'
