= render partial: '/shared/social_share', locals: { shareable_id: @talk.id, shareable_type: 'talk' }

%p#notice(style='display: none;')= notice

.layout-talk(ng-controller='Livepage')
  .talk-upper-block(style="background-image: url(http://lorempixel.com/1200/600/people/1)")
    - if can? :manage, @talk
      .row
        .large-12.columns.text-right
          = link_to t('.edit_talk'), [:edit, @venue, @talk], class: 'button'
          = link_to t('.delete_talk'), [@venue, @talk], class: 'button',
            method: :delete, data: { confirm: t('.confirm_delete',
            default: 'Are you sure?' ) }
 
    %section.talk-title-box.row.text-center
      .large-12.columns
        .talk-venue-title
          = link_to @talk.venue.title, @talk.venue
        .talk-host-name
          = @talk.user.name
        %h2.talk-title
          = @talk.title
        %h3.talk-teaser
          = @talk.teaser
        %h3.talk-tags
          = @talk.tag_list
        .talk-date-time
          = l @talk.starts_at.to_date
          = l @talk.starts_at, format: :micro
          \-
          = l @talk.ends_at, format: :micro
        .talk-date-time
          {{ countdown }}
        #flashContent
        %h3(ng-show='talkIsPrelive()')
          talk is prelive
          .onHold(ng-show="countdownInSeconds < 0")
            talk is on hold, waiting to start
        %h3(ng-show='talkIsLive()') talk is live
        %h3(ng-show='talkIsPostlive()') talk is postlive

  .talk-live-row
    .row
      .talk-talkers-box.large-10.large-offset-1.columns
        .download(ng-show='talkIsArchived()')
          %ul
            %li(ng-repeat='(ext, link) in config.talk.links')
              %a(href='{{link}}') {{ext}}
        .debug
          %ul
            -# %li config: {{ config }}
            -# %li session: {{ session }}
            -# %li session.config: {{ session.config }}
            -# %li session.config.host: {{ session.config.host }}
            -# %li config.host: {{ config.host }}
            -# %li config.title: {{ config.title }}
            -# %li config.teaser: {{ config.teaser }}
            -# %li session.fsm.current: {{ session.fsm.current }}
            -# %li session.users: {{ session.users }}
            -# %li acceptOrDecline: {{ flags.acceptOrDecline }}
            -# %li onair: {{ flags.onair }}
            -# %li config.talk.state: {{ config.talk.state }}
            %li config.user.id: {{ config.user.id }}
            %li config.user.role: {{ config.user.role }}
            %li session.listeners(): {{ session.listeners() }}
            %li session.users: {{ session.users }}

        .host.avatar.avatar-host
          %p.avatar-name.text-center
            {{ config.host }}
          %img.avatar-img(src="http://lorempixel.com/80/80/people/1/")

        .guest.avatar(ng-repeat="guest in session.guests()")
          %span(ng-click="session.demote(guest.id)")
            %p.avatar-name.text-center
              {{ guest.name }}
            %img.avatar-img(ng-src="{{guest.image}}")

    .talk-live-mic-states-row.row
      .large-12.columns.text-center
        %span.participate-button(ng-show="config.user.role == 'listener'")
          - url = [ @talk.venue, :participations ]
          = link_to t('.participate'), url, method: 'post', class: 'button alert'
        #onair(ng-show='flags.onair') On Air
        %button.button(ng-show='showEndTalk()'
          ng-click='session.endTalk()')= t('.end_talk')
        %button.button(ng-show='flags.reqmic'
          ng-click='requestMic()') Request Mic
        %button.button(ng-show='flags.onair'
          ng-click='blackbox.mute()') Mute
        %button.button(ng-show='flags.onair'
          ng-click='blackbox.unmute()') Unmute
        %button.button(ng-show='flags.acceptOrDecline'
          ng-click='acceptPromotion()') Accept
        %button.button(ng-show='flags.acceptOrDecline'
          ng-click='declinePromotion()') Decline
        %button.button(ng-click='blackbox.setVolume(0)') Mute Streams
        %button.button(ng-click='blackbox.setVolume(1)') Unmute Streams

    .talk-tabs-box.row
      .large-12.columns
        %dl.tabs.talk-tabs(data-tab="true")
          %dd.text-center
            %a(href="#talk-tab-description")
              =t('.description')
          - unless @talk.venue.options[:suppress_chat]
            %dd.text-center
              %a(href="#talk-tab-discussion")
                =t('.discussion')
          %dd.active.text-center
            %a(href="#talk-tab-participants")
              Participants
              %span(ng-show='session.expectingPromotion().length')
                ({{ session.expectingPromotion().length }} MicReq.)
              %span(ng-show='session.acceptingPromotion().length')
                ({{ session.acceptingPromotion().length }} Await.)

  .talk-tabs-content-block
    .row
      .tabs-content.large-12.columns
        #talk-tab-description.content
          = @talk.try(:description).try(:html_safe)
        - unless @talk.venue.options[:suppress_chat]
          #talk-tab-discussion.content
            .panel.callout(ng-hide="config.user.role == 'listener'")
              %input(ng-model='message.content')
              %button(ng-click='sendMessage()')
            .panel(ng-repeat='message in session.discussion')
              {{ message.name }}: {{ message.content }}
        #talk-tab-participants.content.active
          .expecting_promotion(ng-show='session.expectingPromotion().length')
            %h3= t('.microphone_requests')
            .participant.avatar(ng-repeat="parti in session.expectingPromotion()")
              %span(ng-click="session.promote(parti.id)")
                %p.avatar-name.text-center {{ parti.name }}
                %img.avatar-img(ng-src="{{parti.image}}")
          .accepting_promotion(ng-show='session.acceptingPromotion().length')
            %h3= t('.awaiting_to_speak')
            .participant.avatar(ng-repeat="parti in session.acceptingPromotion()")
              %p.avatar-name.text-center {{ parti.name }}
              %img.avatar-img(ng-src="{{parti.image}}")
          .participating(ng-show='session.participants().length')
            %h3= t('.participating')
            .participant.avatar(ng-repeat="parti in session.participants()")
              %span(ng-click="session.promote(parti.id)")
                %p.avatar-name.text-center {{ parti.name }}
                %img.avatar-img(ng-src="{{parti.image}}")
          .listening(ng-show="session.listeners().length")
            %h3
              {{ session.listeners().length }}
              = t('.just_listening_in')

.scripts
  = javascript_include_tag 'livepage'
  = render 'config'


