- content_for :title do
  = t('.title', title: @talk.title)

- content_for :head do
  = social_meta_tags_talk

- content_for :javascripts do
  %script{ src: '/javascripts/pdf.js' }
  %script{ src: Settings.faye.server + '/client.js' }
  = javascript_include_tag 'faye-authentication'
  :javascript
    peaks = "#{talk.peaks || '{}'}";
    environment = #{Rails.env.to_json};
    fayeUrl = #{Settings.faye.server.to_json};

    if (window.Faye != undefined) {
      fayeClient = new Faye.Client(fayeUrl);
      fayeExtension = new FayeAuthentication(fayeClient);
      fayeClient.addExtension(fayeExtension);
    }

    console.off = #{!!(Settings.disable_js_debugging && !current_user.try(:insider?))};

    translations = #{t('frontend.talks').to_json};

    isHost = #{(current_user == @talk.user).to_s};
    currentUser = #{current_user.try(:details).to_json || 'null'};

    signInPath = #{new_user_session_path.to_json};
    initialSnapshot = #{@talk.snapshot.to_json};

    pinId = #{@reminder.try(:id) || 'null'};
    podcastUrl = #{podcast_url_new(@talk.series).to_json};
    itunesUrl = #{itunes_url(@talk.series).to_json};

    pdfWorkerSrc = '/javascripts/pdf.worker.js';
  = javascript_include_tag 'cljs' unless params[:nocljs]

-# An initial autoplay sound is needed to properly
-# initialize blink based mobile browsers.
-#
-# If `crossOrigin='anonymous'` doesn't seem to work properly
-# check if S3 has 'forgotten' about the CORS headers.
-# Just happened to me and took me a while to figure it out.
%audio#audio(src='/audio/silence.mp3' autoplay='autoplay' crossOrigin='anonymous')

#modals

#main-column.clearfix
  #publisher-options-holder
  #app
    .loading-message.medium-8.medium-offset-2.columns
      .loading-graphic
        = render partial: 'explore/loading'
        %p.text-center.loading= t('.loading')
        %h1= @talk.title
        = render partial: 'shared/autoplay_warning' if @talk.live?
  #right-sidebar.float-right.medium-3.columns.clearfix.qa-related-talks.hide
    .row.collapse
      %h3
        Recommended Talks
      - unless %w(pending postlive processing suspended).include?(@talk.state)
        = render partial: 'shared/talk_card', collection: @related_talks



-# hidden div for qa
.qa.talks-show= @talk.id
