.layout-talk(ng-controller='Livepage')
  .talk-upper-block{ :style => "background-image: url(http://lorempixel.com/1200/600/people/1)"}
    %section.talk-title-box.row.text-center
      .large-12.columns
        .talk-venue-title
          = link_to @talk.venue.title, @talk.venue
        .talk-host-name
          = @talk.user.name
        %h2.talk-title
          = @talk.title
        %h3.talk-teaser
          = @talk.teaser
        %h3.talk-tags
          = @talk.tag_list
        .talk-date-time MAY 6, 2014 | 17:00 -17.30
        .talk-date-time
          {{ countdown }}
        #flashContent

  .talk-live-row
    .row
      .talk-talkers-box.large-10.large-offset-1.columns
        .debug
          %ul
            -#%li config: {{ config }}
            %li session: {{ session }}
            %li session.config: {{ session.config }}
            %li session.config.host: {{ session.config.host }}
            %li config.host: {{ config.host }}
            %li config.title: {{ config.title }}
            %li config.teaser: {{ config.teaser }}
            %li session.fsm.current: {{ session.fsm.current }}
            %li session.users: {{ session.users }}
            %li config.onair: {{ config.onair }}
        .host.avatar.avatar-host      
          %p.avatar-name.text-center
            {{ config.host }}
          %img.avatar-img(src="http://lorempixel.com/80/80/people/1/")
          
        .guest.avatar(ng-repeat="guest in session.guests()")
          %span(ng-click="session.demote(guest.id)")
            %p.avatar-name.text-center
              {{ guest.name }}
            %img.avatar-img(ng-src="{{guest.image}}")
    
    .talk-live-mic-states-row.row
      .large-12.columns.text-center
        #onair(ng-show='config.onair') On Air
        %button.button(ng-show='session.isListening()' ng-click='session.fsm.RequestedMic()') Request Mic
        %button.button(ng-show='session.isOnAir()' ng-click='blackbox.mute()') Mute Mic
        %button.button(ng-show='session.isOnAir()' ng-click='blackbox.unmute()') Unmute Mic 
        %button.button(ng-click='blackbox.setVolume(0)') Mute Streams
        %button.button(ng-click='blackbox.setVolume(1)') Unmute Streams
    
    .talk-tabs-box.row
      .large-12.columns
        %dl.tabs.talk-tabs(data-tab="true")
          %dd.text-center
            %a(href="#talk-tab-description")
              =t('.description')
          %dd.text-center
            %a(href="#talk-tab-discussion")
              =t('.discussion')
          %dd.active.text-center
            %a(href="#talk-tab-participants")
              =t('.participants')

  .talk-tabs-content-block
    .row
      .tabs-content.large-12.columns     
        #talk-tab-description.content
          = @talk.description.html_safe
        #talk-tab-discussion.content
          %p
            Some discussion here
        #talk-tab-participants.content.active
          .participant.avatar(ng-repeat="participant in session.participants()")
            {{participant}}
            %span(ng-click="session.promote(participant.name)")
              %p.avatar-name.text-center
                {{ participant.name }}
              %img.avatar-img(ng-src="{{participant.image}}")
  
.chat

.log

.scripts
  %script(src='/assets/livepage.js')
  = render 'config'
        

%p#notice= notice

.draft
  = image_tag @talk.image.thumb('400x200#').url if @talk.image_stored?
  %h2 This is the common part.
  %p= @talk.user.name  
  %p= @talk.title
  %p= @talk.teaser

.draft
  %h2 This will be the new talk page (prelive).
  %p
    = l(@talk.starts_at, format: :designed)
    —
    = distance_of_time_in_words(@talk.starts_at, @talk.ends_at)
    (#{@talk.duration} minutes)
  %p
    starts in
    = distance_of_time_in_words_to_now(@talk.starts_at)
    (#{@talk.starts_in} seconds)

.draft
  %h2 This will be the new talk page (live).

  %p
    ends in
    = distance_of_time_in_words_to_now(@talk.ends_at)
    (#{@talk.ends_in} seconds)
  %p= link_to t('.edit'), [:edit, @venue, @talk]
  %p= link_to t('.delete'), [@venue, @talk], method: :delete, data: { confirm: t('.confirm_delete', default: 'Are you sure?' ) }
  %p TODO progressbar
  %p TODO host and quests

