- content_for :head do
  = render 'shared/social_meta_tags'
- content_for :title do
  = t('.title', title: @talk.title)

%p#notice(style='display: none;')= notice

.row(style='padding: 200px' ng-hide='true')
  .large-12.text-center= t('.initializing')

.layout-talk(ng-controller='Livepage' ng-cloak)
  .header-block(style="background-image: url(#{@talk.image.url})")

    .talk-state.text-center
      .span(ng-show='talkIsPrelive()')
        = t('.talk_is_prelive')
        .onHold(ng-show="countdownInSeconds < 0") talk is on hold, waiting to start
      .span(ng-show='talkIsLive()') talk is live
      .span(ng-show='talkIsPostlive()') talk is postlive

    - if @talk.related_talk
      %section.talk-title-box.row.collapse.text-center.related_talk
        .breadcrumbs-box.text-left
          = link_to t('.related_talk'), @talk.related_talk
          .large-12.columns
            = render partial: "shared/talk_medium_box", locals: { talk_medium_box: @talk.related_talk }
    %section.talk-title-box.row.collapse.text-center
      .large-12.columns
        - if can? :manage, @talk
          .generic-actions-box
            = link_to "#", class: "action-toggle", "data-toggle-stuff" => "#action-links-list" do
              %span.icon-cog
            %ul#action-links-list.list-style-type-none.hide-stuff
              - if !@talk.live?
                %li= link_to t('.edit_talk'), [:edit, @venue, @talk]

              %li(ng-show='showEndTalk()')
                %a(href="#" ng-click='endTalk()')= t('.end_talk')

              -#
                %li= link_to t('.download_messages'),
                  "/venues/#{@talk.venue.id}/talks/#{@talk.id}.text"
        .breadcrumbs-box.text-left
          = link_to user_path(@talk.user) do
            %span.icon-person
            %span.link-text= @talk.user.name
          .bc-delimiter >
          = link_to @talk.venue do
            %span.icon-ellipsis
            %span.link-text= @talk.venue.title
          .bc-delimiter >

          .flyer-link-box
            = link_to '#', 'data-reveal-id' => "modal-flyer" do
              %span.icon-flyer
              %span.link-text= t('.send_card')
          #modal-flyer.reveal-modal.text-center(data-reveal)
            = image_tag '/images/flyer_placeholder.png'
            %p
              = link_to '/images/flyer_placeholder.png', 'download' => 'true' do
                %span.icon-download-2
                = t('.download_flyer')


        = render partial: '/shared/social_share', locals: { shareable_id: @talk.id, shareable_type: 'talk' }
        %h2.talk-title
          = @talk.title
        .talk-teaser
          = @talk.teaser
        .talk-date-time
          = t('.date_start_end', date: l(@talk.starts_at, format: :date_only),
          start_time: l(@talk.starts_at, format: :time_only),
          end_time: l(@talk.ends_at, format: :time_only))

        -# TODO: better integrate player with angularjs
        - if @talk.archived?
          -# PLAYER
          = render partial: 'shared/player', locals: { talk: @talk }
          .talk-archived-actions-box.row.collapse
            .small-12.columns
              .download-link-box.right(ng-show='talkIsArchived()')
                = link_to '#', title: t('.download_talk'), class: 'download-link', 'data-reveal-id' => "modal-download" do
                  %span.icon-download-2
              #modal-download.reveal-modal.text-center(data-reveal)
                %h3.color-black= t('.download_talk')
                %ul.button-group.text-center
                  %li(ng-repeat='(ext, link) in mediaLinks')
                    %a.button-standard(href='{{link}}' download) {{ext}}
                %a.close-reveal-modal= raw '&#215;'

              .embed-link-box.right
                = link_to '#', class: 'embed-link', title: t('.embed_player'), 'data-reveal-id' => "modal-embed" do
                  = raw '&lt;&#47;&gt;'
              #modal-embed.reveal-modal.text-center(data-reveal)
                %h3.color-black= t('.embed_this_talk')
                %textarea
                  <iframe width="560" height="315" src="//#{request.host}/embed_talk?id=#{@talk.id}" frameborder="0" allowfullscreen></iframe>
                %span.embed-help-text= t('.copy_this_code_and_paste_into_your_website')
                %a.close-reveal-modal= raw '&#215;'

              .play-count.left
                = link_to '#', title: t('.plays', count: @talk.play_count) do
                  %span.icon-play
                  = @talk.play_count


    .talk-countdown.row(ng-show='talkIsPrelive()')
      .medium-12.columns.text-center
        .cd-text
          = raw t('.countdown_text')
        .cd-watch
          {{ countdown }}
        .cd-minutes
          = t('.minutes')

    .talk-timeline-box.row.collapse
      .medium-12.columns.text-center
        .reconnecting-message(ng-show='reconnecting()')= t('.reconnecting')
        - unless @talk.archived?
          .reload-message(ng-show='talkIsArchived()')
            = link_to t('.please_reload_this_page'), @talk
        .talk-live-timeline(ng-show='talkIsLive()')
          .talk-timeline
            .talk-timeline-progress(style='width: {{talkProgress}}%')
          .talk-state-info
            .talk-state-bullet
            = t('.state_text')
            - if @talk.record?
              %span.record-text= t('.record_text')
            .talk-timecounter
              %span.right-text-space= t('.ends_in')
              {{ countdown }} MIN
        .mute-stream-box(ng-show='talkIsLive()')
          %span.icon-volume-mute(ng-click='setVolume(0)')
          %span.icon-volume-mute2(ng-click='setVolume(1)')

    .talk-talkers-box.row
      .large-12.columns.text-center
        .avatar.avatar-host
          .avatar-box
            = render partial: "shared/avatar_image", locals: {user: @talk.venue.user, img_size: 62}
            .avatar-name.text-center
              = @talk.venue.user.name
        .avatar(ng-repeat="guest in guests()")
          .avatar-box
            = render partial: "shared/avatar_image", locals: {user: 'guest', img_size: 62}
            .avatar-name.text-center
              {{ guest.name }}
          .host-actions(ng-show='showHostActions()')
            .guest-demote-link(ng-click="demote(guest.id)")
              = t('.demote')

    .talk-visitors-action-box.row.collapse-large-only(ng-show="userIsAListener()")
      .large-12.columns
        .participate-button-box.text-center
          - url = [ @talk.venue, :participations ]
          = link_to t('.participate'), url, method: 'post', class: 'button-vr'

    .talk-host-and-participants-action-box.row
      .large-12.columns.text-center
        .talkers-action-box
          -# FIXME quick and dirty: do not show mic
          .mic-sign-box{ class: @talk.state=~/^(pre|)live$/ ? '' : 'display-none'}
            %span.icon-octa-full
            %span.icon-octagon
            %span.icon-mic
          .button-box
            .button-reqmic(ng-show='flags.reqmic'
                          ng-click='requestMic()')= t('.request_mic')
            .button-accept(ng-show='flags.acceptOrDecline'
                          ng-click='acceptPromotion()')= t('.accept_promotion')
            .button-decline(ng-show='flags.acceptOrDecline'
                          ng-click='declinePromotion()')= t('.decline_promotion')
            #onair(ng-show='flags.onair')= t('.you_are_on_air')

          .tmp-mute-box.text-left
            %span.button-mute(ng-show='flags.onair'
                          ng-click='mute()')= t('.mute_mic')
            %span.button-unmute(ng-show='flags.onair'
                          ng-click='unmute()')= t('.unmute_mic')

        .chat-flash-box
          - unless @talk.venue.opts.suppress_chat
            .chat-input-box.row(ng-hide="userIsAListener()")
              .large-12.columns
                .input-box
                  %input(ng-model='message.content' ng-keyup='messageKeyup($event)'){:placeholder => t('.chat_placeholder')}
                  %span.icon-bubble-multi

          -# FIXME quick and dirty: do not show audio settings
          - if @talk.state=~/^(pre|)live$/
            .button-audio-settings(ng-click='toggleShowSettings()')
              %span.icon-mic
              = t(".audio_settings")

          -# FIXME quick and dirty: do not show audio settings
          .flash-box.row(ng-class="{'hide-stuff': !showSettings()}")
            .large-12.columns.text-left
              #flashContent
              .manual-box
                .flash-manual-title
                  = t('.flash_manual_title')
                %p= raw t('.audio_settings_flash_manual', delimiter: '<br />')
                %button.button-vr(ng-click='toggleShowSettings()')
                  = t('.lets_go')
                = link_to 'http://blog.voicerepublic.com/audio-faq/', target: 'blank' do
                  %p.flash-content
                    = raw t('.audio_settings_help_text')

    .row.collapse-large-only
      .large-12.columns
        -# TODO: The current active tab is being decided upon in Ruby. This is a
        -# hacky and redundant implementation (decision was made whilst swarming).
        -# The active tab should be different in various states, however.
        -# https://www.pivotaltracker.com/story/show/70019652
        %dl.tabs.vr-tabs(data-tab="true")
          %dd.text-center{class: ("active" if @talk.venue.opts.suppress_chat)}
            %a(href="#description")
              %span.icon-description
              = t('.description')
          - unless @talk.venue.opts.suppress_chat
            %dd.text-center.active
              %a(href="#discussion")
                %span.icon-bubble-multi
                = t('.discussion')
          %dd.text-center
            %a(href="#participants")
              %span.icon-people
              = t('.participants')
              %span(ng-show='expectingPromotion().length')
                ({{ expectingPromotion().length }} #{t('.miqrec')})
              %span(ng-show='acceptingPromotion().length')
                ({{ acceptingPromotion().length }} #{t('.awaiting')})

  .talk-tabs-content-block
    .tabs-content
      -# TODO: The current active tab is being decided upon in Ruby. This is a
      -# hacky and redundant implementation (decision was made whilst swarming).
      -# The active tab should be different in various states, however.
      -# https://www.pivotaltracker.com/story/show/70019652
      #description.description-content.content{class: ("active" if @talk.venue.opts.suppress_chat)}
        .row
          .large-12.columns
            = @talk.try(:description).try(:html_safe)

      - unless @talk.venue.opts.suppress_chat
        #discussion.discussion-content.content.active
          .chat-message(ng-repeat='message in discussion')
            .row
              .large-12.columns
                .message-name
                  {{ message.name }}
                .message-content
                  {{ message.content }}
                .message-time
                  {{ message.created_at }}

      #participants.participants-content.content
        .row.participants-box
          .large-12.columns
            .expecting_promotion(ng-show='expectingPromotion().length')
              %h3= t('.microphone_requests')
              %ul.medium-block-grid-6.small-block-grid-3
                %li.avatar.text-center(ng-repeat="parti in expectingPromotion()")
                  .avatar-box
                    = render partial: "shared/avatar_image", locals: {user: 'parti', img_size: 52}
                    .avatar-name.text-center {{ parti.name }}
                  .host-actions(ng-show='showHostActions()')
                    .guest-promote-link.text-center(ng-click="promote(parti.id)")
                      = t('.promote')
            .accepting_promotion(ng-show='acceptingPromotion().length')
              %h3= t('.awaiting_to_speak')
              %ul.medium-block-grid-6.small-block-grid-3
                %li.avatar.text-center(ng-repeat="parti in acceptingPromotion()")
                  .avatar-box
                    = render partial: "shared/avatar_image", locals: {user: 'parti', img_size: 52}
                    .avatar-name.text-center {{ parti.name }}
            .participating(ng-show='participants().length')
              %h3= t('.participating')
              %ul.medium-block-grid-6.small-block-grid-3
                %li.avatar.text-center(ng-repeat="parti in participants()")
                  .avatar-box
                    = render partial: "shared/avatar_image", locals: {user: 'parti', img_size: 52}
                    .avatar-name.text-center {{ parti.name }}
                  .host-actions(ng-show='showHostActions()')
                    .guest-promote-link.text-center(ng-click="promote(parti.id)")
                      = t('.promote')
            .listening(ng-show="listeners().length")
              %h3
                {{ listeners().length }}
                = t('.just_listening_in')

.scripts
  = javascript_include_tag 'livepage'
  = render 'config'
