%p#notice= notice

.draft
  %h2 This is the common part.
  %p= @talk.user.name  
  %p= @talk.title
  %p= @talk.teaser

.draft
  %h2 This will be the new talk page (prelive).
  %p
    = l(@talk.starts_at, format: :designed)
    —
    = distance_of_time_in_words(@talk.starts_at, @talk.ends_at)
    (#{@talk.duration} minutes)
  %p
    starts in
    = distance_of_time_in_words_to_now(@talk.starts_at)
    (#{@talk.starts_in} seconds)

.draft
  %h2 This will be the new talk page (live).

  %p
    ends in
    = distance_of_time_in_words_to_now(@talk.ends_at)
    (#{@talk.ends_in} seconds)
  %p edit and delete button for host
  %p progressbar
  %p host and quests

