- content_for :title do
  = t('.title', title: @talk.title)

- content_for :head do
  = social_meta_tags_talk

- content_for :javascripts do
  %script{ src: '/javascripts/pdf.js' }
  %script{ src: Settings.faye.server + '/client.js' }
  = javascript_include_tag 'faye-authentication'
  :javascript
    environment = #{Rails.env.to_json};
    fayeUrl = #{Settings.faye.server.to_json};

    fayeClient = new Faye.Client(fayeUrl);
    fayeExtension = new FayeAuthentication(fayeClient);
    fayeClient.addExtension(fayeExtension);

    insider = #{!!current_user.try(:insider?)};
    console.off = #{!!(Settings.disable_js_debugging && !current_user.try(:insider?))};

    translations = #{t('frontend.talks').to_json};

    signedIn = #{user_signed_in?.to_s};
    isHost = #{(current_user == @talk.user).to_s};
    currentUser = #{current_user.try(:details).to_json || 'null'};

    signInPath = #{new_user_session_path.to_json};
    initialSnapshot = #{@talk.snapshot.to_json};

    pinId = #{@reminder.try(:id) || 'null'};
    podcastUrl = #{podcast_url(@talk.series).to_json};

    pdfWorkerSrc = '/javascripts/pdf.worker.js';

%audio#audio

#modals

#main-column.clearfix
  #publisher-options-holder
  #app
    .loading-message
      .loading-graphic
        = render partial: 'explore/loading'
        %h1= t('.loading')
        = render partial: 'shared/autoplay_warning'
  #right-sidebar.float-right.medium-3.columns.clearfix.qa-related-talks.hide
    .row.collapse
      %h3
        Recommended Talks
      - unless %w(pending postlive processing suspended).include?(@talk.state)
        = render partial: 'shared/talk_card', collection: @related_talks



-# hidden div for qa
.qa.talks-show= @talk.id
