-# find states under angular/controllers/livepage.js.coffee

- content_for :head do
  = render 'shared/social_meta_tags'
- content_for :title do
  = t('.title', title: @talk.title)


%p#notice(style='display: none;')= notice

.row(style='padding: 200px' ng-hide='true')
  .large-12.text-center= t('.initializing')

.layout-talk(ng-controller='Livepage' ng-cloak)
  .header-block(style="background-image: url(#{@talk.image.url})")
    .row.alert-box.alert.round(ng-show='showFlashError()')
      #flash_error= t('require_flash')
    %section.talk-title-box.row.collapse.text-center
      .large-12.columns
        - if can? :manage, @talk
          .generic-actions-box
            = link_to "#", class: "action-toggle", "data-toggle-stuff" => "#action-links-list" do
              %span.icon-cog
            %ul#action-links-list.list-style-type-none.hide-stuff
              - if @talk.venue.opts.start_button
                %li(ng-show='showStartButton()')
                  %a(href="#" ng-click='startTalk()')= t('.start_talk')
              %li(ng-hide='talkIsHalflive() || talkIsLive()')
                = link_to t('.edit_talk'), [:edit, @venue, @talk]
              %li(ng-show='showEndTalk()')
                %a(href="#" ng-click='endTalk()')= t('.end_talk')

              -#
                %li= link_to t('.download_messages'),
                  "/venues/#{@talk.venue.id}/talks/#{@talk.id}.text"
        .breadcrumbs-box.text-left
          = link_to user_path(@talk.user) do
            %span.icon-person
            %span.link-text= @talk.user.name
          .bc-delimiter >
          = link_to @talk.venue do
            %span.icon-ellipsis
            %span.link-text= @talk.venue.title
          .bc-delimiter >

          .links-box
            - unless current_user.remembers?(@talk)
              - url = [ @talk, :reminders ]
              = link_to url, method: 'post', class: "link-remember" do
                %span.icon-plus
                %span.link-text= t('.remember')

            = link_to '#', 'data-reveal-id' => "modal-flyer", class: "link-flyer" do
              %span.icon-flyer
              %span.link-text= t('.send_card')
          #modal-flyer.reveal-modal.text-center(data-reveal)
            = image_tag @talk.flyer.path
            %p
              = link_to @talk.flyer.path, 'download' => 'true' do
                %span.icon-download-2
                = t('.download_flyer')


        = render partial: '/shared/social_share', locals: { shareable_id: @talk.id, shareable_type: 'talk' }
        %h2.talk-title
          = @talk.title
        .talk-teaser
          = @talk.teaser
        .talk-date-time
          = t('.date_start_end', date: l(@talk.starts_at, format: :date_only),
          start_time: l(@talk.starts_at, format: :time_only),
          end_time: l(@talk.ends_at, format: :time_only))

        -# TODO: better integrate player with angularjs
        - if @talk.archived?
          -# PLAYER
          = render partial: 'shared/player', locals: { talk: @talk }
          .talk-archived-actions-box.row.collapse
            .small-12.columns
              .right
                = link_to_podcast(@venue)          
                = link_to '#', class: 'button-embed', title: t('.embed_player'), 'data-reveal-id' => "modal-embed" do
                  = succeed t('.embed') do
                    %span.icon-code
                #modal-embed.reveal-modal.text-center(data-reveal)
                  %h3.color-black= t('.embed_this_talk')
                  %textarea
                  <iframe width="445" height="220" src="#{embed_url(@talk)}" frameborder="0" scrolling="no" allowfullscreen></iframe>
                  %span.embed-help-text= t('.copy_this_code_and_paste_into_your_website')
                  %a.close-reveal-modal= raw '&#215;'

              .play-count.left
                = t('.plays', count: @talk.play_count)

      .sidebar-right
        - if current_user.guest?
          .vr-banner.hide-for-small
            = link_to '#', 'data-reveal-id' => "vr-banner-modal" do
              %h3
                = t('.banner_title')
              %p
                = raw t('.banner_text')
            %a.close-x(data-toggle-stuff=".vr-banner")
              = raw '&times;'

          #vr-banner-modal.reveal-modal(data-reveal)
            = image_tag 'vr_infografic.png'
            = link_to '#', class: "close-reveal-modal" do 
              &#215;

        - if @talk.related_talk
          %section.row.collapse.text-center.related-talk
            .large-12.columns
              .related-title-box.text-left
                = link_to t('.related_talk'), @talk.related_talk
              %ul.list-style-type-none
                = render partial: "shared/talk_small_box", locals: { talk_small_box: @talk.related_talk, color: 'box-transparent' }
        - elsif @talk.next_talk
          %section.row.collapse.text-center.related-talk
            .large-12.columns
              .related-title-box.text-left
                = link_to t('.next_talk'), @talk.next_talk
              %ul.list-style-type-none
                = render partial: "shared/talk_small_box", locals: { talk_small_box: @talk.next_talk, color: 'box-transparent' }

    .talk-timeline-box.row.collapse
      .medium-12.columns.text-center

        .situation(ng-show='showSituation()')= t('.waiting_for_start')
        .trouble-message(ng-show='trouble()') {{trouble()}}
        - unless @talk.archived?
          .reload-message(ng-show='talkIsArchived()')
            = link_to t('.please_reload_this_page'), @talk
          .processing-message(ng-show='talkIsProcessing()')
            = t('.talk_is_processing')

        .talk-countdown.text-center(ng-show='showCountdown()')
          = raw t('.countdown_text')
          {{ countdown }}
          = t('.minutes')

        .talk-live-timeline(ng-show='talkIsHalflive() || talkIsLive()')
          .talk-timeline
            .talk-timeline-progress(style='width: {{talkProgress}}%')
          .talk-state-info
            .talk-state-bullet
            = t('.state_text')
            - if @talk.collect?
              %span.record-text= t('.record_text')
            .talk-timecounter
              %span.right-text-space= t('.ends_in')
              {{ countdown }} MIN

        .mute-stream-box(ng-show='talkIsHalflive() || talkIsLive()')
          %span.icon-volume-mute(ng-click='setVolume(0)')
          %span.icon-volume-mute2.hide(ng-click='setVolume(1)')

    .talk-talkers-box.row(ng-show="talkIsPrelive() || talkIsHalflive() || talkIsLive()")
      .large-12.columns.text-center
        .stage-title
          =t('.stage')
        - unless @talk.speakers.blank?
          %p.speakers= @talk.speakers
        - else
          .avatar.avatar-host
            .avatar-box
              = render partial: "shared/avatar_image", locals: {user: @talk.venue.user, img_size: 62}
              .avatar-name.text-center
                = @talk.venue.user.name
          .avatar(ng-repeat="guest in guests()")
            .avatar-box
              = render partial: "shared/avatar_image", locals: {user: 'guest', img_size: 62}
              .avatar-name.text-center
                {{ guest.name }}
            .host-actions(ng-show='showHostActions()')
              .guest-demote-link(ng-click="demote(guest.id)")
                = t('.demote')
  
    .talk-more-talks-box.row.collapse-large-only(ng-hide="talkIsPrelive() || talkIsHalflive() || talkIsLive()")
      .large-12.columns
        .more-talks-title-box.text-left
          = link_to t('.more_talks'), @talk.venue
        %ul.user-talks-slider.list-style-type-none
          = render partial: 'shared/talk_small_box', collection: @archived_talks, locals: { color: 'box-transparent'}
          
    .talk-participant-actions-box.row(ng-show='showParticipantActionsBox()')
      .large-12.columns.text-center
        .background-box(ng-class="{'state-onair' : showOnAir(),'state-acc_dec' : showAcceptOrDecline(),'state-awaiting_mic' : showAwaitingMic()}")
          .avatar
            .avatar-box
              = render partial: "shared/avatar_image", locals: {user: @talk.venue.user, img_size: 50}
          .mic-sign-box
            %span.icon-octa-full
            %span.icon-octagon
            %span.icon-unmute
            %span.icon-mute    

          .request-mic-box(ng-show='flags.reqmic')
            .arrow
              .arrow-head
            .button-action(ng-click='requestMic()')
              = t('.request_mic')
          -# FAKE LINK
          .request-mic-box(ng-show='userIsAListener()')
            .arrow
              .arrow-head
            - url = [ @talk.venue, :participations ]
            = link_to url, class: "button-action", method: 'post' do
              = t('.request_mic')

          .awaiting-mic-box(ng-show='showAwaitingMic()')
            .arrow
              .arrow-head
            .button-action
              = t('.awaiting_mic_request')

          .acc-dec-box(ng-show='showAcceptOrDecline()')
            .invitation-text
              = t('.talk_invitation')
            .button-action(ng-click='acceptPromotion()')
              = t('.accept_promotion')
            .decline-link(ng-click='declinePromotion()')
              = t('.decline_promotion')    

          .onair-box(ng-show='showOnAir()')
            .onair-text
              = t('.you_are_on_air')
            .mute-box(ng-show='showOnAir()')
              %span.button-mute(ng-show='flags.onair'
                            ng-click='mute()')= t('.mute_mic')
              %span.button-unmute(ng-show='flags.onair'
                            ng-click='unmute()')= t('.unmute_mic')

          .prelive-message(ng-show='showPreliveMessage()')
            {{ config.talk.state }}

        -# FIXME quick and dirty: do not show audio settings
        - if @talk.state=~/^(pre|)live$/
          .button-audio-settings(ng-click='toggleShowSettings()')
            %span.icon-equalizer
            = t(".audio_settings")

    -# FIXME quick and dirty: do not show audio settings
    .flash-block(ng-class="{'state-on': showSettings()}")
      .flash-block-bg(ng-click='toggleShowSettings()')
      .flash-box.row
        .large-12.columns.text-left
          #flashContent
          .manual-box
            .flash-manual-title
              = t('.flash_manual_title')
            %p= raw t('.audio_settings_flash_manual', delimiter: '<br />')
            = link_to 'http://blog.voicerepublic.com/audio-faq/', target: 'blank' do
              %p.flash-content
                = raw t('.audio_settings_help_text')
        .close-x(ng-click='toggleShowSettings()')
          &times;

  .row.collapse-large-only
    .large-12.columns

      -# DESCRIPTION
      #description.description-block(ng-class="{'state-live': talkIsLive()}")
        %input#more-hidden-checkbox(type="checkbox")
        .description-content
          -#%h3= t('.description')
          = @talk.try(:description).try(:html_safe)
          %label.more-link(for="more-hidden-checkbox")
            %span=t('.more')
            %span=t('.less')

      .participants-and-discussion(ng-class="{'state-live': talkIsLive()}")
        -# This is a superior box, TODO: participants are only shown when talk is live

        -# DISCUSSION
        - unless @talk.venue.opts.suppress_chat
          #discussion.discussion-block
            %h3.title-discussion
              =t('.discussion')
            .chat-input-box
              .avatar
                .avatar-box
                  = render partial: "shared/avatar_image", locals: {user: @talk.venue.user, img_size: 40}
              %input(ng-hide="userIsAListener()" ng-model='message.content' ng-keyup='messageKeyup($event)'){:placeholder => t('.chat_placeholder')}
              - url = [ @talk.venue, :participations ]
              = link_to t('.chat_placeholder'), url, method: 'post', 'ng-show' => 'userIsAListener()', class: 'chat-fake-link'

            .message-box
              .chat-message(ng-repeat='message in discussion')
                .avatar
                  .avatar-box
                    -# TODO: avatar path?
                    = render partial: "shared/avatar_image", locals: {user: 'parti', img_path: '{{ message.image }}', img_size: 38} 
                .message-content         
                  %span.message-name
                    {{ message.name }}
                  %span.message-time
                    {{ message.created_at }}                     
                  .message-text
                    {{ message.content }}

        -# PARTICIPANTS: LISTENERS, MIC REQUESTS, INVITES
        - unless @talk.venue.opts.suppress_chat
          #participants.participants-box(ng-class="{'state-live': talkIsLive()}")

            .promotion-counter-box
              .exp-counter(ng-show='expectingPromotion().length' title="#{t('.mic_requests')}")
                .icon-octa-full
                .icon-octagon
                .number.text-center            
                  {{ expectingPromotion().length }}
              .acc-counter(ng-show='acceptingPromotion().length' title="#{t('.stage_invitations')}")
                .icon-octa-full
                .icon-octagon
                .number.text-center
                  {{ acceptingPromotion().length }}

            .participants-content
              .empty-box(ng-class="{'state-hidden': expectingPromotion().length || acceptingPromotion().length || participants().length}")
                %h3= t('.listeners')
                %p= t('.empty_text')

              .expecting-promotion(ng-show='expectingPromotion().length')
                %h3= t('.mic_requests')
                %ul.list-style-type-none
                  %li.avatar(ng-repeat="parti in expectingPromotion()")
                    .avatar-box
                      = render partial: "shared/avatar_image", locals: {user: 'parti', img_size: 38}
                      .avatar-name
                        %table
                          %tr
                            %td
                              {{ parti.name }}                                           
                    .host-actions(ng-show='showHostActions()')
                      .give-mic-link.text-center(ng-click="promote(parti.id)")
                        = t('.give_the_mic')

              .accepting-promotion(ng-show='acceptingPromotion().length')
                %h3= t('.stage_invitations')
                %ul.list-style-type-none
                  %li.avatar(ng-repeat="parti in acceptingPromotion()")
                    .avatar-box
                      = render partial: "shared/avatar_image", locals: {user: 'parti', img_size: 38}
                      .avatar-name
                        %table
                          %tr
                            %td
                              {{ parti.name }}                 

              .participating(ng-show='participants().length')
                %h3= t('.listeners')
                %ul.list-style-type-none
                  %li.avatar(ng-repeat="parti in participants()")
                    .avatar-box
                      = render partial: "shared/avatar_image", locals: {user: 'parti', img_size: 38}
                      .avatar-name
                        %table
                          %tr
                            %td
                              {{ parti.name }}
                    .host-actions(ng-show='showHostActions()')
                      .guest-promote-link.text-center(ng-click="promote(parti.id)")
                        = t('.invite_to_stage')

              .listening(ng-show="listeners().length")
                %h3
                  {{ listeners().length }}
                  = t('.anonymous_listener')                

.scripts
  :javascript
    window.debug = #{!Settings.disable_js_debugging};
    window.insider = #{current_user.insider?};
  = javascript_include_tag 'livepage'
  = render 'config'
