<%# dashboard/settings_edit %>

<%= form_for user, :url => user_path(:id => user, :url_arg => 1), :html => { :class => 'form-horizontal' } do |f| %>
  
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' do %>
    	<%= t('.edit_your_email') %>
    <% end %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit t('.save_email', :default => "Email-Adresse speichern"), :class => 'btn btn-primary' %>
  </div>
<% end %>
