= form_for @user, :url => user_path(:id => @user, :from_account => '1'), :html => { :class => 'form-horizontal', :multipart => true } do |f|
  - @account = @user.account
  = f.fields_for :account do |account_fields|
    .row-fluid.user-edit
      .span4
        .control-group.user-edit-image
          = account_fields.label :portrait, :class => "control-label"
          .controls
            .fileupload.fileupload-new{"data-provides" => "fileupload"}
              .fileupload-new.thumbnail
                - if @user.account.portrait.exists?
                  = image_tag @user.account.portrait.url(:large)
                - else
                  %img{:src => "/system/large/missing.png"}/
              .fileupload-preview.fileupload-exists.thumbnail{:style => "width: 100%;line-height: 20px;"}
              %div
                %span.btn.btn-file
                  %span.fileupload-new= t('.select')
                  %span.fileupload-exists= t('.change')
                  = account_fields.file_field :portrait
                - if @user.account.portrait.exists?
                  = link_to destroy_portrait_user_account_url(:user_id => @user), :class => "btn", :method => :delete do
                    = t('.delete_portrait')
                    
      .span4
        = f.error_messages
        .user-edit-name
          .control-group
            = f.label :firstname, :class => "control-label"
            .controls
              = f.text_field :firstname
          .control-group
            = f.label :lastname, :class => "control-label"
            .controls
              = f.text_field :lastname
        .control-group
          = account_fields.label :about, :class => 'control-label'
          .controls
            = account_fields.text_area :about, :class => 'text_field', :rows => 7
      .span4
        .control-group
          = account_fields.label :website, :class => 'control-label'
          .controls
            = account_fields.text_field :website, :class => 'text_field'
        .control-group
          = account_fields.label :timezone, :class => "control-label"
          .controls
            = account_fields.time_zone_select :timezone, ActiveSupport::TimeZone.all.sort, :include_blank => false, :default => "Berlin", :class => 'select_field'
        .control-group
          = account_fields.label :language_1, :class => 'control-label'
          .controls
            - lang_hash = Hash.new
            - I18nData.languages(I18n.locale).each { |k,v| lang_hash[v] = k }
            = account_fields.select :language_1, lang_hash.sort, :include_blank => false, :default => I18n.locale.upcase.to_s
        .control-group
          = account_fields.label :language_2, :class => 'control-label'
          .controls
            = account_fields.select :language_2, lang_hash.sort, :include_blank => true, :default => I18n.locale.upcase.to_s
        .control-group
          = account_fields.label :language_3, :class => 'control-label'
          .controls
            = account_fields.select :language_3, lang_hash.sort, :include_blank => true, :default => I18n.locale.upcase.to_s
  .form-actions
    = link_to t('.cancel', :default => t("helpers.links.cancel")), user_path(:id => @user), :class => 'btn'
    = f.submit nil, :class => 'btn btn-primary'
