<%# for dashboard/settings_edit %>

<%= form_for user, :url => user_path(:id => user), :html => { :class => 'form-horizontal' } do |f| %>
<div class="control-group">
  	<%= f.label t(".new_password", :default => "Neues Passwort"), :for => "user_password", :class => 'control-label' %>
  	<div class="controls">
  		<%= f.password_field :password, :class => 'password_field' %>
  	</div>
  </div>
  
  <div class="control-group">
  	<%= f.label t(".rewrite_new_password", :default => "Neues Passwort wiederholen"), :for => "user_password_confirmation", :class => 'control-label' %>
  	<div class='controls'>
  		<%= f.password_field :password_confirmation, :class => 'password_field' %>
  	</div>
  </div>

 <div class="form-actions">
    <%= f.submit t('.update_password', :default => 'Passwort speichern'), :class => 'btn btn-primary' %>
    <%#= link_to t('.cancel', :default => t("helpers.links.cancel")), dashboard_settings_path, :class => 'btn' %>
  </div>
<% end %>