<section class="user-information well well-large clearfix">
	<%= link_to(image_tag( user.account.portrait.url(:large), :class => "img-polaroid"), user_path( :id => user), :class=> "user-image") %>
	<div class="user-information-right">
		<header class="row-fluid">
			<div class="span7">
				<h2 class="user-name"><%= link_to(user.name, user_path( :id => user)) %></h2>
				<div class="user-activity badge">
					<i class="icon-bolt"></i>55
				</div>
			</div>
			<div class="span5">
				<ul class="user-nav unstyled pull-right">
					<li class="pull-right">
						<%= link_to(new_message_path(:receiver_id => user.id), :class => "btn btn-primary btn-small", :remote => true ) do %>
							<i class="icon-envelope"></i> <%= t('.send_message') %>
						<% end unless current_user && current_user.id == user.id %>
					</li>
					<li class="pull-right">
						<% if current_user && current_user.id != user.id %>
							<% if current_user.followed.include?(user) %>
								<%= link_to(t('.unfollow'), user_follow_path(:user_id => current_user, :id => current_user.followed_relations.where(:followed_id => user).first), :class => "btn btn-small", :method => :delete) %>
							<% else %>
								<%= link_to( t('.follow'), user_create_follow_path(:user_id => current_user, :followed_id => user ), :method => "post", :class => "btn btn-small" )%>
							<% end %>
						<% end %>
					</li>
				</ul>
			</div>
		</header>
		<div class="user-information-more row-fluid">
			<aside class="user-meta-data span5">
				<ul class="unstyled user-other-links span8">
					<li>
						<%= link_to(user_status_updates_path(:user_id => user)) do %>
							<i class="icon-comment-alt"></i><%= user.name %> <%= t('.has') %>
							<%= pluralize( user.status_updates.count, t('status', :default => 'Status') )%>
						<% end %>
					</li>
					<li>
						<%= link_to(user_bookmarks_path(:user_id => user) ) do %>
							<i class="icon-bookmark-empty"></i>
							<%= user.name %> <%= t('.has') %> <%= pluralize(user.bookmarks.count, t('bookmark', :default => 'Bookmark')) %>
						<% end %>
					</li>
					<li>
						<%= user.name %> <%= t('.has') %> <%= pluralize(user.follower.count, t('follower', :default => 'Follower')) %>
					</li>
				</ul>
				<dl class="no-margin span4">
					<dt>
						<%= t(".time_at_location", :user => user.firstname) %>
					</dt>
					<dd>
						<% ActiveSupport::TimeZone::MAPPING[user.account.timezone] %>
						<%= l(user.account.time_in_supplied_zone, :format => :micro) %> <!-- FIXME: Ortszeit nur in Uhrzeit ausgeben -->
					</dd>
					<dt class="user-languages">
						<%= t('.languages') %>
					</dt>
					<dd>
						<ul class="unstyled">
							<% user.account.languages.each do |lang| %>
								<li><%= lang  %></li>
							<% end %>
						</ul>
					</dd>
				</dl>
				<section class="span12 no-margin">
					<h4> <%= t(".user_description") %> </h4>
					<%= simple_format(user.account.about) %>
				</section>
			</aside>

			<article class="status-partial-container status contribution span7">
				<header>
					<i class="icon-bullhorn"></i>
					<h4 class="contribution-name"><%= t('.Status') %></h4>
				</header>
				<% if user.status_updates.empty? %>
					<%= render(:partial => 'users/no_status_updates', :locals => { :user => user }) %>
				<% else %>
					<%= render(:partial => 'users/status_updates', :locals => { :user => user} ) %>
				<% end %>
			</article>
		</div>
	</div>
</section>

<% if can? :manage, user %>
<nav class="user-edit-link">
	<%= link_to( edit_user_account_path(:user_id => user)) do %>
	<i class="icon-pencil"></i>
	<%= t('.edit_account') %>
	<% end %>
</nav>
<% end %>
