%header
  %h4
    = t('.venues_title')
%nav.user-main-nav
  %ul.clearfix

    - classes = ['venue-part-color']
    - classes << 'empty' if @user.participating_venues.empty?
    - classes << 'active' if current_page?(user_path(:id => user))
    %li{:class => classes * ' '}
      = link_to(user_path(:id => user )) do
        \&nbsp;
        %span.user-main-nav-subline
          = t('.venues_participant')

    - classes = ['venue-host-color']
    - classes << 'empty' if Venue.of_user(user).empty?
    - classes << 'active' if current_page?(venues_user_path(:id => user))
    %li{:class => classes * ' '}
      = link_to(venues_user_path(:id => user )) do
        \&nbsp;
        %span.user-main-nav-subline
          = t('.venues_host')

    %li
    - if current_user == user
      %li.venue-new
        = link_to( new_venue_path ) do
          \&nbsp;
          %span.user-main-nav-subline
            / = t('.venue_new')