%section.user-information
  .user-image-box
    .user-image{"data-user-id" => user.id}= link_to(image_tag( user.avatar.url(:large), :class => "img-polaroid"), user_path( :id => user))

  %header
    %h2=user.name

  %p.user-about
    =user.account.about

  - if user.account.website
    %p
      = link_to(user.account.website_as_url, :target => "new", :confirm => t('.will_open_in_new_tab', :default => "this will open a new tab")) do
        = truncate(user.account.website_as_name, :length => 25)
    
  - user.account.languages.each do |lang|
    = lang

  - if current_user && current_user.id != user.id
    %ul.unstyled.user-actions
      %li
        = link_to(new_message_path(:receiver_id => user.id), :remote => true ) do
          = t('.send_message')

- if can? :manage, user
  %nav.user-edit-link
    = link_to( edit_user_account_path(:user_id => user)) do
      %i.icon-pencil
      = t('.edit_account')

