- content_for :title do
  = t('.title', username: @user.name)

= simple_form_for(@user) do |f|
  .container
    #basics
    %h4= t('.edit_your_settings')
    %hr
    .row
      .medium-3.columns.profile-avatar.text-left
        - avatar_url = @user.avatar.thumb('185x185#nw').url
        #avatar-img(style="background-image:url(#{avatar_url}")
        %input#user_avatar.file.optional.inputfile{:name => "user[avatar]", :type => "file"}
        %label.button.tiny.hollow{:for => "user_avatar"} 
          = icon_tag 'photo'
          = t('.choose_an_image')
      .medium-9.columns
        .medium-6.columns
          = f.input :firstname, placeholder: 'First Name'
        .medium-6.columns
          = f.input :lastname, placeholder: 'Last Name'
        .medium-6.columns
          = f.input :email, placeholder: 'Email Address'
        .medium-6.columns
          = f.input :password, disabled: true, placeholder: '•••••••••••••'
          %button.small.hollow.pw-change.float-right(data-enable-fields='#change-password input'
            data-replace-with='#change-password'
            data-trigger-on-error='#change-password'
            type='button')= t('.change_password')
        #change-password.panel.hide
          = f.input :password, disabled: true
          = f.input :password_confirmation, disabled: true
        %hr
        .medium-6.columns.input
          -#= f.input :slug
          %label{:for => "user_slug"}
            Username & URL
          .input-group.slug
            %span.input-group-label voicerepublic.com/users/
            %input#user_slug.inut-group-field.string.required{:name => "user[slug]", :type => "text", :value => "#{@user.slug}"}/
          .alert.callout.slug-warning.hide{"data-closable" => ""}
            = t('.slug_explanation2')
            %p.text-right
              %a.got-it{"aria-label" => "Dismiss alert", "data-close" => "", :type => "button"}
                %span{"aria-hidden" => "true"}= t('.got_it')
            
          -#.slug-explanation
          -#  = t('.slug_explanation1')
          -#  %code
          -#    voicerepublic.com/users/#{@user.slug}
        .medium-6.columns.summary
          = f.input :summary, as: :text, input_html: { rows: 4, maxLength: 140}
        %hr
        .medium-6.columns
          = f.input :timezone, as: :time_zone, priority: User::PRIOTZ
        .medium-6.columns
          = f.input :website
        .about
          = f.input :about, input_html: { rows: 10 }
        .actions.float-right
          = link_to t('.cancel', default: t("helpers.links.cancel")), user_path(id: @user), class: 'button large hollow secondary'
          = f.button :submit, class: 'button large primary'



      
      
    

      .hide
        -# avatar_url = @user.avatar.thumb('143x143#nw').url
        -#.user-portrait-img(style="background-image:url(#{avatar_url})" data-show-upload="#user_avatar")
        -#%button.button-standard.button-profile-img(type="button" data-trigger-file-input="#user_avatar")
          -#= t('.select_profile_image')
        = f.input :avatar, as: :file
