- content_for :title do
  = t('.title', username: @user.name)

= simple_form_for(@user) do |f|
  #user-block
    .large-12.columns
      .row.collapse
        .large-3.medium-3.columns.hide
          - avatar_url = @user.avatar.thumb('143x143#nw').url
          .user-portrait-img(style="background-image:url(#{avatar_url})" data-show-upload="#user_avatar")
          %button.button-standard.button-profile-img(type="button" data-trigger-file-input="#user_avatar")
            = t('.select_profile_image')
          = f.input :avatar, as: :file

        .large-9.medium-9.columns
          .user-summary
            = f.input :summary, as: :text
      %br
      .row
        .large-6.columns
          = f.input :firstname, placeholder: 'First Name'
        .large-6.columns
          = f.input :lastname, placeholder: 'Last Name'
      .row
        .large-6.columns
          = f.input :slug
        .large-6.columns
          = t('.slug_explanation1')
          %ul
            %li
              voicerepublic.com/users/#{@user.slug}
          = t('.slug_explanation2')
      .row
        .large-12.columns
          = f.input :email, placeholder: 'Email Address'
      .row
        .large-6.columns
          = f.input :timezone, as: :time_zone, priority: User::PRIOTZ
        .large-6.columns
          = f.input :website
      .row
        .large-12.columns
          %button.button-standard(data-enable-fields='#change-password input'
                  data-replace-with='#change-password'
                  data-trigger-on-error='#change-password'
                  type='button')= t('.set_new_password')
          #change-password.panel.hide
            = f.input :password, disabled: true
            = f.input :password_confirmation, disabled: true
      %br
      .row
        .large-12.columns
          .user-textarea-box
            = f.input :about, input_html: { rows: 10 }

  .form-save-row.row
    .large-12.columns
      = link_to t('.cancel', default: t("helpers.links.cancel")), user_path(id: @user), class: 'button-cancel right'
      = f.button :submit, class: 'button-save right'

    
      -# ++++++++++++++++++++
  #left-column
    #user-block
      .profile-avatar
        - avatar_url = @user.avatar.thumb('185x185#nw').url
        #avatar-img(style="background-image:url(#{avatar_url}")
        %input#user_avatar.file.optional.inputfile{:name => "user[avatar]", :type => "file"}
        %label.button.tiny.hollow{:for => "user_avatar"} 
          = icon_tag 'photo'
          = t('.choose_an_image')
        -#= f.input :upload_a_photo, as: :file, class: 'inputfile'

      .row
        .medium-6.columns
          = f.input :firstname, placeholder: 'First Name'
        .medium-6.columns
          = f.input :lastname, placeholder: 'Last Name'
      .row
        .summary
          = f.input :summary, as: :text
      .row
        .slug
          = f.input :slug
          .slug-warning.hide
            = t('.slug_explanation2')
          .slug-explanation
            = t('.slug_explanation1')
            %code
              voicerepublic.com/users/#{@user.slug}
          
      .row
        = f.input :email, placeholder: 'Email Address'
        %button.button-standard(data-enable-fields='#change-password input'
          data-replace-with='#change-password'
          data-trigger-on-error='#change-password'
          type='button')= t('.set_new_password')
        #change-password.panel.hide
          = f.input :password, disabled: true
          = f.input :password_confirmation, disabled: true
        = f.input :timezone, as: :time_zone, priority: User::PRIOTZ
        = f.input :website
        = f.input :about, input_html: { rows: 10 }
      .menu.expanded
        %li
          = link_to t('.cancel', default: t("helpers.links.cancel")), user_path(id: @user), class: 'button large hollow info'
        %li
          = f.button :submit, class: 'button large hollow secondary'
