- content_for :title do
  = t('.title', username: @user.name)

= simple_form_for(@user) do |f|
  .form-top-box.row
    .large-12.columns
      .row.collapse
        .large-3.medium-3.columns
          - avatar_url = @user.avatar.thumb('143x143#nw').url
          .user-portrait-img(style="background-image:url(#{avatar_url})" data-show-upload="#user_avatar")
          %button.button-standard.button-profile-img(type="button" data-trigger-file-input="user_avatar")
            = t('.select_profile_image')
          = f.input :avatar, as: :file

        .large-9.medium-9.columns
          .user-summary
            = f.label :summary do
              = t('.short_description')
            = f.input :summary, as: :text
      %br
      .row
        .large-6.columns
          = f.input :firstname, placeholder: 'First Name'
        .large-6.columns
          = f.input :lastname, placeholder: 'Last Name'
      .row
        .large-12.columns
          = f.input :email, placeholder: 'Email Address'
      .row
        .large-6.columns
          = f.input :timezone, as: :time_zone, priority: User::PRIOTZ
        .large-6.columns
          = f.input :website
      .row
        .large-12.columns
          %button.button-standard(data-enable-fields='#change-password input'
                  data-replace-with='#change-password'
                  data-trigger-on-error='#change-password'
                  type='button')= t('.set_new_password')
          #change-password.panel.hide
            = f.input :password, disabled: true
            = f.input :password_confirmation, disabled: true
      %br
      .row
        .large-12.columns
          .user-textarea-box
            = f.label :about
            = f.text_area :about, class: 'ckeditor', input_html: { class: 'text-area'}
            - messages = @user.errors.get(:about)
            - unless messages.empty?
              %small.error= messages * ', '

  .form-save-row.row
    .large-12.columns
      = link_to t('.cancel', default: t("helpers.links.cancel")), user_path(id: @user), class: 'button-cancel right'
      = f.button :submit, class: 'button-save right'
