<section class="user-klus row-fluid">
	<% if @user == current_user %>

		<div class="span4">
			<h3><%= t('.klus') %></h3>
			<%= render(:partial => 'klus/user_no_kluuus') if @kluuus.empty? %>
			<%= render(:partial => 'klus/user_with_kluuu') unless @kluuus.empty? %>
		</div>
		<div class="span8">
			<% if @kluuus.empty? %>
				<%= render(:partial => 'klus/kluuu_video') %>
			<% else %>
				<% @kluuus.each do |klu| %>
					<% if klu.instance_of?(Kluuu) %>
						<%= render(:partial => 'klus/medium_kluuu', :locals => { :klu => klu } ) %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	
	<% else %>

		<% if @kluuus.empty? %>
			<div class="text-align-center muted"><br><br><%= t('.guest_empty_klu', :name => @user.firstname) %><br><br></div>				
		<% else %>
			<% @kluuus.each do |klu| %>
				<% if klu.instance_of?(Kluuu) %>
					<%= render(:partial => 'klus/medium_kluuu', :locals => { :klu => klu } ) %>
				<% end %>
			<% end %>	
		<% end %>
	
	<% end %>

<section>