- content_for :title do
  = @user.name

.header-block(style="background-image: url(#{@user.header.try(:url)})")

  - if can? :manage, @user
    .generic-action-bar.row.collapse
      .large-12.columns
        %ul.button-group.right
          %li= link_to t('.edit_user'), [:edit, @user], class: 'button tiny'

  .header-box.row
    .large-12.columns.text-center
      - count = @user.participations.count
      -# .talks-joined= t('.talk_joined', count: count, default: '%{count} Talks joined')
      = render partial: "shared/avatar", locals: { user: @user, img_size: 120 }
      %h2.user-name= @user.name
  .row.collapse-large-only
    .large-12.columns.text-center
      %dl.tabs.vr-tabs(data-tab='true')
        %dd.text-center
          %a(href="#tab-about-me")
            %i.fi-page
            = t('.about_me')
        %dd.text-center.active
          %a(href="#tab-my-venues")
            %i.fi-megaphone
            = t('.my-venues')
        %dd.text-center
          %a(href="#tab-schedule")
            %i.fi-calendar
            = t('.schedule')
        -#%dd.text-center
        -#  %a(href="#tab-activity")= t('.activity')

.row.collapse-large-only
  .large-12.columns.tabs-content
    #tab-about-me.content
      = raw @user.about

    #tab-my-venues.content.active
      = render partial: 'shared/venue_medium_box', collection: @user.venues

    #tab-schedule.content TODO

    #tab-activity.content TODO