<%- model_class = @user.class -%>

<div class="user-container">
	<header>
		<h2><%= @user.name %></h2>
	</header>
	<div class="row">
		<section class="user-information span3">
			<div class="user-image img-polaroid"><%= image_tag( @user.account.portrait.url(:large), :class => "")  %> <!-- TODO: missing_user_image --></div>
			
				<ul class="unstyled">
					<li><a href="#"><i class="icon-envelope"></i> Nachricht senden</a></li> <!-- TODO: link_to einbauen -->
					<li><a href="#"><i>@</i> Folgen</a></li> <!-- TODO: link_to einbauen -->
				</ul>
			
			<div class="status-partial-container">
				<h4> <%= t('.status') %> </h4>
				<% @status_update = @user.status_updates.limit(1).first unless @user.status_updates.empty? %>
				<%= @status_update.content if @status_update%>	
				<p> 
					<span class=""> <%= @status_update.comments.count if @status_update %> </span>
					<%= link_to t('.comments', :default => "comments" ), user_status_update_path(:user_id => @user, :id => @status_update) if @status_update %>
					<% if current_user == @user %>
						&nbsp;
						<%= link_to new_user_status_update_path(:user_id => current_user), :class => "btn btn-primary btn-mini" do %>
							<i class="icon-edit"> </i> <%= t('.new_status_update') %>
						<% end %>&nbsp;
					<% end %>
					<% if @status_update && current_user %>
						&nbsp;
						<%= link_to new_user_status_update_comment_path(:user_id => @user, :status_update_id => @status_update) do %>
							&nbsp;<i class="icon-comment"> </i> <%= t('.add_comment') %>
						<% end %>&nbsp;
					<% end %>
				</p>
			</div>
			<article class="user-about">
				<h3><%= t('.about_me') %></h3>
				<%= simple_format(@user.account.about) %>
			</article>
			<aside class="user-meta-data">
				<ul class="unstyled">
					<li> <i class="icon-dashboard"></i> 55 </li> <!-- TODO: Activityscore -->
					<li> <%= @user.name %> hat 15 Follower </li> <!-- TODO: Follower -->
				</ul>
				<dl>
					<dt><%= t('.place_and_time_there') %></dt>
					<dd>
						Berlin <!-- TODO: Ort einsetzen -->
						<% ActiveSupport::TimeZone::MAPPING[@user.account.timezone] %>
						<%= l(@user.account.time_in_supplied_zone) %> <!-- FIXME: Ortszeit nur in Uhrzeit ausgeben -->
					</dd>
					<dt>
						<%= t('.languages') %>
					</dt>
					<dd>
						<ul>
							<% @user.account.languages.each do |lang| %>

								<li><%= lang %></li>
							<% end %>
						</ul>
					</dd>
				</dl>
			</aside>
		</section>
		<div class="user-content span9">
			<nav>
				<ul class="clearfix">
					<li class="span2"><a href="#">!</a></li>
					<li class="span2"><a href="#">?</a></li>
					<li class="span2"><%= link_to( "",  user_status_updates_path(:user_id => @user), :class => "icon-align-justify") %> </li>
					<li class="span2"><a href="#" class="icon-star"></a></li>
				</ul>
			</nav>
			<section class="user-content-shown">
				<% @user.kluuus.each do |klu| %>
					<%= render(:partial => 'klus/medium_kluuu', :locals => {:medium_kluuu => klu}) %>
				<% end %>
			</section>
		</div>
	</div>
</div>


<!-- 
<div class="page-header">
	<h1></h1>
</div>

<%= debug(@user.account.languages) %>

<div class="row">
	<div class="span4">
		
	</div>
	<div class="span8">
		<div class="well well-large" >
			
		</div>
		<div class="well well-large">
			<p>
				<span class="label label-info">Status</span>
				<% @status_update = @user.status_updates.limit(1).first unless @user.status_updates.empty? %>
				<%= @status_update.content if @status_update%>
			</p>
		</div>
		<div class="form-actions">
			<p class="pull-right">
				<span class="badge badge-info"> <%= @status_update.comments.count if @status_update %> </span>&nbsp;
				
				<%= link_to t('.comments', :default => "comments" ), user_status_update_path(:user_id => @user, :id => @status_update) if @status_update %>
				<% if current_user == @user %>
					&nbsp;
					<%= link_to new_user_status_update_path(:user_id => current_user), :class => "btn btn-primary btn-mini" do %>
						<i class="icon-edit"> </i> <%= t('.new_status_update') %>
					<% end %>&nbsp;
				<% end %>
				<% if @status_update && current_user %>
					&nbsp;
					<%= link_to new_user_status_update_comment_path(:user_id => @user, :status_update_id => @status_update), :class => "btn btn-mini" do %>
						&nbsp;<i class="icon-comment"> </i> <%= t('.add_comment') %>
					<% end %>&nbsp;
				<% end %>
			</p>
		</div>
	</div>
</div>

<dl class="dl-horizontal">
	<dt>
		<strong><%= model_class.human_attribute_name(:firstname) %>:</strong>
	</dt>
	<dd>
		<%= @user.firstname %>
	</dd>
	<dt>
		<strong><%= model_class.human_attribute_name(:lastname) %>:</strong>
	</dt>
	<dd>
		<%= @user.lastname %>
	</dd>
	<dt>
		<strong><%= model_class.human_attribute_name(:email) %>:</strong>
	</dt>
	<dd>
		<%= @user.email %>
	</dd>
	<dt>
		<strong><%= model_class.human_attribute_name(:encrypted_password) %>:</strong>
	</dt>
	<dd>
		<%= @user.encrypted_password %>
	</dd>
	<dt>
		<strong><%= model_class.human_attribute_name(:reset_password_token) %>:</strong>
	</dt>
	<dd>
		<%= @user.reset_password_token %>
	</dd>
	<dt>
		<strong><%= model_class.human_attribute_name(:reset_password_sent_at) %>:</strong>
	</dt>
	<dd>
		<%= @user.reset_password_sent_at %>
	</dd>
	<dt>
		<strong><%= model_class.human_attribute_name(:remember_created_at) %>:</strong>
	</dt>
	<dd>
		<%= @user.remember_created_at %>
	</dd>
	<dt>
		<strong><%= model_class.human_attribute_name(:sign_in_count) %>:</strong>
	</dt>
	<dd>
		<%= @user.sign_in_count %>
	</dd>
	<dt>
		<strong><%= model_class.human_attribute_name(:current_sign_in_at) %>:</strong>
	</dt>
	<dd>
		<%= @user.current_sign_in_at %>
	</dd>
	<dt>
		<strong><%= t('.last_sign_at') %></strong>
	</dt>
	<dd>
		<%= @user.last_sign_in_at %>
	</dd>
	<dt>
		<strong><%= model_class.human_attribute_name(:current_sign_in_ip) %>:</strong>
	</dt>
	<dd>
		<%= @user.current_sign_in_ip %>
	</dd>
	<dt>
		<strong><%= model_class.human_attribute_name(:last_sign_in_ip) %>:</strong>
	</dt>
	<dd>
		<%= @user.last_sign_in_ip %>
	</dd>
</dl>

<div class="form-actions">
	<%= link_to t('.back', :default => t("helpers.links.back")),
	users_path, :class => 'btn'  %>
	<%= link_to t('.edit', :default => t("helpers.links.edit")),
	edit_user_path(@user), :class => 'btn' %>
	<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	user_path(@user),
	:method => 'delete',
	:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
	:class => 'btn btn-danger' %>
</div>

<div class="row">
	<div class="span4">
		&nbsp;
	</div>
	<div class="span8">
		<div class="well well-large">
			<h2>KluuS</h2>
			<ul>
			<% @user.klus.each do |klu| %>
				<li><%= klu.title %></li>
			<% end %>
			</ul>
		</div>
	</div>
</div>


-->
