- content_for :head do
  = rss_link_tag t('.feed_title', username: @user.name)

- content_for :title do
  = t('.title', username: @user.name)

.header-block(style="background-image: url(#{@user.header.try(:url)})")

  .header-box.row
    .large-12.columns.text-center
      - if can? :manage, @user
        .generic-actions-box
          = link_to "#", class: "action-toggle", title: 'Show Options', "data-toggle-stuff" => "#action-links-list" do
            %span.icon-cog
          %ul#action-links-list.list-style-type-none.hide-stuff
            %li= link_to t('.edit_user'), [:edit, @user]

      .avatar
        = render partial: "shared/avatar_image", locals: { user: @user, img_size: 120 }

      %h2.user-name= @user.name
      = link_to_podcast(@user)
      %br/
      %br/
  .row.collapse-large-only
    .large-12.columns.text-center
      %dl.tabs.vr-tabs(data-tab='true')
        %dd.text-center
          %a(href="#about")
            %span.icon-description
            = t('.about')
        %dd.text-center.active
          %a(href="#venues")
            %span.icon-guide
            = t('.venues')
        %dd.text-center
          %a(href="#reminders")
            %span.icon-plus
            = t('.reminders')

.row.collapse-large-only
  .large-12.columns.tabs-content
    #about.about-content.content
      = raw @user.about

    #venues.venues-content.content.active
      = render partial: 'shared/venue_medium_box', collection: @user.venues

    #reminders.reminders-content.content
      - if @user.reminders.empty?
        %p= t('.no_reminders', username: @user.name)
      - else
        %ul
          = render partial: 'shared/reminder', collection: @user.reminders
    
    #schedule.content TODO

    #activity.content TODO
