- content_for :head do
  = rss_link_tag t('.feed_title', username: @user.name)
  = rss_link_tag t('.listen_later_feed_title', username: @user.name), user_reminders_path(@user, format: 'rss')

- content_for :title do
  = t('.title', username: @user.name)


#main.clearfix{:role => "main"}
  #left-column
    -# NOTE everyting for free ATM
    -# - if current_user && current_user == @user
    -#   #credits.clearfix
    -#     .float-left
    -#       %p
    -#         = t('.you_have_x_credits_left', count: @user.credits).html_safe
    -#     .float-right
    -#       = link_to t('.purchase_more_credits'), :purchases, class: 'button hollow warning tiny'
    #user-block


      .profile-avatar
        = render partial: "shared/avatar_image_velvet", locals: { user: @user, size: 185, alt: @user.image_alt }

      %h3.user-name=@user.name
      - if can? :manage, @user
        %p
          = link_to [:edit, @user], class: 'button tiny hollow' do
            -#= icon_tag 'pencil'
            = t('.edit_profile')
        %p#user-description
          - if @user.summary.blank? and can? :manage, @user
            = link_to t('.summary_help_text'), [:edit, @user], class: 'button-summary-help'
          - else
            = @user.summary
      - else
        %p#user-description
          = @user.summary

      - if can? :manage, @user
        -# TODO: discuss. Can't we just have one path to the create talk page?
        =link_to new_upload_path, class:'button hollow publish-btn tiny' do
          = icon_tag 'upload'
          = t('.upload_talk')
        = link_to new_talk_path, class:'button hollow publish-btn tiny' do
          = icon_tag 'victrola'
          = t('.create_live_talk')


      - else
        = link_to podcast_url(@user), class:'button hollow tiny' do
          = t('.subscribe_to_podcast')
      %hr
      %ul.user-meta-group.menu.expanded
        %li
          %p= human_count(@talks_total)
          %p.label= t('.talks', count: @talks_total)
        %li
          %p= human_count(@total_plays)
          %p.label= t('.plays', count: @total_plays)
        %li
          %p= human_count(@user.series_without_default.count)
          %p.label= t('.series', count: @user.series_without_default.count)
        %li
          %p= human_count(@user.reminders.count)
          %p.label= t('.pinned', count: @user.reminders.count)
      %hr/



    #user-about.row
      - unless @user.about.blank?
        %p.column-header= t('.about')
        %p= @user.about_as_html.html_safe
      %ul.social-links.menu.vertical
        - unless @user.website.blank?
          %li.list-item
            = link_to @user.website_url, target: '_blank', title: @user.website_url do
              %p= naked_icon 'globe'
        - unless @user.facebook.blank?
          %li.list-item
            = link_to @user.facebook_url, target: '_blank', title: @user.facebook_url do
              %p= naked_icon 'facebook'
        - unless @user.twitter.blank?
          %li.list-item
            = link_to @user.twitter_url, target: '_blank', title: @user.twitter_url do
              %p= naked_icon 'twitter'
              

  #right-column.clearfix

    %ul#example-tabs.tabs{"data-tabs" => "g69yge-tabs"}

      %li.tabs-title{:role => "presentation", class: @tab_pinned_class}
        %a#pinned-label{"aria-controls" => "pinned", "aria-selected" => "false", :href => "#pinned", :role => "tab"}
          = t('.listen_later', count: @user.reminders.count)

      - unless @live_talks.empty?
        %li.tabs-title{:role => "presentation"}
          %a#live-label{"aria-controls" => "live", "aria-selected" => "true", :href => "#live", :role => "tab"}
            = t('.live_talks', count: @live_talks.count)

      %li.tabs-title{role: "presentation", class: @tab_archived_class}
        %a#archived-label{"aria-controls" => "archived", "aria-selected" => "true", :href => "#archived", :role => "tab"}
          = t('.archived_talks', count: @archived_talks.count)

      - unless @upcoming_talks.empty?
        %li.tabs-title{:role => "presentation"}
          %a#upcoming-label{"aria-controls" => "upcoming", "aria-selected" => "false", :href => "#upcoming", :role => "tab"}
            = t('.upcoming_talks', count: @upcoming_talks.count)

      %li.tabs-title{:role => "presentation"}
        %a#series-label{"aria-controls" => "series", "aria-selected" => "false", :href => "#series", :role => "tab"}
          = t('.series', count: @user.series_without_default.count)

    .tabs-content{"data-tabs-content" => "example-tabs"}

      - unless @user.reminders.empty?
        #pinned.tabs-panel{class: @tab_pinned_class}
          - if @remembered_talks.empty?
            %p.nothing-notice= t(".#{@who}.pinned_empty", link: link_to(t('.explore_the_archive'), explore_path)).html_safe
          = render partial: 'shared/talk_card',  collection: @remembered_talks

        -# TODO: figure out what to do about welcome message
        -# if can? :manage, @user and @user.talks.empty? and @user.participations.empty?
        -#  = render partial: "welcome", :locals => { user: @user }


      #live.tabs-panel
        = render partial: 'shared/talk_card', collection: @live_talks

      #upcoming.tabs-panel
        - if @upcoming_talks.count > 0
          = render partial: 'shared/talk_card', collection: @upcoming_talks
        - else
          %p.nothing-notice
            = t('.nothing_scheduled')

      #archived.tabs-panel{class: @tab_archived_class}
        - if @archived_talks.empty? && current_user
          %p.nothing-notice= t(".#{@who}.archived_empty", link: link_to(t('.create_one_now'), new_talk_path), class: 'button hollow tiny').html_safe
        = render partial: 'shared/talk_card',  collection: @archived_talks

      #series.tabs-panel
        - if @series.count == 0
          %p.nothing-notice= t(".#{@who}.series_empty", link: link_to(t('.create_one_now'), new_talk_path), class: 'button hollow tiny').html_safe
        = render partial: 'shared/series_card',  collection: @series
