- content_for :head do
  = rss_link_tag t('.feed_title', username: @user.name)
  = rss_link_tag t('.listen_later_feed_title', username: @user.name), user_reminders_path(@user, format: 'rss')

- content_for :title do
  = t('.title', username: @user.name)

.header-box.row.collapse
  .large-12.columns
    .align-box
      .avatar-box
        .avatar
          = render partial: "shared/avatar_image", locals: { user: @user, size: 185 }
          %h2.user-name=@user.name

      .info-links-box>
        .info-box
          - if @user.summary.blank? and can? :manage, @user
            = link_to t('.summary_help_text'), [:edit, @user], class: 'button-summary-help'
          - else
            = @user.summary
        .links-box
          %ul.anker-links.list-style-type-none>
            %li
              .text= t('.talks', count: @talks_total)
            %li>
              = link_to "#series" do
                = t('.venues', count: @user.venues_without_default.count)
            %li
              = link_to '#listen-later' do
                = t('.listen_later', count: @user.reminders.count)
          - if can? :manage, @user
            %ul.action-links
              %li
                =link_to new_talk_path do
                  %span.icon-mic
                  = t('.create_new_talk')
              %li>
                =link_to new_talk_path do
                  %span.icon-upload-cloud
                  = t('.upload_talk')
          - else
            %ul.action-links.list-style-type-none
              %li.visitor-view
                = render partial: 'shared/hide_for_anon', locals: { link: link_to_podcast(@user) }

  - if can? :manage, @user
    = link_to t('.edit_profile'), [:edit, @user], class: 'link-edit'

- unless @live_talks.empty?
  .live-talks-box.row.collapse-large-only
    .large-12.columns
      %header.title-header.clearfix
        %h3.left= t('.live_talks', count: @live_talks.count)
        .onair.right= t('.on_air')
      %ul(class="#{talkslive_grid(@live_talks)}")
        = render partial: talkslive_partial(@live_talks), :locals => { color: 'box-live' }, collection: @live_talks

- unless @upcoming_talks.empty?
  .upcoming-talks-box.row.collapse-large-only
    .large-12.columns
      %h3= t('.upcoming_talks', count: @upcoming_talks.count)
      -# TODO show only the first 3
      %ul(class="#{talks_grid(@upcoming_talks)}")
        = render partial: talks_partial(@upcoming_talks), :locals => { color: 'box-slim' }, collection: @upcoming_talks
      -# TODO open all
      -#= link_to t('.more'), '#', class: 'link-more'

- unless @archived_talks.empty?
  .archived-talks-box.row.collapse-large-only
    .large-12.columns
      %h3= t('.archived_talks', count: @archived_talks.count)
      -# TODO show only the first 3
      %ul(class="#{talks_grid(@archived_talks)}")
        = render partial: talks_partial(@archived_talks), :locals => { color: 'box-slim' }, collection: @archived_talks
      -# TODO open all
      -#= link_to t('.more'), '#', class: 'link-more'

- unless @remembered_talks.empty?
  #listen-later.listen-later-box.row.collapse-large-only
    .large-12.columns
      %h3= t('.listen_later', count: @remembered_talks.count)
      %ul(class="#{talks_grid(@remembered_talks)}")
        = render partial: talks_partial(@remembered_talks), locals: { color: 'box-slim' }, collection: @remembered_talks

- unless @venues.empty?
  #series.user-series-box.row.collapse-large-only
    .large-12.columns
      %h3= t('.venues', count: @venues.count)
      %ul.medium-block-grid-2
        = render partial: 'shared/venue_medium_box', collection: @venues

- unless @user.about.blank?
  .description-box.row.collapse-large-only
    .large-12.columns
      .align-box
        %h3= t('.about') + ' ' + @user.try(:name)
        = raw @user.about

- if can? :manage, @user and @user.talks.empty? and @user.participations.empty?
  = render partial: "welcome", :locals => { user: @user }
