- content_for :head do
  = rss_link_tag t('.feed_title', username: @user.name)

- content_for :title do
  = t('.title', username: @user.name)

.header-box.row
  .large-12.columns.text-center
    .avatar-box
      .avatar
        = render partial: "shared/avatar_image", locals: { user: @user, size: 120 }
        %h2.user-name= @user.name
    .info-links-box
      %ul.anker-links.small-block-grid-3
        %li Talks
        %li Series
        %li Listen later
      - if can? :manage, @user
        %ul.action-links.small-block-grid-2
          -# TODO correct link
          %li
            =link_to '#' do
            %span.icon-mic
            = t('.create_new_talk')
          -# TODO correct link
          %li
            =link_to '#' do
            %span.icon-download
            = t('.upload_talk')
      - else
        %ul.action-links.small-block-grid-1
          %li= link_to_podcast(@user)
    
    - if can? :manage, @user
      = link_to t('.edit_user'), [:edit, @user], class: 'link-edit'

- unless @live_talks.empty?
  .live-talks-box.row.collapse-large-only
    .large-12.columns
      %h3= t('.live_talks', count: @live_talks.count)
      %ul.medium-block-grid-3.small-block-grid-1
        = render partial: 'shared/talk_medium_box', collection: @upcoming_talks      

- unless @upcoming_talks.empty?
  .upcoming-talks-box.row.collapse-large-only
    .large-12.columns
      %h3= t('.upcoming_talks', count: @upcoming_talks.count)
      %ul.medium-block-grid-3.small-block-grid-1
        -# TODO show only the first 3
        = render partial: 'shared/talk_medium_box', collection: @upcoming_talks
      -# TODO open all
      = link_to t('.more'), '#', class: 'link-more'

- unless @archived_talks.empty?
  .archived-talks-box.row.collapse-large-only
    .large-12.columns
      %h3= t('.archived_talks', count: @archived_talks.count)
      %ul.medium-block-grid-3.small-block-grid-1
        -# TODO show only the first 3
        = render partial: 'shared/talk_small_box', collection: @archived_talks
      -# TODO open all
      = link_to t('.more'), '#', class: 'link-more'

- unless @user.reminders.empty?
  .user-series-box.row.collapse-large-only
    .large-12.columns
      %h3= t('.listen_later', count: @user.reminders.count)
      %ul.medium-block-grid-3.small-block-grid-1
        = render partial: 'shared/reminder', collection: @user.reminders

- unless @user.venues.empty?
  .user-series-box.row.collapse-large-only
    .large-12.columns
      %h3= t('.venues', count: @user.venues.count)
      %ul.medium-block-grid-2
        = render partial: 'shared/venue_medium_box', collection: @user.venues

.description-box.row.collapse-large-only
  .large-12.columns
    .align-box
      %h3= t('.description')
      = @user.about.html_safe