- content_for :head do
  = rss_link_tag t('.feed_title', username: @user.name)

- content_for :title do
  = t('.title', username: @user.name)

.header-box.row.collapse
  .large-12.columns
    .align-box
      .avatar-box
        .avatar
          = render partial: "shared/avatar_image", locals: { user: @user, size: 185 }
          %h2.user-name
            - titleArray = @user.name.split(' ')
            - titleArray.each_with_index do |word,index|
              - if  index == 0
                %span>
                  = word
              - else
                %span>
                  = raw '&nbsp;' + word

      .info-links-box>
        .info-box
          Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis.        
        .links-box
          %ul.anker-links.list-style-type-none>
            -# TODO talk counter
            %li
              .text= t('.talks', count: 1)          
            %li>
              = link_to "#series" do
                = t('.venues', count: @user.venues.count)
            %li
              = link_to '#listen-later' do
                = @user.reminders.count
                = t('.listen_later')
          - if can? :manage, @user
            %ul.action-links
              -# TODO correct link
              %li
                =link_to '#' do
                  %span.icon-mic
                  = t('.create_new_talk')
              -# TODO correct link
              %li>
                =link_to '#' do
                  %span.icon-download
                  = t('.upload_talk')
          - else
            %ul.action-links.list-style-type-none
              %li.visitor-view
                = render partial: 'shared/hide_for_anon', locals: { link: link_to_podcast(@user) }  
    
  - if can? :manage, @user
    = link_to t('.edit_profile'), [:edit, @user], class: 'link-edit'

- unless @live_talks.empty?
  .live-talks-box.row.collapse-large-only
    .large-12.columns
      %h3= t('.live_talks', count: @live_talks.count)
      %ul.medium-block-grid-3.small-block-grid-1
        = render partial: 'shared/talk_medium_box', collection: @upcoming_talks      

- unless @upcoming_talks.empty?
  .upcoming-talks-box.row.collapse-large-only
    .large-12.columns
      %h3= t('.upcoming_talks', count: @upcoming_talks.count)
      %ul.medium-block-grid-3.small-block-grid-1
        -# TODO show only the first 3
        = render partial: 'shared/talk_medium_box', collection: @upcoming_talks
      -# TODO open all
      = link_to t('.more'), '#', class: 'link-more'

- unless @archived_talks.empty?
  .archived-talks-box.row.collapse-large-only
    .large-12.columns
      %h3= t('.archived_talks', count: @archived_talks.count)
      %ul.medium-block-grid-3.small-block-grid-1
        -# TODO show only the first 3
        = render partial: 'shared/talk_small_box', collection: @archived_talks
      -# TODO open all
      = link_to t('.more'), '#', class: 'link-more'

- unless @user.reminders.empty?
  #listen-later.user-listenlater-box.row.collapse-large-only
    .large-12.columns
      %h3= t('.listen_later', count: @user.reminders.count)
      %ul.medium-block-grid-3.small-block-grid-1
        = render partial: 'shared/reminder', collection: @user.reminders

- unless @user.venues.empty?
  #series.user-series-box.row.collapse-large-only
    .large-12.columns
      %h3= t('.venues', count: @user.venues.count)
      %ul.medium-block-grid-2
        = render partial: 'shared/venue_medium_box', collection: @user.venues

.description-box.row.collapse-large-only
  .large-12.columns
    .align-box
      %h3= t('.description')
      = raw @user.about
