<div class="welcome-page">
	<div class="page-header pull-right">
		<h2><%= t('.welcome_user')%>, <%= current_user.name %>!</h2>
	</div>
	<div class="clearfix"></div>
	<div class="well row-fluid">
		<div class="span5">
			<img src="/assets/signup/signup_world.png" class="hidden-phone alt="KluuU World" />
		</div>
		
		<div class="span7">
			<h3><%= t('.no_klu_title', :default => "Was interessiert Dich?") %></h3>
			<p><%= t('.no_klu_text') %></p>
			<%= render(:partial => 'klus/form_welcome_new_no_kluuu') %>
		</div>
	</div>
</div>

