.well.well-large.centered-box
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => "horizontal-form", :method => :post }) do |f|
    = devise_error_messages!
    %h2= t('.reset_password')
    %hr/
    .control-group
      .controls
        = label_tag "email", :class => 'control-label' do
          = t('.your_email_address')
          %br/
          = f.text_field :email, :type => "email", :class => 'text_field input-block-level'
    %div
      = button_tag :class => 'btn btn-primary pull-right' do
        = t('.send')
    .clearfix
  %br/
  %hr/
  = render "devise/shared/links"
