<div class="row-fluid">
	<div class="well well-large pull-right">

		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => "horizontal-form", :method => :post }) do |f| %>
		<%= devise_error_messages! %>

		<h2>Forgot your password?</h2>
		<hr>
		<div class="control-group">
			<div class="controls">
				<%= label_tag "email", :class => 'control-label' do %>
					Your Email<br>
					<%= f.text_field :email, :type => "email", :class => 'text_field' %>
				<% end %>
			</div>
		</div>

		<div>
			<%= button_tag 'Send Password Recovery', :class => 'btn btn-primary' %>
		</div>
		<% end %>

		<br>
		<hr>
		<%= render "devise/shared/links" %>

	</div>
</div>