%h2= t('.header')
%p.lead= t('.subtitle').html_safe
%hr

.row.pricing-features
	%h3.section-header= t('.features')
	.large-6.columns
		=image_tag "pricing/credit.svg"
		%h5.pricing-feature= t('.pricing-feature-1')
		%p.pricing-description= t('.pricing-description-1')
	.large-6.columns
		=image_tag "pricing/wallet.svg"
		%h5.pricing-feature= t('.pricing-feature-3')
		%p.pricing-description= t('.pricing-description-3')
