= simple_form_for(:purchase, url: express_new_purchase_path, method: 'get') do |f|

  .box= render 'explanation'

  .row
    .small-10.small-offset-2.medium-12.columns
    %h3.section-header= t('.talk_credit_packages')

    .pricing-box
      = render partial: 'package', collection: Pricing::BUSINESS, locals: { f: f }

  .row
    .medium-12.columns.paypal
      %p.lead= t('.ppexplain').html_safe
      %span#paypal_spinner
        = image_tag 'loader.gif'
      = f.button :submit, type: 'image', src: paypal_button_url, 'data-replace-with' => "#paypal_spinner"

  .row
    .box= render 'questions'