= simple_form_for(:purchase, url: express_new_purchase_path, method: 'get') do |f|

  .row
    .medium-12.columns
      .box= render 'explanation'
      %h3= t('.our_packages_for')

  .row
    .medium-6.columns
      .box
        %h2= t('.businesses')
        %h3= t('.and_institutions')
        = render partial: 'package', collection: Pricing::BUSINESS, locals: { f: f }

    .medium-6.columns
      .box
        %h2= t('.nonprofit')
        %h3= t('.and_personal_use')
        = render partial: 'package', collection: Pricing::NONPROFIT, locals: { f: f }

  .row
    .medium-12.columns(style="text-align: center; margin-top: 50px")
      %span#paypal_spinner
        = image_tag 'loader.gif'
      = f.button :submit, type: 'image', src: paypal_button_url, 'data-replace-with' => "#paypal_spinner"

  .row
    .medium-12.columns
      .box
        .row
          .medium-8.columns.eagle
            %br
            = t('.questions')
          .medium-4.columns
            = link_to t('.contact_us'), 'mailto:service@voicerepublic.com', class: 'button right', style: "background-color: papayaWhip"
