= simple_form_for(:purchase, url: express_new_purchase_path, method: 'get') do |f|

  .row
    .medium-12.columns
      .box= render 'explanation'

  .row
    .medium-6.columns
      .pricing-box
        %h3=t('.box-header-basic')
        %ul
          %li=t('.basic-example-1').html_safe
          %li=t('.basic-example-2').html_safe
          %li=t('.basic-example-3').html_safe
        = render partial: 'package', collection: Pricing::NONPROFIT, locals: { f: f }

    .medium-6.columns
      .pricing-box
        %h3=t('.box-header-enterprise')
        %ul
          %li=t('.enterprise-example-1').html_safe
          %li=t('.enterprise-example-2').html_safe
          %li=t('.enterprise-example-3').html_safe
          
        = render partial: 'package', collection: Pricing::BUSINESS, locals: { f: f }

  .row
    .medium-12.columns(style="text-align: center; margin-top: 50px")
      %span#paypal_spinner
        = image_tag 'loader.gif'
      = f.button :submit, type: 'image', src: paypal_button_url, 'data-replace-with' => "#paypal_spinner"

  .row
    .medium-12.columns
      .box= render 'questions'
