.row(style='margin-top: 100px')
  .large-12.columns
    - price = number_to_currency(@purchase.amount/100.0, unit: Purchase::CURRENCY)
    = t('.you_are_buying_x_for_the_price_of_y', x: @purchase.quantity, y: price)
    %br
    %br
    = simple_form_for @purchase do |f|
      = f.input :quantity, as: :hidden
      = f.input :express_token, as: :hidden
      = f.input :express_payer_id, as: :hidden
      = f.submit t('.complete_purchase', default: 'Complete Purchase'), class: 'button-vr'
    - if current_user.try(:insider?)
      %hr
      %h3= t('.gory_details')
      %pre= @purchase.to_yaml
