<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<%= link_to "KluuU", root_path, :class => "brand", :alt => "KluuU-logo" %>
			<!-- image_tag("logo.png") -->
			
			<div class="container-fluid nav-collapse">
				<ul class="nav">
					<li>
						<%= link_to "/" do %>
							<i class="icon-home"> </i> <%= current_user.name %>
						<% end if current_user %>
					</li>
				</ul>
				<ul class="nav pull-right">
					<% if current_user %>
					<% if current_user.is_admin? %>
						<li><%= link_to "admin", admin_dashboard_index_path %></li>
					<% end %>
					<li>
						<%= link_to "/" do %>
							<i class="icon-search"> </i> <%= t('.search') %>
						<% end %>
				 	</li>
				 	<li>
				 		<%= link_to "/" do %>
				 			<i class="icon-bell"> </i> <%= t('.notifications') %>
				 		<% end %>
				 	</li>
				 	<li>
				 		<%= link_to "/" do %>
				 			<i class="icon-envelope"> </i> <%= t('.messages') %>
				 		<% end %>
				 	</li>
					<li>
						<%= link_to destroy_user_session_path, :method => :delete  do %>
							<i class="icon-off"> </i> <%= t('.logout') %>
						<% end %>
					</li>
					<% end %>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>