- if current_page?(root_path) && !current_user
  .visitor-top-bar.clearfix
    .left
      .action-bar-logo
        %h1
          %span.icon-vr-logo
          %span.brand Voice Republic
      .visitor-search-box
        = form_tag "/search", :class => 'navbar-search form-search' do
          = search_field_tag 'query', params[:query], :class => "top-bar-search-field", :placeholder => t('.search')#, :required => true
          = button_tag :type => "submit", :class => "search-lupe" do
            %span.icon-magnifying-glass
      .visitor-explore-link
        = link_to t('.explore'), explore_path
    .right
      .small-authentication-links.right
        = link_to t('.login'), new_user_session_path
        = link_to t('.sign_up'), new_user_registration_path

- else

  .row.top-bar-box
    %nav.top-bar(data-topbar)
      %ul.title-area
        %li.name
          &nbsp;
        %li.toggle-topbar.menu-icon
          %a{href: "#"} Menu
      %h1.top-bar-vr-logo.text-center
        = link_to root_path do
          %span.icon-vr-logo


      %section.top-bar-section
        -# Right Nav Section
        %ul.right
          - if !current_user
            %li
              = link_to t('.login'), new_user_session_path, class: "logged-out-link"
            %li
              = link_to t('.sign_up'), new_user_registration_path, class: "logged-out-link"
          - else
            %li.has-dropdown
              %a.user-link(href='#')
                .avatar
                  = render partial: "shared/avatar_image", locals: { user: current_user, size: 25 }
                = current_user.name

              %ul.user-link-dropdown.dropdown
                %li= link_to t('.my_profile'), current_user
                %li= link_to t('.test_talk'), test_talk_path
                %li= link_to t('.schedule_talk'), new_talk_path
                - if Settings.payment_enabled and !current_user.is_pro?
                  %li= link_to t('.go_pro'), purchases_path
                %li= link_to t('.upload_talk'), new_upload_path
                %li
                  = link_to(destroy_user_session_path, method: :delete) do
                    %i.icon-off
                    = t('.logout')

        -# Left Nav Section
        %ul.left
          %li.top-bar-search-box
            = form_tag "/search", :class => 'navbar-search form-search' do
              = search_field_tag 'query', params[:query], :class => "top-bar-search-field", :placeholder => t('.search')
              = button_tag :type => "submit", :class => "search-lupe" do
                %span.icon-magnifying-glass
          %li.explore-link
            = link_to t('.explore'), explore_path
