.row.top-bar-box
  %nav.top-bar(data-topbar)
    %ul.title-area
      %li.name
        &nbsp;
      %li.toggle-topbar.menu-icon
        %a{href: "#"} Menu
    %h1.top-bar-vr-logo.text-center
      = link_to root_path do
        = image_tag "logo.png", :alt => "Voice Republic"

    %section.top-bar-section
      / Right Nav Section
      %ul.right
        - if current_user.guest?
          %li
            = link_to t('.login'), new_user_session_path
          %li
            = link_to t('.sign_up'), new_user_registration_path
        - else
          %li.has-dropdown
            %a(href='#')
              = image_tag current_user.avatar.thumb('25x25#nw').url,
                alt: current_user.name, size: '25x25'
              = current_user.name

            %ul.dropdown
              %li
                = link_to current_user do
                  = t('.my_profile', default: 'My Profile')
              %li
                = link_to new_venue_path do
                  = t('.create_venue')
              %li
                = link_to edit_user_path(current_user) do
                  = t('.settings')
              %li
                = link_to(destroy_user_session_path, method: :delete) do
                  %i.icon-off
                  = t('.logout')

      / Left Nav Section
      %ul.left
        %li.top-bar-search-box
          = form_tag "/search", :class => 'navbar-search form-search' do
            = search_field_tag 'query', params[:query], :class => "top-bar-search-field", :placeholder => t('.search')#, :required => true
            = button_tag :type => "submit", :class => "search-lupe" do
              %i.fi-magnifying-glass
