<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to root_path, :class => "brand", :title => "KluuU" do %>
				<h1><%= image_tag "logo.png", :alt => "KluuU Logo" %></h1>
			<% end %>			
			<div class="container nav-collapse">
				<ul class="nav">
					<li>
						<%= link_to(dashboard_path, :title => "Dashboard", :class => "nav-left-border") do %>
							<i class="icon-dashboard"></i>
							<%#= t('.Dashboard', :default => "Dashboard") %>
						<% end  if current_user %>
					</li>
					<% if current_user.is_admin? %>
							<li>
								<%= link_to "admin", admin_dashboard_index_path %>
							</li>
						<% end %>
					<li>
						<%= link_to new_user_klu_path(:user_id => current_user, :klu_type => "Kluuu"), :title => "Create KluuU" do %>
							<i class="icon-bullhorn"></i>
						<% end %>
					</li>
					<li>
						<%= link_to new_user_klu_path( :user_id => current_user), :title => "New Question" do %>
							<i class="icon-edit"></i>
						<% end %>
					</li>					
				</ul>
				<ul class="nav pull-right">
					<% if current_user %>
						<li class="navbar-search form-search">
							<%= form_tag "/search", :method => 'get', :class => 'navbar-search form-search' do %>
								<%= search_field_tag 'query', nil, :placeholder => t('.enter_search_term', :default => ""), :class => "search-query navbar-search-query span2" %>
								<i class="icon-search"> </i> 
							<% end %>
					 	</li>
					 	<li class="dropdown nav-left-border">
					 		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" id="dLabel" title="<%= t('.notifications', :default => "Notifications") %>">
					 			<i class="icon-bell"></i>
					 			<b class="caret"></b>
					 			<% #unless current_user.notifications.unread.empty? %>
					 			<span class="badge badge-important" id="alerts-count-<%= current_user.id %>">
					 				<%= current_user.notifications.unread.count %>
					 			</span>&nbsp;
					 			<% #end %>
					 		</a>
					 		<%= render(:partial => 'shared/notifications_list') %>
					 	</li>
					 	<li>
					 		<%= link_to(user_conversations_path(:user_id => current_user), :title => t('.messages', :default => "Messages")) do %>
					 			<i class="icon-envelope"> </i>
					 		<% end %>
					 	</li>
						<li class="actionbar-user dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
								<%= image_tag current_user.account.portrait(:thumb), :alt => current_user.name %> <%= current_user.firstname %>
								<span id="user-availability" class="label label-<%= css_class_for_available(current_user.available) %>"><%= current_user.available %></span>
								<b class="caret"></b>
							</a>
							<%= render(:partial => 'shared/user_dropdown_list') %>
						</li>

					<% end %>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>
<%= subscribe_to "/notifications/#{current_user.id}" %>