<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			 <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
				<div class="phone-left-padding visible-phone visible-tablet"></div><%# left-border, visible by phone only %>
				<%= link_to root_path, :class => "brand", :title => "KluuU" do %>
				<h1><%= image_tag "logo.png", :alt => "KluuU Logo" %></h1>
			<% end %>			
			<ul class="nav">
				<li class="<%= current_page?current_user ? 'active' : '' %>">
					<%= link_to user_path(:id => current_user), :class => "actionbar-profile-link nav-left-border", :title => current_user.name do %>
						<%= image_tag current_user.account.portrait(:thumb), :alt => current_user.name %> <span class="hidden-phone">Profile</span>
					<% end %>						
				</li>					
				<li class="<%= current_page?(dashboard_path) ? 'active' : '' %>">
					<%= link_to(dashboard_path, :title => "Dashboard") do %>
						<!-- <i class="icon-dashboard"></i><span class="navbar-menu-name">Dashboard</span>-->
						Dashboard
					<% end  if current_user %>
				</li>
			</ul>
			<div class="container nav-collapse">
				<ul class="nav">					
					<% if current_user.is_admin? %>
							<li>
								<%= link_to "admin", admin_dashboard_index_path %>
							</li>
						<% end %>				
					<li class="hidden-tablet">
						<%= link_to new_user_klu_path(:user_id => current_user, :klu_type => "Kluuu"), :title => "Create KluuU" do %>
							<span class="label label-kluuu">
								<%= t(".create_kluuu", :default => "Neues KluuU") %>
							</span>
						<% end %>
					</li>
					<li class="hidden-tablet">
						<%= link_to new_user_klu_path( :user_id => current_user), :title => "Create Question" do %>							
							<span class="label label-question">
								<%= t(".create_question", :default => "Neue Frage") %>
							</span>
						<% end %>
					</li>
				</ul>
				<ul class="nav pull-right">

					<% if current_user %>
						<li class="navbar-search form-search">
							<%= form_tag "/search", :method => 'get', :class => 'navbar-search form-search' do %>
								<%= search_field_tag 'query', nil, :class => "search-query navbar-search-query" %>
								<%= button_tag :type => "submit", :class => "navbar-submit-button" do %>
									<i class="icon-search"></i>
								<% end %>
							<% end %>
					 	</li>

					 	<li class="dropdown nav-left-border actionbar-notifications">
					 		<a href="#" class="dropdown-toggle actionbar-notifications-dropdown" data-toggle="dropdown" role="button" id="dLabel" title="<%= t('.notifications', :default => "Notifications") %>">
					 			<i class="icon-bell"></i>
					 			<b class="caret"></b>
					 			<%# unless current_user.notifications.unread.empty? %>
					 			<span class="badge badge-important" id="alerts-count-<%= current_user.id %>">
					 				<%= current_user.notifications.alerts.unread.count %>
					 			</span>
					 			<%# end %>
					 		</a>
					 		<%= render(:partial => 'shared/notifications_list') %>
					 	</li>

					 	<li>
					 		<%= link_to(user_conversations_path(:user_id => current_user), :title => t('.messages', :default => "Messages")) do %>
					 			<i class="icon-envelope"> </i>
					 		<% end %>
					 	</li>

						<li class="actionbar-online-status dropdown">
							<a href="#" class="dropdown-toggle actionbar-user-dropdown" title="<%=current_user.available.capitalize %>" data-toggle="dropdown" role="button">
								<div id="user-availability" class="label label-<%= css_class_for_available(current_user.available) %>">
									<%= current_user.available.capitalize %>
								</div>
								<b class="caret"></b>
							</a>
							<%= render(:partial => 'shared/user_dropdown_list') %>
						</li>

					<% end %>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>
<%= subscribe_to "/notifications/#{current_user.id}" %>
