- mask_num = rand(1000000)

-# default
- img_path ||= "/images/empty.png"

-# if user given
- user ||= nil
- img_path = user.avatar.thumb("#{size}x#{size}#nw").url if user

.avatar-image{style: "width:#{size}px;height:#{size}px"}
  %img{height: "100%", width: "100%", src: img_path}
  / %svg{baseprofile: "full", height: "100%", version: "1.2", width: "100%"}
  /   %defs
  /     %mask{id: "mask-out-#{mask_num}", maskcontentunits: "userSpaceOnUse", maskunits: "userSpaceOnUse", transform: "scale(1)"}
  /       %image{height: "100%", width: "100%", "xlink:href" => "/images/mask_octagon.png"}
  /     %mask{id: "mask-in-#{mask_num}", maskcontentunits: "userSpaceOnUse", maskunits: "userSpaceOnUse", transform: "scale(1)"}
  /       %img{height: "90%", width: "90%", x: "5%", "xlink:href" => "/images/mask_octagon.png", y: "5%"}
  /   %rect.avatar-bg{height: "100%", mask: "url(#mask-out-#{mask_num})", width: "100%", x: "0", y: "0"}
  /   %image{height: "100%", mask: "url(#mask-in-#{mask_num})", width: "100%", x: "0", "xlink:href" => img_path, 'ng-xlink-href' => "{{user.image || message.user.image}}", y: "0"}
