- mask_num = rand(1000000)
- img_path = user.nil? ? "{{guest.image}}" : user.avatar.thumb("#{img_size}x#{img_size}#nw").url

.avatar-image.avatar-host-image{style: "width:#{img_size}px;height:#{img_size}px"}
  %svg{baseprofile: "full", height: "100%", version: "1.2", width: "100%"}
    %defs
      %mask{id: "mask-out-1-#{mask_num}", maskcontentunits: "userSpaceOnUse", maskunits: "userSpaceOnUse", transform: "scale(1)"}
        %image{height: "100%", width: "100%", "xlink:href" => "/images/mask_octagon.png"}
      %mask{id: "mask-out-2-#{mask_num}", maskcontentunits: "userSpaceOnUse", maskunits: "userSpaceOnUse", transform: "scale(1)"}
        %image{height: "100%", width: "100%", "xlink:href" => "/images/mask_octagon.png"}
      %mask{id: "mask-out-3-#{mask_num}", maskcontentunits: "userSpaceOnUse", maskunits: "userSpaceOnUse", transform: "scale(1)"}
        %image{height: "100%", width: "100%", "xlink:href" => "/images/mask_octagon.png"}    
      %mask{id: "mask-out-4-#{mask_num}", maskcontentunits: "userSpaceOnUse", maskunits: "userSpaceOnUse", transform: "scale(1)"}
        %image{height: "100%", width: "100%", "xlink:href" => "/images/mask_octagon.png"}
      %mask{id: "mask-in-#{mask_num}", maskcontentunits: "userSpaceOnUse", maskunits: "userSpaceOnUse", transform: "scale(1)"}
        %image{height: "92%", width: "92%", x: "4%", "xlink:href" => "/images/mask_octagon.png", y: "4%"}
    %rect.avatar-host-bg-1{height: "100%", mask: "url(#mask-out-1-#{mask_num})", width: "100%", x: "0", y: "0"}
    %rect.avatar-host-bg-2{height: "100%", mask: "url(#mask-out-2-#{mask_num})", width: "100%", x: "0", y: "0"}
    %rect.avatar-host-bg-3{height: "100%", mask: "url(#mask-out-3-#{mask_num})", width: "100%", x: "0", y: "0"}
    %rect.avatar-host-bg-4{height: "100%", mask: "url(#mask-out-4-#{mask_num})", width: "100%", x: "0", y: "0"}            
    %image{height: "100%", mask: "url(#mask-in-#{mask_num})", width: "100%", x: "0", "xlink:href" => img_path, y: "0"}
