<ul class="nav nav-tabs dashboard-tabs">
  <li class="<%= current_page?(dashboard_news_path) ? 'active' : '' %>">
    <%= link_to(t('.news', :default => "Neuigkeiten"), dashboard_news_path) %>
  </li>
  <% unless Venue.of_user(current_or_guest_user).empty? %>
  <li class="<%= current_page?(dashboard_venues_path) ? 'active' : '' %>">
    <%= link_to(t('.venues'), dashboard_venues_path() ) %>
  </li>
  <% end %>
  <li class="pull-right <%= current_page?(dashboard_settings_edit_path) ? 'active' : '' %>">
    <%= link_to(t('.settings', :default => "Einstellungen"), dashboard_settings_edit_path ) %>
  </li>
</ul>
