-# THIS IS DUPLICATE CONTENT FROM THE ASSET POOPLINE
- nl = CGI::escapeHTML("\n")
- galabel = "#{shareable_type}:#{shareable_id}"

.share-panel.hide
  .share-title
    %p share:
  .jp-spacer
  .action-btn.share-btn{class: 'twitter share', data: { shareable_id: shareable_id,
    shareable_type: shareable_type } }  
    = link_to '#', 'data-ga-event' => "click share facebook #{galabel}" do        
      = naked_icon 'twitter'
  .jp-spacer
  .action-btn.share-btn{class: 'facebook share', data: { shareable_id: shareable_id,
    shareable_type: shareable_type } }
    = link_to '#', 'data-ga-event' => "click share facebook #{galabel}" do            
      = naked_icon 'facebook'
  .jp-spacer
  .action-btn.share-btn{class: 'mail share', data: { shareable_id: shareable_id,
   shareable_type: shareable_type } }
    = mail_to "your@friend.com",
        'data-ga-event' => "click share mail #{galabel}",
        subject: t('social_share.mail_subject'),
        body: t('social_share.mail_greeting') + nl + nl + t('social_share.mail_body') + request.original_url + nl + nl + t('social_share.mail_goodbye') + nl + current_user.try(:name).to_s do           
      = naked_icon 'email'
  .jp-spacer
  %a.action-btn.close-share{title: "Cancel"}            
    ×
  .jp-spacer