<footer>
	<section class="footer-container">
		<div class="pull-left">

			<div class="footer-column">
				<h3>Languages</h3>
				<%= link_to_unless I18n.locale == :en, 'English', url_for(:controller => controller_name, :action => action_name, :locale => :en) -%> 
				<br>
				<%= link_to_unless I18n.locale == :de, 'Deutsch', url_for(:controller => controller_name, :action => action_name, :locale => :de) -%>
			</div>

			<div class="footer-column">
				<h3><%= t('.legal') %></h3>
				<%= link_to( t('.terms_of_use'), txt_tou_path) %><br>
				<%= link_to( t('.terms_and_conditions'), txt_agb_path) %>
				
			</div>

			<div class="footer-column">
				<h3>Board of Directors</h3>
				Kuurz & Lumpur AG<br>
				Patrick Frank<br>
				Ole Kretschmann<br>
			</div>

			<div class="footer-column">
				<h3>Address</h3>
				Langstraße 10<br>
				8004 Zürich<br>
				Schweiz<br>
			</div>

			<div class="footer-column">
				<h3>Contact</h3>
				<a href="mailto:service@kluuu.com">service@kluuu.com</a><br><br>

				Website<br>
				<a href="http://www.kluuu.com">http://www.kluuu.com</a>
			</div>

		</div>
		<div class="pull-right">
			&copy; KluuU 2012<br />
			<small><span class="label">rev: <%#= git_revision %> - version <%= Kluuu2::VERSION %></span></small>
		</div>
	</section>
</footer>