%footer
  %section.footer-container
    .pull-left
      .footer-column
        %h3.footer-title Languages
        = link_to_unless I18n.locale == :en, 'English', url_for(:controller => controller_name, :action => action_name, :locale => :en)
        %br/
        = link_to_unless I18n.locale == :de, 'Deutsch', url_for(:controller => controller_name, :action => action_name, :locale => :de)
      .footer-column
        %h3.footer-title= t('.legal')
        = link_to( t('.terms_of_use'), txt_tou_path)
        %br/
        = link_to( t('.terms_and_conditions'), txt_agb_path)
      .footer-column
        %h3.footer-title Board of Directors
        Kuurz & Lumpur AG
        %br/
        Patrick Frank
        %br/
        Ole Kretschmann
        %br/
      .footer-column
        %h3.footer-title Address
        Langstraße 10
        %br/
        8004 Zürich
        %br/
        Schweiz
        %br/
      .footer-column
        %h3.footer-title Contact
        %a{:href => "mailto:service@kluuu.com"} service@kluuu.com
        %br/
        %br/
        Website
        %br/
        %a{:href => "http://www.kluuu.com"} http://www.kluuu.com
    .pull-right
      %h3.footer-title &copy; KluuU 2013
