%footer
  .row.collapse
    .large-12.text-center
      %hr
      %ul.list-style-type-none
        %li
          = link_to t('.about'), "http://blog.voicerepublic.com/article/about/", target: '_blank'
          %br/
          = link_to t('.company'),"http://blog.voicerepublic.com/article/about/", target: '_blank'
          %br/
          = link_to t('.team'), "http://blog.voicerepublic.com/article/about/", target: '_blank'

        %li
          = link_to t('.blog'), "http://blog.voicerepublic.com", target: '_blank'
          %br/
          = link_to t('.press_kit'), 'http://blog.voicerepublic.com/about/press-kit/', target: '_blank'
          %br/
          = link_to t('.faq'), "http://blog.voicerepublic.com/audio-faq", target: '_blank'

        %li
          = link_to t('.manifest'), "http://blog.voicerepublic.com/about/manifest", target: '_blank'
          %br/
          = link_to t('.terms'),"http://blog.voicerepublic.com/legal/terms-of-use/", target: '_blank'
          %br/
          = link_to t('.pricing'),static_pages_pricing_path

        %li
          = link_to t('.contact'), "mailto:service@voicerepublic.com", target: '_blank'
          %br/
          = link_to "http://facebook.com/voicerepublic", title: t('.fb'), target: '_blank' do
            %span.icon-fb
          = link_to "http://twitter.com/_voicerepublic", title: t('.tw'), target: '_blank' do
            %span.icon-tw


        %li
          %span.vr-copyright &copy; Voice Republic Media AG 2014
          -#.release= release
      %br/
      %br/
