%footer
  .row.collapse
    .large-12.text-center
      %hr
      %ul.list-style-type-none
        %li
          = link_to t('.about'), "http://blog.voicerepublic.com/about", target: 'blank'
          %br/
          = link_to t('.company'),"http://blog.voicerepublic.com/about", target: 'blank'
          %br/
          = link_to t('.team'), "http://blog.voicerepublic.com/about", target: 'blank'

        %li
          = link_to t('.blog'), "http://blog.voicerepublic.com", target: 'blank'
          %br/
          = link_to t('.press_kit'), 'static/Voice_Republic_Presseinformationen.pdf', target: 'blank'
          %br/
          = link_to t('.faq'), "http://blog.voicerepublic.com/audio-faq", target: 'blank'

        %li
          = link_to t('.manifest'), "http://blog.voicerepublic.com/about/manifest", target: 'blank'
          %br/
          = link_to t('.terms'),"http://blog.voicerepublic.com/legal/terms-of-use/", target: 'blank'
          %br/
          = link_to t('.pricing'),"http://blog.voicerepublic.com/about/pricing", target: 'blank'          

        %li
          = link_to t('.contact'), "mailto:service@voicerepublic.com", target: 'blank'
          %br/
          = link_to "http://facebook.com/voicerepublic", title: t('.fb'), target: 'blank' do
            %span.icon-fb
          = link_to "http://twitter.com/_voicerepublic", title: t('.tw'), target: 'blank' do
            %span.icon-tw
          

        %li
          %span.vr-copyright &copy; VoiceRepublic Media AG 2014
          -#.release= release
      %br/
      %br/
