- unless current_user.nil?
  = link
- else
  %a(href="#" class="button-podcast" data-reveal-id="modal-login-signup")
    %span.icon-podcast
    %button.button.small.hollow= t('.subscribe_to_podcast')
  #modal-login-signup.reveal-modal.text-left(data-reveal)
    %p.redirect-text
      = t('.redirect_text')
    = link_to t('.login'), new_user_session_path, class: 'overlay-button left'
    = link_to t('.signup'), new_user_registration_path, class: 'overlay-button right'
    %a.close-reveal-modal= raw '&#215;'
