.navbar.navbar-fixed-top.navbar-logged-out
  .navbar-inner
    .container
      / .btn-navbar is used as the toggle for collapsed navbar content
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .pull-left
        .phone-left-padding.hidden-desktop
        = link_to root_path, :title => "Home" , :class => "brand" do
          %h1= image_tag "logo.png", :alt => "KluuU"
      .container-fluid.nav-collapse
        %ul.nav
        %ul.nav.pull-right
          %li
            = link_to "login","/users/sign_in"
          %li
            = link_to "signup","/users/sign_up"
          %li
            = link_to venues_path, :class => "action-bar-venue-link" do
              = t('.more_talks')
      / /.nav-collapse
