<div class="navbar navbar-fixed-top navbar-logged-out">
	<div class="navbar-inner">
		<div class="container">
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<div class="pull-left">
				<div class="phone-left-padding hidden-desktop"></div><%# left-border, visible by phone only %>

				<%= link_to root_path, :title => "Home" , :class => "brand" do %>
				<h1><%= image_tag "logo.png", :alt => "KluuU" %></h1>
				<% end %>
				<span class="logo-claim">The Web made personal</span>
			</div>

			<div class="container-fluid nav-collapse">
				<ul class="nav">
				</ul>
				<ul class="nav pull-right">
<!-- 					<li>
						<%#= link_to new_user_registration_path, :class => "tell-me-more" do %>
							What's this?
						<#% end %>
					</li> -->
					<li>
						<%= link_to(new_user_registration_path, :class => "first-landing-signup nav-left-border", :id => "sign-up") do %>
						<%= t('.sign_up', :default => 'Sign Up') %><i class="icon-share-alt"></i>
						<% end %>
					</li>
					<li>
						<%= link_to(new_user_session_path, :id => "log-in") do %>
							<%= t('.sign_in', :default => 'Log In') %><i class="icon-signin"></i>
						<% end %>
					</li>			
				</ul>
			</div><!--/.nav-collapse -->

		</div>
	</div>
</div>