<div class="navbar navbar-fixed-top navbar-logged-out">
	<div class="navbar-inner">
		<div class="container">
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<div class="pull-left">
				<div class="phone-left-padding hidden-desktop"></div><%# left-border, visible by phone only %>

				<%= link_to root_path, :title => "Home" , :class => "brand" do %>
				<h1><%= image_tag "logo.png", :alt => "KluuU" %></h1>
				<% end %>
				<!-- <span class="logo-claim">Video Chat</span> -->
			</div>
			<div class="container-fluid nav-collapse">
				<ul class="nav">
				</ul>
				<ul class="nav pull-right">
						<li class="navbar-search form-search">
							<%= form_tag "/" + I18n.locale.to_s + "/search", :method => 'get', :class => 'navbar-search form-search' do %>
								<%= search_field_tag 'query', nil, :class => "search-query navbar-search-query", :placeholder => t('.search') %>
								<%= button_tag :type => "submit", :class => "navbar-submit-button" do %>
									<i class="icon-search"></i>
								<% end %>
							<% end %>
					 	</li>					
					<li>
						<%= link_to(new_user_registration_path, :class => "first-landing-signup nav-left-border", :id => "sign-up") do %>
						<%= t('.sign_up', :default => 'Sign Up') %><i class="icon-share-alt"></i>
						<% end %>
					</li>
					<li>
						<%= link_to(new_user_session_path, :id => "log-in") do %>
							<%= t('.sign_in', :default => 'Log In') %><i class="icon-signin"></i>
						<% end %>
					</li>			
				</ul>
			</div><!--/.nav-collapse -->

		</div>
	</div>
</div>
<%= subscribe_to "/notifications/#{session[:session_id]}" %>
