<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse"> 
				<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> 
			</a>

			<%= link_to root_path, :class => "brand", :title => "KluuU-logo" do %>
				<h1><%= image_tag "KluuU_Logo_Black_home.png", :alt => "KluuU" %></h1>
			<% end %>
			<span class="logo-claim">The Web made personal</span>
			<div class="container-fluid nav-collapse">
				<ul class="nav">
				</ul>
				<ul class="nav pull-right">
					<li>
						<%= link_to new_user_registration_path do %>
						<%# <i class="icon-share-alt">  </i>%> <%= t('.sign_up', :default => 'Sign Up') %>
						<% end %>
					</li>
					<li>
						|&nbsp;&nbsp;
					</li>
<!-- 					<li class="nav-fb-connect">
						<%#= link_to user_omniauth_authorize_path(:facebook) do %>
							<%#= image_tag "facebook_connect.png", :alt => t('.sign_in_with_facebook', :default => "Sign in with facebook") %>
						<%# end %>
					</li>
					<li class="nav-google-connect">
						<%#= link_to user_omniauth_authorize_path(:google_oauth2) do %>
							<%#= image_tag "google-sign-in.png", :alt => t('.sign_in_with_google', :default => "Sign in with Google +") %>
						<%# end %>						
					</li> -->
					<li>
						<%= link_to new_user_session_path do %>
							<%= t('.sign_in', :default => 'Log In') %>
						<% end %>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>