<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<%= link_to "KluuU", root_path, :class => "brand", :alt => "KluuU-logo" %>
			<!-- image_tag("logo.png") -->
			
			<div class="container-fluid nav-collapse">
				<ul class="nav">
					<li>
						<%= link_to "/" do %>
							<i class="icon-home"> </i> <%= current_user.name %>
						<% end if current_user %>
					</li>
				</ul>
				<ul class="nav pull-right">
					<li>
						<%= link_to t('.sign_in_with_facebook'), user_omniauth_authorize_path(:facebook) %>
					</li>
					<li>
						<%= link_to t('.sign_in_with_google'), user_omniauth_authorize_path(:google_oauth2) %>
					</li>
					<li>
						<%= link_to new_user_session_path do %>
							<i class="icon-user"> </i> <%= t('.sign_in') %>
						<% end %>
					</li>
					<li>
						<%= link_to t('.sign_up'), new_user_registration_path -%>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>