<% if flash[:notice] %>
	<div data-closable class="flash-msg callout warning">
		<%= flash[:notice] %>
		<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
	</div>
<% end %>

<% if flash[:warning] %>
	<div data-closable class="flash-msg callout warning">
		<%= flash[:warning] %>
		<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
	</div>
<% end %>

<% if flash[:error] %>
	<div data-closable class="flash-msg callout alert">
		<%= flash[:error] %>
		<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
	</div>
<% end %>

<% if flash[:info] %>
	<div data-closable class="flash-msg callout info">
		<%= flash[:info] %>
		<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
	</div>
<% end %>

<% if flash[:alert] %>
	<div data-closable class="flash-msg callout alert">
		<%= flash[:alert] %>
		<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
	</div>
<% end %>


