<div class="flash_messages" id="flash_messages">

	<% if flash[:notice] %>
		<div class="flash-alert">
			<%= flash[:notice] %>
		</div>
	<% end %>

	<% if flash[:warning] %>
		<div class="flash-warning">
			<%= flash[:warning] %>
		</div>
	<% end %>

	<% if flash[:error] %>
		<div class="flash-error">
			<%= flash[:error] %>
		</div>
	<% end %>

	<% if flash[:info] %>
		<div class="flash-info">
			<%= flash[:info] %>
		</div>
	<% end %>

	<% if flash[:alert] %>
		<div class="flash-alert">
			<%= flash[:alert] %>
		</div>
	<% end %>

</div>
