<ul class="dropdown-menu" aria-labelledby="dLabel" id="actionbar-notifications-<%= current_user.id %>">

	<% current_user.notifications.alerts.limit(5).each do |notification| %>
		<li class="menu-item">
			<%= link_to_url_for_notification_reason(notification) do %>
				<span class="user-image" data-user-id="<%= notification.other.id %>"><%= image_tag notification.other.account.portrait(:thumb), :alt => notification.other.name  %></span>
				<%= notification %>
			<% end %>
		</li>
	<% end %>

	
	<li class="menu-item text-align-center">
		<%= link_to(dashboard_news_path) do %>
			<%= t('.all', :default => "See All") %>
		<% end %>
	</li>

</ul>