notice
<% if flash[:notice] %>
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">
		×
	</button>
	<strong><%= t('.success') %>!</strong> <%= flash[:notice] %>
</div>
<% end %>
<% if flash[:warning] %>
<div class="alert alert-block">
	<button type="button" class="close" data-dismiss="alert">
		×
	</button>
	<strong><%= t('.warning') %>!</strong> <%= flash[:warning] %>
</div>
<% end %>

<% if flash[:error] %>
<div class="alert alert-error">
	<button type="button" class="close" data-dismiss="alert">
		×
	</button>
	<strong><%= t('.error') %>!</strong> <%= flash[:error] %>
</div>
<% end %>

<% if flash[:info] %>
<div class="alert alert-info">
	<button type="button" class="close" data-dismiss="alert">
		×
	</button>
	<strong>Info!</strong> <%= flash[:info] %>
</div>
<% end %>
