- link_id = "pb_#{venue.id}_#{rand 100}"
= link_to participations_path(venue_id: venue.id),
    :class => "btn btn-venue btn-large pull-right",
    :method => :post,
    :id => link_id do
  = t('helpers.venue_actions.participate_button')
  \&nbsp;#{image_tag "coffee_icon_white.png"}

- unless user_signed_in?
  - content_for :javascript do
    :javascript
      $(function () {
        $("##{link_id}").click(function (e) {
          alert("#{t 'devise.failure.unauthenticated'}")
          return false
        })
      })
