-# variant -clean means without jingles
- media_links = talk.media_links('-clean')
- galabel = "talk:#{talk.id}"
.vr-player.jp-jplayer{ data: { selector: "#jc-#{talk.id}", mp3: media_links["mp3"], m4a: media_links["m4a"], ogg: media_links["ogg"] } }

.jp-audio{ id: "jc-#{talk.id}" }
  .jp-type-single
    .jp-gui.jp-interface
      %ul.jp-controls
        %li.pause
          %a.jp-pause{ href: "javascript:;", tabindex: "1" }
            = icon_tag 'pause'
        %li.play
          %a.jp-play{ href: "javascript:;", tabindex: "1" }
            = icon_tag 'play'
      .jp-progress
        .jp-seek-bar(data-ga-event="click player seek #{galabel}")
          .jp-play-bar
      .jp-volume-bar
        .jp-volume-bar-value
      .jp-time-holder
        %span.jp-current-time
        %span.time-divider /
        %span.jp-duration
        
            
    .jp-no-solution
      %span= t '.update_required'
      = t '.update_message'
      = succeed "." do
        %a(href="http://get.adobe.com/flashplayer/" target="_blank" data-ga-event="click player getflash #{galabel}")
          Flash plugin
