-# variant -clean means without jingles
- media_links = talk.media_links('-clean')
- galabel = "talk:#{talk.id}"
.vr-player.jp-jplayer{ data: { selector: "#jc-#{talk.id}", mp3: media_links["mp3"], m4a: media_links["m4a"], ogg: media_links["ogg"] } }

.jp-audio{ id: "jc-#{talk.id}" }
  -#.jp-type-single
  .jp-gui.jp-interface
    - if talk.live?
      .state-msg
        = link_to talk, class: 'teaser-link', target: '_blank' do
          %p= t('.listen_on_vr').html_safe
    - if talk.prelive?
      .state-msg
        = link_to talk, class: 'teaser-link', target: '_blank' do
          %p
            = t('.live_in') + time_ago_in_words(talk.starts_at)
    - if talk.postlive?
      .state-msg
        = link_to talk, class: 'teaser-link', target: '_blank' do
          %p= t('.processing').html_safe
    - else
      .jp-controls.hide
        %a.jp-pause(data-ga-event="click player pause #{galabel}")
          = naked_icon 'pause'
        %a.jp-play(data-ga-event="click player play #{galabel}"  )
          = naked_icon 'play'
      .jp-spacer
      .jp-volume-bar
        .jp-volume-bar-value
        .jp-volume-bar-value-dancing
      .teaser-msg.hide
        = link_to "http://voicerepublic.com", class: 'teaser-link', target: '_blank' do
          %p= t('.nice_stuff_on_vr').html_safe
      .jp-progress
        .jp-seek-bar(data-ga-event="click player seek #{galabel}")
          .jp-play-bar
        .loading-indicator
          %p= t('.loading')
        .jp-time-holder.hide
          -# TODO: have it show the scheduled start, scheduled end when the new streaming thing is ready
            -# %span.sched-start= talk.starts_at
            -# %span.time-divider -
            -# %span.sched-end= talk.ends_at
          
          %span.jp-current-time
          %span.time-divider /
          %span.jp-duration
    .jp-spacer
    .action-panel
      = link_to talk, target: 'blank', class: 'action-btn slides-btn', title: 'View Slides' do
        = naked_icon 'slides'
      .jp-spacer
    .action-panel
      = link_to talk, target: 'blank', class: 'action-btn chat-btn', title: 'Comment' do
        = naked_icon 'chat'
      .jp-spacer
      - if current_user
        .pinboard{ class: "pin-Talk-#{talk.id}" }
          - if reminder = current_user.remembers?(talk)
            = render partial: 'reminders/unpin', locals: { reminder: reminder }
          - else
            = render partial: 'reminders/pin', locals: { rememberable: talk }
      - else
        -# display a fake pin button
        %a.action-btn.pin-btn{title: "No Pin Pin"}
          = naked_icon 'pin'
      -#%a.action-btn.pin-btn{title: "Pin This Talk"}            
        -#= naked_icon 'pin'
      .jp-spacer
      %a.action-btn.action-share{title: "Share"}    
        = naked_icon 'share'

    = render partial: 'shared/embed_share_buttons', locals: { shareable_id: @talk.id, shareable_type: 'talk' }
    = render partial: 'shared/embed_msg'

      
          
  .jp-no-solution
    %span= t '.update_required'
    = t '.update_message'
    = succeed "." do
      %a(href="http://get.adobe.com/flashplayer/" target="_blank" data-ga-event="click player getflash #{galabel}")
        Flash plugin
