-# variant -clean means without jingles
- media_links = talk.media_links('-clean')
- galabel = "talk:#{talk.id}"
.vr-player.jp-jplayer{ data: { selector: "#jc-#{talk.id}", mp3: media_links["mp3"], m4a: media_links["m4a"], ogg: media_links["ogg"] } }

.jp-audio{ id: "jc-#{talk.id}" }
  -#.jp-type-single
  .jp-gui.jp-interface
    .jp-controls
      %a.jp-pause{ href: "javascript:;", tabindex: "1" }
        = naked_icon 'pause'
      %a.jp-play{ href: "javascript:;", tabindex: "1" }
        = naked_icon 'play'
    .jp-spacer
    .jp-volume-bar
      .jp-volume-bar-value
      .jp-volume-bar-value-dancing
    .jp-spacer
    .jp-progress
      .jp-seek-bar(data-ga-event="click player seek #{galabel}")
        .jp-play-bar
      .jp-time-holder
        %span.jp-current-time
        %span.time-divider /
        %span.jp-duration
    .jp-spacer
    .action-panel
      = link_to talk, target: 'blank', class: 'action-btn slides-btn', title: 'View Slides' do
        = naked_icon 'slides'
      .jp-spacer
    .action-panel
      = link_to talk, target: 'blank', class: 'action-btn chat-btn', title: 'Comment' do
        = naked_icon 'chat'
      .jp-spacer
      %a.action-btn.pin-btn{title: "Pin This Talk"}            
        = naked_icon 'pin'
      .jp-spacer
      %a.action-btn.action-share{title: "Share"}    
        = naked_icon 'share'
    = render partial: 'shared/embed_share_buttons'
    = render partial: 'shared/embed_msg'

      
          
  .jp-no-solution
    %span= t '.update_required'
    = t '.update_message'
    = succeed "." do
      %a(href="http://get.adobe.com/flashplayer/" target="_blank" data-ga-event="click player getflash #{galabel}")
        Flash plugin
