-# variant -clean means without jingles
- media_links = talk.media_links('-clean')
- galabel = "talk:#{talk.id}"
.vr-player.jp-jplayer{ data: { selector: "#jc-#{talk.id}", mp3: media_links["mp3"], m4a: media_links["m4a"], ogg: media_links["ogg"] } }

.jp-audio{ id: "jc-#{talk.id}" }
  .jp-type-single
    .jp-gui.jp-interface
      .jp-progress
        .jp-seek-bar(data-ga-event="click player seek #{galabel}")
          .jp-play-bar
      .jp-volume-bar
        .jp-volume-bar-value
      .jp-time-holder
        .jp-current-time.text-left
        .jp-duration
      %ul.jp-controls.hide-for-medium-up
        %li
          %a.jp-pause{ href: "javascript:;", tabindex: "1" }
            %span.icon-pause
        %li
          %a.jp-play{ href: "javascript:;", tabindex: "1" }
            %span.icon-play
      %ul.outside-controls
        %li
          %a.jp-pause(href="javascript:;" data-ga-event="click player pause #{galabel}")
            %span.icon-octa-full
            %span.icon-pause-octa
        %li
          %a.jp-play(href="javascript:;" data-ga-event="click player play #{galabel}")
            %span.icon-octa-full
            %span.icon-play-octa
    .jp-no-solution
      %span= t '.update_required'
      = t '.update_message'
      = succeed "." do
        %a(href="http://get.adobe.com/flashplayer/" target="_blank" data-ga-event="click player getflash #{galabel}")
          Flash plugin
