<ul class="dropdown-menu">

	<li class="menu-item">
		<%= link_to user_path(:id => current_user) do %>
			<%= t('.my_profile') %>
		<% end %>
	</li>

	<li class="menu-item">
		<%= link_to new_user_klu_path(:user_id => current_user, :klu_type => "Kluuu") do %>
			<span class="label label-kluuu"><%= t('.create_kluuu') %></span>
		<% end %>
	</li>

	<li class="menu-item">
		<%= link_to( new_venue_path ) do %>
			<span class="label label-venue"><%= t('.create_venue') %></span>
		<% end %>
	</li>

	<li class="menu-item">
		<%= link_to user_conversations_path(:user_id => current_user), :title => "#{t('.messages')}" do %>
			<%= t('.messages') %>
		<% end %>
	</li>
	<li class="menu-item">
		<%= link_to(dashboard_contacts_path) do %>
			<%= t('.contacts') %>
		<% end %>
	</li>
	<li class="menu-item">
		<%= link_to user_balance_account_path(:user_id => current_user) do %>
			<%= t('.finances') %>
		<% end %>
	</li>
	<li class="menu-item">
		<%= link_to dashboard_settings_edit_path do %>
			<%= t('.settings') %>
		<% end %>
	</li>	

</ul>