- series = series_medium_box

%li.series-medium-box
  = link_to series, class: 'link-series' do
    %h4.series-title= series.title
    .series-teaser= series.teaser
    = image_tag series.image.thumb("340x104#nw").url
  .action-box
    .black-background-box
      - unless series.talks.prelive.empty?
        = link_to series_path(series, anchor: 'upcoming-talks') do
          = t('.upcoming_talks', count: series.talks.prelive.count)
      %span.icon-mic        
      - unless series.talks.archived.empty?
        = link_to series_path(series, anchor: 'archived-talks') do
          = t('.archived_talks', count: series.talks.archived.count)

