- series = series_card

= link_to series do
  .talk-card.columns.series
    .talk-card-inside
      %p.series-label.float-left= t('.series')
      %p.series-label.float-right= t('.total_talks', count: series.talks.count)
      .image-box-holder
        .image-box
          // = image_tag series.image.thumb("600x338#").url, alt: series.image_alt
          = image_tag series.series_image_url, alt: series.image_alt
      %h5.title= series.title
      %p.lead
        = series.teaser
      - unless series.talks.prelive.empty?
        = link_to series_path(series, anchor: 'upcoming-talks'), class: 'button tiny upcoming-talks' do
          = t('.upcoming_talks', count: series.talks.prelive.count)
