- talk ||= talk_velvet_medium_box
- reminder = reminder

.medium-6.large-3.columns.talkbox{"data-equalizer-watch" => ""}
  = link_to talk do
    %img.talk-avatar{src: talk.image.thumb('640x360#').url}
  .text-left
    .row.collapse.datetime
      .small-12.columns.info
        .small-4.columns
          = time_ago_in_words(talk.starts_at) 
          ago
        .small-4.columns.text-center
          = talk.duration
        .small-4.columns.text-right
          = number_to_human(talk.play_count, units: {thousand:"k",million:"M"}, precision: 0)
    = link_to talk.user do
      %p.link-text
        = render partial: "shared/avatar_image_velvet", locals: { user: talk.user, size: 24 }
        = talk.user.name
    = link_to talk, class: 'text-link' do
      %h3.title
        = talk.title
      
  - if reminder and can?(:destroy, reminder)
    .actions
      = link_to '&times;'.html_safe, reminder, method: 'delete', title: t('.delete_reminder'), class: 'delete-reminder'
