- talk ||= talk_card

= link_to talk do
  .talk-card.columns
    .talk-card-inside
      %h5.title= talk.title
      %p.meta
        %span.running-time
          = talk.duration
          = t('.Min')
        - if talk.archived?
          %span.play-count= human_count(talk.play_count) + t('.plays')
      .image-box
        = image_tag talk.image.thumb("600x338#").url
        .hover-info
          %p.teaser= truncate(talk.teaser, length: 200)
          - unless talk.speakers.blank?
            %p.speaker
              = t('.speaker')
              = talk.speakers
      .bottom-info
        = icon_tag talk.icon
        .info-right
          %p.date
            %strong{ class: talk.state }
              = l(talk.starts_at, format: :designed) if talk.prelive?
              = t('.onair') if talk.live?
              = t('.ago_by', time: time_ago_in_words(talk.starts_at)) if talk.archived?
          = link_to user_path(talk.user), class: "publisher" do
            = truncate(talk.user.name, length: 20)
