- talk = talk_medium_box

%li.talk-medium-box.row.collapse
  .large-2.medium-2.columns
    %img.talk-avatar{src: talk.image.thumb('108x61#nw').url}
  .large-10.medium-10.columns.talk-medium-text-box
    = link_to [@venue, talk] do
      .talk-datetime
        = t('.date_start_end', date: l(talk.starts_at, format: :date_only),
          start_time: l(talk.starts_at, format: :time_only),
          end_time: l(talk.ends_at, format: :time_only))
        = #distance_of_time_in_words(talk.starts_at, talk.ends_at)(#{talk.duration} minutes) ?
      .talk-title= talk.title
      .talk-teaser
        = link_to [@venue, talk] do
          = talk.teaser
          = t('.read more')
    - if can? :manage, talk
      .box-actions
        = link_to [:edit, @venue, talk] do
          %span.icon-pencil
        = link_to [@venue, talk], delete_params do
          %span.icon-x
