- talk = talk_small_box

%li.talk-small-box.text-left(class="#{color}")
  .talk-small-padding
    .breadcrumbs-box.clearfix
      = link_to talk.user, class: 'left' do
        %span.icon-person
        %span.link-text= talk.user.name
      = link_to talk.series, class: 'right' do
        %span.icon-ellipsis
        %span.link-text= talk.series.title
    = link_to talk do
      .top-image(style="background-image: url(#{talk.image.thumb('400x200#nw').url})")
      .text-box
        .datetime
          = raw t('.date_start_end', date: l(talk.starts_at, format: :date_only_short),
            start_time: l(talk.starts_at, format: :time_only),
            end_time: l(talk.ends_at, format: :time_only))
        %h4.title= talk.title.upcase
        .teaser
          = talk.teaser
      .tune-in.hide
        = t('.tune_in')
