- talk ||= talk_card

-#
  A link_to inside a link_to changes the behaviour of link_to!
  Also an a-tag inside an a-tag causes problems in some browsers.

  I see 3 options:

  A. Moving the lines marked with TROUBLE outside the scope of the
  surrounding link and moving it back in place with css.

  B. Ditch the surrounding link_to and linking the elements one by
  one.

  C. Getting rid of the inner a-tag, using a span instead and linking
  it up with javascript.



.talk-card.columns{ class: talk.state }
  .talk-card-inside
    = link_to talk do
      %h5.title= talk.title

    = link_to user_path(talk.user), class: "publisher" do
      = truncate(talk.user.name, length: 27)

    
    = link_to talk do
      .image-box
        = image_tag talk.image.thumb("600x338#").url, alt: talk.image_alt
        -# unless talk.teaser.blank?
        .hover-info
          .meta-data.clearfix
            .running-time.float-right
              = talk.duration
              = t('.Min')
            .date.float-left
              %strong{ class: talk.state }
                = l(talk.starts_at, format: :designed) if talk.prelive?
                = t('.onair') if talk.live?
                - if %w(postlive processing suspended archived).include?(talk.state)
                  = t('.ago_by', time: time_ago_in_words(talk.starts_at))

        .teaser.clearfix
          %p.teaser= truncate(talk.teaser, length: 500)
          - unless talk.speakers.blank?
            %p.speaker
              = t('.speaker')
              = talk.speakers

    .bottom-info
      = link_to talk do
        = icon_tag talk.icon
      - if talk.archived?
        = link_to talk do
          .play-count
            = human_count(talk.play_count) + t('.plays')
      - if current_user
        .pinboard{ class: "pin-Talk-#{talk.id}" }
          - if reminder = current_user.remembers?(talk)
            = render partial: 'reminders/unpin', locals: { reminder: reminder }
          - else
            = render partial: 'reminders/pin', locals: { rememberable: talk }
      - else
        -# display a fake pin button
        = link_to talk do
          .pinboard.pin-placeholder

  - if %w(pending postlive processing suspended).include?(talk.state)
    .not_available
      %p.lead= t(".message.#{talk.state}")
