- talk ||= talk_live_box

%li.talk-live-box
  .left-box
    = link_to talk do
      %img.talk-avatar{src: talk.image.thumb('339x222#nw').url}
  .right-box.text-left
    = link_to talk, class: 'text-link' do
      %h4.title= talk.title.upcase
      %button.tune-in(type="button")
        = t('.tune_in')
      - unless talk.speakers.blank?
        .speakers-box
          .speakers-title= t('.speakers')
          %p= talk.speakers
