- if current_page?(root_path) && !current_user
  .sticky
    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        .logo.left
          = link_to root_path do
            %span.lp-logo.icon-vr-logo
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span Menu
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          %li
            %a{:href => "#"} This
          %li
            %a{:href => "#"} That
- else    
  .sticky
    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        .logo.left
          = link_to root_path do
            %span.lp-logo.icon-vr-logo
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span Menu
      / %section.top-bar-section
      /   / Right Nav Section
      /   %ul.right
      /     %li
      /       %a{:href => explore_path} Discover
      /     %li.has-dropdown
      /       %a{:href => "#"} Avatar
      /       %ul.dropdown
      /         %li
      /           %a{:href => "#"} Profile
      /         %li.active
      /           %a{:href => "#"} Logout

      %section.top-bar-section
        -# Right Nav Section
        %ul.right
          %li
            = link_to t('.discover'), explore_path
          - if !current_user
            %li
              = link_to t('.login'), new_user_session_path, class: "logged-out-link"
            %li
              = link_to t('.sign_up'), new_user_registration_path, class: "logged-out-link"
          - else
            %li.has-dropdown
              %a.user-link(href='#')
                / .avatar
                = render partial: "shared/avatar_image_velvet", locals: { user: current_user, size: 60 }
                / = current_user.name

              %ul.user-link-dropdown.dropdown
                %li= link_to t('.my_profile'), current_user
                %li= link_to t('.test_talk'), test_talk_path
                %li= link_to t('.schedule_talk'), new_talk_path
                %li= link_to t('.upload_talk'), new_upload_path
                / - if !current_user.is_pro?
                /   %li= link_to t('.pricing'), purchases_path
                %li
                  = link_to(destroy_user_session_path, method: :delete) do
                    %i.icon-off
                    = t('.logout')