- user = user_medium_box

%li.user-medium-box.row.collapse
  .large-2.medium-2.columns
    = link_to user_path(user) do  
      .avatar
        .avatar-box
          = render partial: "shared/avatar_image",  locals: {user: user, img_size: 62}
          .avatar-name.text-center
            = user.name
  .large-10.medium-10.columns.about-box.text-left
    = link_to user_path(user) do
      %p= raw user.about
