#main-menu.top-bar.transparent
  .top-bar-left
    %ul#branding.menu{"data-dropdown-menu" => ""}
      %li.logo.show-for-medium
        = link_to '/' do
          = naked_icon 'logo'
          -#%img{:src => "/images/logos/vr_red.svg", :width => "50"}/
      %li#mobile-logo.logo.show-for-small-only
        %a
          = naked_icon 'logo'
          -# %img{:src => "/images/logos/vr_red.svg", :width => "50"}/
  .top-bar-right.show-for-medium
    %ul.dropdown.menu{"data-dropdown-menu" => "", "data-disable-hover" => "true", "data-click-open" => "true"}
      %li.has-submenu.avatar.hide-for-small-only
        %a{:href => "#"}
          = render partial: "shared/avatar_image_velvet", locals: { user: current_user, size: 36 }
        %ul.submenu.menu.vertical{"data-submenu" => ""}
          %li= link_to t('.my_profile'), current_user
          %li= link_to t('.test_talk'), test_talk_path
          %li= link_to t('.schedule_talk'), new_talk_path
          %li= link_to t('.upload_talk'), new_upload_path
          %li
            = link_to(destroy_user_session_path, method: :delete) do
              = t('.logout')

#mobile-nav.show-for-small-only.hide
  .menu.vertical
    %li= link_to t('.home'), root_path
    %li= link_to t('.my_profile'), current_user
    %li= link_to t('.create_a_talk'), new_talk_path
    %li
      = link_to(destroy_user_session_path, method: :delete) do
        = t('.logout')