- venue = venue_medium_box

.venue-medium-box.row.text-center
  .medium-12.columns
    .venue-text-bg(style="background-image: url(#{venue.image.url})")
      .venue-text-box
        = link_to venue do
          %h2.venue-title= venue.title
          %p.venue-teaser= venue.teaser
    .action-box
      - count = venue.talks.prelive.count
      - url = venue_path(venue, anchor: 'upcoming-talks')
      = link_to url, class: 'button-venue-box' do
        %span.icon-mic
        = raw t('.upcoming_talks', count: count)

      - count = venue.talks.archived.count
      - cap = t('.archived_talks', count: count, default: '%{count} Archived Talks')
      - url = venue_path(venue, anchor: 'archived-talks')
      = link_to url, class: 'button-venue-box' do
        %span.icon-play-octa
        = cap
      -#
        - count = venue.participations.count
        - cap = t('.participants', count: count, default: '%{count} Participants')
        - url = venue_path(venue, anchor: 'participants')
        = link_to cap, url, class: 'button-venue-box'

      -#= link_to t('.edit_venue'), [:edit, venue], class: 'button'
