<%= form_for [@user,@balance_check_in_order], :html => { :class => 'form-horizontal' } do |f| %>
  
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= @user.balance_account.currency %><%= f.select :amount, Balance::CheckInOrder::PAYMENT_VALUES, :class => 'select_field' %> 
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                new_user_balance_check_in_order_path, :class => 'btn' %>
  </div>
<% end %>
