<h3><%= t('.check_in_prepaid_amount') %></h3>


<div class="well well-small span6">
	
	<span class="label label-info">
		<%= humanized_money_with_symbol(@balance_check_in_order.amount ) %>
	</span> <%= t('.check_in_prepaid_amount')%>
	
	<div class="form-actions">
		<%= render(:partial => 'balance/check_in_orders/standard_paypal_form', :locals => { :check_in_order => @balance_check_in_order }) %>
		<%= link_to(t('.cancel_check_in_order'), user_balance_check_in_order_path(:user_id => @user, :id => @balance_check_in_order), :method => 'delete', :class => 'btn') %>
	</div>
</div>
