<%= form_for @rating, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :rateable_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :rateable_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :user_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rateable_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rateable_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :score, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :score, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ratings_path, :class => 'btn' %>
  </div>
<% end %>
