<div id="container-<%= chat.css_id_for_chat %>" class="chat-instance">
	<nav class="chat-functions"></nav>
	<header>
		<%= link_to user_path(:id => partner), :class => "user-thumbnail-link clearfix" do %>
			<%= image_tag(partner.account.portrait.url(:thumb)) %>
			<%= partner.name %>
		<% end %>
	</header>
	<div class="well well-small">
		<ul class="chat-message unstyled scrollable-chat" id="<%= chat.css_id_for_chat %>">
			<!-- chat-messages to be here. renders chats/_single_chat_message.js.erb -->
		</ul>
	</div>
	<%= render(:partial => 'form', :locals => { :chat => chat }) %>
	<%= subscribe_to chat.channel_name %>
</div>

<audio autoplay="autoplay"> 
  <source src="static/sounds/drip.wav" />
</audio>
