
<%= form_for(chat, :url => post_chat_path(:one => chat.recipient_for(current_user).id, :two => current_user.id ), :remote => true ) do |f| %>

<% if chat.errors.any? %>

<div id="error_explanation">
	<h2><%= pluralize(chat.errors.count, "error") %> prohibited this chat from being saved:</h2>
	<ul>
		<% chat.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="control-group">
	<%= f.label t('.your_message', :default => 'Your Message') %></strong>
	<div class="controls">
		<%= f.text_area :body, :class => 'text_area chat_textarea', :rows => 2, :placeholder => t('.your_message', :default => 'Your Message'), :autofocus => "autofocus" %>
	</div>
</div>
<div class="btns">
	<%= link_to(t('.end_chat'), "", :class => 'btn btn-small chat_close' ) %>
	<%= f.submit t('.submit', :default => 'Submit'), :class => 'btn btn-small btn-primary chat_submit' %>
</div>
<% end %>
