<% the_url = @klu.new_record? ? user_klus_path(:user_id => @user) : user_klu_path(:user_id => @user, :id => @klu ) %>
<% method = @klu.new_record? ? :post : :put %>
<%= form_for [@user,@klu], :as => :klu,  :url => the_url, :method => method, :html => { :class => 'form-horizontal kluuu large-klu klu-form' }  do |f| %>
<%= hidden_field_tag 'klu_type', @klu.instance_of?(Kluuu) ? 'Kluuu' : 'NoKluuu' %>
<div class="klu-layout">
	
	<%= f.error_messages %>
	
	<div class="control-group">
		<%= f.label :title, :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :title, :class => 'text_field klu-title' %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span8">	
			<div class="kluuu-pics">
				<%if @klu.new_record? %>
					<%= f.fields_for :klu_images do |builder| %>
						<%= render(:partial => 'klu_image_fields', :locals => { :f => builder })%>
	  			<% end %>
	  		<% else %>
		  		<ul class="unstyled">
						<% @klu.klu_images.each_with_index do |ki, index| %>
							<% if index == 0 && !@klu.new_record?%>
							<li class="klu-eyecatcher">
								<%= image_tag(ki.image.url(:large)) unless ki.new_record? %>
								<div class="klu-image-caption">
									<%= ki.description unless ki.new_record? %>
								</div>
								<%= link_to edit_user_klu_klu_image_path(:user_id => @klu.user, :klu_id => @klu, :id => ki), :class => "kluuu-image-edit-link" do %>
								<i class="icon-pencil"></i>
								<%= t ".edit" %>
								<% end unless ki.new_record? %>
							</li>
							<% else %>
							<li>
								<%= link_to edit_user_klu_klu_image_path(:user_id => @klu.user, :klu_id => @klu, :id => ki) do %>
								<%= image_tag(ki.image.url(:medium)) %>
								<% end unless ki.new_record? %>
								<%= link_to user_klu_klu_image_path(:user_id => @klu.user, :klu_id => @klu, :id => ki), :class => "kluuu-image-edit-link" do %>
								<i class="icon-pencil"></i>
								<%= t ".edit" %>
								<% end unless ki.new_record? %>
							</li>
							<% end %>
						<% end %>
					</ul>
	  		<% end %>
			</div>
			<div class="control-group">
				<%= f.label :description, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_area :description, :class => 'text_area', :rows => 10 %>
				</div>
			</div>
			
		</div>
		<div class="span4">
			<div class="control-group">
			<%= f.label :category_id, :class => 'control-label' %>
			<div class="controls">
				<%= f.select :category_id, Category.all.sort.collect { |x| [x.name, x.id] }, :include_blank => false, :class => 'select_field'%>
			</div>
			</div>
			<div class="control-group">
				<%= f.label :tag_list, :class => "control-label" %>
				<div class="controls">
					<%= f.text_field :tag_list, :class => 'text_field' %>
				</div>
			</div>
			<h4><%= t(".call_options") %></h4>
			<div class="control-group">
				<%= f.label :available_at_times, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :available_at_times, :class => 'text_field'%>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :charge_type, :class => 'control-label'%>
				<div class="controls">
					<%= f.select(:charge_type, Kluuu::CHARGE_TYPES, { :selected => @klu.charge_type} ) %>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :charge_cents, :class => 'control-label'%>
				<div class="controls">
					<%= f.number_field(:charge_cents )%>
				</div>
			</div>
			<div class="control-group checkbox">
				<%= f.label :published, :class => 'control-label' %>
				<div class="controls">
					<%= f.check_box :published, :class => 'check_box' %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="form-actions">
	<%= f.submit nil, :class => 'btn btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	user_path(:id => @user), :class => 'btn' %>
</div>

<% end %>
