<% the_url = @klu.new_record? ? user_klus_path(:user_id => @user) : user_klu_path(:user_id => @user, :id => @klu ) %>
<% method = @klu.new_record? ? :post : :put %>
<%= form_for [@user,@klu], :as => :klu,  :url => the_url, :method => method, :html => { :class => 'form-horizontal no-kluuu large-klu' }  do |f| %>
<%= hidden_field_tag 'klu_type', @klu.instance_of?(Kluuu) ? 'Kluuu' : 'NoKluuu' %>
	<%= f.error_messages %>

	<div class="control-group">
		<%#= label_tag "klu_title", :class => 'control-label' do %>
			<%#= t('.your_interest_today') %>
		<%# end %>
		<div class="controls">
			<%= f.text_field :title, :class => 'klu-title' %>
		</div>
		<% cat = Category.first %>
		<%= f.hidden_field :category_id, :value => cat.id || 0 %>
		<%= f.hidden_field :tag_list, :class => 'text_field' %>
	</div>

	<div class="form-actions">
		<%= f.submit t('.continue', :default => 'continue'), :class => 'btn btn-primary' %>
	</div>

<% end %>