<% the_url = @klu.new_record? ? user_klus_path(:user_id => @user) : user_klu_path(:user_id => @user, :id => @klu ) %>
<% method = @klu.new_record? ? :post : :put %>
<%= form_for [@user,@klu], :as => :klu,  :url => the_url, :method => method, :html => { :class => 'form-horizontal no-kluuu large-klu' }  do |f| %>
<%= hidden_field_tag 'klu_type', @klu.instance_of?(Kluuu) ? 'Kluuu' : 'NoKluuu' %>
<div class="row-fluid">
	<%= f.error_messages %>
	<div class="well no-kluuu klu-form klu-form-new span4">

		<div class="control-group">
			<%= label_tag "klu_title", :class => 'control-label' do %>
			<%= t('.title', :default => "Titel") %>
			<% end %>
			<div class="controls">
				<%= f.text_field :title, :class => 'klu-title' %>
			</div>
			<div class="control-group">
				<%= label_tag "klu_category_id", :class => 'control-label' do %>
				<%= t('.category', :default => "Kategorie") %>
				<% end %>
				<div class="controls">
					<%= f.select :category_id, Category.all.sort.collect { |x| [x.name, x.id] }, :include_blank => false, :class => 'select_field'%>
				</div>
			</div>
			<div class="control-group">
				<%= label_tag "klu_tag_list", :class => "control-label" do %>
				<%= t('.tag_list', :default => "Tag Liste") %>
				<% end %>
				<div class="controls">
					<%= f.text_field :tag_list, :class => 'text_field' %>
				</div>
			</div>
		</div>
		<div class="control-group hidden">
			<div class="controls">
				<%= label_tag :published, :class => 'checkbox'  do %>
				<%= f.check_box :published %> <%= t('.published', :default => "? Frage-KluuU öffentlich anzeigen.") %>
				<% end %>
			</div>
		</div>
		<div class="form-actions">
			<%= f.submit t('.save_no_kluuu', :default => "Frage speichern"), :class => 'btn btn-primary' %>
			<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
			user_path(:id => @user), :class => 'btn' %>
		</div>
	</div>

	<div class="span8">
		<%= render(:partial => 'klus/texte/new_no_kluuu_intro_text') %>
	</div>
</div>
<% end %>
