<% the_url = @klu.new_record? ? user_klus_path(:user_id => @user) : user_klu_path(:user_id => @user, :id => @klu ) %>
<% method = @klu.new_record? ? :post : :put %>
<%= form_for [@user,@klu], :as => :klu,  :url => the_url, :method => method, :html => { :class => 'form-horizontal klu-new kluuu large-klu klu-form' }  do |f| %>

<%= hidden_field_tag 'klu_type', @klu.instance_of?(Kluuu) ? 'Kluuu' : 'NoKluuu' %>

<h2>Neues KluuU ! erstellen</h2>
<div class="well well-large">
	<p class="lead">
		Du kennst dich mit einem Thema aus und möchtest mit anderen darüber sprechen?
	</p>
	<p>
		Dann bist Du hier richtig. Ein KluuU bietet Dir die Möglichkeit Dein spezifischen Thema zu veröffentlichen und mit interessierten Menschen in den Dialog zu treten.
		<br />
		<span class="label label-info">Übrigens</span>: Dein KluuU ist auffindbar - auch über Suchmaschinen wie Google.
		<br />
		Du kannst über KluuU auch unterrichten oder Beratungen anbieten und dabei Geld verdienen. Mehr dazu findest Du hier (Link zu Finanzen.)
	</p>
	<p>
		<span class="label label-info">Übrings</span>: Veröffentliche Dein KluuU auf Deiner Webseite (oder Deinem Blog) und biete Deinen Kunden die Möglichkeit live mit Dir zu sprechen.
	</p>
</div>

<%= f.error_messages %>

<div class="row-fluid">
	<div class="span6">
		<div class="control-group  well">
			<%= label_tag "klu_title", :class => 'control-label' do %>
			<%= t('.title', :default => "Titel (notwendig)") %>*
			<% end %>
			<div class="controls">
				<%= f.text_field :title, :class => 'text_field klu-title' %>
			</div>
			<div class="klu-new-help">
				<%= t('.enter_the_name_of_your_kluuu') %>
			</div>
		</div>

		<div class="control-group well">
			<%= label_tag "klu_description", :class => 'control-label' do %>
			<%= t('.description', :default => "Beschreibung (notwendig)") %>*
			<% end %>
			<div class="controls">
				<%= f.text_area :description, :class => 'text_area', :rows => 10 %>
			</div>
			<div class="klu-new-help">
				<%= t('.describe_your_kluuu') %>
			</div>
		</div>

		<div class="well">
			<h6 class="no-margin"><%= t('.image', :default => "Bild (notwendig)") %>*</h6>
			<%= f.fields_for :klu_images do |p| %>
			<%= render(:partial => 'klu_image_fields', :locals => { :f => p }) %>
			<% end %>
			<div class="klu-new-help ">
				<%= t('.add_image_to_your_kluuu') %>
			</div>
		</div>

	</div>

	<div class="span6">
		<div class="well">
			<div class="row-fluid">
				<div class="control-group span8">
					<%= label_tag "klu_tag_list", :class => 'control-label' do %>
					<%= t('.tag_list', :default => "Tags (notwendig)") %>*
					<% end %>
					<div class="controls">
						<%= f.text_field :tag_list, :class => 'text_field' %>
					</div>
				</div>

				<div class="control-group span3 pull-right">
					<%= label_tag "klu_category_id", :class => 'control-label' do %>
					<%= t('.category', :default => "Kategorie (notwendig)") %>*
					<% end %>
					<div class="controls">
						<%= f.select :category_id, Category.all.sort.collect { |x| [x.name, x.id] }, :include_blank => false, :class => 'select_field'%>
					</div>
				</div>
			</div>
			<div class="klu-new-help ">
				<%= t('.please_use_significant_tags') %>
			</div>
		</div>

		<div class="control-group well">
			<%= label_tag "klu_available_at_times", :class => 'control-label' do %>
			<%= t('.available_at_times', :default => "Wann bist du Online? (z.B. Mo - Fr, 9.00 - 17.00)") %>
			<% end %>
			<div class="controls">
				<%= f.text_field :available_at_times, :class => 'text_field'%>
			</div>
			<div class="klu-new-help">
				<%= t('.at_what_time_are_you_available') %>
			</div>
		</div>

		<div class="well">
			<div class="row-fluid">
				<div class="control-group span3">
					<%= label_tag "klu_charge_type", :class => 'control-label' do %>
					<%= t('.charge_type', :default => "Preis") %>
					<% end %>
					<div class="controls">
						<%= f.select(:charge_type, Kluuu::CHARGE_TYPES, { :selected => @klu.charge_type} ) %>
					</div>
				</div>
				<div class="control-group span3">
					<%= label_tag "klu_charge_amount", :class => 'control-label' do %>
					<%= t('.charge_cents', :default => "Betrag in Cents") %>
					<% end %>
					<div class="controls">
						<%= f.number_field(:charge_cents )%>
					</div>
				</div>
			</div>
			<div class="klu-new-help">
				<%= t('.you_can_charge_for_your_kluuu') %>
				<br>
				<%= t('.you_can_charge_by_minute_or_a_fixed_price') %>
				<br>
				<%= t('.how_much_do_you_want_to_charge') %>
			</div>
		</div>

		<div class="control-group well hidden">
			<div class="controls">
				<%= label_tag :published, :class => 'checkbox' do %>
				<%= f.check_box :published, :class => 'check_box' %> <%= t('.published', :default => "Öffentlich setzen") %>
				<% end %>
			</div>
			<div class="klu-new-help">
				<%= t('.please_check_to_publish_your_kluuu') %>
				<br>
				<% t('.later_you_can_unpublish_and_publish_any_time') %>
			</div>
		</div>

	</div>

	<div class="form-actions">
		<%= f.submit nil, :class => 'btn btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")), user_path(:id => @user), :class => 'btn' %>
	</div>
</div>

<% end %>
