<% the_url = @klu.new_record? ? user_klus_path(:user_id => @user) : user_klu_path(:user_id => @user, :id => @klu ) %>
<% method = @klu.new_record? ? :post : :put %>
<%= form_for [@user,@klu], :as => :klu,  :url => the_url, :method => method, :html => { :class => 'form-horizontal no-kluuu large-klu klu-form' }  do |f| %>

<%= hidden_field_tag 'klu_type', @klu.instance_of?(Kluuu) ? 'Kluuu' : 'NoKluuu' %>
<div class="well">
	<div class="row-fluid">
		<div class="span8 kluuu-pics">
			<div class="control-group">
				<%= f.label :title, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :title, :class => 'text_area klu-title' %>
				</div>
				<div class="control-group">
					<%= f.label :category_id, :class => 'control-label' %>
					<div class="controls">
						<%= f.select :category_id, Category.all.sort.collect { |x| [x.name, x.id] }, :include_blank => false, :class => 'select_field'%>
					</div>
				</div>
				<div class="control-group">
					<%= f.label :tag_list, :class => "control-label"%>
					<div class="controls">
						<%= f.text_field :tag_list, :class => 'text_field' %>
					</div>
				</div>
			</div>
		</div>
		<div class="span4">
			<h4><%= t(".call_options") %></h4>
			<div class="control-group">
				<%= f.label :available_at_times, :class => 'control-label' %>
				<div class="controls">
					<%= f.text_field :available_at_times, :class => 'text_field'%>
				</div>
			</div>
			<div class="control-group checkbox">
				<%= f.label :published, :class => 'control-label' %>
				<div class="controls">
					<%= f.check_box :published, :class => 'check_box' %>
				</div>
			</div>
			<div class="control-group checkbox">
				<%= f.label :uses_status, :class => 'control-label' %>
				<div class="controls">
					<%= f.check_box :uses_status, :class => 'check_box' %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="form-actions">
	<%= f.submit nil, :class => 'btn btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	user_klus_path(:user_id => @user), :class => 'btn' %>
</div>
<% end %>