<div class="span4">

	<aside class="klu-user-info">
		<%= render :partial => 'klus/kluuu_call_button', :locals => {:klu => klu, :user => klu.user} %>				
		<div class="klu-user-info-inner">
			<h4><%= link_to klu.user.name, user_path(:id => klu.user) %></h4>
			
			<div class="klu-status-or-about">
				<%= render(:partial => "klus/user_about", :locals => { :klu => klu } ) %>
			</div>
			
			<nav>
				<ul>
					<% if current_or_guest_user && current_or_guest_user.id != klu.user.id %>
					<li>
						<%= link_to(new_message_path(:receiver_id => klu.user), :class => "btn btn-small", :remote => true) do %>
						 <i class="icon-envelope"></i><%= t('.send_message') %>
						<% end if current_or_guest_user %>
					</li>
					<li>
						<%= link_to( new_chat_path(:user_id => klu.user.id ), :remote => true, :class => 'btn btn-primary btn-chat' ) do %>
							<i class="icon-comments"> </i> <%= t('.chat') %>
						<% end if klu.user.available? %>
					</li>
					<% end %>
					<li class="klu-user-info-more-klus">
						<%= link_to(t('.more_klus_by_this_user'), user_path(:id => klu.user) ) %>
					</li>
				</ul>
			</nav>
		</div>
	</aside>


	<aside class="klu-meta">
		<div class="klu-availability"> <strong><%= t('.available_at_times') %></strong> <%= klu.available_at_times %></div>
		<ul class="klu-categories unstyled">
			<li>
				<strong><%=t('.category') %></strong> <br>
				<%= klu.category.name %>
			</li>
		</ul>

		<div class="klu-tags">
			<strong><%= t('.tags') %> </strong>
			<ul>
				<% klu.tags.each do |tag| %>
				<li>
					<%= link_to(tag.name,tagged_with_path(:tag => tag.name) , :class => 'tags') %>
				</li>
				<% end %>
			</ul>
		</div>
	</aside>
</div>