<article class="kluuu large-klu clearfix">

	<div class="row-fluid">		
		<section class="klu-layout span9">
			<header>
				<h2 class="klu-title"><%= klu.title %></h2>
			</header>

			<%# OVERALL RATING %>
			<aside class="klu-overall-rating">
				<%= overall_rating_stars(klu) %>
			</aside>

	
			<div class="row-fluid">
				<section class="span8">

					<%# PICTURES %>
					<ul class="unstyled kluuu-pics">
						test: <%= data_attributes_image_url(@klu) %>
						<% klu.klu_images.each_with_index do |ki, index| %>
						<% if (index == 0) %>
						<li class="klu-eyecatcher">
							<%= image_tag(ki.image.url(:large)) %>
							<% if ki.description.length > 0 %>
								<div class="klu-image-caption">
									<%= ki.description %>
								</div>
							<% end %>
						</li>
						<% else %>
						<li>
							<%= link_to user_klu_klu_image_path(:user_id => klu.user, :klu_id => klu, :id => ki) do %>
							<%= image_tag(ki.image.url(:medium)) %>
							<% end %>
							<data data-image-url-$i="http://something" />
						</li>
						<% end %>
						<% end %>
					</ul>
					<section class="klu-description">
						<%= simple_format klu.description %>
					</section>
				</section><!-- End of Kluu-header klu-layout-->
		<%= render(:partial => 'kluuu_user', :locals => {:klu => klu}) %>
	</section>
		<%# MATCHES %>
		<aside class="span3 klu-matches">
			<div class="well">
			<h4><span class="badge badge-info">Tip: </span>&nbsp; <%= t('.Menschen_die_mehr_erfahren_möchten_über') %></h4>
			<p class="text-info"><strong><%=klu.title %>:</strong></p>
			</div>
			<%= render(:partial => 'matches', :locals => {:klu => klu }) %>
		</aside>

	</div>

	<div class="large-klu-left row-fluid">
		<div class="span9">

				<%# RATINGS %>		
				<div class="row-fluid">
					<section class="klu-ratings span8">
						<h5><%= klu.ratings.count %> <%= t('.feedbacks', :default => 'Feedbacks') %></h5>
						<% unless klu.ratings.empty? %>
						<ul class="unstyled">
							<% klu.ratings.limit(5).each do |rating| %>
							<li>
								<%= render(:partial => 'ratings/rating', :locals => { :rating => rating}) %>
							</li>
							<% end %>
						</ul>
						<% end %>
					</section>
					
					<%# BOOKMARKS %>
					<ul class="unstyled span4">
					<h4>
						<%= t('.this_kluuu_is_bookmarked') %> <%= klu.bookmarks.count %> <%= t('.times') %>
					</h4>
					<% klu.bookmarks.each do |b|%>
					<li>
						<%= link_to(user_path(:id => b.user), :title => b.user.name ) do %>
						<%= image_tag(b.user.account.portrait(:thumb), :class => "img-polaroid", :alt => b.user.name ) %>
						<% end %>
					</li>
					<% end %>
							</ul>
				</div>
		</div>
	</div>

	<%# KLUUU TOP ACTION BAR %>
	<%= render(:partial => "kluuu_top_actions", :locals => {:klu => klu}) %>

</article>

