<aside class="klu-top-bar clearfix">
	<ul class="klu-actions">
		<li class="klu-bookmark-link">
			<%= bookmark_links(current_user, @klu) %>
		</li>
		<% if can? :manage, @klu %>
		<li>
			<%= link_to edit_user_klu_path(:user_id => @klu.user, :id => @klu) do %>
			<i class="icon-pencil"> </i>
			<%= t('.edit', :default => t("helpers.links.edit")) %>
			<% end %>
		</li>
		<li>
			<%= link_to user_klu_path(:user_id => @klu.user, :id => @klu),
			:method => 'delete',
			:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
			:class => '' do %>
			<i class="icon-trash"> </i>
			<%= t('.delete', :default => t("helpers.links.destroy")) %>
			<% end %>
		</li>
		<li>
			<%= link_to new_user_klu_klu_image_path(:user_id => @klu.user, :klu_id => @klu) do %>
			<i class="icon-file"> </i><%= t('.add_image') %>
			<% end %>
		</li>
		<% end %>
	</ul>
	<div class="klu-socials">
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style">
			<a class="addthis_button_pinterest_pinit"></a>
			<a class="addthis_button_facebook_like"></a>
			<a class="addthis_button_facebook_send"></a>
			<a class="addthis_button_google_plusone"></a>
			<a class="addthis_button_tweet"></a>
		</div>
		<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-508eb69c4ada1b57"></script>
		<!-- AddThis Button END -->
	</div>
</aside>