<article class="kluuu klu-large">
	<div class="klu-layout">
		<header>
			<h2 class="kluuu-title"><%= @klu.title %></h2>
		</header>
		<div class="row-fluid">
			<section class="kluuu-pics span8">
				<ul class="unstyled">
					<% @klu.klu_images.each_with_index do |ki, index| %>
						<% if index == 0 %>
							<li class="klu-eyecatcher">
								<%= image_tag(ki.image.url(:large)) %>
								<div class="klu-image-caption">
									<%= ki.description %>
								</div>
							</li>
						<% else %>
							<li>
								<%= link_to user_klu_klu_image_path(:user_id => @klu.user, :klu_id => @klu, :id => ki) do %>
									<%= image_tag(ki.image.url(:medium)) %>									
								<% end %>
								<!-- FIXME: Destroy-Button <%= link_to t('.destroy_image'), user_klu_klu_image_path(:user_id => @klu.user, :klu_id => @klu, :id => ki), :class => "btn"%> -->
							</li>
						<% end %>
					<% end %>
				</ul>
			</section>
			<aside class="klu-user-info span4">
				<div class="call-btn jqrfd btn">
					<%= link_to(@klu.user.name, user_path(:id => @klu.user) )%>
					<form action="#"><button class="btn"><%= t('.call_now') %></button></form>
					<dl>
						<dt><%= t('.price') %></dt>
						<dd><%= @klu.charge_amount %> €</dd><!-- TODO: @Rene, @Timo: Preis einbinden -->
						<dt><%= t('.availability') %></dt>
						<dd><%= @klu.available_at_times %></dd>
					</dl>
					<%= link_to(image_tag( @klu.user.account.portrait.url(:thumb), :class => "img-polaroid"), user_path(:id => @klu.user), :class => 'klu-user-image' ) %>
				</div><!-- End of call-btn -->
				<div>
					STATUS ODER SELBSTBESCHREIBUNG
				</div>
				ACTIVITY_SCORE <br>
				
				<%= link_to(new_message_path(:receiver_id => @user)) do %>
					<i class="icon-envelope"> </i> <%= t('.send_message') %>
				<% end if current_user %>
				
				<%= link_to( user_create_follow_url(:user_id => current_user, :followed_id => @user), :method => :post ) do %>
					<%= t('.follow') %>
				<% end if current_user %>
				
				<%= link_to(t('.more_klus_by_this_user'), user_klus_path(:user_id => @user) ) %>
				
			</aside>
		</div>
	</div><!-- End of Kluu-header kly-layout-->
	<div class="row-fluid">
		<div class="span8 kluuu-large-left">
			<section class="klu-description">
				<%= simple_format @klu.description %>
			</section>
			<aside class="klu-meta">
				<ul class="klu-categories">
					<li>
						<%= @klu.category_id %>
					</li>
				</ul>
				<ul class="klu-tags">
					<% @klu.tags.each do |tag| %>
						<li><%= link_to(tag.name,tagged_with_path(:tag => tag.name) , :class => 'tags') %></li>
					<% end %>
				</ul>
				<%= @klu.bookmarks.count %> <%= t('.people') %> <%= t('.bookmarked_this_kluuu') %>
				<ul class="unstyled">
					<% @klu.bookmarks.each do |b|%>
						<li>
							<%= link_to(user_path(:id => b.user) ) do %>
								<%= image_tag(b.user.account.portrait(:thumb), :class => "img-polaroid") if b.user.account.portrait.exists? %><%= b.user.firstname %>
							<% end %>
						</li>
					<% end %>
				</ul>
			</aside>
			<section class="comments">
				<h5><%= t('.schriftliche_bewertung') %></h5>
				<ul>
					<li>KOMMENTARE!</li>
				</ul>	
			</section>
		</div><!-- End of right-column -->
		<aside class="span4 klu-matches">
				<h5> <%= t('.matching_?kluus?') %></h5>
		</aside>
	</div>
</article>



<% if can? :manage, @klu %>
<div class="form-actions">
	<%= link_to( t('.add_image'), new_user_klu_klu_image_path(:user_id => @klu.user, :klu_id => @klu), :class => "btn") if @klu.instance_of?(Kluuu) %>
	<%= link_to t('.back', :default => t("helpers.links.back")),
	user_klus_path(:user_id => @klu.user ), :class => 'btn'  %>
	<%= link_to t('.edit', :default => t("helpers.links.edit")),
	edit_user_klu_path(:user_id => @klu.user, :id => @klu), :class => 'btn' %>
	<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	user_klu_path(:user_id => @klu.user, :id => @klu),
	:method => 'delete',
	:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	:class => 'btn btn-danger' %>
</div>
<% end %>
