
<dl class="dl-horizontal">
	<dt>
		<strong>title:</strong>
	</dt>
	<dd>
		<%= @klu.title %>
	</dd>
	<dt>
		<strong>description:</strong>
	</dt>
	<dd>
		<%= @klu.description %>
	</dd>
	<dt>
		<strong>tags</strong>
	</dt>
	<dd>
		<%= @klu.tag_list %>
	</dd>
	<dt>
		<strong>available_at_times:</strong>
	</dt>
	<dd>
		<%= @klu.available_at_times %>
	</dd>
	<dt>
		<strong>user_id:</strong>
	</dt>
	<dd>
		<%= @klu.user_id %>
	</dd>
	<dt>
		<strong>published:</strong>
	</dt>
	<dd>
		<%= @klu.published %>
	</dd>
	<dt>
		<strong>category_id</strong>
	</dt>
	<dd>
		<%= @klu.category_id %>
	</dd>
	<dt>
		<strong>charge_type</strong>
	</dt>
	<dd>
		<%= @klu.charge_type %>
	</dd>
	<dt>
		<strong>charge_amount</strong>
	</dt>
	<dd>
		<%= @klu.charge_amount %>
	</dd>
	<dt>
		<strong>type:</strong>
	</dt>
	<dd>
		<%= @klu.type %>
	</dd>
</dl>

<% if @klu.instance_of?(Kluuu) %>
<div class="well well-large ">
	<ul class="thumbnails">
		<% @klu.klu_images.each do |ki| %>
		<li class="span4">
			<%= link_to user_klu_klu_image_path(:user_id => @klu.user, :klu_id => @klu, :id => ki) do %>
				<p><%= simple_format( ki.description ) %></p>
				<%= image_tag(ki.image.url(:thumb), :class => "img-polaroid") %>&nbsp;
			<% end %>
			<%= link_to t('.destroy_image'), user_klu_klu_image_path(:user_id => @klu.user, :klu_id => @klu, :id => ki), :class => "btn"%>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="well well-small">
	<%= @klu.bookmarks.count %> <%= t('.people') %> <%= t('.bookmarked_this_kluuu') %>
	<ul class="unstyled">
	<% @klu.bookmarks.each do |b|%>
		<li>
			<%= link_to(user_path(:id => b.user) ) do %>
				<%= image_tag(b.user.account.portrait(:thumb), :class => "img-polaroid") if b.user.account.portrait.exists? %><br />
				<small><%= b.user.firstname %></small>
			<% end %>
		</li>
	<% end %>
	</ul>
</div>

<div class="form-actions">
	
	<%= link_to( t('.add_image'), new_user_klu_klu_image_path(:user_id => @klu.user, :klu_id => @klu), :class => "btn") if @klu.instance_of?(Kluuu) %>
	<%= link_to t('.back', :default => t("helpers.links.back")),
	user_klus_path(:user_id => @klu.user ), :class => 'btn'  %>
	<%= link_to t('.edit', :default => t("helpers.links.edit")),
	edit_user_klu_path(:user_id => @klu.user, :id => @klu), :class => 'btn' %>
	<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	user_klu_path(:user_id => @klu.user, :id => @klu),
	:method => 'delete',
	:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	:class => 'btn btn-danger' %>
</div>