<article class="medium-klu klu-layout no-kluuu">
	<div class="klu-bookmark-link"><%= bookmark_links(current_user, klu) %></div>
	<%= link_to( klu_path(:id => klu)) do %>
		<h3 class="no-margin klu-eyecatcher"><%= klu.title %></h3>	
	<% end %>
	<div class="call-btn btn">
		<div class="klu-call-btn-text">
			<%= link_to(klu.user.name, user_path(:id => klu.user) )%>
			<form action="#"><button class="btn"><%= t('.call_now') %></button></form>
		</div>
		<dl>
			<dt><%= t('.price') %></dt>
			<dd>5€</dd>
			<dt><%= t('.availability') %></dt>
			<dd><%= klu.available_at_times %></dd>
		</dl>
		<%= link_to(image_tag( klu.user.account.portrait.url(:thumb), :class => "img-polaroid"), user_path(:id => klu.user), :class => 'klu-user-image' ) %>
	</div>
</article>