<article class="medium-kluuu kluuu-layout kluuu">
	<%= link_to( klu_path(:id => medium_kluuu)) do %>
		<h3 class="no-margin"><%= medium_kluuu.title %> </h3>	
		<%= image_tag(medium_kluuu.klu_images.first.image.url(:medium)) unless medium_kluuu.klu_images.empty? %>
		<%= simple_format(medium_kluuu.description) %>
	<% end %>
	<div class="call-btn jqrfd btn">
		<%= link_to(medium_kluuu.user.name, user_path(:id => medium_kluuu.user) )%>
		<form action="#"><button class="btn"><%= t('.call_now') %></button></form>
		<dl>
			<dt><%= t('.price') %></dt>
			<dd>5€</dd>
			<dt><%= t('.availability') %></dt>
			<dd><%= medium_kluuu.available_at_times %></dd>
		</dl>
		<%= link_to(image_tag( medium_kluuu.user.account.portrait.url(:thumb), :class => "img-polaroid"), user_path(:id => medium_kluuu.user), :class => 'kluuu-user-image' ) %>
	</div>
</article>