<article class="medium-klu klu-layout kluuu">
	<div class="klu-bookmark-link"><%= bookmark_links(current_user, klu) %></div>
	
	<%= link_to( klu_path(:id => klu)) do %>
		<h3 class="no-margin klu-title"><%= limit_words(klu.title, 15) %> </h3>
		<div class="klu-eyecatcher"><%= image_tag(klu.klu_images.first.image.url(:medium)) unless klu.klu_images.empty? %></div>
		<section class="kluuu-description"><div class="table-cell"><%= limit_words(klu.description, 17) %></div></section>
	<% end %>
	<aside class="klu-overall-rating">
					<%= overall_rating_stars(klu) %>
			</aside>
	<%= render :partial => 'klus/kluuu_call_button', :locals => {:klu => klu, :user => klu.user} %>
	<div class="kluuu-type"></div>
</article>