<article class="small-klu klu-layout no-kluuu">
  <div class="klu-bookmark-link"><%= bookmark_links(current_or_guest_user, klu) %></div>
	<%= link_to( user_path(:id => klu.user)) do %>
		<h3 class="no-margin klu-eyecatcher klu-title"><%= limit_words(klu.title, 10) %></h3>	
	<% end %>
	<div class="user-image klu-user-image" data-user-id="<%= klu.user.id %>"><%= link_to(image_tag( klu.user.account.portrait.url(:thumb), :class => "img-polaroid"), user_path(:id => klu.user) ) %></div>
</article>