<%- model_class = Klu -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:available_at_times) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:published) %></th>
      <th><%= model_class.human_attribute_name(:category_id) %></th>
      <th><%= model_class.human_attribute_name(:type) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @klus.each do |klu| %>
      <tr>
        <td><%= link_to klu.id, user_klu_path(:user_id => klu.user, :id => klu) %></td>
        <td><%= klu.title %></td>
        <td><%= klu.description %></td>
        <td><%= klu.available_at_times %></td>
        <td><%= klu.user_id %></td>
        <td><%= klu.published %></td>
        <td><%= klu.category_id %></td>
        <td><%= klu.type %></td>
        <td><%=l klu.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_klu_path(:user_id => @user, :id => klu), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_klu_path(:user_id => @user, :id => klu),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_klu_path(:user_id => @user),
            :class => 'btn btn-primary' %>
