<%= form_for venue, :html => { :class => 'form-horizontal' } do |f| %>
    <%= hidden_field_tag(:renew,1) %>
		<div class="control-group" >
		<%= f.label :start_time, :class => 'control-label' do %>
			<%= t('.start_time')%>
		<% end %>
		
		<div class="controls">
			<%= f.datetime_select :start_time, :start_year => Date.today.year %>
		</div>
		
	</div>

	<div class="form-actions">
		<%= f.submit nil, :data => { :confirm => t('venues.edit.confirm_change_date') }, :class => 'btn btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")), venue_path(:id => venue), :class => 'btn' %>
	</div>
	
<% end %>
