.comment-item.row.collapse
  .large-12.columns
    .comment-left-box.left
      = link_to comment.user do
        .avatar
          - img_size = 40
          .avatar-image{style: "width:#{img_size}px;height:#{img_size}px"}
            = render partial: "shared/avatar_image", locals: { user: comment.user, size: img_size }
    .comment-right-box
      = link_to comment.user, class: 'comment-author' do
        = comment.user.name
      %span.comment-date
        = l(comment.created_at, format: :short)
      .comment-text
        = sophisticated_format comment.content
