.comment-item.row.collapse
  .large-12.columns
    .comment-left-box.left
      = link_to comment.user do
        .avatar
          = render partial: "shared/avatar_image", locals: { user: comment.user, img_size: 40 }
    .comment-right-box
      = link_to comment.user, class: 'comment-author' do
        = comment.user.name
      %span.comment-date
        = l(comment.created_at, format: :short)
      .comment-text
        = sophisticated_format comment.content
