.venue-edit-ajax
  %h2= t('.new_talk')

  .well.venue-form.dialog
    .row-fluid
      = form_for venue do |f|
        = hidden_field_tag :renew, 1

        .event-box.clearfix
          = f.fields_for :events, [venue.events.build] do |ef|
            = render 'venues/event_fields', :ef => ef
        .pull-right.clearfix
          = f.submit nil, :class => 'btn btn-primary'
          = link_to t('.cancel', :default => t("helpers.links.cancel")), venue_path(venue), :class => 'btn'
