.row-fluid
  .span12
    .control-group
      %label.control-label= t('.event_title')
      .controls
        = ef.text_field :title, :class => "input-block-level"
      .help-block
        = t('.help-title-event')
.row-fluid.event-fields
  .span4
    .control-group
      %label.control-label= t('.start_time')
      .controls.input-append.date.datetimepicker
        - value = ef.object.start_time && ef.object.start_time.strftime('%d/%m/%Y %H:%M')
        = ef.text_field :start_time, :value => value, 'data-format' => "dd/MM/yyyy hh:mm"
        %span.add-on
          %i{"data-date-icon" => "icon-calendar", "data-time-icon" => "icon-time"}
        .help-block.help-datetimepicker Format: 02/07/1967 17:00
  .span4
    .control-group.venue-form-duration
      = ef.label :duration, :class => "control-label" do
        = t('.duration')
      .controls
        = ef.select :duration, Event::DURATIONS, :class => "input-block-level"
  .span4
    .control-group
      = ef.label :record, :class => "control-label" do
        = t('.settings')
      .controls
        = ef.label :record, :class => "control-label checkbox" do
          = ef.check_box :record
          = t('.record')
