-# TODO should move out the view
- @venue.events.build if @venue.events.empty?
- start_time = @venue.start_time ? @venue.start_time.in_time_zone.strftime("%d/%m/%Y %H:%M") : |
               t('.datepick_placeholder')                                                      |

= form_for @venue, :html => { :class => 'form-horizontal' } do |f|

  .span6
    .control-group
      = f.label :title, :class => 'control-label' do
        = t('.title')
      .controls
        = f.text_field :title, :class => 'text_field'
    .control-group
      = f.label :summary, :class => 'control-label' do
        = t('.summary')
      .controls
        = f.text_area :summary, :class => 'text_area', :rows => 2
    .control-group
      = f.label :description, :class => 'control-label' do
        = t('.description')
      .controls
        = f.text_area :description, :class => 'text_area', :rows => 4

  .span5
    = f.fields_for :events do |ef|
      .control-group
        %label.control-label= t('.start_time')
        .controls.input-append.date#datetimepicker
          = ef.text_field :start_time, :id => 'venue_s_date', 'data-format' => "dd/MM/yyyy hh:mm"
          %span.add-on
            %i{"data-date-icon" => "icon-calendar", "data-time-icon" => "icon-time"}
          %br/
          %span.help-block Format: 02/07/1967 17:00
      %noscript
        .control-group
          = f.label :start_time, :class => 'control-label' do
            = t('.start_time')
          .controls
            = f.datetime_select :start_time, :start_year => Date.today.year
      .control-group
        = ef.label :duration, :class => "control-label" do
          = t('.duration')
        .controls
          = ef.select :duration, options_for_select(Event::DURATIONS)
    .control-group
      = f.label :tag_list, :class => 'control-label' do
        = t('.tag_list')
      .controls
        = f.text_field :tag_list      

    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), venues_path, :class => 'btn'
