= form_for @venue, html: { multipart: true } do |f|

  .row-fluid
    .span8.venue-form-fields-left
      - if guest_or_current_user.is_admin?
        .control-group
          %label.control-label= t('.featured_from')
          .controls.input-append.date.datetimepicker
            - featured_from = f.object.featured_from && f.object.featured_from.strftime('%d/%m/%Y %H:%M')
            = f.text_field :featured_from, :value => featured_from, 'data-format' => "dd/MM/yyyy hh:mm"
            %span.add-on
              %i{"data-date-icon" => "icon-calendar", "data-time-icon" => "icon-time"}
            .help-block.help-datetimepicker Format: 02/07/1967 17:00    
      .control-group
        = f.label :title, :class => 'control-label' do
          = t('.title')
        .controls
          = f.text_field :title, :class => "input-block-level"
        .help-block
          = t('.help_title')          
      .control-group
        = f.label :summary, :class => 'control-label' do
          = t('.summary')
        .controls
          = f.text_area :summary, :rows => 2, :class => "input-block-level"
        .help-block
          = t('.help_summery')          
      .control-group
        = f.label :description, :class => 'control-label' do
          = t('.description')
        .controls
          = f.text_area :description, :rows => 4, :class => "input-block-level"
        .help-block
          = t('.help_description')          
      .control-group
        = f.label :tag_list, :class => 'control-label' do
          = t('.tag_list')
        .controls
          = f.text_field :tag_list, :class => 'tagList input-block-level'
        .help-block.help-tags
          = t('.help_tags')
      .control-group.venue-form-image
        .fileupload.fileupload-new{:data => {:provides => "fileupload"}}
          .fileupload-new.thumbnail
            = image_tag @venue.image.url(:medium)
          .fileupload-preview.fileupload-exists.thumbnail{:html => 'style="width: 100%;line-height: 20px;'}
          .box
            %span.btn.btn-file
              %span.fileupload-new
                = t('.select')
              %span.fileupload-exists
                = t('.change')
              = f.file_field :image

    .span4.venue-form-description
      = image_tag "venue-icon-host.png", :class => "venue-form-icon"
      = render "venues/txt/venue_desc"

  .event-box.clearfix
    - if upcoming_events.any?
      %header.event-header
        %h2= t('.your_talk')
      = f.fields_for :events, upcoming_events do |ef|
        = render 'venues/event_fields', :ef => ef
  .pull-right.clearfix
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")),
      (@venue.persisted? ? venue_path(@venue) : venues_path),
      :class => 'btn'

  .clearfix

  -# PAST EVENTS

  - if @venue.events.past.any?
    %header.event-header
      %h3.layout-title= t('.archive')
      %hr.venue-form-archive-box-hr
    - @venue.events.past.each do |event|
      .row-fluid
        .span12
          .venue-upcoming-event-time
            = l event.start_time, :format => :short
          %h3.venue-upcoming-event-title
            = event.title
