<%= form_for @venue, :html => { :class => 'form-vertical' } do |f| %>

	<% if current_user.kluuus.empty? %>
		<div class="alert alert-error">
			<%= t('.available_kluuu_prerequisite_for_creating_venue') %>
		</div>
	<% end %>


  <div class="control-group">
  	<%= f.label :title, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :title, :class => 'text_field' %>
  	</div>
  </div>
  
  <div class="control-group">
    <%= f.label :host_kluuu, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :host_kluuu_id, current_user.kluuus.map {|klu| [klu.title, klu.id] } , :class => 'select_field' %>
    </div>
  </div>
  
   <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :start_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :start_time, :class => 'datetime_select' %>
    </div>
  </div>
 
  <div class="control-group">
    <%= f.label :intro_video, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :intro_video, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                venues_path, :class => 'btn' %>
  </div>
<% end %>
