= simple_form_for @venue do |f|
  
  .header-block(style="background-image: url(#{@venue.image.url(:medium)})" data-show-upload="venue_image")

    .row
      .large-8.medium-8.large-centered.medium-centered.columns
        %h2= form_title
    .row
      .large-8.medium-8.large-centered.medium-centered.columns
        = f.error_notification
    .row
      .large-8.medium-8.large-centered.medium-centered.columns
        = f.input :title, placeholder: t('.title')
        = f.input :teaser, :rows => 2, placeholder: t('.teaser')         
        = f.input :description, :rows => 4, placeholder: t('.description')
        = f.input :tag_list, :class => 'tagList', placeholder: t('.tag_list')
        = f.file_field :image # will be hidden

  %hr
  - if @venue.new_record?
    .row
      .large-10.medium-10.large-centered.medium-centered.columns
        - talk = @venue.talks.first || @venue.talks.build
        = f.fields_for :talks, talk do |n|
          = render partial: 'talks/fields', locals: {:f => n, :form_title => 'Create Talk'}
        = f.submit nil, :class => 'button'
        = link_to t('.cancel', :default => t("helpers.links.cancel")),
          (@venue.persisted? ? venue_path(@venue) : venues_path)

  .row
    .large-12.panel.callout.radius
      = render "venues/txt/venue_desc"