
<div class="group-chat-instance" id="group-chat-<%= venue.id %>">
	<div class="well well-large">
		<header class="label label-chat"><%= t('.venue_chat', :title => venue.title ) %></header>
		<div class="clear"></div>
		<ul class="chat-message unstyled scrollable-chat" id="<%= venue.chat_name %>">
			<!-- chat-messages to be here. renders chats/_single_chat_message.js.erb -->
		</ul>
	</div>
	<div class="host-info"></div>
	<%= render(:partial => 'chats/group_form', :locals => { :venue => venue }) %>
	
	<% if venue.host_kluuu.user == current_user %>
	<button type="button" class="btn btn-small pull-right" data-toggle="collapse" data-target="#info-collapsable">
    	<%= t('.show_host_info_controlls') %>
    </button>
	<div class="host-info-form collapse out" id="info-collapsable">
		<%= render(:partial => 'host_info_form', :locals => {:venue => venue}) %>
	</div>
	<% end %>
</div>
<%= subscribe_to venue.channel_name %>
<%= subscribe_to venue.channel_host_info %>
