
<div class="group-chat-instance" id="group-chat-<%= venue.id %>">

	<div class="well well-large">
		<h3><%= t('.venue_chat') %></h3>
		<ul class="chat-message unstyled scrollable-chat" id="<%= venue.chat_name %>">
			<!-- chat-messages to be here. renders chats/_single_chat_message.js.erb -->
		</ul>
	</div>
	<%= render(:partial => 'chats/group_form', :locals => { :venue => venue }) %>
</div>
<%= subscribe_to venue.channel_name %>
<%= subscribe_to venue.channel_host_info %>
