%article.venue-article.contribution.clearfix
  .contribution-left
    = link_to user_path(:id => article.user) do
      = image_tag article.user.avatar.url(:thumb), :class => "img-polaroid pull-left"
    
  .contribution-right
    = link_to user_path(:id => article.user), :class => 'contribution-username' do
      = article.user.name
    %time.muted
      = time_ago_in_words(article.created_at)
    = sophisticated_format(article.content)

    .contribution-actions
      - if can_comment_venue?(article.venue)
        = link_to '#comment', :class => 'reply' do
          = t('.reply')
      - if can? :manage, article
        = link_to venue_article_path(:venue_id => article.venue, :id => article), :method => :delete do
          = t('helpers.links.destroy')

  - if can_comment_venue?(article.venue)
    = render 'comments/form', article: article
  = render partial: 'comments/comment', collection: article.comments, as: :comment
