

<div class="venue-show">

	<div class="page-header">
		<div class="venue-time">
			<%= l(@venue.start_time.in_time_zone) %>,
			<% if @venue.duration > 1 %>
				<%= @venue.duration %> <%= t('.minutes') %>
			<% else %>
				<%= t('.open_ended') %>
			<% end %>

			<% if @venue.start_time.in_time_zone > Time.now.in_time_zone %>
				<span class="label label-important"> <%= t('.time_until_takeoff', :time => distance_of_time_in_words_to_now( @venue.start_time.in_time_zone, true ) ) %> </span>
			<% end %>
			<% if  @venue.ongoing?  %>
				<span class="label label-important"><%= t('.ongoing_venue')%></span>
			<% end %>
		</div>
		<% if  ((  @venue.start_time.in_time_zone - 5.minutes) < Time.now.in_time_zone ) &! @venue.timed_out? & @venue.attendies.include?(current_user) %>
			<%= link_to (@venue.host_kluuu.user.name + "s " + t('.venue')), user_path(@venue.host_kluuu.user), :target => "_blank", :confirm => "#{t('.leave_venue_popup')}" %>
		<% else %>
			<%= link_to (@venue.host_kluuu.user.name + "s " + t('.venue')), user_path(@venue.host_kluuu.user) %>
		<% end %>
		<br>

		<div class="title-info-box">
			<h2><%= @venue.title %>

				<%# INFO-BOX if onair %>
				<% if  @venue.ongoing?  %>
				<div class="info-link-onair">
					<%= image_tag 'info-link-icon.png' %>
					info
				</div>
				<aside class="venue-desc-onair">
					<%= image_tag( @venue.host_kluuu.user.account.portrait.url(:large), :class => "img-polaroid") %>
					<%= @venue.description %>
					<div class="close-icon">&times;</div>
				</aside>
				<% end %>

			</h2>
		</div>
		

	</div>