-#title and host
%header.well-large.venue-header-live
  %h2.venue-title
    = @venue.title
  = link_to (t('.by') + " " + @venue.user.name), user_path(@venue.user), :class => "venue-host-link"
  = render(:partial => 'venue_show_social', :locals => { :venue => @venue } )
  = link_to '#', :class => "venue-live-more-link", :'data-toggle' => "collapse", :'data-target' => ".venue-description" do
    info   
  .venue-live-top-right-actions
    #onair.icon-onair
      %span.icon-onair-text
        ON<br />AIR
    .venue-live-mute-button
      %i.icon-microphone
      &nbsp;
    - if can? :manage, @venue
      = render 'venues/end_talk_link', :venue => @venue
    - if @venue.user_participates?(current_user)
      = link_to 'Want to say', '#say', class: 'raise_hand btn',
        data: { note: 'Make sure that your mic is accepted' }
    - if !@venue.user_attends?(current_user)
      = render 'shared/participate_button', :venue => @venue
    .clearfix
.section.venue-description.collapse.out
  .row-fluid.clearfix
    .span3
      = image_tag @venue.image.url(:medium), :class => "venue-description-image"
    .span9
      .venue-summary
        = sophisticated_format(@venue.summary)

  .venue-description-content
    = sophisticated_format @venue.description

    - if @venue.user != current_user
      - if @venue.user_participates?(current_user)
        = link_to( t('helpers.venue_actions.unjoin_venue'), participation_path(:venue_id => @venue.id), :method => :delete, |
          :data => { :confirm => t('helpers.venue_actions.confirm_unjoin_venue') },  :class => "btn btn-small")             |