<article class="venue-big">
	<div class="span4">
		<aside>
			<span class="label label-important"><%= l(venue.start_time) %></span>
		</aside>
		<h3><%= venue.title %></h3>
		<%= simple_format( truncate(venue.description, :length => 100), :class => "text-info") %>
	</div>
	<div class="span4">
		<span class="label label-info"><%= t('.host') %>:</span> <%= link_to venue.host_kluuu.user.name, user_path(venue.host_kluuu.user) %>
		<%= link_to klu_path(:id => venue.host_kluuu) do %>
		<%= render(:partial => 'klus/tiny_kluuu', :locals => { :klu => venue.host_kluuu})%>
		<% end %>
	</div>
	<div class="span4">
		<%= link_to(venue_path(venue), :class => "btn btn-large btn-info pull-right") do %>
		<i class="icon-glass"> </i> &nbsp; <%= t('.go_venue_page') %>
		<% end %>
	</div>
</article>