-#title and host
%header.well-large.venue-header-live
  %h2.venue-title
    = @venue.title
  = link_to (t('.by') + " " + @venue.user.name), user_path(@venue.user), :class => "venue-host-link"
  = render(:partial => 'venue_show_social', :locals => { :venue => @venue } )
  = link_to '#', :class => "venue-live-more-link", :'data-toggle' => "collapse", :'data-target' => ".venue-description" do
    info   
  .venue-live-top-right-actions
    #onair.icon-onair
      %span.icon-onair-text
        ON<br />AIR
    .venue-live-mute-button
      %i.icon-microphone
      &nbsp;
    - if !@venue.user_attends?(current_user)
      = render 'shared/participate_button', :venue => @venue
    .clearfix

.section.venue-description.collapse.out
  .row-fluid.clearfix
    .span3
      = image_tag @venue.image.url(:medium), :class => "venue-description-image"
    .span9
      -# FIXME summary is now teaser
      .venue-summary
        = sophisticated_format(@venue.teaser)
  .venue-description-content
    = sophisticated_format @venue.description

    - if @venue.user != current_user
      - if @venue.user_participates?(current_user)
        = destroy_participation_link @venue
