<article class="venue-big <%= cycle('odd', 'even') %>">
	<aside class="venue-time">
		
		<% if venue.ongoing? %>
			<span class="label label-attention">
				<%= t('venues.landing_page_venue.venue_is_in_process')  %>
			</span>
		<% end %>
		<% if venue.past? %>
			<span class="label label-info">
				<%= t('venues.landing_page_venue.venue_is_over')  %>
			</span>
		<% end %>
		<%= l(venue.start_time) %>
	</aside>
	<div class="venue-big-content clearfix">

		<div class="pull-left">
			<%= image_tag venue.host_kluuu.user.account.portrait.url(:large) %>
			<%= link_to (venue.host_kluuu.user.name + "s " + t('.venue_title')), user_path(venue.host_kluuu.user) %><br>
			<h3><%= venue.title %></h3>
			<div class="clearfix"></div>
			<%= simple_format( truncate(venue.description, :length => 100)) %>
		</div>

		<div class="pull-right">
			<%= link_to(venue_path(venue), :class => "btn btn-large btn-venue pull-right", :disabled => current_user ? false : true ) do %>
			<%= t('.go_venue_page') %>&nbsp;<%= image_tag "/assets/coffee_icon_white.png" %>
			<% end  %>
			<br>
			<%= link_to klu_path(:id => venue.host_kluuu), :class => "pull-right" do %>
			<%= render(:partial => 'klus/tiny_kluuu', :locals => { :klu => venue.host_kluuu})%>
			<% end %>		
		</div>

	</div>
</article>