.span6
  %section.participating-klus.clearfix
    %h3= t('.participating_klus')
    - if @venue.klus.empty?
      = t('.be_the_first_to_participate')
      - if @venue.host_kluuu.user != current_user
        = link_to venue_join_path(:venue_id => @venue.id), :class => "btn btn-venue", :method => :post do
          = t('.join_venue')
          = image_tag "/assets/coffee_icon_white.png"
    .clearfix
      - @venue.klus.each do |klu|
        - link = klu.instance_of?(Kluuu) ? klu_path(klu) : user_path(klu.user)
        .participating-box
          .live-event-overlay
            = render(:partial => 'venue_participant_overlay', :locals => { :user => klu.user })

          - if ((  @venue.start_time.in_time_zone - 5.minutes) < Time.now.in_time_zone ) &! @venue.timed_out?
            = link_to link, :target => "_blank", :confirm => "#{t('.leave_venue_popup')}" do
              = render(:partial => 'users/user_small', :locals => { :user => klu.user })
          - else
            = link_to link do
              = render(:partial => 'users/user_small', :locals => { :user => klu.user })
