-# this should move into model venue
- venue_id  = "v#{@venue.id}"
- stream_id = "v#{@venue.id}u#{current_user.id}"
- channel   = "/live/#{venue_id}"
:javascript
  Venue = {
    venueId: "#{venue_id}", streamId: "#{stream_id}", channel: "#{channel}",
    role: '#{@venue.user == current_user ? 'host' : 'participant'}',
    // listen to events from others
    initFaye: function() {
      PrivatePub.sign(#{PrivatePub.subscription(channel: channel).to_json})
    }
  };

-# load swfobject and provide element to hook into
- content_for :head do
  = javascript_include_tag '/swfobject.js'

%aside.venue-event-time
  = l(@venue.start_time.in_time_zone)
  ,
  - if @venue.duration > 1
    = @venue.duration
    = t('.minutes')
%h3.venue-event-title
  = @venue.next_event.title || '(no title)'

.row-fluid.clearfix
  .span12.talking-users-box.well-large
    -# talking user list (left)
    = render(:partial => 'venue_show_talking_users', :locals => { :venue => @venue })    

.row-fluid.venue-live.clearfix
  .span6.well-large.venue-live-left
    #onair On Air
    #flashcontent Flash not installed
    -# participants
    = render(:partial => 'venue_show_participants', :locals => { :venue => @venue })

  .span6.well-large.venue-live-right
    -# chat (right)
    = render(:partial => 'group_chat', :locals => { :venue => @venue } )
