%article.contribution.clearfix
  .contribution-left
    = link_to user_path(:id => article.user) do
      = image_tag article.user.account.portrait.url(:thumb), :class => "img-polaroid pull-left"
    
  .contribution-right
    = link_to user_path(:id => article.user), :class => 'contribution-username' do
      = article.user.name
    %time.muted
      = time_ago_in_words(article.created_at)
    = sophisticated_format(article.content)

    .contribution-actions
      - if cannot? :manage, article 
        /% TODO %/ 
        -#= link_to '#' do
            = t('.create_comment') 

      -# TODO
        = link_to '#' do
          = t('.all_comments')

      - if !@venue.live? and can? :manage, article
        = link_to venue_article_path(:venue_id => article.venue, :id => article), :method => :delete do
          = t('helpers.links.destroy')