<article class="single-venue compact <%= cycle('odd', 'even') %> clearfix">
	<div class="span6">
	<aside><span class="label label-important"><%= l(venue.start_time) %></span></aside>
	<h3><%= venue.title %></h3>
	<%= simple_format( truncate(venue.description, :length => 100), :class => "text-info") %>
	<span class="label label-info"><%= t('.host') %>:</span> <%= link_to venue.user.name, user_path(venue.user) %>
	</div>
	<div class="span6">
		<%= link_to(venue_path(venue), :class => "btn btn-large btn-venue pull-right") do %>
			<i class="icon-glass">  </i> &nbsp; <%= t('.go_venue_page') %>
		<% end %>
	</div>
</article>
