.venue-archive-box
  %header.venue-section-title
    =t('.past_talks')

  - venue.events.past.most_recent_first.each do |event|
    %article.venue-archive-item
      .venue-archive-event-time
        = l event.start_time, :format => :short
      .venue-event-title.venue-archive-event-title
        = event.title || venue.title
      - if event.recording.present?
        .venue-archive-event-player
          = render 'player', :event => event
          - if can? :destroy, event.venue
            = link_to remove_recording_venue_path(id: event.venue_id, event_id: event.id),
            :class => "venue-archive-recording-delete-link", confirm: t('helpers.confirms.are_you_sure'), method: :delete do
              = t('.delete_this_recording')
