%article{:class => "venue-big #{cycle('odd', 'even')} block"} 
  -#overall link to venue
  = link_to raw('&nbsp;'), venue_path(venue), :class => "venue-big-bg-link"

  %header.venue-big-header
    %span.venue-big-icon-box
      = image_tag "venue-icon-host.png", :class => "venue-big-icon"
    -#venue title
    %h3.venue-big-title= link_to venue.title, venue_path(venue)
    -#host link
    %aside.venue-big-host-link
      = link_to user_path(venue.user) do
        -#= image_tag venue.user.account.portrait.url(:thumb), :class => "venue-big-user-thumb"      
        = t('.by') + ' '
        = venue.user.name
  .row-fluid.venue-big-row
    .span3.venue-big-left
      -#venue image
      = link_to venue_path(venue) do
        = image_tag venue.image.url(:medium), :class => "venue-big-image"

    .span9.venue-big-right
      -#venue summery
      %hr.venue-big-hr
      -#time and image
      .venue-big-time= l(venue.start_time)
      - if !venue.next_event.nil?
        %h4.venue-big-event-title= link_to venue.next_event.title, venue_path(venue)
        -#event title
      = simple_format( truncate(venue.summary, :length => 100), :class => "venue-big-description")

      -#join-button
      .venue-big-join-button.pull-right

        - if venue.user != current_user
          - unless false and venue.user_participates?(current_user)
            -#= link_to venue_join_path(:venue_id => venue.id), :class => "btn btn-venue btn-large pull-right", :method => :post do
            = link_to participations_path(venue_id: venue.id),
                :class => "btn btn-venue btn-large pull-right", :method => :post do
              = t('helpers.venue_actions.participate_button')
              \&nbsp;#{image_tag "coffee_icon_white.png"}
  .clearfix