= simple_form_for @venue do |f|
  = render partial: 'fields', locals: { f: f, form_title: t(".edit_venue") }

  .form-save-row.row
    .medium-12.columns
      = f.button :submit
      = link_to t('.cancel'), @venue
      = link_to t('.delete_venue'), @venue, delete_params
