%section.venue-index
  - content_for :title do
    = t('venues.venue_list')

  %section.venue-list.row-fluid.clearfix
    .span9
      .layout-title= t('.upcoming_venues')
      -#comming events
      = render(:partial => 'venues/venue_big', :collection => @venues, :as => :venue )
      %br
      %hr
      %br
      %br
      .layout-title= t('.past_venues')
      -#past events
      = render(:partial => 'venues/venue_big', :collection => @past_venues, :as => :venue )
    %aside.venue-desc.span3
      .venue-index-description
        = link_to new_venue_path, :class => "venue-new-round-button" do
          \&nbsp;
