<% content_for :title do %>
	<%= t('venues.venue_list')%>
<% end %>

  <h2><%= t('.upcoming_venues') %></h2>

<section class="venue-list row-fluid clearfix">
	<div class="span9">
		<%= render(:partial => 'venues/venue_big', :collection => @venues, :as => :venue ) %>
		<%= will_paginate @venues, :renderer => BootstrapPagination::Rails, :class => "pagination pagination-centered" %>
	</div>
	<aside class="venue-desc span3">
		<h3><%= t('.what_is_a_venue') %></h3>
		<div class="venue-desc-content">
			<%= render(:partial => 'venues/txt/venue_desc') %>
		</div>
	</aside>
</section>

<div class="form-actions">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_venue_path,
            :class => 'btn btn-primary' %>
</div>
