- content_for :title do
  = t('venues.venue_list')
%h2= t('.venues')
%section.venue-list.row-fluid.clearfix
  .span9
    .clearfix
      = link_to( new_venue_path, :class => 'btn btn-small btn-primary' ) do
        = t('venues.new_venue')
      - end if can? :create, Venue
    %br/
    = render(:partial => 'venues/venue_big', :collection => @venues, :as => :venue )
    = will_paginate @venues, :renderer => BootstrapPagination::Rails, :class => "pagination pagination-centered"
  %aside.venue-desc.span3
    %h3= t('.what_is_a_venue')
    .venue-desc-content
      = render(:partial => 'venues/txt/venue_desc')
