<div class="venue-new-join">

<div class="page-header">
	<p><%= t('.participate_in_venue') %><%= image_tag "/assets/coffee_icon.png" %></p>
	<h2 class="venue-new-join-desc-title"><%= @venue.title %>:</h2>
	<p><%= t('.available_kluuu_prerequisite_for_creating_venue') %></p>
</div>

<div>
<% if current_user.no_kluuus.empty? %>
	<span class="label label-attention"><%= t('.no_klus_available_to_join_venue')%></span>
<% else %>
	
	<section class="row-fluid">
		<div class="span6">
			<% current_user.klus.each do |klu| %>
				<%= link_to( venue_join_path(:venue_id => @venue, :klu_id => klu), :method => :post, :data => { :confirm => t('.confirm_join', :title => @venue.title, :klu_name => klu.title ) } ) do %>
					<%= partial_for_klu(klu, :tiny)%>
				<% end %>
			<% end %>
		</div>
		<div class="span6">		
		</div>
	</section>

<% end %>
</div>

<div>
	<%= link_to t('.back'), venue_path(@venue), :class => "btn btn-cancel" %>
</div>

</div>