- content_for :head do
  = rss_link_tag t('.feed_title', title: @venue.title)

- content_for :title do
  = t('.title', title: @venue.title)

- content_for :facebook_values do
  = render(:partial => 'facebook_value_template', :locals => { :venue => @venue } )

.header-block(style="background-image: url(#{@venue.image.url})")

  = render partial: '/shared/social_share', locals: { shareable_id: @venue.id, shareable_type: 'venue' }

  .title-block.row
    .large-12.columns
      - if can? :manage, @venue
        .generic-actions-box
          = link_to "#", class: "action-toggle", "data-toggle-stuff" => "#action-links-list" do
            %span.icon-cog
          %ul#action-links-list.list-style-type-none.hide-stuff
            %li= link_to t('.edit_venue'), [:edit, @venue]

      .row
        .large-12.columns.text-center
          .type-name
            %span.icon-ellipsis
          %h4.venue-user= link_to @venue.user.name, @venue.user
          %h2.venue-title= @venue.title
          .venue-teaser= raw @venue.teaser

      .row
        .large-12.columns.text-center
          - if current_user
            = link_to_podcast(@venue)
          - else
            %a(href="#" class="button-podcast" data-reveal-id="modal-login-signup")
              %span.icon-podcast
              = t('.subscribe_to_podcast')
            #modal-login-signup.reveal-modal.text-left(data-reveal)
              %p.redirect-text
                = t('.redirect_text')
              = link_to t('.login'), new_user_session_path, class: 'overlay-button left'
              = link_to t('.signup'), new_user_registration_path, class: 'overlay-button right'
              %a.close-reveal-modal= raw '&#215;'

          - if @show_join
            = link_to [@venue, :participations], method: :post, class: 'button-vr button-header' do
              = t('.join_venue')
          - if @participation
            = link_to [@venue, @participation], delete_params do
              = t('.leave_venue')
          - if can?(:manage, @venue) && @venue.talks.empty?
            %br/
            %br/
            = t('.this_venue_has_no_talks')
            %br/
            %br/
            = link_to new_venue_talk_path(@venue), class: 'button-vr button-header' do
              = t('.create_a_talk_now')
      %br/

  .row.collapse
    .large-12.columns
      %dl.tabs.vr-tabs(data-tab='true')
        %dd.text-center.active
          %a(href="#description")
            %span.icon-description
            = t('.description')
        %dd.text-center
          %a(href="#upcoming-talks")
            %span.icon-mic
            = t('.upcoming_talks', count: @upcoming_talks.count)
        %dd.text-center
          %a(href="#archived-talks")
            %span.icon-play-octa
            = t('.archived_talks', count: @archived_talks.count)
        %dd.text-center
          %a(href="#comments")
            %span.icon-bubble-multi
            = t('.comments', count: @venue.comments.count)

.row.collapse-large-only
  .tabs-content.large-12.columns

    #description.description-content.content.active
      %p= @venue.description.html_safe

    #upcoming-talks.upcoming-talks-content.content.text-center
      - if can?(:manage, @venue)
        = link_to new_venue_talk_path(@venue), class: 'button-vr button-margin-bottom' do
          = t('.create_new_talk')
      %ul.list-style-type-none
        = render partial: 'shared/talk_medium_box', collection: @upcoming_talks

    #archived-talks.archived-talks-content.content
      %ul.list-style-type-none
        = render partial: 'shared/talk_medium_box', collection: @archived_talks

    #comments.comments-content.content
      - if can? :create, Comment
        .comment-form.row.collapse
          .medium-12.columns
            .comment-left-box.left
              =link_to '#user' do
                .avatar
                  - img_size = 40
                  .avatar-image{style: "width:#{img_size}px;height:#{img_size}px"}
                    = render partial: "shared/avatar_image", locals: { user: current_user, size: img_size }
            .comment-right-box
              = simple_form_for [@venue, @venue.comments.build] do |f|
                = f.input :content, placeholder: t('.write_a_comment')
                = f.button :submit, class: 'button-standard-small', value: t('.post')
      %ul.list-style-type-none
        = render partial: 'comment', collection: @venue.comments.ordered
