-# TODO the 3 lines of faye setup could move to cljs
- content_for :javascripts do
  = javascript_include_tag 'faye-authentication'
  -#%script{ src: '/javascripts/moment-with-locales.min.js' }
  %script{ src: Settings.faye.server + '/client.js' }
  :javascript
    fayeUrl = #{Settings.faye.server.to_json};

    fayeClient = new Faye.Client(fayeUrl);
    fayeExtension = new FayeAuthentication(fayeClient);
    fayeClient.addExtension(fayeExtension);

    initialSnapshot = #{@venue.snapshot.to_json};
    translations = #{t('frontend.venues').to_json};

-# for testing only
-#%audio#dev-audio{autoplay: true}
-#  %source{src: 'http://listen.radionomy.com/abc-jazz'}

#modals

#app
  .loading-message
    = render partial: 'explore/loading'
    %h1= t('.loading')
