- content_for :title do
  = t('.venue')
  \&middot;
  = @venue.title

- content_for :facebook_values do
  = render(:partial => 'facebook_value_template', :locals => { :venue => @venue } )

.header-block(style="background-image: url(#{@venue.image.url})")

  = render partial: '/shared/social_share', locals: { shareable_id: @venue.id, shareable_type: 'venue' }

  - if can? :manage, @venue
    .generic-action-bar.row.collapse
      .large-12.columns
        %ul.button-group.right
          %li= link_to t('.edit_venue'), [:edit, @venue], class: 'button-standard'

  .title-block.row
    .large-12.columns
      .row
        .large-12.columns.text-center
          .type-name= t('.series')
          %h4.venue-user= link_to @venue.user.name, @venue.user
          %h2.venue-title= @venue.title
          .venue-teaser= raw @venue.teaser

      .row
        .large-12.columns.text-center
          - if @show_join
            = link_to [@venue, :participations], method: :post, class: 'button-vr button-header' do
              = t('.join_venue')
          - if @participation
            = link_to [@venue, @participation], delete_params do
              = t('.leave_venue')
          - if can?(:manage, @venue) && @venue.talks.empty?
            = t('.this_venue_has_no_talks')
            %br/
            %br/
            = link_to new_venue_talk_path(@venue), class: 'button-vr button-header' do
              = t('.create_a_talk_now')

  .row.collapse
    .large-12.columns
      %dl.tabs.vr-tabs(data-tab='true')
        %dd.text-center.active
          %a(href="#tab-description")
            %span.icon-description
            = t('.description')
        %dd.text-center
          %a(href="#tab-upcoming-talks")
            %span.icon-mic
            = t('.upcoming_talks')
        %dd.text-center
          %a(href="#tab-archived-talks")
            %span.icon-play-octa
            = t('.archived_talks')
        %dd.text-center
          %a(href="#tab-comments")
            %span.icon-bubble-multi
            = t('.comments')

.row.collapse
  .tabs-content.large-12.columns

    #tab-description.content.active
      %p= @venue.description.html_safe

    #tab-upcoming-talks.content.text-center
      - if can?(:manage, @venue)
        = link_to new_venue_talk_path(@venue), class: 'button-vr button-margin-bottom' do
          = t('.create_new_talk')
      %ul.list-style-type-none
        - unless @next_talk.nil?
          = render partial: 'shared/talk_medium_box', locals: { talk_medium_box: @next_talk }

        = render partial: 'shared/talk_medium_box', collection: @upcoming_talks

    #tab-archived-talks.content
      %ul.list-style-type-none
        = render partial: 'shared/talk_medium_box', collection: @archived_talks

    #tab-comments.content
      - if can? :create, Comment
        .comment-form.row.collapse
          .medium-12.columns
            .comment-left-box.left
              =link_to '#user' do
                .avatar
                  - img_size = 40
                  .avatar-image{style: "width:#{img_size}px;height:#{img_size}px"}
                    = render partial: "shared/avatar_image", locals: { user: current_user, img_size: img_size }
            .comment-right-box
              = simple_form_for [@venue, @venue.comments.build] do |f|
                = f.input :content
                = f.button :submit, class: 'button-standard', value: t('.post')
      %ul.list-style-type-none
        = render partial: 'comment', collection: @venue.comments.ordered
