- content_for :head do
  = rss_link_tag t('.feed_title', title: @venue.title)

- content_for :title do
  = t('.title', title: @venue.title)

- content_for :facebook_values do
  = render(:partial => 'facebook_value_template', :locals => { :venue => @venue } )

  = render partial: '/shared/social_share', locals: { shareable_id: @venue.id, shareable_type: 'venue' }

.user-box.row
  .large-12.columns
    %h4.venue-user= link_to @venue.user.name, @venue.user
    = link_to t('.back_to_profile'), @venue.user

.title-box.row
  .large-12.columns
    %h2.venue-title.left= @venue.title
    - if can? :manage, @venue
      = link_to t('.edit_venue'), [:edit, @venue], class: "title-edit"

.image-box.row
  .large-12.columns
    .image-container(style="background-image: url(#{@venue.image.url})")

.action-box.row
  .anker-links.large-6.columns
    - unless @venue.talks.empty?
      - unless @upcoming_talks.empty?
      = link_to '#upcoming-talks' do
        = t('.upcoming_talks', count: @upcoming_talks.count)
      .icon-mic        
      - unless @archived_talks.empty?
        = link_to '#archived-talks' do
          = t('.archived_talks', count: @archived_talks.count)

  .action-links.large-6.columns
    - if can? :manage, @venue
      = link_to new_venue_talk_path(@venue) do
        %span.icon-mic
        = t('.create_new_talk')
      = link_to new_venue_talk_path(@venue) do
        %span.icon-upload
        = t('.upload_talk')      
    - else
      = link_to_podcast(@venue)
        = t('.subscribe_to_podcast')
      -#TODO mail participate button if logged in sonst modal

.description-box.row
  .large-12.columns
    %p= @venue.description.html_safe
    - if can? :manage, @venue
      = link_to t('.edit_venue'), [:edit, @venue], class: "desc-edit"

- unless @live_talks.empty?
  .live-talks-box.row
    .large-12.columns
      %h3= t('.live_talks', count: @live_talks.count)
      %ul.list-style-type-none
        = render partial: 'shared/talk_medium_box', collection: @upcoming_talks      

- unless @upcoming_talks.empty?
  .upcoming-talks-box.row
    .large-12.columns
      %h3= t('.upcoming_talks', count: @upcoming_talks.count)
      %ul.list-style-type-none
      -# TODO show only the first 3
        = render partial: 'shared/talk_medium_box', collection: @upcoming_talks
      -# TODO open all
      = link_to t('.more'), '#'

- unless @archived_talks.empty?
  .upcoming-talks-box.row
    .large-12.columns
      %h3= t('.archived_talks', count: @archived_talks.count)
      %ul.list-style-type-none
      -# TODO show only the first 3
        = render partial: 'shared/talk_medium_box', collection: @archived_talks
      -# TODO open all
      = link_to t('.more'), '#'
