<div class="page-header">
	<h2><%= t('.venue')%>: <%= @venue.title %></h2>
</div>

<aside>	<small><%= Time.now %></small>
		<% if @venue.start_time > Time.now %>
		<span class="label label-important"> <%= t('.time_until_takeoff', :time => distance_of_time_in_words_to_now( @venue.start_time, true ) ) %> </span>
		<% end %>
		<% if @venue.start_time > Time.now && @venue.start_time <= Time.now + 60.minutes %>
		<span class="label label-info"><%= t('.ongoing_venue')%></span>
		<% end %>
		<% if @venue.start_time + 61.minutes <= Time.now %>
		<span class="label label-info"><%= t('.past_venue')%></span>
		<% end %>
</aside>

<div class="venue-page row-fluid clearfix">

	<article class="span6 clearfix">

		<div class="well well-large venue-box row-fluid clearfix">
			<div class="span6">
				<h3><%= @venue.title %></h3>
				<%= simple_format @venue.description, :class => "text-info" %>
			</div>
			<div class="span6">
				<p>
					<small><%= t('.venue_moderated_by', :name => @venue.host_kluuu.user.name ) %></small>
					<br />
					<%= render(:partial => 'klus/tiny_kluuu', :locals => { :klu => @venue.host_kluuu }) %>
					<span class="label label-info"><%= t('.start_date')%></span>&nbsp;
					<%= l(@venue.start_time) %>
				</p>
			</div>
		</div>

		<div class="form-actions">
			<%= link_to t('.back', :default => t("helpers.links.back")), venues_path, :class => 'btn'  %>
			<% if can? :manage, @venue %>
			<%= link_to t('.edit', :default => t("helpers.links.edit")), edit_venue_path(@venue), :class => 'btn' %>
			<%= link_to t('.destroy', :default => t("helpers.links.destroy")),venue_path(@venue), :method => 'delete',
			:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
			:class => 'btn btn-danger' %>
			<% end %>
			<% if @venue.host_kluuu.user != current_user %>
			<% if @venue.user_participates?(current_user) %>
			<%= link_to( t('.unjoin_venue'), venue_unjoin_path(:venue_id => @venue.id), :method => :delete,
			:data => { :confirm => t('.confirm_unjoin_venue') },  :class => "btn btn-danger") %>
			<% else %>
			<%= link_to t('.join_venue'), venue_new_join_path(:venue_id => @venue.id), :class => "btn btn-success" %>
			<% end %>
			<% end %>
			
		</div>
		
		<section class="participating-klus clearfix">
			<h3><%= t('.participating_klus') %></h3>
			<% if @venue.klus.empty? %>
			<%= t('.be_the_first_to_participate') %>! -
			<% if @venue.host_kluuu.user != current_user %>
			<%= link_to t('.join_venue'), venue_new_join_path(:venue_id => @venue.id), :class => "btn btn-success" %>
			<% end %>
			<% end %>
			<% @venue.klus.each do |klu| %>
			<%= link_to(klu_path(klu)) do %>
			<%= partial_for_klu(klu, :tiny) %>
			<% end %>
			<% end %>
		</section>
		<div class="venues-hint"><%= link_to t('.see_other_venues'), venues_path, :class => "btn" %></div>
	</article>

	<section class="group-chat span6">
		<% if @venue.start_time  > Time.now - 10.minutes  %>
		<div class="hero-unit">
			<span class="label label-important"><%= t('attention') %></span>
			<%= t('.chat_will_be_available_short_before_start') %>
		</div>
		<% else %>
		<% if @venue.attendies.include?(current_user) %>
		<%= render(:partial => 'venues/group_chat', :locals => { :venue => @venue })%>
		<% else %>
		<div class="hero-unit">
			<span class="label label-warning"><%= t('.only_attendies_can_see_group_chat')%></span>
		</div>
		<% end %>
		<% end %>
	</section>
	
</div>

