- if @venue.reload_time
  - content_for :head do
    -# force reload at @venue.reload_time
    %meta(http-equiv="refresh" content="#{@venue.reload_time}")/

- content_for :title do
  = t('.venue')
  \&middot;
  = @venue.title

- content_for :facebook_values do
  = render(:partial => 'facebook_value_template', :locals => { :venue => @venue } )

.draft
  %p= link_to t('.create_new_talk'), new_venue_talk_path(@venue)
  %p= link_to t('.edit_venue'), [:edit, @venue]
  %p= link_to t('.delete_venue'), @venue, method: :delete, data: { confirm: t('.confirm_delete', default: 'Are you sure?') }
  %p= @venue.title
  %p= @venue.teaser
  %p TODO upload button for background image

  %h2= t('.upcoming_talks')
  %ul
    - unless @next_talk.nil?
      %li(style='background-color: yellowgreen;')
        Next:
        = link_to @next_talk.title, [@venue, @next_talk]
    - for talk in @upcoming_talks
      %li= link_to talk.title, [@venue, talk]

  %h2= t('.description')
  %p= @venue.description

  %h2= t('.archived_talks')
  %ul
    - for talk in @archived_talks
      %li= link_to talk.title, [@venue, talk]


-# action buttons
= render(:partial => 'venue_show_actions', :locals => { :venue => @venue } )

-if @venue.live?
  -# live layout
    
  %section.venue-live-box.clearfix
    -# description
    = render(:partial => 'venue_show_static_live', :locals => { :venue => @venue } )  
    = render(:partial => 'venue_show_live', :locals => { :venue => @venue } )  

  .row-fluid
    .span8
      -# forum (left)
      = render(:partial => 'venue_show_forum', :locals => { :venue => @venue } )
    .span4
      -# participants (right)
      = render(:partial => 'venue_show_archive', :locals => { :venue => @venue } )

- else
  -# static layout
  .row-fluid
    .span8
      -# description
      = render(:partial => 'venue_show_static', :locals => { :venue => @venue } )

      -# forum
      = render(:partial => 'venue_show_forum', :locals => { :venue => @venue } )

    .span4.left-light-border
      -# next event
      - if @venue.current_event.present?
        = render(:partial => 'venue_show_upcoming_event', :locals => { :venue => @venue } )
        %hr.venue-horiz-line

      -# archive
      = render(:partial => 'venue_show_archive', :locals => { :venue => @venue } )
      %hr.venue-horiz-line

      -# participants
      = render(:partial => 'venue_show_participants', :locals => { :venue => @venue })      

