:css
  html {
    overflow: auto;
  }

- content_for :title do
  = t('.title', name: @venue.name)

-# TODO the 3 lines of faye setup could move to cljs
- content_for :javascripts do
  = javascript_include_tag 'faye-authentication'
  %script{ src: Settings.faye.server + '/client.js' }
  :javascript
    fayeUrl = #{Settings.faye.server.to_json};

    if (window.Faye != undefined) {
      fayeClient = new Faye.Client(fayeUrl);
      fayeExtension = new FayeAuthentication(fayeClient);
      fayeClient.addExtension(fayeExtension);
    }

    initialSnapshot = #{@venue.snapshot.to_json};
    translations = #{t('frontend.venues').to_json};

    user = #{current_user.details.to_json};

    //dummy
    pinId = null;
  = javascript_include_tag 'cljs' unless params[:nocljs]

-# http://stackoverflow.com/questions/27429123/html5-audio-web-audio-api-cors-and-firefox
%audio#audio(src='/audio/silence.mp3' autoplay='autoplay' crossOrigin='anonymous')

#app
  .loading-message
    .loading-graphic
      = render partial: 'explore/loading'
      %h1= t('.loading')
      = render partial: 'shared/autoplay_warning' if @venue.connected?
