<%- model_class = Venue -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:host_kluuu_id) %>:</strong></dt>
  <dd><%= @venue.host_kluuu_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_time) %>:</strong></dt>
  <dd><%= @venue.start_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @venue.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:intro_video) %>:</strong></dt>
  <dd><%= @venue.intro_video %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              venues_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_venue_path(@venue), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              venue_path(@venue),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
