- if @venue.reload_time
  - content_for :head do
    -# force reload at @venue.reload_time
    %meta(http-equiv="refresh" content="#{@venue.reload_time}")/

- content_for :title do
  = t('.venue')
  \&middot;
  = @venue.title

- content_for :facebook_values do
  = render(:partial => 'facebook_value_template', :locals => { :venue => @venue } )

= render(:partial => 'venue_show_header', :locals => { :venue => @venue } )
- if can? :manage, @venue
  %aside.venue-new-date
    - if @venue.past?
      = link_to  edit_venue_path(@venue, :renew => 1), :class => 'btn btn-large btn-warning', :remote => true do
        %i.icon-calendar
        = t('.renew')

.venue-page.row-fluid.clearfix
  -# content (left)
  %article.span6.clearfix
    -# TODO get rid of logic in view
    - if @venue.start_time && ((@venue.start_time.in_time_zone - 5.minutes) < Time.now.in_time_zone) &! @venue.timed_out?
      -# live
      = render(:partial => 'venue_show_live', :locals => { :venue => @venue } )
    - else
      -# static
      = render(:partial => 'venue_show_static', :locals => { :venue => @venue } )
  -# chat (right)
  = render(:partial => 'venue_show_chat', :locals => { :venue => @venue } )

.row-fluid
  -# forum (left)
  = render(:partial => 'venue_show_forum', :locals => { :venue => @venue } )
  -# participants (right)
  = render(:partial => 'venue_show_participants', :locals => { :venue => @venue } )

= render(:partial => 'venue_show_social', :locals => { :venue => @venue } )
