.row
  .span12
    = simple_form_for(@venue, :html => { :class => 'form-horizontal'}) do |f|
      - if @venue.errors.any?
        #error_explanation
          %h2= "#{pluralize(@venue.errors.count, "error")} prohibited this admin_venue from being saved:"
          %ul
            - @venue.errors.full_messages.each do |msg|
              %li= msg
    
      = f.input :title
      = f.input :summary
      = f.input :description
      = f.input :duration
      = f.input :start_time
      = f.input :featured_from
    
      .actions
        = f.submit 'Save'
