<article class="notification well well-large" id="notification-<%= notification.id %>">
	
	<div class="pull-right">
		<% if can? :manage, notification %>
		<%= link_to(delete_notification_path(:notification_id => notification), :method => :delete, :remote => true) do %>
			<i class="icon-trash"></i> <%= t('.destroy') %>
		<% end %>
		<% end %>
	</div>
	
	<small><%= time_ago_in_words(notification.created_at) %> </small>
	<h4><%= notification %></h4>
	<span class="label label-info"><%= link_to notification.other.name, user_path(:id => notification.other) %></span>
	<% if notification.instance_of?(Notification::NewStatus) %>
		<%= t('.created_new_status_update') %>:
		<%= simple_format(notification.content) %>
	<% end %>
	<% if notification.instance_of?(Notification::NewKluuu)%>
		<%= t('.created_new_klu') %>:
		<%= notifcation.klu.title %>
	<% end %>
	<div class="form-actions">
		<%= link_to_url_for_notification_reason(notification) %>
	</div>
</article>
