<article class="notification news-notification contribution" id="notification-<%= notification.id %>">
	<header>
		<div class="contribution-user-name">
			<%= link_to notification.other.name, user_path(:id => notification.other) %>
		</div>
		<%= link_to(image_tag( notification.other.account.portrait.url(:thumb)), user_path(:id => notification.other), :class => 'contribution-user-image img-polaroid' ) %>
		<time datetime="<%= notification.created_at.strftime("%Y-%m-%d") %>">
			<%= time_ago_in_words(notification.created_at) %>
		</time>
	</header>

	<% if notification.instance_of?(Notification::NewStatus) %>
	<%= link_to notification.other.name, user_path(:id => notification.other) %>
		<%= t('.created_new_status_update') %>:
		<%= simple_format(notification.content) %>
	<% end %>
	<% if notification.instance_of?(Notification::NewKluuu)%>
		<%= link_to notification.other.name, user_path(:id => notification.other) %>
			<%= t('.created_new_klu') %>:
		<div class="klu-title"><%= notification.klu.title %></div>
	<% end %>
	
	<%= link_to_url_for_notification_reason(notification) %>

	<aside>
		<% if can? :manage, notification %>
			<%= link_to(delete_notification_path(:notification_id => notification), :method => :delete, :remote => true,  :class => "contribution-delete") do %>
				<i class="icon-trash"></i>
			<% end %>
		<% end %>
	</aside>	
</article>

