<article class="notification news-notification news-notification-new-content contribution" id="notification-<%= notification.id %>">
	<header>
		<% if notification.other.instance_of?(User)%>
		<div class="user-image contribution-user-image" data-user-id="<%= notification.other.id %>">
			<%= link_to(image_tag( notification.other.account.portrait.url(:thumb), :class => ' img-polaroid'), user_path(:id => notification.other)) %>
		</div>
		<% end %>
		<% if notification.other.instance_of?(Venue) %>
		<div class="user-image contribution-user-image" data-user-id="<%= notification.other.host_kluuu.user.id %>">
			<%= link_to(image_tag( notification.other.host_kluuu.user.account.portrait.url(:thumb), :class => ' img-polaroid'), user_path(:id => notification.other.host_kluuu.user)) %>
		</div>
		<% end %>
		<time datetime="<%= notification.created_at.strftime("%Y-%m-%d") %>">
			<%= time_ago_in_words(notification.created_at) %>
		</time>
	</header>

	<% if notification.instance_of?(Notification::NewStatus) %>
		<h4 class="news-notification-top">
			<%= link_to notification.other.name, user_path(:id => notification.other) %>
			<%= t('.created_new_status_update') %>:
		</h4>
		<%= link_to_url_for_notification_reason(notification) do %>
			<div class="well well-small status">
				<i class="icon-bullhorn"></i>
				<%= limit_words(notification.content, 40) %>
			</div>
		<% end %>
	<% end %>
	
	<% if notification.instance_of?(Notification::NewKluuu)%>
		<h4 class="news-notification-top">
			<%= link_to notification.other.name, user_path(:id => notification.other) %>
			<%= t('.created_new') %> <%= klu_type_string(notification.klu) %>:
		</h4>
		<%= link_to_url_for_notification_reason(notification) do  %>
			<%= tiny_klu(notification.klu) %>
		<% end %>
	<% end %>
	
	<% if notification.instance_of?(Notification::NewVenue)%>
		<h4 class="news-notification-top">
			<%= link_to notification.other.title, venue_path(:id => notification.other) %>
			<%= t('.created_new') %> <%= t('venues.show.venue') %>.
		</h4>
	<% end %>
	
	<%= link_to_url_for_notification_reason(notification) %>
	
	<aside>
		<% if can? :manage, notification %>
			<%= link_to(delete_notification_path(:notification_id => notification), :method => :delete, :remote => true,  :class => "contribution-delete") do %>
				<i class="icon-trash"></i>
			<% end %>
		<% end %>
	</aside>
</article>

