- venue = Venue.featured.first

%section.lp-venue.clearfix
  .clearfix
    .pull-left
      %h2.venue-title= t('.venue_title')
      %span.lp-venue-slogan.hidden-phone.hidden-tablet= t('.discuss_in_virtual_cafe')
    = link_to t('.learn_more'), venues_path , :class => "lp-learn-more pull-right"
  = render(:partial => 'venues/venue_big', :locals => {:venue => venue})


- venues = Venue.not_past.upcoming_first - [venue]

- venues.each do |venue|

  %section.lp-venue.clearfix
    .clearfix
      .pull-left
        %h2.venue-title= t('.venue_title')
        %span.lp-venue-slogan.hidden-phone.hidden-tablet= t('.discuss_in_virtual_cafe')
      = link_to t('.learn_more'), venues_path , :class => "lp-learn-more pull-right"
    = render(:partial => 'venues/venue_big', :locals => {:venue => venue})