-#featured venues
- if !Venue.featured.first.nil?
  %hr
  %br/
  %br/
  .row-fluid.featured-box
    .span4.featured-arrow-box
      .featured-arrow-inside
        .featured-arrow-text= t('.featured_venue')
    .span8
      - venue = Venue.featured.first
      = render(:partial => 'venues/venue_big', :locals => {:venue => venue})
  %br/
  %br/   

-#upcoming venues
%hr
%br/
%br/
.row-fluid
  .span12
    %header.lp-upcoming-header
      = t('.upcoming_venues')
.row-fluid
  .span9
    - venues = Venue.not_past.upcoming_first - [venue]
    - venues.each do |venue|
      = render(:partial => 'venues/venue_big', :locals => {:venue => venue})
  .span3.kblog-box
    .kblog
      %header.lp-klog-header
        NEWS
      %article.kblog-article
        = link_to 'http://www.kluuu.com/venues/54' do      
          %aside.kblog-created
            Wednesday, 28. August 2013

          .kblog-title
            First venue talk

          .kblog-content
            Check out the first interview provided by PLATOON:
            %br
            Wednesday, 27.8. at 7pm, interview with Dejana Popović - remake Festival Berlin
      %hr.kblog-article-hr
      %article.kblog-article
        %aside.kblog-created
          Tuesday, 27. August 2013

        .kblog-title
          Relaunch!

        .kblog-content
          The KluuU platform is relaunching tomorrow!