= form_for(user, :url => session_path(:user)) do |f|

  = f.text_field :email,:type => "email", :class => 'input-block-level', :placeholder => t('.email'), :id => 'user_login'

  = f.password_field :password, :placeholder => t('.password'), :class => "lp-input-password"

  = label_tag :remember_me, :class => 'lp-remember' do
    = check_box_tag :remember_me
    = t('.remember') + '.'

  = button_tag t('.login'), :name => "Login", :class => 'button-vr'

  .forgot-password
    = link_to t('.forgot_password'), new_password_path(:user)
