%h2 Sign Up
= form_for(user, :url => new_user_registration_path, :method => :get) do |f|

  = f.text_field :firstname, :placeholder => t('.firstname'), :class => 'input-block-level'
  = f.text_field :lastname, :placeholder => t('.lastname'), :class => 'input-block-level'

  = f.text_field :email, :type => "email", :placeholder => t('.email'), :class => 'input-block-level lp-signup-input-email'  
  = button_tag t('.register'), :name => "signup_button", :class => 'btn btn-lp-register pull-right'

= t(".or")
= render(:partial => "/devise/shared/social_network_connects")