= form_for('todo') do |f| #TODO
  / = devise_error_messages! #TODO
  .control-group
    .controls
      = f.text_field :email,:type => "email", :class => 'input-block-level', :placeholder => t('.username_or_email')
  .control-group
    .controls.right-fixed-box 
      = f.password_field :password, :placeholder => t('.password'), :class => "lp-input-password"
      = button_tag t('.login'), :name => "Login", :class => 'btn btn-lp-register pull-right'

  .clearfix
  / - if devise_mapping.rememberable? #TODO
  - if true
    .control-group
      .controls
        = label_tag :remember_me, :class => 'checkbox lp-remember' do
          = check_box_tag :remember_me
          = t('.remember') + '.'
          = link_to t('.forgot_password'), 'todo' #TODO

/ = render(:partial => "/devise/shared/social_network_connects") #TODO

.sessions-or-box
  .sessions-or-overlap= t(".or")
= render(:partial => "/devise/shared/social_network_connects_test") #TODO