
%li.text-center
	%a{href: "#", 'data-dropdown' => "c_#{index}", 'data-options' => "align: top"}
		= image_tag "http://lorempixel.com/200/200/people/#{index}", width: '100%'
		.member-name= name
		.member-job= 'Founder'

	%div.f-dropdown{id: "c_#{index}", 'data-dropdown-content' => ''}
		Dies ist das overlay