.row.lp-top-row
  .large-12.columns
    -#
      .lp-search-box
        = form_tag "/search", :class => 'form-search' do
          = search_field_tag 'query', params[:query], :class => "top-bar-search-field", :placeholder => t('.search')
          = button_tag :type => "submit", :class => "search-lupe" do
            %span.icon-magnifying-glass
    - if !current_user || current_user.guest
      .authentication-box.text-center
        %dl.tabs(data-tab="true")
          %dd
            = link_to '#login', 'data-link' => 'login' do
              = t('.login')
          %span.link-delimiter
            &#47;
          %dd.active
            = link_to '#signup', 'data-link' => 'signup' do
              = t('.signup')
        .tabs-content.text-left
          .content#login
            = render 'lp_login', user: @user
          .content.active#signup
            = render 'lp_signup', :user => @user

.title-row.row.collapse-large-only
  .medium-12.columns.text-center
    %span.lp-logo.icon-vr-logo
    %h1.headline
      = raw t('.headline')
    %h2.subheadline
      = raw t('.subheadline')
    %h3.subheadline-2
      = raw t('.subheadline_2')

.bg-blue
.about-summary.row
  .small-4.columns.text-center
    = image_tag '/images/illu1.jpg'
    %h4 STREAMING
    %p
      = t('.text_illu_1')
  .small-4.columns.text-center
    = image_tag '/images/illu2.jpg'
    %h4 INTERACTION
    %p
      = t('.text_illu_2')
  .small-4.columns.text-center
    = image_tag '/images/illu3.jpg'
    %h4 AUDIO ARCHIVE
    %p
      = t('.text_illu_3')

- unless @talks_live.empty?
  .live-talks.row
    .medium-12.columns
      .talks-box-title
        %h4 NOW LIVE
        %ul.list-style-type-none
          = render partial: "shared/talk_medium_box", collection: @talks_live

- unless @talks_featured.empty?
  .featured-talks.row
    .medium-12.columns
      .talks-box-title
        %h4 FEATURED
        %ul.list-style-type-none
          = render partial: "shared/talk_medium_box", collection: @talks_featured

- unless @talks_popular.empty?
  .featured-talks.row
    .medium-12.columns
      .talks-box-title
        %h4 POPULAR
        %ul.list-style-type-none
          = render partial: "shared/talk_medium_box", collection: @talks_popular

- unless @talks_recent.empty?
  .featured-talks.row
    .medium-12.columns
      .talks-box-title
        %h4 RECENTLY ARCHIVED
        %ul.list-style-type-none
          = render partial: "shared/talk_medium_box", collection: @talks_recent

.bg-blue.bg-manifest
.manifest.row
  .large-12.columns.text-center
    %span.icon-vr-logo
    %h4 THE VOICE REPUBLIC MANIFESTO
    %br/
    %h5 1. Democracy lives on discussion and free speech
    %p At Voice Republic, you can share and form your opinions.
    %h5 2. Voice Republic lets speaker and listener meet at eye level
    %p Every listener can be a speaker, and vice versa.
    %h5 3. For more analog within the digital
    %p Voice Republic lets discussions grow just like they do in the real world. You can express yourself in as much detail as you like, giving space to the subjects that interest you.
    %h4 4. Voice Republic is founded on respect
    %p Respect for other opinions, other genders, sexualities, religions and backgrounds. You know what we mean: We want to discuss and disagree respectfully, even when our strong opinions differ.
    %h5 5. For a decentralization of the Internet
    %p For security reasons, the Voice Republic servers that save personal data are all located in Switzerland, no exceptions. And it will stay that way.
    %h5 6. We don't do business with your data
    %p Voice Republic has a business model. Your data is not part of it. Coming soon.
    %h5 7. Voice Republic can forget
    %p When you delete your accout, your data is deleted with it. Voice Republic does not want an uncontrollable archive. According to Nietzsche, "Forgetting belongs to all action"


.member-block.row
  .small-10.small-centered.columns.text-center
    %h4 TEAM
    %ul.large-block-grid-3.medium-block-grid-3.small-block-grid-3
      - team_path = '/images/team/'
      - format = '.jpg'
      - team = []
      - team << ['<span>Patrick </span><span>Frank</span>','patrick_frank','patrick-frank','Prime Minister']
      - team << ['<span>Ole </span><span>Kretschmann</span>','ole_kretschmann','ole-kretschmann','Prime Minister']
      - team << ['<span>Tobias </span><span>Von </span><span>Glenck</span>','tobias_von_glenck','tobias-von-glenck','Secretary of State']
      - team << ['<span>Munen </span><span>Alain </span><span>Lafon</span>','alain_lafon','munen-alain-lafon','Chief Technology Officer']
      - team << ['<span>Phil </span><span>Hofmann</span>','phil_hofmann','phil-hofmann','Chief Technology Officer']
      - team << ['<span>Martin </span><span>Meyer</span>','martin_meyer','martin-meyer','Ministry of Research & Development']
      - team << ['<span>Réka </span><span>Balogh</span>','reka_balogh','reka-balogh-6b0961a9-bb0d-4789-8ce3-405c486f54e9','Ministry of Community']
      -# team << ['<span>Jérome </span><span>Sprenger </span><span class="snd-line">Sèvegrand</span>','jerome_sprenger','jerome-sprenger','Ministry of Design']
      -# team << ['<span>Rafael </span><span>Schmidt</span>','rafael_schmidt','rafael-schmidt','Ministry of Design']
      -# team << ['Michael Zimmermann','michael_zimmermann','michael-zimmermann']
      - team << ['<span>VIER FÜR TEXAS</span>','4ft','vier-fuer-texas','Ministry of Communication']

      - team.each do |member|

        - img_path = team_path + member[1] + format

        %li
          = link_to '/users/' + member[2] do
            .avatar
              .avatar-box
                = render partial: "shared/avatar_image", locals: {user: 'static', img_path: img_path, img_size: 79}
                .member-function
                  = member[3]
                .avatar-name.text-center
                  = raw member[0]

