- content_for :head do
  = rss_link_tag t('.feed_title')

.title-row(style="background-image: url(/images/landing_page/#{rand(5)}.jpg)")
  .bg
  .row.collapse-large-only
    .medium-12.columns.text-center
      %span.lp-logo.icon-vr-logo
      %h1.headline
        = t('.headline').html_safe
      %br
      %button.button-how-to(data-slide-down=".how-to-use-vr-dropdown" data-slide-down-scroll="true" data-slide-down-action="open")
        = t('.how_to_use_vr')

= render 'summary'

- unless @talks_live.empty?
  .live
    .row.collapse-large-only
      .large-12.columns
        - unless @talks_live.empty?
          .title-box
            = link_to live_talks_url do
              %h3.title-live= t('.live_title')
              %h4= t('.live_subtitle')
          %ul(class="#{talkslive_grid(@talks_live)}")
            = render partial: talkslive_partial(@talks_live), :locals => { color: 'box-live' }, collection: @talks_live
          = link_to t('.see_all'), live_talks_url, class: 'see-all-link'

- unless @talks_featured.empty?
  .upcoming
    .row.collapse-large-only
      .large-12.columns
        - unless @talks_featured.empty?
          .title-box
            = link_to featured_talks_url do
              %h3= t('.upcoming_title')
              %h4= t('.upcoming_subtitle')
          %ul.list-style-type-none
            = render collection: @talks_featured, partial: 'shared/talk_medium_box', :locals => { color: 'box-transparent' }
          = link_to t('.see_all'), featured_talks_url, class: 'see-all-link'

- unless @talks_popular.empty?
  .archive
    .row.collapse-large-only
      .large-12.columns
        .title-box
          = link_to popular_talks_url do
            %h3= t('.archive_title')
            %h4= t('.archive_subtitle')
        %ul.list-style-type-none.clearfix
          = render collection: @talks_popular, partial: 'shared/talk_medium_box', :locals => { color: 'box-grey' }
        = link_to t('.see_all'), popular_talks_url, class: 'see-all-link'

.testimonial

.ad.text-center
  %h3= t('.ad_title')
  = link_to t('.get_in_touch'), 'mailto:service@voicerepublic.com', class: 'button'
  .pricing= link_to t('.pricing'), static_pages_pricing_path, class: 'button-adv'


.partners
  .row.collapse-large-only
    .small-12.columns
      .title-box
        %h3= t('.partners_title')
      %ul.logos-block-grid
        %li
          =link_to 'https://voicerepublic.com/users/webinale-conference' do
            =image_tag '/images/logos/webinale.jpg'
        %li
          =link_to 'https://voicerepublic.com/users/a-maze' do
            =image_tag '/images/logos/a_maze_berlin.jpg'
        %li
          =link_to 'https://voicerepublic.com/users/internationale-ferienkurse' do
            =image_tag '/images/logos/ferienkurse.jpg'
        %li
          =link_to 'https://voicerepublic.com/users/re-publica' do
            =image_tag '/images/logos/republica.jpg'
        %li
          =link_to 'https://voicerepublic.com/users/internet-of-things-conference' do
            =image_tag '/images/logos/i_of_things.jpg'
        %li
          =link_to 'https://voicerepublic.com/users/dmy-berlin' do
            =image_tag '/images/logos/dmi.jpg'




-#
  .manifest.bg-blue
    .row
      .large-12.columns.text-center
        %span.icon-vr-logo
        = t('.manifest').html_safe

  .member-block.row
    .small-10.small-centered.columns.text-center
      %h4= t('.team')
      %ul.large-block-grid-3.medium-block-grid-3.small-block-grid-3
        - team_path = '/images/team/'
        - format = '.jpg'
        - team = []
        - team << ['<span>Patrick </span><span>Frank</span>','patrick_frank','patrick-frank','Prime Minister']
        - team << ['<span>Ole </span><span>Kretschmann</span>','ole_kretschmann','ole-kretschmann','Prime Minister']
        - team << ['<span>Tobias </span><span>Von </span><span>Glenck</span>','tobias_von_glenck','tobias-von-glenck','Secretary of State']
        - team << ['<span>Munen </span><span>Alain </span><span>Lafon</span>','alain_lafon','munen','Chief Technology Officer']
        - team << ['<span>Phil </span><span>Hofmann</span>','phil_hofmann','branch14','Chief Technology Officer']
        - team << ['<span>Martin </span><span>Meyer</span>','martin_meyer','martin-meyer','Ministry of Research & Development']
        - team << ['<span>Réka </span><span>Balogh</span>','reka_balogh','reka-balogh-6b0961a9-bb0d-4789-8ce3-405c486f54e9','Ministry of Community']
        - team << ['<span>Jordan </span><span>Schachter</span>','jordan_schachter','jordan-schachter','Talent Acquisition and Marketing']
        -# team << ['<span>Jérome </span><span>Sprenger </span><span class="snd-line">Sèvegrand</span>','jerome_sprenger','jerome-sprenger','Ministry of Design']
        -# team << ['<span>Rafael </span><span>Schmidt</span>','rafael_schmidt','rafael-schmidt','Ministry of Design']
        -# team << ['Michael Zimmermann','michael_zimmermann','michael-zimmermann']
        - team << ['<span>VIER FÜR TEXAS</span>','4ft','vier-fuer-texas','Ministry of Communication']

        - team.each do |member|

          - img_path = team_path + member[1] + format

          %li
            = link_to '/users/' + member[2] do
              .avatar
                .avatar-box
                  = render partial: "shared/avatar_image", locals: { img_path: img_path, size: 79}
                  .member-function
                    = member[3]
                  .avatar-name.text-center
                    = member[0].html_safe
