<div class="landing-page">

	<!-- landing-page-top-row -->
	<div class="text-align-center kluuu-lead">

		<h2 class="text-align-center landing-page-claim"><%= t('.headline') %></h2>

		<div class="clearfix">

			<div class="lead">
				Discuss, consult, teach, help...
			</div>

			<div class="landing-page-illu clearfix">
				<ul>
					<li class="lp-venue-icon">
						<h2>KluuU</h2>
						<%= image_tag "/assets/blog-icon.png", :alt => "blog-icon" %><br>
						KluuU is the blog for your subject<br>
						- with video chat.
					</li>
					<li>
						<h2>Treffpunkt</h2>
						<%= image_tag "/assets/venue-icon.png", :alt => "blog-icon" %><br>
						Venue is the chatroom for your subject.
					</li>
				</ul>
			</div>


		</div>
	</div>

	<%= partial_for_venue_and_news() %>

	<div class="row-fluid landing-page-color2 lp-kluuus">
		<div class="span12  clearfix">
			<% if Kblog::Article.first &&! @news_shown %>
			<section class="medium-klu kblog">
				<h2 class="news-header"><%= t('landing_page.news')%></h2>
				<%= display_latest_articles(1, 400) %>
			</section>
			<% end %>
			<%= render(:partial => "klus/medium_kluuu", :collection => @kluuus, :as => 'klu') %>
			
		</div>
		<div class="span12 clearfix">
			<%= will_paginate @kluuus, :renderer => BootstrapPagination::Rails, :class => "pagination pagination-centered" %>
		</div>
	</div>

	<div class="row-fluid lp-trends-people">
		<div class="span6">
			<div class="well well-large">
				<h2>Trends</h2>
				<%= render(:partial => 'shared/tag_cloud') %>
			</div>
		</div>
		<div class="span6">
			<div class="well well-large clearfix">
				<h2>People</h2>
				<ul class="unstyled">
					<% User.potentially_available.limit(5).order("created_at DESC").each do |user| %>
					<li class="user-small">
						<%= render(:partial => "users/user_small", :locals => {:user => user}) %>
					</li>
					<% end %>
				</ul>
			</div>
		</div>

	</div>

</div>
