- content_for :head do
  = rss_link_tag t('.feed_title')

/ - if !current_user
/   %ul
/     %li
/       = link_to t('.login'), new_user_session_path, class: "logged-out-link"
/     %li
/       = link_to t('.sign_up'), new_user_registration_path, class: "logged-out-link"
/ - else
/   %li.has-dropdown
/     %a.user-link(href='#')
/       .avatar
/         = render partial: "shared/avatar_image", locals: { user: current_user, size: 25 }
/ = current_user.name

.section.blue.welcome
  .row.collapse
    .medium-2.columns
      .logo.small-text-center.medium-text-left
        %span.lp-logo.icon-vr-logo
    .medium-10.columns.top-actions.text-right.hide-for-small-only
      = link_to t('.now_playing'), '#', title: 'Should Link To A Page Of LIVE Talks'
      = link_to t('.discover'), explore_path
      = link_to t('.sign_in'), new_user_session_path
      = link_to t('.join'), new_user_registration_path, id: 'signup'
  .row.collapse
    .medium-8.medium-offset-2.large-6.large-offset-3.columns.text-center
      %h1.text-center
        = t('.claim').html_safe
      .small-12.columns
        = form_tag "/search", :class => 'navbar-search form-search' do
          .small-10.small-offset-1.medium-8.medium-offset-2.columns.search-field-holder
            = search_field_tag 'query', params[:query], :class => "welcome-search-field", :placeholder => t('.find_a_talk')#, :required => true
          .small-1.medium-2.columns.end.search-btn-holder
            = button_tag :type => "submit", :class => "search-lupe" do
              %span.icon-magnifying-glass
  .row.collapse
    .small-text-center.medium-text-right.top-actions.show-for-small-only
      .small-12.columns
        %hr
      .small-12.columns
        = link_to t('.now_playing'), '#', title: 'Should Link To A Page Of LIVE Talks'
      .small-12.columns
        %hr
      .small-12.columns
        = link_to t('.discover'), explore_path
      .small-12.columns
        %hr
      .small-12.columns
        = link_to t('.sign_in'), new_user_session_path
      .small-12.columns
        %hr
      .small-12.columns
        = link_to t('.join'), new_user_registration_path
      .small-12.columns
        %hr

.section.gray
  .row
    .large-8.large-offset-2.columns.text-center
      %h1.text-center
        = t('.start_listening').html_safe
  .row
    .large-12.columns.collapse
      = render collection: @talks_popular, partial: 'shared/talk_velvet_medium_box'
  .row
    %h1.text-center
      = link_to t('.more_btn'), '#', class: 'button', title: 'Should Link To A Page Of Talks'

.section.gray.publishers
  .row
    .medium-8.medium-offset-2.large-6.large-offset-3.columns.text-center
      %h1.text-center
        = t('.publisher_tease').html_safe
    .large-12.columns
      = render partial: 'shared/publisher_tile', :locals => {publisher_name: 'ETH Zurich'}
      = render partial: 'shared/publisher_tile', :locals => {publisher_name: 'WILPF'}
      = render partial: 'shared/publisher_tile', :locals => {publisher_name: 're:publica'}
      = render partial: 'shared/publisher_tile', :locals => {publisher_name: 'Webinale'}
      = render partial: 'shared/publisher_tile', :locals => {publisher_name: 'Courage Foundation'}
      = render partial: 'shared/publisher_tile', :locals => {publisher_name: 'Amaze Berlin'}
      = render partial: 'shared/publisher_tile', :locals => {publisher_name: 'Int\' ferienkurse Fuer Musik'}
      = render partial: 'shared/publisher_tile', :locals => {publisher_name: 'Internet Of Things'}
  .row.bottom-action
    %h1.text-center
      = link_to t('.see_all_btn'), '#', class: 'button', title: 'Should Link To A Page Of More Publishers'

.section.categories
  .row
    .large-6.large-offset-3.columns.text-center
      %h1.text-center
        = t('.categories_are_fun')

  .row.collapse{"data-equalizer" => ""}
    .small-12.medium-2.medium-offset-1.columns.category-thumb{"data-equalizer-watch" => ""}
      %h4.text-center
        Politics &amp; Society
    .small-12.medium-2.columns.category-thumb{"data-equalizer-watch" => ""}
      %h4.text-center
        The Sciences
    .small-12.medium-2.columns.category-thumb{"data-equalizer-watch" => ""}
      %h4.text-center
        Art &amp; Culture
    .small-12.medium-2.columns.category-thumb{"data-equalizer-watch" => ""}
      %h4.text-center
        Technology
    .small-12.medium-2.columns.end.category-thumb{"data-equalizer-watch" => ""}
      %h4.text-center
        The Media


/ .section.apptease
/   .row
/     .medium-6.columns.device-copy.right
/       .small-12.columns
/         %h1
/           = t('.apptease_header')
/         %p.lead
/           = t('.apptease_lead')
/       .small-6.columns.store-links
/         =image_tag '/images/logos/appstore.png'
/       .small-6.columns.store-links
/         =image_tag '/images/logos/playstore.png'
/     .medium-6.columns.device-image.left
/       =image_tag '/images/background/iphone-myfeed2.png'



.section.blue.ad
  .row
    .large-8.large-offset-2.columns.text-center
      %h1.text-center= t('.ad_title')
      = link_to t('.get_in_touch'), 'mailto:service@voicerepublic.com', class: 'button'
      .pricing= link_to t('.pricing'), pricing_path, class: 'button-adv'
