.landing-page
  .lp-bg
    = image_tag "/assets/Bilder_KluuU_Studio/#{rand(7)}.jpg"
  .row-fluid
    .span8
      %img{:src => "https://www.evernote.com/shard/s19/sh/5aa15f31-6cf0-480b-9c96-2a125de60e24/cae2ab251d72bfd1cabe3d8e4655bc6d/deep/0/kluuu_will_be_vr.png"}
    .span4
      .well.well-large.lp-login
        = render 'lp_login', :user => @user
  .row-fluid
    .span8.lp-left-bottom.featured-box
      = render(:partial => "lp_venues")
    .span4
      .well.well-large.lp-signup
        = render 'lp_signup', :user => @user
