.landing-page
  .row
    .large-12.text-center
      %br/
      %br/
      %br/
      %h1 Welcome to Voice Republic!
      - @talks.each do |talk|
        .panel
          = link_to [talk.venue, talk] do
            %h4= talk.venue.user.name
            %h3= talk.venue.title
            %h2= talk.title
            %p= talk.teaser
  .row
    .large-5.columns.panel
      = render 'lp_login', :user => @user
    .large-5.large-offset-2.columns.panel.callout
      = render 'lp_signup', :user => @user
