.row.lp-top-row(style="z-index:2")
  .large-12.columns
    - if !current_user || current_user.guest
      .authentication-box.text-center.hide-for-medium-down
        %dl.tabs(data-tab="true")
          %dd
            = link_to '#login', 'data-link' => 'login' do
              = t('.login')
          %span.link-delimiter
            &#47;
          %dd.active
            = link_to '#signup', 'data-link' => 'signup' do
              = t('.signup')
        .tabs-content.text-left
          .content#login
            = render 'lp_login', user: @user
          .content.active#signup
            = render 'lp_signup', :user => @user

.title-row.bg-creme
  .row.collapse-large-only
    .medium-12.columns.text-center
      %span.lp-logo.icon-vr-logo
      %h1.headline
        = t('.headline').html_safe
      %h2.subheadline
        = t('.subheadline').html_safe
      %h3.subheadline-2
        = t('.subheadline_2').html_safe

.about-summary.bg-blue
  .row
    .small-4.columns.text-center
      = image_tag '/images/illu1.jpg'
      %h4= t('.title_illu_1')
      %p= t('.text_illu_1')
    .small-4.columns.text-center
      = image_tag '/images/illu2.jpg'
      %h4= t('.title_illu_2')
      %p= t('.text_illu_2')
    .small-4.columns.text-center
      = image_tag '/images/illu3.jpg'
      %h4= t('.title_illu_3')
      %p= t('.text_illu_3')

.talks.bg-creme
  - unless @talks_live.empty?
    .live-talks.row
      .medium-12.columns
        .talks-box-title
          %h4= t('.now_live')
          %ul.list-style-type-none
            = render partial: "shared/talk_medium_box", collection: @talks_live

  - unless @talks_featured.empty?
    .featured-talks.row
      .medium-12.columns
        .talks-box-title
          %h4= t('.featured')
          %ul.list-style-type-none
            = render partial: "shared/talk_medium_box", collection: @talks_featured

  - unless @talks_popular.empty?
    .featured-talks.row
      .medium-12.columns
        .talks-box-title
          %h4= t('.popular')
          %ul.list-style-type-none
            = render partial: "shared/talk_medium_box", collection: @talks_popular

  - unless @talks_recent.empty?
    .featured-talks.row
      .medium-12.columns
        .talks-box-title
          %h4= t('.recently_archived')
          %ul.list-style-type-none
            = render partial: "shared/talk_medium_box", collection: @talks_recent

.manifest.bg-blue
  .row
    .large-12.columns.text-center
      %span.icon-vr-logo
      = t('.manifest').html_safe

.member-block.row
  .small-10.small-centered.columns.text-center
    %h4= t('.team')
    %ul.large-block-grid-3.medium-block-grid-3.small-block-grid-3
      - team_path = '/images/team/'
      - format = '.jpg'
      - team = []
      - team << ['<span>Patrick </span><span>Frank</span>','patrick_frank','patrick-frank','Prime Minister']
      - team << ['<span>Ole </span><span>Kretschmann</span>','ole_kretschmann','ole-kretschmann','Prime Minister']
      - team << ['<span>Tobias </span><span>Von </span><span>Glenck</span>','tobias_von_glenck','tobias-von-glenck','Secretary of State']
      - team << ['<span>Munen </span><span>Alain </span><span>Lafon</span>','alain_lafon','munen-alain-lafon','Chief Technology Officer']
      - team << ['<span>Phil </span><span>Hofmann</span>','phil_hofmann','phil-hofmann','Chief Technology Officer']
      - team << ['<span>Martin </span><span>Meyer</span>','martin_meyer','martin-meyer','Ministry of Research & Development']
      - team << ['<span>Réka </span><span>Balogh</span>','reka_balogh','reka-balogh-6b0961a9-bb0d-4789-8ce3-405c486f54e9','Ministry of Community']
      - team << ['<span>Jordan </span><span>Schachter</span>','jordan','jordan-schachter','VR Ambassador']
      -# team << ['<span>Jérome </span><span>Sprenger </span><span class="snd-line">Sèvegrand</span>','jerome_sprenger','jerome-sprenger','Ministry of Design']
      -# team << ['<span>Rafael </span><span>Schmidt</span>','rafael_schmidt','rafael-schmidt','Ministry of Design']
      -# team << ['Michael Zimmermann','michael_zimmermann','michael-zimmermann']
      - team << ['<span>VIER FÜR TEXAS</span>','4ft','vier-fuer-texas','Ministry of Communication']

      - team.each do |member|

        - img_path = team_path + member[1] + format

        %li
          = link_to '/users/' + member[2] do
            .avatar
              .avatar-box
                = render partial: "shared/avatar_image", locals: {user: 'static', img_path: img_path, img_size: 79}
                .member-function
                  = member[3]
                .avatar-name.text-center
                  = member[0].html_safe
