.header-block(style="background-image:url(/assets/background/mic1.jpg)")
  %br/
  %br/
  .row.collapse-large-only
    .medium-7.columns
      %h1.headline
        = t('.headline')
      %h2.subheadline
        = t('.subheadline')

    .medium-5.columns
      %br
      = render 'lp_signup', :user => @user
      %br
      = render 'lp_login', user: @user
  %br

.row
  .medium-12.columns
    - @talks.each do |talk|
      .panel
        = link_to [talk.venue, talk] do
          %h4= talk.venue.user.name
          %h3= talk.venue.title
          %h2= talk.title
          %p= talk.teaser
