- content_for :head do
  = rss_link_tag t('.feed_title')

/ - if !current_user
/   %ul
/     %li
/       = link_to t('.login'), new_user_session_path, class: "logged-out-link"
/     %li
/       = link_to t('.sign_up'), new_user_registration_path, class: "logged-out-link"
/ - else
/   %li.has-dropdown
/     %a.user-link(href='#')
/       .avatar
/         = render partial: "shared/avatar_image", locals: { user: current_user, size: 25 }
/ = current_user.name

.section.blue.welcome
  .row
    .top-actions
      .logo.left
        %span.lp-logo.icon-vr-logo
      .right
        %span 
          = link_to t('.now_playing'), '#', title: 'Should Link To A Page Of LIVE Talks'
        %span 
          = link_to t('.discover'), explore_path
        %span 
          = link_to t('.sign_in'), new_user_session_path
        %span 
          = link_to t('.join'), new_user_registration_path
  .row
    .large-6.large-offset-3.columns.text-center
      %h1.text-center
        = t('.claim').html_safe
      .large-12.columns
        = form_tag "/search", :class => 'navbar-search form-search' do
          .medium-8.medium-offset-2.columns.search-field-holder
            = search_field_tag 'query', params[:query], :class => "welcome-search-field", :placeholder => t('.find_a_talk')#, :required => true
          .medium-2.columns.end.search-btn-holder
            = button_tag :type => "submit", :class => "search-lupe" do
              %span.icon-magnifying-glass

.section
  .row
    .large-8.large-offset-2.columns.text-center
      %h1.text-center
        = t('.start_listening').html_safe
    .large-12.columns  
      = render collection: @talks_featured, partial: 'shared/talk_velvet_medium_box'
  .row  
    %h1.text-center
      = link_to t('.more_btn'), '#', class: 'button', title: 'Should Link To A Page Of Talks'

.section.gray.publishers
  .row
    .large-6.large-offset-3.columns.text-center
      %h1.text-center
        = t('.publisher_tease').html_safe
    .large-12.columns  
      = render partial: 'shared/publisher_tile', :locals => {publisher_name: 'ETH Zurich'}
      = render partial: 'shared/publisher_tile', :locals => {publisher_name: 'WILPF'}
      = render partial: 'shared/publisher_tile', :locals => {publisher_name: 're:publica'}
      = render partial: 'shared/publisher_tile', :locals => {publisher_name: 'Webinale'}
      = render partial: 'shared/publisher_tile', :locals => {publisher_name: 'Courage Foundation'}
      = render partial: 'shared/publisher_tile', :locals => {publisher_name: 'Amaze Berlin'}
      = render partial: 'shared/publisher_tile', :locals => {publisher_name: 'Int\' ferienkurse Fuer Musik'}
      = render partial: 'shared/publisher_tile', :locals => {publisher_name: 'Internet Of Things'}
  .row.bottom-action
    %h1.text-center
      = link_to t('.see_all_btn'), '#', class: 'button', title: 'Should Link To A Page Of More Publishers'

.section.blue.categories
  .row
    .large-6.large-offset-3.columns.text-center
      %h1.text-center
        = t('.publisher_tease').html_safe

.section.apptease
  .row
    .large-6.columns.device-copy.right
      %h1
        = t('.apptease_header')
      %p.lead
        = t('.apptease_lead')
      %p.store-links
        =image_tag '/images/logos/appstore.png'
        =image_tag '/images/logos/playstore.png'
    .large-6.columns.device-image.left
      =image_tag '/images/background/iphone-myfeed2.png'



.section.blue.ad
  .row
    .large-8.large-offset-2.columns.text-center
      %h1.text-center= t('.ad_title')
      = link_to t('.get_in_touch'), 'mailto:service@voicerepublic.com', class: 'button'
      .pricing= link_to t('.pricing'), pricing_path, class: 'button-adv'



