= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

  .row.top-margin-action-bar
    .medium-10.medium-offset-1.columns
      -#%h2= t(".login_title")
      .row.collapse
        .medium-6.columns
          = devise_error_messages!
          = f.input :email
          = f.input :password
          - if devise_mapping.rememberable?
            = label_tag :remember_me, :class => 'checkbox' do
              = check_box_tag :remember_me
              = t('.remember')
          = button_tag t('.login_title'), :name => "Login"
        .medium-6.columns.text-center
          = t(".login_or")
          = render(:partial => "/devise/shared/social_network_connects")

      %hr/
      = render(:partial => "/devise/shared/links")
