<div class="page-header">
	<h2>Login</h2>
</div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

	<%= devise_error_messages! %>

  <div class="control-group">
	<%= f.label :email, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :email, :class => 'text_field' %>
	</div>
</div>

  <div class='control-group'>
  	<%= f.label :password, :class => 'control-label' %>
  	<div class="controls">
  	<%= f.password_field :password, :class => 'password_field' %>
  	</div>

  <% if devise_mapping.rememberable? -%>
    <div class='control-group'>
    	<div class="controls">
    		<%= f.check_box :remember_me %>
    	</div> 
    	<%= f.label :remember_me, :class => 'control-label' %>
    </div>
  <% end -%>

  <div class="form-actions">
  	<%= f.submit "Login", :class => 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>