.well.well-large.login
  .page-header
    %h2= t(".login_title")
    = render(:partial => "/devise/shared/social_network_connects")
    .sessions-or-box
      %hr/
      .sessions-or-overlap= t(".login_or")
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = devise_error_messages!
      .control-group
        = f.label :email, :class => 'control-label' do
          Email
        .controls
          = f.text_field :email,:type => "email", :class => 'text_field'
      .control-group
        = f.label :password, :class => 'control-label' do
          = t('.password')
        .controls
          = f.password_field :password, :class => 'password_field'
      - if devise_mapping.rememberable?
        .control-group
          .controls
            = label_tag :remember_me, :class => 'checkbox' do
              = check_box_tag :remember_me
              = t('.remember')
      %div
        = button_tag t('.login_title'), :name => "Login", :class => 'btn btn-primary pull-right'
    .clearfix
    %hr/
    = render(:partial => "/devise/shared/links")
