= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

  .input-block

    .form-content-block.row
      .medium-10.medium-offset-1.columns
        .title-block
          %h2= t('.log_in')
        = devise_error_messages!
        = f.input :email
        = f.input :password
        - if devise_mapping.rememberable?
          = f.input :remember_me, as: :boolean, boolean_style: :inline

        = button_tag t('.continue').html_safe, :name => "Login", class: "button-vr button-login"

        %br/
        %br/
        %hr/
        = render :partial => "/devise/shared/social_network_connects", :locals => { action: 'login' }

        %hr/
        .links-box
          = render(:partial => "/devise/shared/links")
        %br/
        %br/
