= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

  .row.top-margin-action-bar
    .medium-10.medium-offset-1.columns
      = devise_error_messages!
      = f.input :email
      = f.input :password
      - if devise_mapping.rememberable?
        = label_tag :remember_me, :class => 'checkbox' do
          = check_box_tag :remember_me
          = t('.remember')
      = button_tag t('.login_title'), :name => "Login", class: "button-vr"


    %hr/
    .medium-10.medium-offset-1.columns.left
      = render :partial => "/devise/shared/social_network_connects", :locals => { action: 'login' }

      %hr/
      = render(:partial => "/devise/shared/links")
