<div class="login row-fluid">

  <div class="span5 well well-large pull-right">
    <div class="row-fluid page-header">
      <h2>Log In</h2>
    </div>
    
    <div class="row-fluid">
      <div class="span12">
          
        <%= render(:partial => "/devise/shared/social_network_connects") %>
        <hr>
        
        <h4>Log In directly by KluuU!</h4>
        
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    
        <%= devise_error_messages! %>
    
        <div class="control-group">
          <%= f.label :email, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :email,:type => "email", :class => 'text_field' %>
          </div>
        </div>
      
        <div class='control-group'>
          <%= f.label :password, :class => 'control-label' %>
          <div class="controls">
            <%= f.password_field :password, :class => 'password_field' %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class='control-group'>
            <div class="controls">
              <%= label_tag :remember_me, :class => 'checkbox' do %>
                <%= check_box_tag :remember_me %> Remember me
              <% end %>
            </div>
          </div>
        <% end -%>
      
        <div>
          <%= button_tag "Log In", :name => "Login", :class => 'btn btn-primary pull-right' %>
        </div>

        <% end %>
        <div class="clearfix"></div>
          <hr>
          <%= render(:partial => "/devise/shared/links") %>
      </div>
    </div>
  </div>

  <%# Text about login %>
  <div class="span7 pull-left">

    <div class="row">
      <div class="span4">
        <%= image_tag "signup/laptop_call.png" %>
      </div>
      <div class="span7 offset">
        <p class="lead">
          Auf KluuU kannst Du per VideoChat mit smarten Menschen
          über relevante Themen sprechen.
        </p>
          Probiere es aus. KluuU ist gratis. 
        </p>
      </div>
    </div>  

  </div>   

  </div>
</div>