<li class="followed">
	 
	<div class="thumbnail user-thumbnail">
		
		<%# LINK FOR WHOLE THUMBAIL %>
		<%= link_to user_path(:id => followed_relation.followed), :class => "user-thumbnail-link clearfix", :id => "fd-#{followed_relation.id}" do %>	
			<div class="user-image" data-user-id="<%= followed_relation.followed.id %>"><%= image_tag(followed_relation.followed.account.portrait.url(:thumb)) %></div>
			<div class="user-thumbnail-name"><%= followed_relation.followed.name %></div>
		<% end %>
			
		<%= link_to user_follow_path(:user_id => @user, :id => followed_relation), :title => "Delete", :class => "close follows-user-thumbnail-unfollow", :method => :delete do %>
			&times;
		<% end %>
	</div>
	
</li>
