<h1>Listing video_servers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Salt</th>
    <th>Version</th>
    <th>Activated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @video_servers.each do |video_server| %>
  <tr>
    <td><%= video_server.name %></td>
    <td><%= video_server.url %></td>
    <td><%= video_server.salt %></td>
    <td><%= video_server.version %></td>
    <td><%= video_server.activated %></td>
    <td><%= link_to 'Show', video_server %></td>
    <td><%= link_to 'Edit', edit_video_server_path(video_server) %></td>
    <td><%= link_to 'Destroy', video_server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Video server', new_video_server_path %>
