= render partial: 'shared/embed_svg'
.embed-player.clearfix
  .image-box
    %img{src: talk.image.thumb('100x100#').url}
    - if talk.live?
      .live-badge
        %p.live= t('.live')
  .content-box
    .top-box.clearfix
      .info-box
        = link_to talk, target: 'blank' do
          %h4.title
            = talk.title
        .meta-info
          = link_to talk.user, target: 'blank', class: 'user' do
            %span= talk.user.name
          %span.date.sm-up= ' / ' + time_ago_in_words(talk.starts_at) + ' ago / '
          %span.play-count.sm-up= human_count(talk.play_count) + ' ' + t('.plays')
        
      .branding-box
        = link_to talk, target: 'blank' do
          .brand-logo
            = naked_icon 'logo'
          .brand-words
            = naked_icon 'logotype'
    .player-box
      = render partial: 'shared/player', locals: { talk: talk }
    .teaser-msg.hide
      = link_to "#", class: 'replay-btn' do 
        = naked_icon 'replay'
        %p= t('.play_again')
      = link_to "http://voicerepublic.com", class: 'teaser-link' do
        %p= t('.nice_stuff_on_vr').html_safe
