<%= I18n.locale.upcase %>

<%= form_for @profile_setting, :url => user_profile_setting_path(:user_id => @user), :html => { :class => 'form-horizontal' } do |f| %>
  
  <div class="control-group">
    <%= f.label :about, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :about, :class => 'text_area', :rows => 4 %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :timezone, :class => 'control-label' %>
    <div class="controls">
    	<%= f.time_zone_select :timezone, ActiveSupport::TimeZone.all.sort, :include_blank => false, :default => "Berlin", :class => 'select_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :language_1, :class => 'control-label' %>
    <div class="controls">
    	<% lang_hash = Hash.new %>
    	<% I18nData.languages(I18n.locale).each { |k,v| lang_hash[v] = k } %>
    	<%= f.select :language_1, lang_hash.sort, :include_blank => false, :default => I18n.locale.upcase.to_s %>
      
    </div>
  </div>
  <div class="control-group">
    <%= f.label :language_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :language_2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :language_3, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :language_3, :class => 'text_field' %>
    </div>
  </div>
  

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                profile_settings_path, :class => 'btn' %>
  </div>
<% end %>
