- content_for :head do
  = rss_link_tag t('.feed_title')

#main{:role => "main"}
  %section#claim.dark
    .row
      %header
        %h1=t('.title')
      .container.medium-10.medium-offset-1.large-8.large-offset-2.columns
        %p.lead
          = t('.lead')
          - @categories.each do |cat|
            - delim = (cat == @categories.last) ? '.' : ','
            = succeed delim do
              = link_to cat.title, explore_path(filter: {category: cat.id})
        .claim-cta-half
          -# TODO: Link to pages in CMS
          -#   %a{:href => "publish.html"}
          -#     %button{:href => "#"}
          -#       .icon.megaphone
          -#       = t('.publish')
          -# .claim-cta-half
          -#   %a{:href => "listen.html"}
          -#     %button
          -#       .icon.headphones
          -#       = t('.listen')

  %section#listen-now.light
    .row
      %h2= t('.listen_now')
      - unless @talks_listen_now.empty?
        #talk-teasers
          = render partial: 'shared/talk_card', collection: @talks_listen_now

      .listen-interstitial
        %p.lead= t('.lead_interstitial')
        .category-buttons
          - @categories.each do |cat|
            = link_to icon_tag(cat.icon) + cat.title,
                explore_path(filter: {category: cat.id}), class: 'button'

      #talk-collection
        = render partial: 'shared/talk_card', collection: @talks_popular
      .row
        = link_to explore_path do
          %button= t('.more_talks')

  %section#coming-up.blue
    .row
      .container
        %h2= t('.coming_up_live')
      #talk-collection
        = render partial: 'shared/talk_card', collection: @talks_upcoming
    .row
      = link_to explore_path do
        %button= t('.more')

  %section#categories.yellow
    .row
      .container
        %h2 Categories
      #talk-collection{"data-equalizer" => ""}
        = render partial: 'category', collection: @categories

  %section#publishers.white
    .row
      .container
        %h2
          Some of the distinguished Publishers
          %br>/
          on Voice Republic:
    .row
      #publisher-collection{"data-equalizer" => ""}
        = render partial: 'publisher', collection: @publishers

    .row.clearfix
      = link_to explore_path do
        %button More Publishers »

  %section#cta.turquoise
    .row
      .container
        %h1 Are you planning a conference or event?
        = link_to new_user_registration_path do
          %button Start Now
        %br/
        = link_to 'or Contact us', 'mailto:service@voicerepublic.com'
