- content_for :head do
  = rss_link_tag t('.feed_title')


#main{:role => "main"}

  -# CLAIM
  %section#claim.dark
    .row
      %header
        = s('.title')
      .container.medium-10.medium-offset-1.large-8.large-offset-2.columns
        - if !current_user
          = link_to t('.login'), new_user_session_path, class: 'hide-for-medium button hollow secondary'
          = link_to t('.join'), new_user_registration_path, class: 'hide-for-medium button hollow secondary'
        %p.lead
          = t('.lead')
          - @categories.each do |cat|
            - delim = (cat == @categories.last) ? '.' : ','
            = succeed delim do
              = link_to cat.title, explore_path(filter: {category: cat.id})
        .claim-cta-half
          -# TODO: Link to pages in CMS
          -#   %a{:href => "publish.html"}
          -#     %button.button.hollow.large{:href => "#"}
          -#       .icon.megaphone
          -#       = t('.publish')
          -# .claim-cta-half
          -#   %a{:href => "listen.html"}
          -#     %button.button.hollow.large
          -#       .icon.headphones
          -#       = t('.listen')


  -# LISTEN NOW
  %section#listen-now.light
    .row

      %h2= t('.listen_now')
      .talk-teasers.clearfix
        = render partial: 'shared/talk_card', collection: @talks_listen_now

      .listen-interstitial
        .row.clearfix
          .medium-6.medium-offset-3.columns.clearfix
            %p.lead= t('.lead_interstitial').html_safe
        .category-buttons.clearfix
          - @categories.each do |cat|
            = link_to icon_tag(cat.icon) + cat.title,
                explore_path(filter: {category: cat.id}), class: 'button'

      .talk-collection.clearfix
        = render partial: 'shared/talk_card', collection: @talks_popular
      .row.clearfix
        = link_to explore_path, class: 'button hollow large' do
          = t('.more_talks')


  -# UPCOMING
  - unless @talks_upcoming.empty?
    %section#coming-up.blue
      .row.clearfix
        .container
          %h2= t('.coming_up_live')
        .talk-collection.clearfix
          = render partial: 'shared/talk_card', collection: @talks_upcoming
      .row.clearfix
        = link_to explore_path, class: 'button hollow large btn-hover-yellow' do
          = t('.more')


  -# CATEGORIES
  %section#categories.yellow
    .row
      .container
        %h2 Categories
      .talk-collection.clearfix{"data-equalizer" => ""}
        = render partial: 'category', collection: @categories


  -# PUBLISHERS
  %section#publishers.white
    .row
      .container
        %h2
          Some of the distinguished Publishers
          %br>/
          on Voice Republic:
    .row
      #publisher-collection{"data-equalizer" => ""}
        = render partial: 'publisher', collection: @publishers

    .row.clearfix
      = link_to explore_path, class: 'button hollow large' do
        = t('.more_publishers')


  -# CONTACT
  %section#cta.turquoise
    .row
      .medium-6.medium-offset-3.columns
        %h1 Are you planning a conference or event?
        = link_to new_user_registration_path, class: 'button hollow large btn-blue btn-hover-yellow' do
          = t('.start_now')
        %br/
        = link_to 'or Contact us', blog_url('/contact'), class: 'link-yellow text-link'
