- content_for :head do
  = rss_link_tag t('.feed_title')


#main{:role => "main"}

  -# CLAIM
  %section#claim.dark
    .row
      %header
        = s('.title')
      .container.medium-10.medium-offset-1.large-8.large-offset-2.columns
        - if !current_user
          = link_to t('.login'), new_user_session_path, class: 'hide-for-medium button hollow btn-light-blue btn-hover-yellow'
          = link_to t('.join'), new_user_registration_path, class: 'hide-for-medium button hollow btn-light-blue btn-hover-yellow'
        %p.lead
          = t('.lead')
          - @categories.each do |cat|
            - delim = (cat == @categories.last) ? '.' : ','
            = succeed delim do
              = link_to cat.title, explore_path(filter: {category: cat.id})
        .claim-cta-half.medium-6.columns
          -# TODO: Link to pages in CMS
          = link_to page_path action: 'publish' do
            %button.button.hollow.btn-light-blue.btn-hover-yellow
              = t('.publish')
        .claim-cta-half.medium-6.columns
          = link_to explore_path action: 'publish' do
            -#= icon_tag 'megaphone'
            %button.button.hollow.btn-light-blue.btn-hover-yellow
              = t('.listen')


  -# LISTEN NOW
  %section#listen-now.light
    .row

      %h2= t('.listen_now')
      #talk-teasers
        = render partial: 'shared/talk_card', collection: @talks_listen_now

      .listen-interstitial
        .row.clearfix
          .medium-6.medium-offset-3.columns.clearfix
            %h4= t('.categories')
            %p= t('.lead_interstitial').html_safe
        .category-buttons
          - @categories.each do |cat|
            = link_to icon_tag(cat.icon) + cat.title,
                explore_path(filter: {category: cat.id}), class: 'button'

      #talk-collection
        = render partial: 'shared/talk_card', collection: @talks_popular
      .row
        = link_to explore_path do
          %button.button.hollow.large= t('.more_talks')


  -# UPCOMING
  - unless @talks_upcoming.empty?
    %section#coming-up.blue
      .row
        .container
          %h2= t('.coming_up_live')
        #talk-collection
          = render partial: 'shared/talk_card', collection: @talks_upcoming
      .row
        = link_to explore_path do
          %button.button.hollow.large.btn-hover-yellow= t('.more')


  -# CATEGORIES
  %section#categories.yellow
    .row
      .container
        %h2 Categories
      #talk-collection{"data-equalizer" => ""}
        = render partial: 'category', collection: @categories


  -# PUBLISHERS
  %section#publishers.white
    .row
      .container
        %h2
          Some of the distinguished Publishers
          %br>/
          on Voice Republic:
    .row
      #publisher-collection{"data-equalizer" => ""}
        = render partial: 'publisher', collection: @publishers

    .row.clearfix
      = link_to blog_url('/publishers-on-voice-republic') do
        %button.button.hollow.large= t('.more_publishers')


  -# CONTACT
  %section#cta.turquoise
    .row
      .medium-6.medium-offset-3.columns
        %h1 Are you planning a conference or event?
        = link_to new_user_registration_path, class: 'button large hollow btn-yellow btn-hover-red' do
          = t('.start_now')
        %br/
        = link_to blog_url('/contact'), class: 'text-link' do 
          = t('.or_contact_us')
