- content_for :head do
  = rss_link_tag t('.feed_title')

#main{:role => "main"}
  %section#claim.dark
    .row
      %header
        %h1=t('.title')
      .container
        %p.lead
          = t('.lead')
          - @categories.each do |label, value, icon|
            - delim = (label == @categories.last.first) ? '.' : ','
            = succeed delim do
              = link_to label, explore_path(filter: {category: value})
        .claim-cta-half
          -# TODO: Link to pages in CMS
          -#   %a{:href => "publish.html"}
          -#     %button{:href => "#"}
          -#       .icon.megaphone
          -#       = t('.publish')
          -# .claim-cta-half
          -#   %a{:href => "listen.html"}
          -#     %button
          -#       .icon.headphones
          -#       = t('.listen')

  %section#listen-now.light
    .row
      %h2= t('.listen_now')
      - unless @talks_featured.empty?
        #talk-teasers
          - @talks_featured.each do |talk|
            = render partial: 'shared/talk_card', locals: { talk: talk }

    .listen-interstitial
      %p.lead= t('.lead_interstitial')
      .category-buttons
        - @categories.each do |label, value, icon|
          = link_to content_tag(:span, nil, class: ['icon', icon]) + label,
              explore_path(filter: {category: value}), class: 'button'

    #talk-collection
      - @talks_popular.each do |talk|
        = render partial: 'shared/talk_card', locals: { talk: talk }
  .row
    = link_to explore_path do
      %button= t('.more_talks')

  %section#coming-up.blue
    .row
      .container
        %h2 Coming Up Live
      #talk-collection
        .talk-card
          .talk-card-inside
            %h5.title Der Deichgraf Peter Lafrenz
            .image-box
              %img{:alt => "", :src => "img/thumbs-cropped/thumb8.jpg"}/
              .hover-info
                %p.speaker
                  Sprecher/In:
                  %a{:href => "profile.html"} Patrick Frank
            .bottom-info
              .icon.politics
              .info-right
                %p.date 19:00 today
                %a{:href => "profile.html"}
                  %p.publisher Henrik Lafrenz
        .talk-card
          .talk-card-inside
            %h5.title Playful Oasis - An indie collective story
            .image-box
              %img{:alt => "", :src => "img/thumbs-cropped/thumb9.jpg"}/
              .hover-info
                %p.speaker
                  Sprecher/In:
                  %a{:href => "profile.html"} Patrick Frank
            .bottom-info
              .icon.politics
              .info-right
                %p.date 19:00 today
                %a{:href => "profile.html"}
                  %p.publisher Respawn
        .talk-card
          .talk-card-inside
            %h5.title Fast Forward Africa - A Digital Movement moderated by Thorsten S. Wiedemann, Founder and Artistic Director of A MAZE.
            .image-box
              %img{:alt => "", :src => "img/thumbs-cropped/thumb9.jpg"}/
              .hover-info
                %p.speaker
                  Sprecher/In:
                  %a{:href => "profile.html"} Patrick Frank
            .bottom-info
              .icon.science
              .info-right
                %p.date 19:00 today
                %a{:href => "profile.html"}
                  %p.publisher Respawn
        .talk-card
          .talk-card-inside
            %h5.title Der Deichgraf Peter Lafrenz
            .image-box
              %img{:alt => "", :src => "img/thumbs-cropped/thumb9.jpg"}/
              .hover-info
                %p.speaker
                  Sprecher/In:
                  %a{:href => "profile.html"} Patrick Frank
            .bottom-info
              .icon.arts
              .info-right
                %p.date 19:00 today
                %a{:href => "profile.html"}
                  %p.publisher Henrik Lafrenz
    .row
      %a{:href => "#"}
        %button More »
  %section#categories.yellow
    .row
      .container
        %h2 Categories
      #talk-collection{"data-equalizer" => ""}
        .category{"data-equalizer-watch" => ""}
          %a{:href => "explore.html"}
            .icon.politics
            %h3 Politics &amp; Society
            %p.lead Red-hot political topics and discussions about our society in the audio live stream or the archive. Listen to people who have a say.
        .category{"data-equalizer-watch" => ""}
          %a{:href => "explore.html"}
            .icon.science
            %h3 Sciences
            %p.lead Scientific lectures, panels and conferences in our virtual auditorium – listen live or download as podcast.
        .category{"data-equalizer-watch" => ""}
          %a{:href => "explore.html"}
            .icon.arts
            %h3 Arts &amp; Culture
            %p.lead News from the cultural scene, streamed live and made available in the audio archive. We let artists, critics and curators speak out.
        .category{"data-equalizer-watch" => ""}
          %a{:href => "explore.html"}
            .icon.tech
            %h3 Technology
            %p.lead Not only for geeks: technological progress concerns all of us. Listen to live streams or download the podcasts.
        .category{"data-equalizer-watch" => ""}
          %a{:href => "explore.html"}
            .icon.media
            %h3 Media
            %p.lead The media world is changing rapidly. Lectures and discussions about traditional media and digitalisation in the audio archive and in live streams.
        .category{"data-equalizer-watch" => ""}
          %a{:href => "explore.html"}
            .icon.business
            %h3 Business
            %p.lead Business conferences and company events offer interesting insights into economic developments and useful career advice.
  %section#publishers.white
    .row
      .container
        %h2
          Some of the distinguished Publishers
          %br>/
          on Voice Republic:
    .row
      #publisher-collection{"data-equalizer" => ""}
        .publisher{"data-equalizer-watch" => ""}
          %a{:href => "profile.html"}
            %img{:alt => "", :src => "img/publishers/republica.png"}/
            %h4 re:publica 2014/2015
            %p.lead Europe’s biggest internet and digital conference can be listened to on Voice Republic since 2014.
        .publisher{"data-equalizer-watch" => ""}
          %a{:href => "profile.html"}
            %img{:alt => "", :src => "img/publishers/frankfurt.png"}/
            %h4 Frankfurt Book Fair
            %p.lead The world’s most important event in the book business publishes selected content on Voice Republic.
        .publisher{"data-equalizer-watch" => ""}
          %a{:href => "profile.html"}
            %img{:alt => "", :src => "img/publishers/kulturen.png"}/
            %h4 Haus der Kulturen der Welt
            %p.lead The international cultural center makes their project “100 Years of Now” audible on Voice Republic.
        .publisher{"data-equalizer-watch" => ""}
          %a{:href => "profile.html"}
            %img{:alt => "", :src => "img/publishers/eth.png"}/
            %h4 ETH/University of Zurich
            %p.lead The Center “History of Knowledge” regularly streams its events live from the Cabaret Voltaire. The colloquia and symposia can also be listened to in the archive.
        .publisher{"data-equalizer-watch" => ""}
          %a{:href => "profile.html"}
            %img{:alt => "", :src => "img/publishers/frauenhofer.png"}/
            %h4 Fraunhofer Institute
            %p.lead Voice Republic accompanies the “Urban Future Conference 2015” and gives everyone who is interested the opportunity to listen to the talks.
        .publisher{"data-equalizer-watch" => ""}
          %a{:href => "profile.html"}
            %img{:alt => "", :src => "img/publishers/gorki.png"}/
            %h4 Maxim Gorki Theater
            %p.lead The Maxim Gorki Theater in Berlin is one of the most important theaters in the German-speaking area and publishes selected discussions, lectures and symposia on Voice Republic.
        .publisher{"data-equalizer-watch" => ""}
          %a{:href => "profile.html"}
            %img{:alt => "", :src => "img/publishers/mosse.png"}/
            %h4 Mosse Lectures at Humboldt University
            %p.lead The lecture series “Mosse Lectures” at the Humboldt University in Berlin imparts knowledge on topics like history, politics, economy, arts and literature. The lectures can be listened to on Voice Republic.
    .row.clearfix
      %a{:href => "explore.html"}
        %button More Publishers »
  %section#cta.turquoise
    .row
      .container
        %h1 Are you planning a conference or event?
        %a{:href => "join.html"}
          %button Start Now
        %br/
        %a{:href => "contact.html"} or Contact us
        / <a href="contact.html"><button>Contact Us</button></a>
