- talk ||= talk_velvet_medium_box

.medium-6.large-3.columns.talkbox-container
  .talkbox
    = link_to talk do
      %img.talk-thumbnail{src: talk.image.thumb('640x360#').url}
      .row.collapse.user-info
        .avatar
          = link_to talk.user do
            = render partial: "shared/avatar_image_velvet", locals: { user: talk.user, size: 282 }
        .meta
          %p.user-name
            = link_to talk.user.name, talk.user
          %p.time-ago
            = time_ago_in_words(talk.starts_at)
            = t('.ago')
            = image_tag '/images/icons/play-arrow-999.svg', width: "8", class: "play-arrow"
            = number_to_human(talk.play_count, units: {thousand:"k", million:"M"}, precision: 0)
      %h3.title
        = link_to talk.title, talk, class: 'text-link'
