<div class="page-header">
	<h2><%= @user.name %></h2>
</div>

<section class="user-roles-form">
	<h3>Roles</h3>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>role-name</th>
			<th>action</th>
		</tr>
		</thead>
		<tbody>
  		<% Role.all.each do |role| %>
  			<tr class="<%= @user.has_role?(role.name) ? 'success' : 'warning' %>" >
  				<td><%= role.name %></td>
  				<td><% if @user.has_role?(role.name) %>
  						<%= button_to "remove role #{role.name}", admin_user_remove_role_path(:user_id => @user, :user_role_id => @user.user_roles.where("role_id=?",role.id).first), 
  																	:method => 'delete',
  																	:data => {:confirm => "really remove role #{role.name}?"},
  																	 :class => "btn btn-danger" %>
  					<% else %>
  						<%= button_to "add role #{role.name}", admin_user_add_role_path(:user_id => @user, :role_id => role.id), 
  																:method => 'post', 
  																:data => {:confirm => "really add role #{role.name}?"},
  																:class => "btn" %>
  					<% end %>
  				</td>
  			</tr>
  		<% end %>
  		</tbody>
    </table>
</section>
