- content_for :title do
  = t('.title')

- form_opts = { 'ng-controller' => 'FormController' }
= simple_form_for(@talk, url: uploads_path, html: form_opts) do |f|
  = render partial: "fields", locals: { f: f }

  .form-save-row.row
    .medium-12.columns.text-center
      = link_to t('helpers.links.cancel'), :back, class: 'button-cancel button hollow btn-hover-red'
      = f.button :submit, class: 'button-save button btn-hover-light-blue',
                          'ng-disabled' => '!valid()',
                          'ng-click' => 'deactivateSafetynet()'

      -# NOTE everything is for free ATM
      -# .eagle.right(style='margin: 9px')
      -#   %i.icon-info
      -#   = t('.billing_notice')
