<div class="row-fluid">
	<div class="span12">
		<h3>
			<%= t('.video_call_title', :default => "VIDEO CALL") %>
		</h3>
		<%= t('.anonymous_guest_denied_text', :default => 'Leider erlaubt dieser Nutzer keine anonymen Anrufe. Willst du Dich anmelden?') %>
		<br><br>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<%= link_to t('.close', :default => "Schliessen"), '#', 'data-function' => 'closeOverlay', :class => "btn pull-right left-small-margin" %>
		<%= form_tag new_user_registration_path(), :method => :get do %>
			<%= button_tag :class => 'btn btn-primary pull-right' do %>
				<%= t('.sign_up', :default => 'Sign Up') %>
			<% end %>
		<% end %>
	</div>
</div>
