<div class="row-fluid">
	<div class="span6 text-align-center">
		<div class="overlay-calling">
			<h3 class="">VIDEO CALL</h3>			
			<i class="icon-facetime-video"> </i><br>
			<%= t('in_process', :default => "wird ausgeführt...") %><br><br>

			<%= form_tag video_session_path(:id => video_session.id, :canceling_participant_id => video_session.guest_participant.id), :method => :delete, :remote => :true do %>

				<%= button_tag :type => "submit", :class => 'btn' do %>
					<%= t('.cancel_call',:default => 'Video Call abbrechen') %>
				<% end %>

			<% end %>

		</div>
	</div>
	<div class="span6 muted-kluuu">
		<% if video_session.klu.instance_of? NoKluuu %>
			<%= render(:partial => "/klus/small_no_kluuu", :locals => {:klu => video_session.klu}) %>
		<% else %>
			<%= render(:partial => "/klus/small_kluuu", :locals => {:klu => video_session.klu}) %>
		<% end %>
	</div>	
</div>

