<% @video_session = build_video_session(current_user) %>
<% the_url = @video_session.new_record? ? video_sessions_path() : video_sessions_path(:id => @video_session.id) %>
<% method = @video_session.new_record? ? :post : :put %>
<%= form_for [@video_session], :as => :video_session,  :url => the_url, :method => method, :remote => :true, :html => { :class => 'form-horizontal' }  do |f| %>
	<%= f.hidden_field :calling_user_id, :value => current_user.nil? ? session[:session_id] : current_user.id %>
	<%= f.hidden_field :klu_id, :value => klu.id, :id => "video_session_klu_id_#{klu.id}" %>
	<%= f.hidden_field :type, :value => @video_session.instance_of?(VideoSession::Registered) ? 'VideoSession::Registered' : 'VideoSession::Anonymous' %>
	<%= button_tag :class => 'btn btn-success call-icon', :type => "submit", :disable_with => "#{t('.dispatching_call')}" do %>
		<i class="icon-comment-alt"> </i>
		<span class="btn-call-link">
			<%= t('.start_video_call', :default => "Start Video Call") %>
		</span>
	<% end %>
<% end %>
