<div class="row-fluid">
	<div class="span12">

		<h3>
			<%= t('.video_call_title', :default => "VIDEO CALL") %>
		</h3>
		<p>

			<%= raw t('.not_enough_money_text', :default => 'Du hast nicht genug Geld auf deinem KluuU-Konto...<br>Willst Du Geld einzahlen?') %>
		</p>

		<%= link_to t('.close'), '#', 'data-function' => 'closeOverlay', :class => "btn pull-right left-small-margin" %>

		<%= form_tag new_user_balance_check_in_order_path(:user_id => guest_or_current_user.id), :method => :get do %>
			<%= button_tag :class => 'btn btn-primary pull-right' do %>
				<%= t('.check_in_money', :default => 'Geld einzahlern') %>
			<% end %>
		<% end %>
		
	</div>
</div>
