<div class="row-fluid">
	<div class="span12">

		<h3>
			<%= t('.video_call_title', :default => "VIDEO CALL") %>
		</h3>

		<p>
			<%= raw t('.unavailable_text', :default => 'Dieser User ist zurzeit nicht erreichbar. <br>Hier kannst du ihm eine Nachricht schreiben.') %>
		</p>

		<%= link_to t('.close', :default => "Schliessen"), '#', 'data-function' => 'closeOverlay', :class => "btn pull-right left-small-margin" %>
		
		<% if current_or_guest_user %>
		<%= form_tag new_message_path(:receiver_id => receiver_id), :method => :get, :remote => true do %>
			<%= button_tag :class => 'btn btn-primary pull-right' do %>
				<%= t('.send_message', :default => 'Nachricht') %>
			<% end %>
		<% end %>
		<% end %>
			
	</div>
</div>