<% if current_or_guest_user && current_or_guest_user.is_admin? %>
<h2>Listing video_sessions</h2>

<table>
  <tr>
    <th>Offer</th>
    <th>End timestamp</th>
    <th>Begin timestamp</th>
    <th>Video system session</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @video_sessions.each do |video_session| %>
  <tr>
    <td><%= video_session.klu_id %></td>
    <td><%= video_session.end_timestamp %></td>
    <td><%= video_session.begin_timestamp %></td>
    <td><%= video_session.video_system_session_id %></td>
    <td><%= link_to 'Show', video_session_path(:id => video_session) %></td>
    <td><%= link_to 'Edit', edit_video_session_path(video_session) %></td>
    <td><%= link_to 'Destroy', video_session_path(:id => video_session), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Video session', new_video_session_path %>
<% end %>
