<p id="notice"><%= notice %></p>

<p>
  <b>Offer:</b>
  <%= @video_session.offer_id %>
</p>

<p>
  <b>End timestamp:</b>
  <%= @video_session.end_timestamp %>
</p>

<p>
  <b>Begin timestamp:</b>
  <%= @video_session.begin_timestamp %>
</p>

<p>
  <b>Video system session:</b>
  <%= @video_session.video_system_session_id %>
</p>


<%= link_to 'Edit', edit_video_session_path(@video_session) %> |
<%= link_to 'Back', video_sessions_path %>
