.hero
  .row
    .large-8.columns
      %span.breadcrumb
        %a{:href => "/support"}
          = image_tag "icons/arrow-left.svg" 
          Voice Republic Support
      %h1
        Streaming With A Mixer
  .row
    .large-6.columns
      %p.lead
        This document outlines the technical requirements and basic setup for streaming a Live Talk in a setting that includes a mixer. 
.scroll-container{:role => "main"}
  .row
    .large-8.columns.left
      .row.section
        %h2#tech-req.section-title{"data-magellan-destination" => "tech-req"}
          Technical Requirements
        %hr/
        %p.section-subtitle.lead
          Voice Republic provides the software solution for broadcasting and archiving Talks on our platform. The audio recorded and streamed by the Voice Republic application can come from a wide variety of sources. It's up to the producer of the Talk to determine the correct signal flow based on the equipment available at the venue.
        %p.section-subtitle.lead
          For a professional Talk&mdash;where a mixer is involved&mdash;you need 6 things:
          / accordion
          %dl.accordion{"data-accordion" => ""}
            %dd.accordion-navigation.has-dropdown
              %a{:href => "#panel1b"}
                = image_tag "support/laptop.svg"
                1. Computer
                %span.right
              #panel1b.content
                Either a laptop or desktop computer running a current
                %a{:href => "https://www.mozilla.org/en-US/firefox/new/", :target => "_blank"} Firefox
                or
                %a{:href => "https://www.google.com/chrome/browser/desktop/", :target => "_blank"} Chrome
                browser with the latest version of 
                %a{:href => "https://get.adobe.com/flashplayer/", :target => "_blank"} Flash
                installed.      
            %dd.accordion-navigation
              %a{:href => "#panel2b"}
                = image_tag "support/network.svg"
                2. Internet
                %span.right
              #panel2b.content
                A stable connection is needed throughout the Talk. Preferably a LAN connection with at least 50KB (kilobits per second) upload. Alternately, a wireless connection can be used. 
                %br
                %br
                (Note: If you don't have an internet connection you can also record the talk and upload it to your Voice Republic account later for broadcast and archive.)
            %dd.accordion-navigation
              %a{:href => "#panel3b"}
                = image_tag "support/mic.svg"
                3. Audio Source
                %span.right
              #panel3b.content
                For best results, use an external audio interface&mdash;connected to your computer&mdash;to receive the signal from the mixing board. For more information about the audio setup, refer to
                %a{:href => "#configure"} Configuration
                (below).  
            %dd.accordion-navigation
              %a{:href => "#panel4b"}
                = image_tag "support/headphone.svg"
                4. Headphones
                %span.right
              #panel4b.content
                Check the quality of the stream with a pair of headphones. To make sure you're monitoring the sound of the stream itself, and not the live audio coming into the interface, click the "Audio Settings" button and enable the "Monitor Stream" checkbox.
            %dd.accordion-navigation
              %a{:href => "#panel5b"}
                = image_tag "support/user.svg"
                5. Stream Operator
                %span.right
              #panel5b.content
                The Stream Operator is needed to:
                %ul
                  %li Start and stop the live Talk
                  %li Start and stop the backup recording
                  %li Monitor the upload quality of the live Talk
                  %li Monitor the sound quality of the live Talk
                  %li Ensure the backup recording is working
                  %li Monitor and contribute to the discussion area of the Talk       
            %dd.accordion-navigation
              %a{:href => "#panel6b"}
                = image_tag "support/recording.svg"
                6. Backup Recording
                %span.light
                  (Recommended)
                %span.right
              #panel6b.content
                Use an additional application (i.e. Audacity) or an external device (i.e. a ZOOM) to make a live recording of the Talk which you can upload later should something go wrong with the stream.      


        
      .row.section
        %h2#configure.section-title{"data-magellan-destination" => "configure"}
          Professional Audio Configuration
        %hr/
        %p.section-subtitle.lead
          The recommended audio setup for a professional Talk looks like this:
        = image_tag "support/signalflow/signalflow_recommended-wide.png",class:'outline visible-for-large-up'
        .small-12.columns{"data-equalizer" => "", "data-equalizer-mq" => "large-up"}
          .small-8.small-offset-2.small-centered.large-4.large-offset-0.large-uncentered.columns.panel.legend{"data-equalizer-watch" => ""}
            = image_tag "support/signalflow/signalflow-elements_speaker.png", class:'hide-for-large-up'
            .legend-num 1
            %h5.caption
              1 Stage/Speaker
            %p
              Using a normal or wireless stage microphone.

            
            = image_tag "support/signalflow/signalflow-elements_arrow.png", class: 'hide-for-large-up'

          .small-8.small-offset-2.small-centered.large-4.large-offset-0.large-uncentered.columns.panel.legend{"data-equalizer-watch" => ""}
            = image_tag "support/signalflow/signalflow-elements_mixer.png", class: 'hide-for-large-up'
            .legend-num 2
            %h5.caption
              Mixer
            %p
              The audio signal from the stage is patched to a mixing board. For optimal results, give the channel a
              = succeed "," do
                %strong -10dB rollof
              = succeed "," do
                %strong 5:1 compression
              = succeed "." do
                %strong high-pass EQ

            = image_tag "support/signalflow/signalflow-elements_arrow.png", class: 'hide-for-large-up'
          .small-8.small-offset-2.small-centered.large-4.large-offset-0.large-uncentered.columns.panel.legend{"data-equalizer-watch" => ""}
            = image_tag "support/signalflow/signalflow-elements_interface.png", class: 'hide-for-large-up'
            .legend-num 3
            %h5.caption
              Audio Interface
            %p
              The signal from the mixer is routed through a USB, Firewire, or Thunderbolt interface which communicates with your computer.
              
            = image_tag "support/signalflow/signalflow-elements_arrow.png", class: 'hide-for-large-up'
        .small-12.columns{"data-equalizer" => ""}
          .small-8.small-offset-2.small-centered.large-4.large-offset-0.large-uncentered.columns.panel.legend{"data-equalizer-watch" => ""}
            = image_tag "support/signalflow/signalflow-elements_computer.png", class: 'hide-for-large-up'
            .legend-num 4
            %h5.caption
              Computer with Internet
            %p
              Using a current
              %a{:href => "https://www.mozilla.org/en-US/firefox/new/", :target => "_blank"} Firefox
              or
              %a{:href => "https://www.google.com/chrome/browser/desktop/", :target => "_blank"} Chrome
              browser with the latest version of 
              %a{:href => "https://get.adobe.com/flashplayer/", :target => "_blank"} Flash
              installed, select your Audio Interface as the “Input Source” on the Voice Republic Audio Settings panel (on the Talk Page)
              
            = image_tag "support/signalflow/signalflow-elements_arrow.png", class: 'hide-for-large-up'
          .small-8.small-offset-2.small-centered.large-4.large-offset-0.large-uncentered.columns.panel.end.legend{"data-equalizer-watch" => ""}
            = image_tag "support/signalflow/signalflow-elements_headphones.png", class: 'hide-for-large-up'
            .legend-num 5
            %h5.caption
              Headphones
            %p
              Use headphones (connected to the interface) to check the audio quality of your Test Talk, as well as to monitor the audio quality during a Live Talk.
          
       