/ %p.panel.screensize
/   %strong.show-for-small-only small
/   %strong.show-for-medium-only medium
/   %strong.show-for-large-only large
/   %strong.show-for-xlarge-only xlarge
/   %strong.show-for-xxlarge-up xxlarge

/ HERO
.hero
  .row
    .large-8.columns
      %h5.breadcrumb
        %a{:href => "/support"} Voice Republic Support
        \&gt;
        %a{:href => "/support/how"} How To Use Voice Republic
      %h1
        Professional Streaming Setup
      %h3
        This document outlines the technical requirements and basic setup for streaming a Live Talk in a professional setting. 
/ scroll container
.scroll-container{:role => "main"}
  .row
    .large-8.columns.left
      .row.section
        %h2#tech-req.section-title{"data-magellan-destination" => "tech-req"}
          Technical Requirements
        %hr/
        %h5.section-subtitle
          For a professional Talk, you need 6 things:
          / accordion
          %dl.accordion{"data-accordion" => ""}
            %dd.accordion-navigation.has-dropdown
              %a{:href => "#panel1b"}
                = image_tag "support/laptop.svg"
                1. Computer
                %span.right
              #panel1b.content
                Either a Laptop or a Desktop computer, running a current version of
                %a{:href => "https://www.google.com/chrome/browser/desktop/", :target => "_blank"} Chrome
                or
                = succeed "," do
                  %a{:href => "https://www.mozilla.org/en-US/firefox/new/", :target => "_blank"} Firefox            
            %dd.accordion-navigation
              %a{:href => "#panel2b"}
                = image_tag "support/network.svg"
                2. Internet
                %span.right
              #panel2b.content
                A stable connection is needed throughout the Talk. Preferably a LAN connection with at least 50KB (kilobits per second) upload.
            %dd.accordion-navigation
              %a{:href => "#panel3b"}
                = image_tag "support/mic.svg"
                3. Audio Source
                %span.right
              #panel3b.content
                An external microphone connected to a mixer and an audio interface is highly recommended for optimal sound quality. For more information about the audio setup, refer to
                %a{:href => "#configure"} Step 1
                (below).  
            %dd.accordion-navigation
              %a{:href => "#panel4b"}
                = image_tag "support/headphone.svg"
                4. Headphones
                %span.light
                  (Strongly Recommended)
                %span.right
              #panel4b.content
                Needed in order to check the sound quality of the stream.    
            %dd.accordion-navigation
              %a{:href => "#panel5b"}
                = image_tag "support/user.svg"
                5. Stream Operator
                %span.light
                  (Strongly Recommended)
                %span.right
              #panel5b.content
                When the speaker is not near the computer, an additional person is recommended to start and end the Talk.       
            %dd.accordion-navigation
              %a{:href => "#panel6b"}
                = image_tag "support/recording.svg"
                6. Backup Recording
                %span.light
                  (Strongly Recommended)
                %span.right
              #panel6b.content
                Use an additional application (i.e. Audacity) to make a live recording of the Talk which you can upload later should something go wrong with the stream.      


        
      .row.section
        %h2#configure.section-title{"data-magellan-destination" => "configure"}
          Professional Audio Configuration
        %hr/
        %h5#configure1.section-subtitle{"data-magellan-destination" => "configure1"}
          The recommended audio setup for a professional Talk looks like this:
        = image_tag "support/signalflow/signalflow_recommended-wide.png",class:'outline visible-for-large-up'
        .small-12.columns{"data-equalizer" => "", "data-equalizer-mq" => "large-up"}
          .small-8.small-offset-2.small-centered.large-4.large-offset-0.large-uncentered.columns.panel.legend{"data-equalizer-watch" => ""}
            = image_tag "support/signalflow/signalflow-elements_speaker.png", class:'hide-for-large-up'
            .legend-num 1
            %h5.caption
              1 Stage/Speaker
            %p
              Using a normal or wireless stage microphone.

              %a{:href => "#",:class => "button tiny info"}
                More info about microphones
            = image_tag "support/signalflow/signalflow-elements_arrow.png", class: 'hide-for-large-up'

          .small-8.small-offset-2.small-centered.large-4.large-offset-0.large-uncentered.columns.panel.legend{"data-equalizer-watch" => ""}
            = image_tag "support/signalflow/signalflow-elements_mixer.png", class: 'hide-for-large-up'
            .legend-num 2
            %h5.caption
              Mixer
            %p
              The audio signal from the stage is patched to a mixing board. For optimal results, give the channel a
              = succeed "," do
                %strong -10dB rollof
              = succeed "," do
                %strong 5:1 compression
              = succeed "." do
                %strong high-pass EQ
              %a{:href => "#",:class => "button tiny info"}
                More info about audio interfaces
            = image_tag "support/signalflow/signalflow-elements_arrow.png", class: 'hide-for-large-up'
          .small-8.small-offset-2.small-centered.large-4.large-offset-0.large-uncentered.columns.panel.legend{"data-equalizer-watch" => ""}
            = image_tag "support/signalflow/signalflow-elements_interface.png", class: 'hide-for-large-up'
            .legend-num 3
            %h5.caption
              Audio Interface
            %p
              The signal from the mixer is routed through a USB, Firewire, or Thunderbolt interface which communicates with your computer.
              %a{:href => "#",:class => "button tiny info"}
                More info about mixers and mixer settings
            = image_tag "support/signalflow/signalflow-elements_arrow.png", class: 'hide-for-large-up'
        .small-12.columns{"data-equalizer" => ""}
          .small-8.small-offset-2.small-centered.large-4.large-offset-0.large-uncentered.columns.panel.legend{"data-equalizer-watch" => ""}
            = image_tag "support/signalflow/signalflow-elements_computer.png", class: 'hide-for-large-up'
            .legend-num 4
            %h5.caption
              Computer with Internet
            %p
              Using a current
              %a{:href => "https://www.mozilla.org/en-US/firefox/new/", :target => "_blank"} Firefox
              or
              %a{:href => "https://www.google.com/chrome/browser/desktop/", :target => "_blank"} Chrome
              browser with the latest version of Flash installed, select your Audio Interface as the “Input Source” on the Voice Republic Audio Settings panel (on the Talk Page)
              %a{:href => "#",:class => "button tiny info"}
                More info about computer specifications
            = image_tag "support/signalflow/signalflow-elements_arrow.png", class: 'hide-for-large-up'
          .small-8.small-offset-2.small-centered.large-4.large-offset-0.large-uncentered.columns.panel.end.legend{"data-equalizer-watch" => ""}
            = image_tag "support/signalflow/signalflow-elements_headphones.png", class: 'hide-for-large-up'
            .legend-num 5
            %h5.caption
              Headphones
            %p
              Use headphones (connected to the interface) to check the audio quality of your Test Talk, as well as to monitor the audio quality during a Live Talk.
              %a{:href => "#",:class => "button tiny info"}
                More info about headphones
       