%p.panel.screensize
  %strong.show-for-small-only small
  %strong.show-for-medium-only medium
  %strong.show-for-large-only large
  %strong.show-for-xlarge-only xlarge
  %strong.show-for-xxlarge-up xxlarge

/ HERO
.hero
  .row
    .large-8.columns
      %h5.breadcrumb
        %a{:href => "#"} Voice Republic
        \&gt;
        %a{:href => "#"} Support
        \&gt;
        %a{:href => "#"} How To Stream
      %h1
        How To Stream A Live Talk
      %h3
        Whether you're planning to stream one Talk, or multiple stages, this document will guide you through the process.
/ scroll container
.scroll-container{:role => "main"}
  .row
    / subnav
    #sidebar.large-4.columns.right{"data-offset-top" => "370", "data-spy" => "affix"}
      / <div class="magellan-scrollnav">
      %div{"data-magellan-expedition" => "", "data-options" => ""}
        %dl.sub-nav
          %dd{"data-magellan-arrival" => "tech-req"}
            %a{:href => "#tech-req"} Technical Requirements
          %dd{"data-magellan-arrival" => "configure"}
            %a{:href => "#configure"}
              %span.show-for-large-up Step
              1: Configure Audio
          %dd{"data-magellan-arrival" => "test"}
            %a{:href => "#test"}
              %span.show-for-large-up Step
              2: Test Talk
          %dd{"data-magellan-arrival" => "create"}
            %a{:href => "#create"}
              %span.show-for-large-up Step
              3: Create A Talk
          %dd{"data-magellan-arrival" => "operate"}
            %a{:href => "#operate"}
              %span.show-for-large-up Step
              4: Operate Live Talk
      / </div>
    / Main content
    .large-8.columns.left
      .row.section
        %h2#tech-req.section-title{"data-magellan-destination" => "tech-req"}
          Technical Requirements
        %hr/
        %h5.section-subtitle
          For a professional Talk, you need 6 things:
        %div{"data-equalizer" => ""}
          .large-4.columns.panel.req{"data-equalizer-watch" => ""}
            = image_tag "support/laptop.svg"
            %h5.caption.text-center
              1. Computer
            %p.text-center
              Either a Laptop or a Desktop computer, running a current version of
              %a{:href => "https://www.google.com/chrome/browser/desktop/", :target => "_blank"} Chrome
              or
              = succeed "," do
                %a{:href => "https://www.mozilla.org/en-US/firefox/new/", :target => "_blank"} Firefox
          .large-4.columns.panel.req{"data-equalizer-watch" => ""}
            = image_tag "support/network.svg"
            %h5.caption.text-center
              2. Internet
            %p.text-center
              A stable connection is needed throughout the Talk. Preferably a LAN connection with at least 50Kb (kilobits per second) upload.
          .large-4.columns.panel.req{"data-equalizer-watch" => ""}
            = image_tag "support/mic.svg"
            %h5.caption.text-center
              3. Audio Source
            %p.text-center
              An external microphone connected to a mixer and an audio interface is highly recommended for optimal sound quality. For more information about the audio setup, refer to
              %a{:href => "#configure"} Step 1
              (below).
        %div{"data-equalizer" => ""}
          .large-4.columns.panel.req{"data-equalizer-watch" => ""}
            = image_tag "support/headphone.svg"
            %h5.caption.text-center
              4. Headphones
            %p.text-center
              (Recommended) Needed in order to check the sound quality of the stream.
          .large-4.columns.panel.req.end{"data-equalizer-watch" => ""}
            = image_tag "support/user.svg"
            %h5.caption.text-center
              5. Operator
            %p.text-center
              (Recommended) When the speaker is not near the computer, an additional person is recommended to start and end the Talk.
      .row.section
        %h2#configure.section-title{"data-magellan-destination" => "configure"}
          Step 1: Configure Audio
        %hr/
        %h5#configure1.section-subtitle{"data-magellan-destination" => "configure1"}
          Recommended Audio Setup:
        = image_tag "support/signalflow/signalflow_recommended-wide.png",class:'outline visible-for-large-up'
        .small-12.columns{"data-equalizer" => "", "data-equalizer-mq" => "large-up"}
          .small-8.small-offset-2.small-centered.large-4.large-offset-0.large-uncentered.columns.panel.legend{"data-equalizer-watch" => ""}
            = image_tag "support/signalflow/signalflow-elements_speaker.png", class:'hidden-for-large'
            / %img.hidden-for-large-up{:src => "images/signalflow/signalflow-elements_speaker.png"}/
            .legend-num 1
            %h5.caption
              1 Stage/Speaker
            %p
              Using a normal or wireless stage microphone.
            %img.hidden-for-large-up{:src => "images/signalflow/signalflow-elements_arrow.png"}/
          .small-8.small-offset-2.small-centered.large-4.large-offset-0.large-uncentered.columns.panel.legend{"data-equalizer-watch" => ""}
            %img.hidden-for-large-up{:src => "images/signalflow/signalflow-elements_mixer.png"}/
            .legend-num 2
            %h5.caption
              Mixer
            %p
              The audio signal from the stage is patched to a mixing board. For optimal results, give the channel a
              = succeed "," do
                %strong -10dB rollof
              = succeed "," do
                %strong 5:1 compression
              = succeed "." do
                %strong high-pass EQ
            %img.hidden-for-large-up{:src => "images/signalflow/signalflow-elements_arrow.png"}/
          .small-8.small-offset-2.small-centered.large-4.large-offset-0.large-uncentered.columns.panel.legend{"data-equalizer-watch" => ""}
            %img.hidden-for-large-up{:src => "images/signalflow/signalflow-elements_interface.png"}/
            .legend-num 3
            %h5.caption
              Audio Interface
            %p
              The signal from the mixer is routed through a USB, Firewire, or Thunderbolt interface which communicates with your computer.
            %img.hidden-for-large-up{:src => "images/signalflow/signalflow-elements_arrow.png"}/
        .small-12.columns{"data-equalizer" => ""}
          .small-8.small-offset-2.small-centered.large-4.large-offset-0.large-uncentered.columns.panel.legend{"data-equalizer-watch" => ""}
            %img.hidden-for-large-up{:src => "images/signalflow/signalflow-elements_computer.png"}/
            .legend-num 4
            %h5.caption
              Computer with Internet
            %p
              Using a current
              %a{:href => "https://www.mozilla.org/en-US/firefox/new/", :target => "_blank"} Firefox
              or
              %a{:href => "https://www.google.com/chrome/browser/desktop/", :target => "_blank"} Chrome
              browser with the latest version of Flash installed, select your Audio Interface as the “Input Source” on the Voice Republic Audio Settings panel (on the Talk Page)
            %img.hidden-for-large-up{:src => "images/signalflow/signalflow-elements_arrow.png"}/
          .small-8.small-offset-2.small-centered.large-4.large-offset-0.large-uncentered.columns.panel.legend{"data-equalizer-watch" => ""}
            %img.hidden-for-large-up{:src => "images/signalflow/signalflow-elements_headphones.png"}/
            .legend-num 5
            %h5.caption
              Headphones
            %p
              Use headphones (connected to the interface) to check the audio quality of your Test Talk, as well as to monitor the audio quality during a Live Talk.
        / </div>
        %h5#configure1.section-subtitle{"data-magellan-destination" => "configure1"}
          Alternative Audio Setup:
        %img.outline.visible-for-large-up{:src => "images/signalflow/signalflow_alternate.png"}/
        / <div class="row" id="explainers">
        .small-12.columns{"data-equalizer" => "", "data-equalizer-mq" => "large-up"}
          .small-8.small-offset-2.small-centered.large-6.large-offset-0.large-uncentered.columns.panel.legend{"data-equalizer-watch" => ""}
            %img.hidden-for-large-up{:src => "images/signalflow/signalflow-elements_speaker.png"}/
            .legend-num 1
            %h5.caption
              Stage/Speaker
            %p
              The simplest setup involves the speaker's voice being recorded directly into the built-in microphone of the computer. This necessitates the computer being close enough to the speaker to pick up the voice well––for example, on the podium.
            %img.hidden-for-large-up{:src => "images/signalflow/signalflow-elements_arrow.png"}/
          .small-8.small-offset-2.small-centered.large-6.large-offset-0.large-uncentered.columns.panel.legend{"data-equalizer-watch" => ""}
            %img.hidden-for-large-up{:src => "images/signalflow/signalflow-elements_mixer.png"}/
            .legend-num 2
            %h5.caption
              Computer with Internet
            %p
              With an up-to-date version of
              %a{:href => "https://www.google.com/chrome/browser/desktop/", :target => "_blank"} Chrome
              or
              = succeed "," do
                %a{:href => "https://www.mozilla.org/en-US/firefox/new/", :target => "_blank"} Firefox
            %img.hidden-for-large-up{:src => "images/signalflow/signalflow-elements_arrow.png"}/
      %h2#test.section-title{"data-magellan-destination" => "test"}
        Step 2: Conduct A Test Talk
      %hr/
      %blockquote
        %strong Note:
        It's a very good idea to conduct a Test Talk before going LIVE with a Talk or lineup of Talks. With a Test Talk you can ensure that your signal flow is functioning correctly, and that the sound quality is up to desirable standards.
      %h5.section-subtitle
        Follow These Steps To Conduct a Test Talk:
      %blockquote
        (Make sure you've configured your audio gear according to
        = succeed ".)" do
          %a{:href => "#configure"} Step 1
      / screenshots
      .screenshot
        %p.screenshot-title
          1. Test A Talk
        %img{:src => "images/testtalk/testtalk01.jpg"}/
        %p.caption
          From your profile drop-down menu, select "Test A Talk (Free)"
      .screenshot
        %p.screenshot-title
          2. Invite A Friend
        %img{:src => "images/testtalk/testtalk02.jpg"}/
        %p.caption
          All the fields will be automatically filled out with randomly generated text. If you'd like someone to listen to your Test Talk while it streams live (recommended), they must be invited to the Talk. Begin typing their name or username in the "Invite guests" field and then select their name from the drop-down menu.
      .screenshot
        %p.screenshot-title
          3. Save
        %img{:src => "images/testtalk/testtalk03.jpg"}/
        %p.caption
          Click "Save."
      .screenshot
        %img{:src => "images/testtalk/testtalk04.jpg"}/
        %p.caption
          4. You will be redirected to the Talk page and the Audio Settings panel will automatically launch. Click
          %strong "Allow"
          to give the browser access to your audio device.
      .screenshot
        %img{:src => "images/testtalk/testtalk05.jpg"}/
        %p.caption
          5. To ensure the browser is receiving the audio signal from your intended audio interface, you must set it as the input source. Click the
          %strong "Select Input Source"
          button.
      .screenshot
        %img{:src => "images/testtalk/testtalk06.jpg"}/
        %p.caption
          6. In the Adobe Flash Player Settings dialog, click the drop-down menu.
      .screenshot
        %img{:src => "images/testtalk/testtalk07.jpg"}/
        %p.caption
          7. Select your audio interface from the list.
      .screenshot
        %img{:src => "images/testtalk/testtalk08.jpg"}/
        %p.caption
          8. Close the Audio Settings dialog.
      .screenshot
        %img{:src => "images/testtalk/testtalk09.jpg"}/
        %p.caption
          9. Click "Start" and instruct the speaker to talk normally into the microphone as though it were a live talk.
      .screenshot
        %img{:src => "images/testtalk/testtalk10.jpg"}/
        %p.caption
          10. To end the Test Talk, click
          %strong "End Talk."
      .screenshot
        %img{:src => "images/testtalk/testtalk11.jpg"}/
        %p.caption
          11. The Test Talk will take a few moments to process.
      .screenshot
        %img{:src => "images/testtalk/testtalk12.jpg"}/
        %p.caption
          12. Reload the page by clicking the blue panel.
      .screenshot
        %img{:src => "images/testtalk/testtalk13.jpg"}/
        %p.caption
          13. Play your Test Talk to check the audio quality.
      %blockquote
        The Test Talk will automatically be deleted after 24 hours.
      / Livetalk
      %h2#create.section-title{"data-magellan-destination" => "create"}
        Step 3: Create A Talk
      %hr/
      %h5.section-subtitle
        Follow These Steps To Create A Live Talk:
      / screenshots
      .screenshot
        %p.screenshot-title
          1. Create the Talk
        %img{:src => "images/livetalk/livetalk01.jpg"}/
        %p.caption
          From your profile drop-down menu, select "Schedule A Live Talk"
      .screenshot
        %p.screenshot-title
          2. Complete the Form
        %img{:src => "images/livetalk/livetalk02.jpg"}/
        %p.caption
          Fill out all the fields.
      .screenshot
        %p.screenshot-title
          3. Select Date/Time/Length
        %img{:src => "images/livetalk/livetalk03.jpg"}/
        %p.caption
      .screenshot
        %p.screenshot-title
          4. Invite Guests
        %img{:src => "images/livetalk/livetalk03b.jpg"}/
        %p.caption
          You may choose other registered VR members to invite to the stage of our Talk.
      .screenshot
        %p.screenshot-title
          5. Save
        %img{:src => "images/livetalk/livetalk03c.jpg"}/
        %p.caption
      /
        <div class="screenshot">
        <p class="screenshot-title">
        6. Allow Flash Access
        </p>
        <img src="images/livetalk/livetalk04.jpg">
        <p class="caption">
        You will be redirected to the Talk page and the Audio Settings panel will automatically launch. Click <strong>"Allow"</strong> to give the browser access to your audio device.
        </p>
        </div>
        <div class="screenshot">
        <p class="screenshot-title">
        7. Input Source
        </p>
        <img src="images/livetalk/livetalk05.jpg">
        <p class="caption">
        To ensure the browser is receiving the audio signal from your intended audio interface, you must set it as the input source. Click the <strong>"Select Input Source"</strong> button.
        </p>
        </div>
        <div class="screenshot">
        <p class="screenshot-title">
        8. Select Source
        </p>
        <img src="images/livetalk/livetalk06.jpg">                        <img src="images/livetalk/livetalk07.jpg">
        
        <p class="caption">
        In the Adobe Flash Player Settings dialog, click the drop-down menu.
        </p>
        </div>
        
        <div class="screenshot">
        <p class="screenshot-title">
        9. Close Settings
        </p>
        <img src="images/livetalk/livetalk08.jpg">
        <p class="caption">
        Close the Audio Settings dialog by clicking the "x.""
        </p>
        </div>
        <div class="screenshot">
        <p class="screenshot-title">
        10. Start the Talk
        </p>
        <img src="images/livetalk/livetalk09.jpg">
        <p class="caption">
        Click "Start" when the Talk is ready to begin. If "Start" is not clicked, the Talk will begin recording automatically at the time specified during setup.
        </p>
        </div>
      / Operate
      %h2#operate.section-title{"data-magellan-destination" => "operate"}
        Step 4: Operate Live Talk
      %hr/
      %h5.section-subtitle
        Follow These Steps To Operate A Live Talk:
      %blockquote
        (Make sure you've configured your audio gear according to
        = succeed ".)" do
          %a{:href => "#configure"} Step 1
      / screenshots
      .screenshot
        %p.screenshot-title
          1. Allow Flash Access
        %img{:src => "images/livetalk/livetalk04.jpg"}/
        %p.caption
          You will be redirected to the Talk page and the Audio Settings panel will automatically launch. Click
          %strong "Allow"
          to give the browser access to your audio device.
      .screenshot
        %p.screenshot-title
          2. Input Source
        %img{:src => "images/livetalk/livetalk05.jpg"}/
        %p.caption
          To ensure the browser is receiving the audio signal from your intended audio interface, you must set it as the input source. Click the
          %strong "Select Input Source"
          button.
      .screenshot
        %p.screenshot-title
          3. Select Source
        %img{:src => "images/livetalk/livetalk06.jpg"}/
        %img{:src => "images/livetalk/livetalk07.jpg"}/
        %p.caption
          In the Adobe Flash Player Settings dialog, click the drop-down menu.
      .screenshot
        %p.screenshot-title
          4. Close Settings
        %img{:src => "images/livetalk/livetalk08.jpg"}/
        %p.caption
          Close the Audio Settings dialog by clicking the "x.""
      .screenshot
        %p.screenshot-title
          5. Start the Talk
        %img{:src => "images/livetalk/livetalk09.jpg"}/
        %p.caption
          Click "Start" when the Talk is ready to begin. If "Start" is not clicked, the Talk will begin recording automatically at the time specified during setup.
      .screenshot
        %p.screenshot-title
          6. End the Talk
        %img{:src => "images/testtalk/testtalk10.jpg"}/
        %p.caption
          To end the Test Talk, click
          %strong "End Talk."
      .screenshot
        %p.screenshot-title
          7. Get A Coffee
        %img{:src => "images/testtalk/testtalk11.jpg"}/
        %p.caption
          The Talk will take a few moments to process.
      .screenshot
        %p.screenshot-title
          8. Reload
        %img{:src => "images/testtalk/testtalk12.jpg"}/
        %p.caption
          Reload the page by clicking the blue panel.
      .screenshot
        %p.screenshot-title
          9. Listen To Talk
        %img{:src => "images/testtalk/testtalk13.jpg"}/
        %p.caption