/ HERO
.hero
  .row
    .large-8.columns
      %span.breadcrumb
        %a{:href => "/support"}
          = image_tag "icons/arrow-left.svg" 
          Voice Republic Support
      %h1
        How To Run A Test Talk
      %p.lead
        It's a very good idea to conduct a Test Talk before going LIVE with a Talk or lineup of Talks. With a Test Talk you can ensure that your signal flow is functioning correctly, and that the sound quality is up to desirable standards.
    / Main content
.row
  .large-8.columns.left
    %h5.section-subtitle
      Follow These Steps To Conduct a Test Talk:
    / screenshots
    .screenshot
      %p.screenshot-title
        1. choose "Test A Talk" from the menu
      = image_tag "support/testtalk/testtalk01.jpg"
    .screenshot
      %p.screenshot-title
        2. Save the form
      = image_tag "support/testtalk/testtalk03.jpg"
    .screenshot
      %p.screenshot-title
        3. Allow Flash to use your audio driver
      = image_tag "support/testtalk/testtalk04.jpg"
    .screenshot
      %p.screenshot-title
        4. Choose your audio device
      = image_tag "support/testtalk/testtalk05.jpg"
      %p.caption
        To ensure the browser is receiving the audio signal from your intended audio interface, you must set it as the input source. Click the
        %strong "Select Input Source"
        button.
    .screenshot
      = image_tag "support/testtalk/testtalk06.jpg"
      %p.caption
        In the Adobe Flash Player Settings dialog, click the drop-down menu.
    .screenshot
      = image_tag "support/testtalk/testtalk07.jpg"
      %p.caption
        Select your audio interface from the list.
    .screenshot
      %p.screenshot-title
        5. Close the Audio Settings dialog.
      = image_tag "support/testtalk/testtalk08.jpg"        
    .screenshot
      %p.screenshot-title
        6. When the speaker's ready, click "Start"
      = image_tag "support/testtalk/testtalk09.jpg"
    .screenshot
      %p.screenshot-title
        7. Click "End Talk" when finished
      = image_tag "support/testtalk/testtalk10.jpg"
    