.form-top-box.row
  .medium-12.columns

    .title-box
      %h2.form-title= form_title

    .row
      .medium-12.columns.text-center
        #series-image.preview-img(style="background-image: url(#{@series.image.url})" data-show-upload="#series_image")

        = f.input :image, as: :file, wrapper_html: { class: 'inputfile' }, label: icon_tag("photo") + t('.change_photo').html_safe, label_html: {class: 'button hollow tiny muted'}

        = f.input :title, placeholder: t('.title')
        = f.input :teaser, rows: 2, placeholder: t('.teaser')

    .row
      .medium-12.columns
        -#= f.input :tag_list, input_html: { class: "tagList" }, placeholder: t('.tag_list')
        -#%br
        = f.input :description, input_html: { rows: 10 }
