.form-top-box.row
  .medium-12.columns

    .title-box
      %h2.form-title= form_title

    .row
      .medium-12.columns
        #series-image.preview-img(style="background-image:url(#{@series.image.url})")
        = f.input :image, as: :file, wrapper_html: { class: 'inputfile text-center' }, label: icon_tag("photo") + t('.change_photo').html_safe, label_html: {class: 'button hollow tiny btn-hover-yellow', id: 'series-label'}, input_html: {'data-instant-image'=> '#series-image | #series-label'}

        = f.input :title
        = f.input :teaser

    .row
      .medium-12.columns
        -#= f.input :tag_list, input_html: { class: "tagList" }, placeholder: t('.tag_list')
        -#%br
        = f.input :description, input_html: { rows: 10 }
