- content_for :title do
  = t('.title')

= simple_form_for @series do |f|
  = render partial: 'fields', locals: { f: f, form_title: t(".new_series") }

  -# %hr
  -# - talk = @series.talks.first || @series.talks.build
  -# = f.fields_for :talks, talk do |n|
  -#   = render partial: 'talks/fields', locals: { f: n, form_title: t('.new_talk') }

  .form-save-row.row
    .large-12.columns
      = f.button :submit, class: 'button-vr'
      = link_to t('.cancel'), :back
