.series-container
  - content_for :title do
    = t('.title', title: @series.title)

  = simple_form_for @series do |f|
    = render partial: 'fields', locals: { f: f, form_title: t(".create_series") }

    .form-save-row.row
      .medium-12.columns
        = f.button :submit, class: 'button-save float-right button'
        = link_to t('helpers.links.cancel'), :back, class: 'button-cancel float-right button hollow secondary'
