- content_for :title do
  =t('.talks_on_voice_republic')

.filters
  - opts = { 'data-infinite-scroll' => '#spy|#more|#pager', 'data-ajax-filters' => '#results' }
  = form_for :filter, html: opts do |f|
    .filter= f.select :category, Category.available, prompt: t('.category')
    .filter= f.select :publisher_type, User.available_publisher_types, prompt: t('.publisher_type')
    .filter= f.select :language, Talk.available_languages.invert, prompt: t('.language')

.row.collapse-large-only
  #results= render 'results'
