- content_for :title do
  =t('.talks_on_voice_republic')

- if action_name == 'index'

  - opts = { 'data-infinite-scroll' => '#spy|#more|#pager', 'data-ajax-filters' => '#results' }
  = form_for :filter, html: opts do |f|
    .row.collapse-large-only.top-margin-action-bar
      .medium-12.columns
        = f.radio_button :category, ''
        = f.label t('.category'), class: 'button'
        - @categories.each do |label, value|
          = f.radio_button :category, value
          = f.label label, class: 'button'
    .row.collapse-large-only
      .small-4.columns
        = f.select :format, @formats, prompt: t('.format')
      .small-4.columns
      .small-4.columns
        = f.select :language, @languages, prompt: t('.language')

- else

  .row.collapse-large-only
    .small-12.columns
      .title-box.text-center
        %h3= t(".#{action_name}")

.row.collapse-large-only
  .small-12.columns#results
    = render 'results'
