- content_for :title do
  =t('.talks_on_voice_republic')
#main
  %h2 The Voice Republic Archive
  - opts = { 'data-infinite-scroll' => '#spy|#more|#pager', 'data-ajax-filters' => '#results' }
  = form_for :filter, html: opts do |f|
    .filters.clearfix
      %ul.category-buttons.menu.vertical.medium-horizontal.expanded
        = render partial:'category',locals:{category:@all_categories}
        = render partial:'category',collection:@categories
      = f.select :language, @languages, prompt: t('.language')
    #results.clearfix
      = render 'results'