<% method = @klu_image.new_record? ? 'post' : 'put' %>
<% url = @klu_image.new_record? ? user_klu_klu_images_path(:user_id => @kluuu.user, :klu_id => @kluuu) : user_klu_klu_image_path(:user_id => @kluuu.user, :klu_id => @kluuu, :id => @klu_image) %>

<%= form_for [@klu_image.kluuu.user, @klu_image.kluuu, @klu_image], :as => :klu_image, :url => url, :method => method,  :html => { :class => 'form-horizontal' } do |f| %>

	<%= f.error_messages %>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area', :rows => 3, :placeholder => t('.describe_your_picture_in_a_few_words', :default => "Describe your picture in a few words") %>
    </div>
  </div>
  
  <div class="control-group">
  	<%= f.label :image, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.file_field :image %>
  	</div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_klu_klu_images_path(:user_id => @kluuu.user, :klu_id => @kluuu), :class => 'btn' %>
  </div>
<% end %>
