%head
  %meta{ charset: "utf-8" }/
  %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
  %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }/

  %title
    = content_for?(:title) ? yield(:title) : t(".title")

  -# CROSS SITE REQUEST FORGERY TOKEN
  = csrf_meta_tags

  /[if lt IE 9]
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>

  -# STYLES
  = stylesheet_link_tag "application", media: "all"

  -# ICONS
  %link{ href: "/images/apple-touch-icon.png", rel: "apple-touch-icon" }/
  %link{ href: "/images/apple-touch-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72" }/
  %link{ href: "/images/apple-touch-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114" }/

  -# WEBFONTS
  %link{ href: "//cloud.webtype.com/css/fa41b746-9201-4f1c-ab4a-a330eb0afb96.css", rel: "stylesheet", type: "text/css" }/

  = favicon_link_tag '/favicon.ico'

  -# JAVASCRIPT
  = javascript_include_tag "modernizr"

  = yield :head
