<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <%= csrf_meta_tags %>
    <link href="//cloud.webtype.com/css/fa41b746-9201-4f1c-ab4a-a330eb0afb96.css" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag "embed_talk", media: "all" %>
    <%= favicon_link_tag '/favicon.ico' %>
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body class="embed_talk-show">
    <div class="container">
      <%= yield %>
    </div>
    <div id='scripts'>
      <%= javascript_include_tag "embed_talk" %>
      <%= render(:partial => 'shared/google_analytics') %>
    </div>
  </body>
</html>
