!!!
%html{lang: I18n.locale.to_s, xmlnsfb: "http://ogp.me/ns/fb#"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0", name: "viewport"}/
    = csrf_meta_tags
    = stylesheet_link_tag "embed", media: "all"
    = favicon_link_tag '/favicon.ico'
    %link{href: "images/apple-touch-icon.png", rel: "apple-touch-icon"}/
    %link{href: "images/apple-touch-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72"}/
    %link{href: "images/apple-touch-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114"}/
    %link{href: "//cloud.webtype.com/css/fa41b746-9201-4f1c-ab4a-a330eb0afb96.css", rel: "stylesheet", type: "text/css"}/

  -# TODO use common logic to set class on body
  %body.embed-show
    .container= yield
    #scripts
      - if user_signed_in?
        :javascript
          var pinMap = #{current_user.pin_map.to_json};

      = javascript_include_tag :embed
      = render 'shared/google_analytics'
