!!!
%html.no-js{ lang: I18n.locale.to_s, 'xmlns:fb' => "http://ogp.me/ns/fb#" }

  = render 'layouts/head'

  %body{ class: "#{controller_name} #{[controller_name, action_name] * '-'}" }
    
    = render 'shared/svg_defs'
    = render 'shared/notice_or_error_velvet'

    = yield

    = render 'layouts/scripts'
