!!!
%html.no-js{ lang: I18n.locale.to_s, 'xmlns:fb' => "http://ogp.me/ns/fb#", 'ng-app' => 'sencha' }

  = render 'layouts/head'

  %body{ class: body_classes }
    = render 'shared/svg_defs'
    = render 'shared/notice_or_error_velvet'
    - if render_top_loader?
      #working
        = render 'explore/loading'
    #main-menu.top-bar.transparent
      .top-bar-left
        %ul#branding.menu{"data-dropdown-menu" => ""}
          %li.logo.show-for-medium
            = link_to '/' do
              %img{:src => "/images/logos/vr_red.svg", :width => "60"}/
              %span.show-for-large-up VOICE REPUBLIC
          %li#mobile-logo.logo.show-for-small-only
            %a
              %img{:src => "/images/logos/vr_red.svg", :width => "60"}/


      .top-bar-right
        %ul.dropdown.menu{"data-dropdown-menu" => "", "data-disable-hover" => "true", "data-click-open" => "true"}
          %li.can-hide.hide-for-small-only
            = link_to explore_path, class: 'qa-explore' do
              = t('.explore')
          - if user_signed_in?
            %li.can-hide.hide-for-small-only
              = link_to venues_path do
                = t('.stream_now')
          - else
            %li.can-hide.hide-for-small-only
              = link_to page_path action: 'publish' do
                = t('.publish')
            -# TODO: Add this back in someday?
              %ul.submenu.menu.vertical{"data-submenu" => ""}
                %li.drop-title= t('.categories')
                - TagBundle.category.promoted.each do |category|
                  %li
                    = link_to explore_path(filter: {category: category.id}) do
                      = category.title
                %li.divider
                -# TODO
                -# %li= link_to t('.listen'), page_path('listen')
                %li
                  = link_to t('.explore'), explore_path
          -# TODO
          -# %li.can-hide= link_to t('.publish'), page_path('publish')
          - if !current_user
            %li.sign-in.can-hide.hide-for-small-only
              = link_to t('.login'), new_user_session_path, class: 'qa-login'
            %li.join.can-hide.hide-for-small-only
              = link_to t('.sign_up'), new_user_registration_path, class: 'qa-signup'



          %li#search-loupe.can-hide
            = link_to icon_tag('search'), '#'
          - if current_user
            %li.has-submenu.avatar.hide-for-small-only
              %a{:href => "#"}
                = render partial: "shared/avatar_image_velvet", locals: { user: current_user, size: 36 }
              %ul.submenu.menu.vertical{"data-submenu" => ""}
                %li= link_to t('.my_profile'), current_user
                -#%li= link_to t('.stream_now'), venues_path
                %li= link_to t('.test_talk'), test_talk_path
                %li= link_to t('.schedule_talk'), new_talk_path
                %li= link_to t('.upload_talk'), new_upload_path
                -#- if !current_user.is_pro?
                -#  %li= link_to t('.pricing'), purchases_path
                %li= link_to t('.streamboxx_recordings'), devices_path
                %li
                  = link_to(destroy_user_session_path, method: :delete) do
                    = t('.logout')
        .search-container
          = form_tag search_path do
            %input#search-field.search{placeholder: t('.search_placeholder'), type: "text", name: 'query' }/
            %label
              %button(type='sumbit')
                = icon_tag('search')
          %button#search-close.close-button{type: "button"}
            %span{"aria-hidden" => "true"} ×
    #mobile-nav.show-for-small-only.hide
      .menu.vertical
        - if !current_page?(root_path)
          %li= link_to t('.home'), root_path
        - if !current_page?(explore_path)
          %li= link_to t('.explore_the_archive'), explore_path
        - if current_user
          %li= link_to t('.my_profile'), current_user
        - if !current_user
          %li= link_to t('.login'), new_user_session_path
          %li= link_to t('.sign_up'), new_user_registration_path

        %li= link_to t('.create_a_talk'), new_talk_path
        -#%li= link_to t('.pricing'), purchases_path
        %li
          - if current_user
            = link_to(destroy_user_session_path, method: :delete) do
              = t('.logout')

    = yield

    = render 'shared/footer_velvet' if render_footer?

    = render 'layouts/scripts'
