!!!
%html.no-js{lang: I18n.locale.to_s, 'xmlns:fb' => "http://ogp.me/ns/fb#"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/

    %title
      = content_for?(:title) ? yield(:title) : t(".title")
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>

    -# XXX: (animate|landing).min.css are manually compiled CSS files
    -# from Nicks project vr-mother. They need to be replaced as soon
    -# as we can compile Foundation 6 ourselves.
    -# Same goes for (libraries|foundation|app).min.js
    %link{href: "/stylesheets/animate.min.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "/stylesheets/app.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "/stylesheets/publish.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "/stylesheets/app_override.css", rel: "stylesheet", type: "text/css"}/

    %link{href: "/images/apple-touch-icon.png", rel: "apple-touch-icon"}/
    %link{href: "/images/apple-touch-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72"}/
    %link{href: "/images/apple-touch-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114"}/
    %link{href: "//cloud.webtype.com/css/fa41b746-9201-4f1c-ab4a-a330eb0afb96.css", rel: "stylesheet", type: "text/css"}/

    = favicon_link_tag '/favicon.ico'
    = javascript_include_tag "vendor/modernizr"
    = yield :head

  %body{class: "#{controller_name} #{[controller_name, action_name] * '-'}"}
    = render 'shared/svg_defs'
    = render 'shared/notice_or_error_velvet'
    #working.hide
      -#= t('.working_on_it')
      = render 'explore/loading'
    #main-menu.top-bar
      .top-bar-left
        %ul#branding.menu{"data-dropdown-menu" => ""}
          %li.logo.show-for-medium
            = link_to '/' do
              %img{:src => "/images/logos/vr_red.svg", :width => "60"}/
              %span.show-for-large-up VOICE REPUBLIC
          %li#mobile-logo.logo.show-for-small-only
            %a
              %img{:src => "/images/logos/vr_red.svg", :width => "60"}/


      .top-bar-right
        %ul.dropdown.menu{"data-dropdown-menu" => ""}
          %li.can-hide.hide-for-small-only
            = link_to explore_path do
              = t('.explore')
          %li.can-hide.hide-for-small-only
            = link_to page_path action: 'publish' do
              = t('.publish')
            -# TODO: Add this back in someday?
              %ul.submenu.menu.vertical{"data-submenu" => ""}
                %li.drop-title= t('.categories')
                - TagBundle.category.promoted.each do |category|
                  %li
                    = link_to explore_path(filter: {category: category.id}) do
                      = category.title
                %li.divider
                -# TODO
                -# %li= link_to t('.listen'), page_path('listen')
                %li
                  = link_to t('.explore'), explore_path
          -# TODO
          -# %li.can-hide= link_to t('.publish'), page_path('publish')
          - if !current_user
            %li.sign-in.can-hide.hide-for-small-only
              = link_to t('.login'), new_user_session_path, class: 'qa-login'
            %li.join.can-hide.hide-for-small-only
              = link_to t('.sign_up'), new_user_registration_path, class: 'qa-signup'



          %li#search-loupe.can-hide
            = link_to icon_tag('search'), '#'
          - if current_user
            %li.has-submenu.avatar.hide-for-small-only
              %a{:href => "#"}
                = render partial: "shared/avatar_image_velvet", locals: { user: current_user, size: 36 }
              %ul.submenu.menu.vertical{"data-submenu" => ""}
                %li= link_to t('.my_profile'), current_user
                -#%li= link_to t('.stream_now'), venues_path
                %li= link_to t('.test_talk'), test_talk_path
                %li= link_to t('.schedule_talk'), new_talk_path
                %li= link_to t('.upload_talk'), new_upload_path
                -#- if !current_user.is_pro?
                -#  %li= link_to t('.pricing'), purchases_path
                %li
                  = link_to(destroy_user_session_path, method: :delete) do
                    = t('.logout')
        .search-container.hide
          = form_tag search_path do
            %input#search-field.search{placeholder: t('.search_placeholder'), type: "text", name: 'query' }/
            %label
              %button(type='sumbit')
                = icon_tag('search')
          %button#search-close.close-button{type: "button"}
            %span{"aria-hidden" => "true"} ×
    #mobile-nav.show-for-small-only{style:'display:none;'}
      .menu.vertical
        - if !current_page?(root_path)
          %li= link_to t('.home'), root_path
        - if !current_page?(explore_path)
          %li= link_to t('.explore_the_archive'), explore_path
        - if current_user
          %li= link_to t('.my_profile'), current_user
        - if !current_user
          %li= link_to t('.login'), new_user_session_path
          %li= link_to t('.sign_up'), new_user_registration_path

        %li= link_to t('.create_a_talk'), new_talk_path
        -#%li= link_to t('.pricing'), purchases_path
        %li
          - if current_user
            = link_to(destroy_user_session_path, method: :delete) do
              = t('.logout')



    = yield
    = render 'shared/footer_velvet' if render_footer?


    #scripts
      %script{:src => "/javascripts/libraries.min.js"}
      %script{:src => "/javascripts/rails.js"}
      %script{:src => "/javascripts/foundation.min.js"}
      %script{:src => "/javascripts/app.js"}
      %script{:src => "/javascripts/explore.js"}
      %script{:src => "/javascripts/topbar.js"}
      %script{:src => "/javascripts/purchases.js"}
      %script{:src => "/javascripts/share_social.js"}
      = content_for :javascripts

      - if Rails.env.production?
        - unless @current_user.try(:insider?)
          = render 'shared/google_analytics'
        = render 'shared/tawk'
      = yield :javascript
