!!!
%html.no-js{lang: I18n.locale.to_s, 'xmlns:fb' => "http://ogp.me/ns/fb#"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/

    %title
      = content_for?(:title) ? yield(:title) : t(".title")
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>

    -# XXX: (animate|landing).min.css are manually compiled CSS files
    -# from Nicks project vr-mother. They need to be replaced as soon
    -# as we can compile Foundation 6 ourselves.
    -# Same goes for (libraries|foundation|app).min.js
    %link{href: "/assets/stylesheets/animate.min.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "/assets/stylesheets/app.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "/assets/stylesheets/app_override.css", rel: "stylesheet", type: "text/css"}/

    %link{href: "/images/apple-touch-icon.png", rel: "apple-touch-icon"}/
    %link{href: "/images/apple-touch-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72"}/
    %link{href: "/images/apple-touch-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114"}/

    = favicon_link_tag '/favicon.ico'
    = javascript_include_tag "vendor/modernizr"
    = yield :head

  %body{class: "#{controller_name} #{[controller_name, action_name] * '-'}"}
    = render 'shared/svg_defs'
    #topbar-container{"data-sticky-container" => ""}
      #example-menu.top-bar{"data-options" => "marginTop:0", "data-sticky" => ""}
        .top-bar-left
          %ul#branding.menu{"data-dropdown-menu" => ""}
            %li.logo
              = link_to '/' do
                %img{:src => "/images/logos/vr_red.svg", :width => "60"}/
                %span.show-for-large-up VOICE REPUBLIC
        .top-bar-right.hide-for-small-only
          %ul.dropdown.menu{"data-dropdown-menu" => ""}
            %li.has-submenu.can-hide
              %a{:href => "#"}= t('.listen')
              %ul.submenu.menu.vertical{"data-submenu" => ""}
                %li.drop-title= t('.categories')
                - TagBundle.category.promoted.each do |category|
                  %li
                    = link_to explore_path(filter: {category: category.id}) do
                      = category.title
                %li.divider
                -# TODO
                -# %li= link_to t('.listen'), page_path('listen')
                %li
                  = link_to t('.explore'), explore_path
            -# TODO
            -# %li.can-hide= link_to t('.publish'), page_path('publish')
            %li.sign-in.can-hide
              = link_to t('.login'), new_user_session_path
            %li.join.can-hide
              = link_to t('.sign_up'), new_user_registration_path
            %li#search-loupe.can-hide
              = link_to icon_tag('search'), '#'
          .search-container.hide
            = form_tag search_path do
              %input#search-field.search{placeholder: t('.search_placeholder'), type: "text", name: 'query' }/
              %label
                %button(type='sumbit')
                  = icon_tag('search')
            %button#search-close.close-button{type: "button"}
              %span{"aria-hidden" => "true"} ×

    = render 'shared/notice_or_error_velvet'
    = yield
    = render 'shared/footer_velvet'

    #scripts
      %script{:src => "assets/javascripts/libraries.min.js"}
      %script{:src => "assets/javascripts/foundation.min.js"}
      %script{:src => "assets/javascripts/app.js"}
      %script{:src => "assets/javascripts/explore.js"}
      %script{:src => "assets/javascripts/topbar.js"}
      - if Rails.env.production?
        - unless @current_user.try(:insider?)
          = render 'shared/google_analytics'
        = render 'shared/tawk'
      = yield :javascript
