<%= form_for account, :url => user_account_path(:user_id => user), :html => { :class => '', :multipart => true } do |f| %>
	<%= f.fields_for :prefs, account.prefs do |p| %>
	
	<div class="control-group">
		<div class="controls">
			<%= label_tag "email_concerning_other", :class => 'checkbox control-label' do %>
				<%= p.check_box :email_concerning_other %>
				Get Notifications about Contacts activities
			<% end %>
		</div>
	</div>
	
	<div class="control-group">
		<div class="controls">
			<%= label_tag "email_concerning_me", :class => 'checkbox control-label' do %>
				<%= p.check_box :email_concerning_me %>
				Get Emails about me
			<% end %>
		</div>
	</div>
	
	<div class="control-group">
		<div class="controls">
			<%= label_tag "inform_of_friends", :class => 'checkbox control-label' do %>
				<%= p.check_box :inform_of_friends, :class => 'check_box' %>
				Get Emails about Contacts activities
			<% end %>
		</div>
	</div>
	<br>
	<div class="control-group">
		<%= f.submit nil, :class => 'btn btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")), dashboard_settings_path, :class => 'btn' %>
	</div>
	<% end %>
	
<% end %>

<!-- 	<div class="control-group checkbox">
		<%#= p.label :receive_email_on_my_events , :class => 'control-label'%>
		<div class="controls">
			<%#= p.check_box :email_concerning_me %>
		</div>
	</div>
	
	<div class="control-group checkbox">
		<%#= p.label :receive_email_on_friends_events, :class => 'control-label' %>
		<div class="controls">
			<%#= p.check_box :email_concerning_other %>
		</div>
	</div>
	
	<div class="control-group checkbox">
		<%#= p.label :inform_about_friends_activities, :class => 'control-label' %>
		<div class="controls">
			<%#= p.check_box :inform_of_friends, :class => 'check_box' %>
		</div>
	</div>

	<div class="form-actions">
		<%#= f.submit nil, :class => 'btn btn-primary' %>
		<%#= link_to t('.cancel', :default => t("helpers.links.cancel")), dashboard_settings_path, :class => 'btn' %>
	</div> -->