<%= form_for account, :url => user_account_path(:user_id => user), :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
	<%= f.fields_for :prefs, account.prefs do |p| %>
	
	<div class="control-group">
		<%= p.label :receive_email_on_my_events , :class => 'control-label'%>
		<div class="controls">
			<%= p.check_box :email_concerning_me %>
		</div>
	</div>
	
	<div class="control-group">
		<%= p.label :receive_email_on_friends_events, :class => 'control-label' %>
		<div class="controls">
			<%= p.check_box :email_concerning_other %>
		</div>
	</div>
	
	<div class="control-group">
		<%= p.label :inform_about_friends_activities, :class => 'control-label' %>
		<div class="controls">
			<%= p.check_box :inform_of_friends, :class => 'check_box' %>
		</div>
	</div>

	<div class="form-actions">
		<%= f.submit nil, :class => 'btn btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")), dashboard_settings_path, :class => 'btn' %>
	</div>
	<% end %>
	
<% end %>
