<%= form_for @account, :url => user_account_path(:user_id => @user), :html => { :class => 'form-horizontal', :multipart => true } do |f| %>

<div class="control-group">
	<%= f.label :about, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_area :about, :class => 'text_area', :rows => 4 %>
	</div>
</div>

<div class="control-group">
	<%= f.label :portrait, :class => "control-label" %>
	<div class="controls">
		<% if @account.portrait.exists? %>
			<%= link_to destroy_portrait_user_account_url(:user_id => @account.user), :class => "btn btn-danger", :method => :delete do %>
				<%= image_tag @account.portrait.url(:thumb), :class => "img-circle" %> <i class="icon-trash"> </i> <%= t('.delete_portrait')%>
			<% end %>
		<% else %>
			<%= f.file_field :portrait %>
		<% end %>
	</div>
</div>
<div class="control-group">
	<%= f.label :timezone, :class => "control-label"%>
	<div class="controls">
		<%= f.time_zone_select :timezone, ActiveSupport::TimeZone.all.sort, :include_blank => false, :default => "Berlin", :class => 'select_field' %>
	</div>
</div>
<div class="control-group">
	<%= f.label :language_1, :class => 'control-label' %>
	<div class="controls">
		<% lang_hash = Hash.new %>
		<% I18nData.languages(I18n.locale).each { |k,v| lang_hash[v] = k } %>
		<%= f.select :language_1, lang_hash.sort, :include_blank => false, :default => I18n.locale.upcase.to_s %>
	</div>
</div>
<div class="control-group">
	<%= f.label :language_2, :class => 'control-label' %>
	<div class="controls">
		<%= f.select :language_2, lang_hash.sort, :include_blank => true, :default => I18n.locale.upcase.to_s %>
	</div>
</div>
<div class="control-group">
	<%= f.label :language_3, :class => 'control-label' %>
	<div class="controls">
		<%= f.select :language_3, lang_hash.sort, :include_blank => true, :default => I18n.locale.upcase.to_s %>
	</div>
</div>

<div class="form-actions">
	<%= f.submit nil, :class => 'btn btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")), user_account_path(:user_id => @user), :class => 'btn' %>
</div>
<% end %>
