= form_for account, :url => user_account_path(:user_id => user, url_arg => 1), :html => { :multipart => true } do |f|
  = f.fields_for :prefs, account.prefs do |p|
    .control-group
      .controls
        = p.label :email_concerning_other, :class => 'checkbox control-label' do
          = p.check_box :email_concerning_other
          = t('.emails_about_contact_activities')
    .control-group
      .controls
        = p.label :email_concerning_me, :class => 'checkbox control-label' do
          = p.check_box :email_concerning_me
          = t('.emails_about_me')
    %br/
    %h3= t('.call_settings')
    .control-group
      .controls
        = p.label :anonymous_calls, :class => 'checkbox control-label' do
          = p.check_box :anonymous_calls
          = t('.allow_anonymous_calls')
    %br/
    .control-group
      = f.submit t('.save_preferences', :default => 'Einstellungen speichern'), :class => 'btn btn-primary'
